.projects-list {
	display: grid;
	grid-template-columns: repeat(auto-fit, 150px);
	justify-content: center;
	gap: 50px;
	max-width: min(100%, 900px);
	margin: 25px auto 0 auto;
}

.projects-list-item {
	display: grid;
	place-items: center;
	border-radius: 50%;
	transition: 300ms ease;
}

.projects-list-item:has(img:hover) {
	box-shadow: 0 0 40px 30px #ffffff99;
	background-color: #ffffff99;
}

.projects-list img {
	border-radius: 10px;
	transition: transform 500ms ease;
}

.projects-list img:hover{
	transform: scale(1.15);
}