.veterans li, .events li{
	margin-bottom: 5px;
}

.veterans a::before, .events a::before{
	content: "";
	display: inline-block;
	width: 18px;
	height: 18px;
	translate: 0 2px;
	margin-right: 2px;
	background-size: cover;
	filter: brightness(0) saturate(100%) invert(61%) sepia(43%) saturate(5233%) hue-rotate(195deg) brightness(93%) contrast(89%);
}

.veterans a::before {
	background-image: url("../../images/basic/personBlack.svg");
}

.events a::before {
	background-image: url("../../images/projectsAndEvents/yearOfVictory/event.svg");
}