@page
@model OAT.Pages.admin.CMKModel
@{
	Layout = "_Panel";
	ViewData["Title"] = "ЦМК";
}

<form class="panel-form">
    <label for="news" class="panel-form-title">
        ЦМК 1 - новость
    </label>

    <div class="input-box">
        <label for="CMK">
            Выбор ЦМК
        </label>
        <select id="CMK">
            <option value="CMK1">
                ЦМК 1
            </option>
            <option value="CMK2">
                ЦМК 2
            </option>
            <option value="CMK3">
                ЦМК 3
            </option>
        </select>
    </div>
    <div class="input-box">
        <label for="material">
            Редактируемый материал
        </label>
        <select id="material">
            <option value="CMK1">
                Новость
            </option>
            <option value="CMK2">
                Член ЦМК
            </option>
            <option value="CMK3">
                Документ
            </option>
        </select>
    </div>
</form>

<div id="news-form">
    <form class="panel-form">
        <div class="input-box">
            <label for="news-title">
                Название
            </label>
            <input id="news-title" type="text">
        </div>
        <div class="input-box">
            <label for="news-date">
                Дата
            </label>
            <input id="news-date" type="date">
        </div>
        <div class="input-box">
            <label for="news-text">
                Текст
            </label>
            <textarea class="customized" id="news-text">Текст новости, её содержание.</textarea>
        </div>
        <div class="input-box">
            <label for="images">
                Фото
            </label>
            <InputFile id="images" multiple />
        </div>

        <button type="button" class="panel-form-send" value="Отправить">
            Отправить
        </button>
    </form>

    <table class="customized panel-table">
        <thead>
            <tr>
                <th>
                    ID
                </th>
                <th>
                    Имя
                </th>
                <th>
                    Дата
                </th>
                <th>
                    Управление
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    1
                </td>
                <td>
                    1
                </td>
                <td>
                    1
                </td>
                <td>
                    1
                </td>
            </tr>
        </tbody>
    </table>
</div>

<div id="people-form" style="display: none;">
    <form class="panel-form">
        <div class="input-box">
            <label for="FIO">
                ФИО
            </label>
            <input id="FIO" type="text">
        </div>

        <button type="button" class="panel-form-send" value="Отправить">
            Отправить
        </button>
    </form>

    <table class="customized panel-table">
        <thead>
            <tr>
                <th>
                    ID
                </th>
                <th>
                    Имя
                </th>
                <th>
                    Управление
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    1
                </td>
                <td>
                    1
                </td>
                <td>
                    1
                </td>
            </tr>
        </tbody>
    </table>
</div>

<div id="files-form" style="display: none;">
    <form class="panel-form">
        <div class="input-box">
            <label for="FIO">
                Имя файла, которое будет отображаться в расписании
            </label>
            <input id="file-name" type="text">
        </div>
        <div class="input-box">
            <label for="files">
                Файл
            </label>
            <InputFile id="files" multiple />
        </div>

        <button type="button" class="panel-form-send" value="Отправить">
            Добавить
        </button>
    </form>

    <table class="customized panel-table">
        <thead>
            <tr>
                <th>
                    Имя
                </th>
                <th>
                    Управление
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    1
                </td>
                <td>
                    1
                </td>
            </tr>
        </tbody>
    </table>
</div>