@page
@using OAT.Utilities;
@model OAT.Pages.admin.FilesModel
@{
    Layout = "_Panel";
    ViewData["Title"] = "Управление файлами";

}
<section class="container">

    <form id="news" class="panel-form" method="post" enctype="multipart/form-data">
        <label for="news" class="panel-form-title">
            Управление изменением расписания
        </label>
        <div class="input-box">
            <label for="user-role">
                Корпус
            </label>
            <select id="corpus">
                @if (Permissions.HavePermissionСampus(User.GetUsername(), Enums.Building.ul_lenina_24))
                {
                    <option value="b1">
                        Ул. Ленина, 24
                    </option>
                }
                @if (Permissions.HavePermissionСampus(User.GetUsername(), Enums.Building.ul_b_khmelnickogo_281a))
                {
                    <option value="b2">
                        Б. Хмельницкого, 281А
                    </option>
                }
                @if (Permissions.HavePermissionСampus(User.GetUsername(), Enums.Building.pr_kosmicheskij_14a))
                {
                    <option value="b3">
                        Пр. Космический, 14А
                    </option>

                }
                @if (Permissions.HavePermissionСampus(User.GetUsername(), Enums.Building.ul_volkhovstroya_5))
                {
                    <option value="b4">
                        Ул. Волховстроя, 5
                    </option>
                }
            </select>
        </div>
        <div class="input-box">
            <label for="images">
                Файл
            </label>
            <input type="file" name="postedFiles" id="files-corpus" name="files" accept=".xls">
        </div>
        <button type="submit" class="panel-form-send" value="Отправить" onclick="UploadScheduleChanges('files-corpus');return false" multiple>
            Обновить
        </button>
    </form>
  
    <br/>
    <br/>
    <br/>
    <form id="news" class="panel-form" method="post" enctype="multipart/form-data">
        
        <label for="news" class="panel-form-title">
            Документы сессий
        </label>
        <div class="input-box">
            <label for="user-role">
                Корпус
            </label>
            <select id="corpus-sessions" onchange="LoadSessionsFileByCorpus()">
                @if (Permissions.HavePermissionСampus(User.GetUsername(), Enums.Building.ul_lenina_24))
                {
                    <option value="b1">
                        Ул. Ленина, 24
                    </option>
                }
                @if (Permissions.HavePermissionСampus(User.GetUsername(), Enums.Building.ul_b_khmelnickogo_281a))
                {
                    <option value="b2">
                        Б. Хмельницкого, 281А
                    </option>
                }
                @if (Permissions.HavePermissionСampus(User.GetUsername(), Enums.Building.pr_kosmicheskij_14a))
                {
                    <option value="b3">
                        Пр. Космический, 14А
                    </option>

                }
                @if (Permissions.HavePermissionСampus(User.GetUsername(), Enums.Building.ul_volkhovstroya_5))
                {
                    <option value="b4">
                        Ул. Волховстроя, 5
                    </option>
                }
            </select>
        </div>
        <div class="input-box">
            <label for="filename-display">
                Имя файла, которое будет отображаться в описании
            </label>
            <input id="filename-display" type="text">
        </div>

        <div class="input-box">
            <label for="images">
                Файл
            </label>
            <input type="file" name="postedFiles" id="file-uploader" accept=".xls">
        </div>

        <button type="submit" class="panel-form-send" value="Отправить" onclick="UploadSessionsChanges('file-uploader');return false" multiple>
            Добавить
        </button>
    </form>
    <table class="customized panel-table">
        <thead>
            <tr>
                <th>
                    Имя
                </th>
                <th>
                    Управление
                </th>
            </tr>
        </thead>

        <tbody id="session-tbody">
       
        </tbody>
    </table>


</section>
<script type="text/javascript" src="~/js/admin.js" charset="utf-8"></script>
<script type="text/javascript" src="/js/files.js" charset="utf-8"></script>

<aside id="message-success" class="panel-message">👌 Расписание успешно обновлено 👌</aside>
<aside id="message-success-sessions" class="panel-message">👌 Файл успешно добавлен 👌</aside>
<aside id="message-success-delete-session" class="panel-message">👌 Файл успешно удален 👌</aside>
<aside id="message-fail-auth" class="panel-message">❌ Cессия истекла</aside>
<aside id="message-fail" class="panel-message">❌ Ошибка при обновлении расписания. Скорее всего файл не .xls</aside>
<aside id="message-fail-perms" class="panel-message">❌ У вас нет прав или сессия истекла</aside>