@page
@model PanelModel
@{
    ViewData["Title"] = "Панель";
    Layout = "_Panel";
}

<section class="container">
    <form id="news" class="panel-form" method="post" enctype="multipart/form-data">
        <label for="news" class="panel-form-title">
            Новости
        </label>
        

        <div class="input-box">
            <label for="news-title">
                Название
            </label>
            <input id="news-title" type="text">
        </div>

        <div class="input-box">
            <label for="news-date">
                Дата
            </label>
            <input id="news-date" type="date">
        </div>

        <div class="input-box">
            <label for="news-text">
                Текст
            </label>
            <textarea class="customized" id="news-text">Текст новости, её содержание.</textarea>
        </div>
        <div class="input-box">
            <label for="images">
                Фото
            </label>
            <input type="file" name="postedFiles" id="files" name="files" multiple="multiple">
        </div>
        <button type="submit" class="panel-form-send" value="Отправить" onclick="SendNews();return false" multiple>
            Отправить
        </button>

    </form>

    <table class="customized panel-table">
        <thead>
            <tr>
                <th>
                    ID
                </th>
                <th>
                    Имя
                </th>
                <th>
                    Дата
                </th>
                <th>
                    Управление
                </th>
            </tr>
        </thead>
        @foreach (var news in NewsController.News)
        {
            <tbody>
                <tr>
                    <td>
                        @news.id
                    </td>
                    <td>
                        @news.title
                    </td>
                    <td>
                        @news.date
                    </td>
                    <td>
                        <button onclick="DeleteNews(@news.id); return false" class="panel-table-button">удалить</button>
                    </td>
                </tr>
            </tbody>
        }
    </table>
</section>

<aside id="message-success" class="panel-message">👌 Новость успешно добавлена 👌</aside>
<aside id="message-fail-auth" class="panel-message">❌ Cессия истекла</aside>
<aside id="message-fail" class="panel-message">❌ Ошибка при добавлении новости</aside>
<aside id="message-success-delete" class="panel-message">👌 Новость успешно удалена 👌</aside>
<aside id="message-fail-delete" class="panel-message">❌ Новость для удаления не найдена</aside>

<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script type="text/javascript" src="/js/panel.js" charset="utf-8"></script>

