@page
@model PanelModel
@{
    ViewData["Title"] = "Панель";
    Layout = "_Panel";
}

<script src="~/js/panel.js" asp-append-version="true"></script>
<section class="container">
    <form id="news" class="panel-form" method="post" enctype="multipart/form-data">
        <label for="news" class="panel-form-title">
            Новости
        </label>
        

        <div class="input-box">
            <label for="news-title">
                Название
            </label>
            <input id="news-title" type="text">
        </div>

        <div class="input-box">
            <label for="news-date">
                Дата
            </label>
            <input id="news-date" type="date">
        </div>

        <div class="input-box">
            <label for="news-text">
                Текст
            </label>
            <textarea class="customized" id="news-text">Текст новости, её содержание.</textarea>
        </div>
        <div class="input-box">
            <label for="images">
                Фото
            </label>
            <input type="file" name="postedFiles" id="files" name="files" multiple="multiple">
        </div>
        <button type="submit" class="panel-form-send" value="Отправить" onclick="AjaxFormSubmit()" multiple>
            Отправить
        </button>

    </form>
</section>

<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script type="text/javascript">
    function AjaxFormSubmit() {
        //Set the URL.
        var url = "@ProxyController.config.MainUrl/api/news/upload";
        //Add the Field values to FormData object.
        var formData = new FormData();
        var fileUpload = $("#files").get(0);
        var files = fileUpload.files;
        formData.append("title", $("#news-title").val());
        formData.append("date", $("#news-date").val());
        formData.append("text", $("#news-text").val());
        for (var i = 0; i < files.length; i++) {
            formData.append("files", files[i]);
        }
        $.ajax({
            type: 'POST',
            url: url,
            data: formData,
            processData: false,
            contentType: false
        }).done(function (response) {
            if (response.Status === "success") {
                $("#lblMessage").html(response.Message);
            }
        });
    }
</script>