@page
@model OAT.Pages.admin.UsersModel
@{
    ViewData["Title"] = "Пользователи";
    Layout = "_Panel";
}
<script src="~/js/panel.js" asp-append-version="true" charset="utf-8"></script>
<script src="~/js/users.js" asp-append-version="true" charset="utf-8"></script>
<section class="container">
    <form id="news" class="panel-form" method="post" enctype="multipart/form-data">
        <label for="news" class="panel-form-title">
            Создание нового пользователя
        </label>
        
        <div class="input-box">
            <label for="user-fn">
                ФИО
            </label>
            <input id="user-fn" type="text">
        </div>

        <div class="input-box">
            <label for="user-name">
                Короткое имя
            </label>
            <input id="user-name" type="text">
        </div>

        <div class="input-box">
            <label for="user-password">
                Пароль
            </label>
            <input id="user-password" type="text">
        </div>

        <div class="input-box">
            <label for="user-role">
                Тип пользователя
            </label>
            <select id="user-role">
                <option value="admin">Администратор</option>
                <option value="reporter">Репортер</option>
                <option value="manager">Менеджер</option>
            </select>
        </div>

        <button type="submit" class="panel-form-send" value="Отправить" onclick="AjaxFormSubmit();return false" multiple>
            Отправить
        </button>

    </form>

    <table class="customized panel-table users">
        <thead>
            <tr>
                <th>
                    ID
                </th>
                <th>
                    ФИО
                </th>
                <th>
                    Краткий ник
                </th>
                <th>
                    Управление
                </th>
            </tr>
        </thead>
        @foreach (var user in Model.users)
        {
            <tbody>
                <tr>
                    <td>
                        @user.id
                    </td>
                    <td>
                        @user.FullName
                    </td>
                    <td>
                        @user.username
                    </td>
                    <td>
                        <button class="panel-table-button">изменить пароль</button>
                        <button class="panel-table-button">удалить</button>
                    </td>
                </tr>
            </tbody>
        }
    </table>
</section>

<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<aside id="message-success" class="panel-message">👌 Пользователь успешно добавлен 👌</aside>
<aside id="message-fail-auth" class="panel-message">❌ Cессия истекла</aside>
<aside id="message-fail-406" class="panel-message">❌ Пользователь с таким именем существует или не все поля заполнены</aside>
