table.customized tbody tr:nth-child(2n) {
    background: transparent !important;
}

.search-body {
    padding: 15px;
    border-radius: 10px;
    background: hsl(0 0% 25% / 1);
    width: min(320px, 100%);
    margin: 0 0 0 auto;
}

.search-body-container {
    position: relative;
    display: flex;
    justify-content: space-between;
    height: 45px;
    padding: 15px;
}

.search-body-container:hover button img, .search-body:has(input[type="search"]:focus) button img {
    transform: scale(1.1);
}

.search-body input[type="search"] {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    padding: 5px 50px 5px 10px;
    border-radius: 10px;
    background-color: hsl(0 0% 20% / 1);
    outline: 3px solid transparent;
    color: var(--light-white);
    transition: 250ms outline-color ease, background-color 400ms ease;
}

.search-body input[type="search"]:focus {
    outline-color: black;
    background-color: hsl(0 0% 18% / 1);
}

.search-body:has(input[type="search"]:focus) button {
    border-left-color: black;
    background-color: hsl(0 0% 12% / 1);
}

.search-body input[type="search"]::placeholder {
    color: var(--light-white);
    opacity: 0.6;
}

.search-body button {
    position: absolute;
    top: 0;
    right: 0;
    display: grid;
    place-items: center;
    height: 100%;
    padding: 0 10px;
    border-left: 3px solid transparent;
    border-radius: 0 10px 10px 0;
    background-color: hsl(0 0% 15% / 1);
    transition: 250ms ease;
}

.search-body button img {
    transition: transform 250ms ease;
}

.search-body button:hover img {
    transform: scale(1.15);
}
