.choose-corpus{
	display: flex;
	gap: 30px;
	flex-wrap: wrap;
}

.choose-corpus > .corpus {
	display: block;
	min-width: max(40%, 300px);
	padding: 12px 10px;
	border: 4px solid #ffffff2f;
	border-radius: 15px;
    background-color: var(--m-color);
	color: var(--light-white);
	transition: background-color 400ms, border-color 400ms, outline-color 400ms, transform 400ms;
}

.corpus:hover {
	background-color: var(--m-d-color);
	border-color: var(--m-l-color);
	transform: scale(1.025);
}