.report-corruption {
	display: block;
	max-width: min(300px, 100%);
	margin: 20px auto;
	padding: 10px;
	border-radius: 10px;
	outline: 5px solid var(--m-color);
	outline-offset: -3px;
	background-color: var(--m-l-color);
	color: var(--light-white) !important;
	font-weight: 500;
	text-transform: uppercase;
	text-align: center;
	transition: outline-color 400ms, letter-spacing 300ms;
}

.report-corruption:hover{
	outline-color: var(--m-d-color);
	letter-spacing: 0.04em;
}