.choose-corpus{
	display: flex;
	gap: 30px;
	flex-wrap: wrap;
}

.choose-corpus > .corpus {
	display: block;
	min-width: max(45%, 300px);
	padding: 12px 10px;
	border: 5px solid #1b2e75;
	border-radius: 15px;
	outline: 3px solid transparent;
	background-color: #0d1639;
	color: var(--light-white);
	transition: background-color 400ms, border-color 400ms, outline-color 400ms, transform 400ms;
}

.corpus:hover {
	background-color: #0b122e;
	border-color: #223a93;
	transform: scale(1.025);
}