@page
@model AnotherModel
@{
	ViewData["Title"] = "Другие сферы деятельности колледжа";
}

<link rel="stylesheet" href="~/css/another/another.css" asp-append-version="true">

<section class="centered">
	<h2 class="section-title">
		Другие сферы деятельности колледжа
	</h2>
   
	<div class="another-list">
		<a class="another-list-item" asp-page="testing">
			Анкетирование
		</a>
		<a class="another-list-item" asp-page="cityImprovement">
			Благоустройство города
		</a>
	</div>

</section>