@page
@model VeteransSPOModel
@{
	ViewData["Title"] = "Ветераны СПО";
}

<style>
	.person-img{
		max-width: min(300px, 100%) !important;
	}
</style>

<section class="centered">
	<h2 class="section-title">
		Ветераны СПО
	</h2>
	
	<h3 class="section-subtitle">
		Александрин Сергей Александрович
	</h3>
	<p>
		Александрин Сергей Александрович работал в Запорожском авиационном техникуме с 1937 по 1964 годы. В военное время он был начальником механического цеха учебно-производственных мастерских. С декабря 1941 года мастерские начали выпускать миномёты, пробные образцы реактивных пушек для самолётов и топливные форсунки к авиадвигателям по заказам военных заводов. Люди не выходили из мастерского техникума сутками, налаживая производство оружия. 
	</p>
	<p>
		В начале 1943 г. Александрин С.А.  и преподаватель Майский Н.И. восстановили один трактор из 2-х разбитых. Сергей Александрович на этом тракторе вспахал 15 гектаров в подсобном хозяйстве техникума под картофель и другие культуры. Выращенный урожай поступал в столовую техникума, что бы студенты могли лучше питаться. Питание студентов в военные годы было бесплатным.
	</p>
	<img class="customized person-img" src="~/images/another/veteransSPO/Alexandrin Sergey Alexandrovich.png" alt="" />
	
	<h3 class="section-subtitle">
		Олифер Зинаида Ксенофонтовна
	</h3>
	<p>
		Олифер Зинаида Ксенофонтовна – заведующая библиотекой, работала в Запорожском авиационном техникуме с 1930 года. Во время эвакуации техникума из Запорожья в Омск, она сохранила весь фонд библиотеки, более 40 тысяч томов книг. В Омске Зинаида Ксенофонтовна быстро организовала работу библиотеки и читального зала. Олифер З.К. много лет возглавляла библиотеку авиационного техникума, неоднократно избиралась депутатом Куйбышевского районного совета. За самоотверженный труд Зинаида Ксенофонтовна была награждена орденом «Знак Почёта». 
	</p>
	<img class="customized person-img" src="~/images/another/veteransSPO/Olifer Zinaida Ksenofontovna.png" alt="" />
	
	<h3 class="section-subtitle">
		Семенихин Николай Владимирович
	</h3>
	<p>
		Семенихин Николай Владимирович после службы в армии в сентябре 1934 г. начал работать в Запорожском авиационном техникуме им. К.Е. Ворошилова преподавателем. С 1935 по 1941 годы Николай Владимирович – заведующий лабораторией испытаний авиадвигателей. В апреле 1941 года он назначен заместителем директора по учебной части. С 1942 по 1947 годы Семенихин Николай Владимирович – директор Запорожского (до 1944 г.), затем Омского авиационного техникума. В сложное военное время он организовал учёбу и работу студентов авиационного техникума. Не смотря на трудности, занятия шли по учебным программам, дисциплина работников и студентов была высокая, пропуски занятий были редким явлением. За военные года техникум выпустил 634 молодых специалиста для Омской промышленности. С 1948 года Николай Владимирович работал директором Рыбинского авиационного техникума. 
	</p>
	<img class="customized person-img" src="~/images/another/veteransSPO/Semenikhin Nikolay Vladimirovich.png" alt="" />


</section>