@page
@model AboutModel
@{
	ViewData["Title"] = "О чемпионате";
}

<div class="container content-page">
	<section class="content">
		<a id="plane" class="plane" href="#sidebar"></a>
		<h2 class="section-title">
			О чемпионате
		</h2>

		<ul class="page-navigation">
			<li>
				<a href="#info">
					Описание
				</a>
			</li>
			<li>
				<a href="#mission">
					Миссия
				</a>
			</li>
			<li>
				<a href="#tasks">
					Задачи
				</a>
			</li>
			<li>
				<a href="#championships">
					Чемпионаты
				</a>
			</li>
			<li>
				<a href="#steps">
					Этапы реализации
				</a>
			</li>
			<li>
				<a href="#people">
					На кого рассчитан проект
				</a>
			</li>
		</ul>


		<h3 id="info" class="section-subtitle">
			Описание
		</h3>
		<p>
			<b>
				Всероссийское чемпионатное движение по профессиональному мастерству
			</b>
		</p>
		<p>
			Чемпионатное движение представляет собой соревновательные мероприятия, направленные на <i>демонстрацию
			компетенций</i> конкурсантами и работу по формированию прототипов «продуктов» в определенной экономической
			области.
		</p>


		<h3 id="mission" class="section-subtitle">
			Наша миссия
		</h3>
		<p>
			Создание условий и системы мотивации, способствующих повышению значимости и престижа рабочих профессий,
			профессиональному росту молодежи путем гармонизации лучших практик и профессиональных навыков посредством
			организации и проведения Чемпионатов профессионального мастерства, а также содействие оперативному и
			эффективному кадровому обеспечению различных отраслей экономики.
		</p>

		<h3 id="tasks" class="section-subtitle">
			Основные задачи проекта
		</h3>
		<ul class="customized">
			<li>
				<i>создание</i> новых и <i>развитие</i> существующих профессиональных компетенций с учетом специфики субъектов
				Российской Федерации согласно запросам реального сектора экономики
			</li>
			<li>
				<i>выявление, развитие и поддержка</i> талантливой, перспективной молодежи и молодых специалистов, обладающих
				высоким уровнем профессионального мастерства и содействие их трудоустройству
			</li>
			<li>
				<i>популяризация</i> наиболее востребованных рабочих профессий, компетенций среди подростков и молодежи
			</li>
			<li>
				<i>развитие</i> системы среднего профессионального образования
			</li>
		</ul>

		<h3 id="championships" class="section-subtitle">
			Чемпионаты
		</h3>
		<p>
			<b>Чемпионат высоких технологий</b> ‒ соревновательные мероприятия, направленные на демонстрацию профессиональных
			навыков по перспективным и новым компетенциям.
		</p>
		<p>
			<b>Чемпионат по профессиональному мастерству «Профессионалы»</b> ‒ соревновательные мероприятия, направленные на
			демонстрацию профессиональных навыков по наиболее массовым и востребованным компетенциям
		</p>

		<h3 id="steps" class="section-subtitle">
			Этапы реализации
		</h3>
		<p>
			<b>Чемпионатный цикл состоит из:</b>
		</p>
		<ul class="customized">
			<li>
				внутреннего отбора (отбор участников для проведения дальнейших региональных
				соревнований)
			</li>
			<li>
				регионального этапа (предполагает соревнование по перечню компетенций, востребованных в
				конкретном субъекте страны)
			</li>
			<li>
				отборочного (межрегионального) этапа и Финала
			</li>
		</ul>
		<h3 class="section-subtitle">
			На кого рассчитан проект
		</h3>
		<p>
			<b>Проект рассчитан на:</b>
		</p>
		<ul class="customized">
			<li>
				органы власти Российской Федерации различного уровня
			</li>
			<li>
				образовательные организации
			</li>
			<li>
				предприятия реального сектора экономики
			</li>
			<li>
				конкурсантов, экспертов-наставников, волонтеров, представителей
				дружественных государств и иных лиц, заинтересованных в Чемпионатном движении
			</li>
		</ul>
		
	</section>
	
	<aside id="sidebar" class="sidebar">
		<h3 class="sidebar-title">
			Профессионалы
		</h3>
		<nav class="sidebar-body">
			<ul class="sidebar-links">
				<li class="sidebar-link sidebar-link-selected">
					<a asp-page="About">
						О чемпионате
					</a>
				</li>
				<li class="sidebar-link">
					<a asp-page="Documents">
						Документы
					</a>
				</li>
				<li class="sidebar-link">
					<a asp-page="Links">
						Полезные ссылки
					</a>
				</li>
			</ul>
		</nav>
	</aside>
</div>