@page
@model MechatronicsModel
@{
    ViewData["Title"] = "Мехатроника";
}



<div class="container content-page">
    <section class="content">
        <a id="plane" class="plane" href="#sidebar"></a>
        <h2 class="section-title">
            Мехатроника
        </h2>

        <ul class="page-navigation">
            <li>
                <a href="#tasks">
                    Цели и задачи
                </a>
            </li>
            <li>
                <a href="#plan">
                    План помещения
                </a>
            </li>
            <li>
                <a href="#events">
                    События
                </a>
            </li>
            <li>
                <a href="#career-guidance-events">
                    Профориентационные мероприятия
                </a>
            </li>
            <li>
                <a href="#instruction">
                    Должностная инструкция заведующего
                </a>
            </li>
            <li>
                <a href="#programs">
                    Перечень программ
                </a>
            </li>
            <li>
                <a href="#experts">
                    Свидетельства экспертов
                </a>
            </li>
            <li>
                <a href="#photo-report">
                    Фотоотчет
                </a>
            </li>
            <li>
                <a href="#before">
                    Вид до начала создания мастерской
                </a>
            </li>
        </ul>

        <h3 id="tasks" class="section-subtitle">
            Цели и задачи
        </h3>


        <h3 id="plan" class="section-subtitle">
            План помещения
        </h3>


        <h3 id="events" class="section-subtitle">
            События
        </h3>


        <h3 id="career-guidance-events" class="section-subtitle">
            Профориентационные мероприятия
        </h3>


        <h3 id="instruction" class="section-subtitle">
            Должностная инструкция заведующего
        </h3>


        <h3 id="programs" class="section-subtitle">
            Перечень программ
        </h3>


        <h3 id="experts" class="section-subtitle">
            Свидетельства экспертов
        </h3>
        

        <h3 id="photo-report" class="section-subtitle">
            Фотоотчет
        </h3>


        <h3 id="before" class="section-subtitle">
            Вид до начала создания мастерской
        </h3>

    </section>
    <aside id="sidebar" class="sidebar">
        <h3 class="sidebar-title">
            Новые мастерские 2022
        </h3>
        <nav class="sidebar-body">
            <ul class="sidebar-links">
                <li class="sidebar-link">
                    <a href=''>
                        О мастерских
                    </a>
                </li>
                <li class="sidebar-link sidebar-link-selected">
                    <a href=''>
                        Мехатроника
                    </a>
                </li>
                <li class="sidebar-link">
                    <a href=''>
                        Электроника
                    </a>
                </li>
                <li class="sidebar-link">
                    <a href=''>
                        Производственная сборка изделий авиационной техники
                    </a>
                </li>
                <li class="sidebar-link">
                    <a href=''>
                        Обслуживание авиационной техники
                    </a>
                </li>
            </ul>
        </nav>
    </aside>
</div>