section.centered {
	min-height: 100vh;
}

.sorry {
	margin: 0 auto 15px auto;
	text-align: center;
}

.duck-container {
	display: block;
	width: 100px;
	opacity: 0.6;
	--duck-time: 12s;
	animation: var(--duck-time) infinite duckFly linear;
	transition: opacity 250ms ease;
}

.duck-container:hover {
	opacity: 1;
	animation-play-state: paused;
}

@keyframes duckFly {
	0%, 100% {
		translate: 0px;
		offset-rotate: 0deg;
	}
	5% {
		rotate: 15deg;
		translate: 5vw 5vh;
	}
	10% {
		rotate: 25deg;
		translate: 10vw 15vh;
	}
	15% {
		rotate: 50deg;
		translate: 20vw 30vh;
	}
	20% {
		rotate: 25deg;
		translate: 35vw 45vh;
	}
	25% {
		rotate: -5deg;
		translate: 55vw 40vh;
	}
	30% {
		rotate: -15deg;
		translate: 60vw 30vh;
	}
	35% {
		rotate: -125deg;
		translate: 55vw 25vh;
	}
	40% {
		rotate: -245deg;
		translate: 45vw 50vh;
	}
	50% {
		rotate: -185deg;
		translate: 40vw 60vh;
	}

	55% {
		rotate: -185deg;
		translate: 30vw 60vh;
	}
	60% {
		rotate: -145deg;
		translate: 25vw 50vh;
	}
	65% {
		rotate: -120deg;
		translate: 20vw 45vh;
	}
	70% {
		rotate: -100deg;
		translate: 15vw 40vh;
	}
	70% {
		rotate: -80deg;
		translate: 10vw 20vh;
	}
	80% {
		rotate: -50deg;
		translate: 15vw 10vh;
	}
	90% {
		rotate: -20deg;
		translate: 5vw 5vh;
	}
	95% {
		rotate: 5deg;
		translate: 10vw 0vh;
	}
}

@media (width < 1800px) {
	.duck-container {
		--duck-time: 10s;
	}
}

@media (width < 1000px) {
	.duck-container {
		--duck-time: 8s;
		width: 80px;
	}
}