/* только для тех страниц, у которых есть main-underheader */

body {
	padding-top: 0px;
}

.site-header::before {
	display: none;
}

/* underheaders - first sections */

.main-underheader {
	min-height: 100dvh;
	padding-bottom: 20px;
	color: var(--light-white);
	position: relative;
	box-shadow: 0px 0px 40px 0px #00000090;
}

.main-underheader-background {
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
	width: 100dvw;
	height: 100%;
	object-fit: cover;
}

.main-underheader .container {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	row-gap: 50px;
	min-height: 95dvh;
}

/* first words */

.welcome {
	display: flex;
	flex-direction: column;
	align-items: center;
	row-gap: 35px;
	margin: 32vh auto 0 auto;
	text-align: center;
	text-wrap: balance;
}

.contacts-list {
	display: flex;
	column-gap: 35px;
}

.contacts-list > li img {
	display: flex;
	width: 30px;
}

.contacts-list > li:hover img {
	transform: scale(1.2);
}

.important-links {
	--columns: 4;
	display: grid;
	grid-template-columns: repeat(var(--columns), minmax(250px, 500px));
	justify-content: space-between;
	gap: 40px 50px;
}

.important-link {
	position: relative;
	height: 100px;
	width: 100%;
	border: 2px solid;
	border-radius: var(--border-radius-xl);
	background-color: #23212199;
	transition: 125ms ease;
}

.important-link:hover {
	background-color: var(--matte-c);
	border-color: white;
}

.important-link a {
	display: flex;
	column-gap: 20px;
	align-items: center;
	height: 100%;
	width: 100%;
	padding: 5px 10px;
	color: var(--light-white);
}

.important-link img {
	width: 55px;
	aspect-ratio: 1;
}

@media (width < 1450px) {
	.important-links {
		--columns: 2;
	}
}

@media (width < 750px) {
	.important-links {
		--columns: 1;
		justify-content: center;
		gap: 20px;
	}

	.welcome {
		margin-top: 25vh;
	}
}

/* BAD SEE VERSION OF SITE */

html.special .important-links {
	display: flex !important;
	flex-direction: column !important;
	gap: 40px;
}

html.special .important-link {
	border-radius: 0 !important;
}

html.special:not(.special-color-2,.special-color-5) .important-link img {
	filter: invert(1);
	background: none !important;
}

html.special .main-underheader-background {
	display: none !important;
}