a.report-corruption {
	display: grid;
	place-items: center;
	max-width: min(300px, 100%);
	margin: 20px 0;
	padding: 15px;
	border-radius: var(--border-radius-m);
	background-color: var(--m-color);
	color: var(--light-white);
	font-weight: 500;
	text-transform: uppercase;
	transition: 100ms ease;
}

a.report-corruption:hover {
	background: var(--m-l-color);
	color: white;
}