/* staff personal page */

.staff-person-basic {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 20px;
	padding: 20px;
	background: linear-gradient(90deg, var(--m-color), var(--m-d-color)), linear-gradient(270deg, var(--m-d-color), var(--m-color));
	border-radius: var(--border-radius-xl);
	color: var(--light-white);
	font-weight: 700;
	font-size: 1.3rem;
}

.staff-person-basic-info {
	display: flex;
	flex-direction: column;
	row-gap: 10px;
}

.staff-person-basic-job, .staff-person-basic-phone, .staff-person-basic-email {
	display: flex;
	align-items: center;
	column-gap: 10px;
}

.staff-person-basic-job::before, .staff-person-basic-phone::before, .staff-person-basic-email::before {
	content: "";
	height: 25px;
	min-width: 25px;
	background-image: url("../../images/basic/work.svg");
	background-size: contain;
	background-repeat: no-repeat;
}

.staff-person-basic-job::before {
	background-image: url("../../images/basic/work.svg");
}

.staff-person-basic-phone::before {
	background-image: url("../../images/basic/phone.svg");
}

.staff-person-basic-email::before {
	background-image: url("../../images/basic/mail.svg");
}

.staff-person-basic-photo {
	position: relative;
	max-width: 225px;
	aspect-ratio: 1;
	border-radius: var(--border-radius-l);
	box-shadow: 0 0 5px 5px #00000025;
	overflow: hidden;
}

.staff-person-basic-photo img {
	transition: 350ms ease;
}

.staff-person-basic-photo:hover img {
	scale: 1.25;
}

@media (width < 600px) {
	.staff-person-basic {
		flex-direction: column-reverse;
	}

	.staff-person-basic-info {
		text-align: center;
	}
}