.choose-corpus {
	display: flex;
	gap: 20px;
	flex-wrap: wrap;
}

.choose-corpus > .corpus {
	display: block;
	min-width: max(40%, 310px);
	padding: 15px;
	border-radius: var(--border-radius-l);
	background-color: var(--m-color);
	color: var(--light-white);
	font-weight: 500;
	transition: 75ms ease;
}

.corpus:hover {
	background-color: var(--m-l-color);
}