@page
@model EventsModel
@{
	ViewData["Title"] = "Мероприятия музея";
}

<link rel="stylesheet" href="~/css/another/museum/main.css" asp-append-version="true">


<section class="centered">
	<h2 class="section-title">
		Мероприятия музея
	</h2>

	<p>
		2 - 7 февраля выставка «Сталинградская битва»
	</p>
	<p>
		14 - 18 февраля выставка «Война в Афганистане»
	</p>
	<p>
		20 – 28 февраля выставка «Выпускники колледжа – Герои Отечества»
	</p>

</section>