@page "{id?}"
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using OMAVIAT.RazorPages.Components
@using OMAVIAT.Services.News
@using OMAVIAT.Utilities
@model HistoryModel
@{
	ViewData["Title"] = "История Омского авиационного колледжа имени Н.Е. Жуковского. Начало.  Запорожский период (1930-1933 гг.)";
}

<!--
<link rel="stylesheet" href="~/css/another/museum/main.css" asp-append-version="true">
<link rel="stylesheet" href="~/css/another/museum/history.css" asp-append-version="true">
-->
<link rel="stylesheet" href="~/css/allNews.css">
<script src="~/js/allNews.js" asp-append-version="true"></script>


<section class="centered">
	<h2 class="section-title">
		История Омского авиационного колледжа имени Н.Е. Жуковского. Начало.  Запорожский период (1930-1933 гг.)
	</h2>
	@if (MuseumNewsReader.MuseumHistoryNewsPages.Count() > Model.Id)
	{
		<div class="news-list">

			@foreach (var news in MuseumNewsReader.MuseumHistoryNewsPages.ToList()[Model.Id])
			{
				var photos = news.GetPhotos();
				if (photos.Count is 0)
					continue;
				<div class="news-item">
					<a class="news-item-img" href="/another/museum/MuseumNews/@news.id/type/history">
						<img loading="lazy" src="/@photos.FirstOrDefault()" alt="">
					</a>
					<div class="news-item-content">
						<div class="news-item-date">
							@news.date
						</div>
						<div class="news-item-title">
							@news.title
						</div>
						<div class="news-item-info">
							@Html.Raw(news.description.GetWords(10))
							<a href="~/news/@news.id">
								ещё...
							</a>
						</div>
					</div>
				</div>
			}
		</div>
		@(await Html.RenderComponentAsync<PagesComponent>(RenderMode.Static, new
		{
			CurrentPage = Model.Id + 1,
			count = MuseumNewsReader.MuseumHistoryNews.Count,
			countInPage = 10,
			UrlWithParameter = "/another/museum/History/{id}"
		}))
	}
	else
	{
		<h3 class="section-title">
			Упс, новостей пока нет
		</h3>
	}
<!--
<p>
	Грандиозный план индустриализации СССР потребовал большое число специалистов высшей и средней квалификации для руководства новыми производственными предприятиями.  С этой целью в течение пятилетки намечалось построить 47 высших технических учебных заведений и 172 техникума.
</p>
<p>
	Моторостроительный завод № 29 в Запорожье принял решение открыть средне - техническое учебное заведение, готовящее техников для заводов авиапромышленности.
</p>
<p>
	Отдел Народного образования утвердил организацию этой школы 24.12.1929 г. под наименованием «Авиа-авто-профтехшкола». Директором учебного заведения был назначен молодой инженер-технолог завода Константин Захарович Куриленко.
</p>
<picture class="photo">
	<img src="~/images/another/museum/history/KZKurilenko.png" alt=""/>
	<caption>
		К.З. Куриленко, директор авиатехникума
		(декабрь 1929 - сентябрь 1931гг.)
	</caption>
</picture>
<p>
	11 января 1930 года начались первые учебные занятия у 2-х групп общей численностью 82 чел. Первые занятия проводились в помещении машиностроительного института, в котором выделили только две небольшие аудитории и часть коридора.  Аудитории не были полностью предоставлены школе, а пользоваться ими она могла только вечером с 15-30 часов. Студенты обучались специальностям: “Холодная обработка металлов» и «Сборка и регулировка двигателей». Практику студенты проходили на Запорожском моторостроительном заводе № 29 (с 1933 г. заводе им. П.И. Баранова)
</p>
<div class="four-people">
	<picture class="photo">
		<img src="~/images/another/museum/history/VKGrinev.png" alt=""/>
		<caption>
			В.К. Гринёв, заведующий учебной частью, фото 1931г.
		</caption>
	</picture>
	<picture class="photo">
		<img src="~/images/another/museum/history/AZBikov.png" alt=""/>
		<caption>
			А.З. Быков главный бухгалтер, фото 1931г.
		</caption>
	</picture>
	<picture class="photo">
		<img src="~/images/another/museum/history/SKNikitcenko.png" alt=""/>
		<caption>
			С.К. Никитченко секретарь партийной организации, фото 1931г.
		</caption>
	</picture>
	<picture class="photo">
		<img src="~/images/another/museum/history/OVSkakun.jpg" alt=""/>
		<caption>
			О.В. Скакун секретарь комсомольской организации, 1931г.
		</caption>
	</picture>
</div>
<p>
	При переходе в ведение Всесоюзного «Авиа объединения» 28.05.1930 г. техникум стал именоваться: «Запорожский авиамоторостроения техникум». Эта дата считается Днём рождения ОМАВИАТ.
</p>
<p>
	Техникуму было предоставлено помещение на первом этаже бывшей мужской гимназии с отдельным входом, с девятью хорошими, светлыми аудиториями, с помещением для библиотеки, канцелярии и актового зала. Последний был занят под общежитие для студентов. Наличие удобного помещения дало возможность объявить новый набор студентов. В сентябре 1930 г. техникум принял 160 человек. Большинство студентов имели производственный стаж. Но были и очень молодые студенты, только что закончившие 7 классов.
</p>
<p>
	В сентябре 1931 г. директором техникума был назначен технический специалист завода Сергей Иванович Прийменко.
</p>
<picture class="photo">
	<img src="~/images/another/museum/history/SIPrimenko.png" alt=""/>
	<caption>
		С.И. Прийменко, директор техникума: сентябрь 1931 - ноябрь 1933 гг.
	</caption>
</picture>
<p>
	В конце 1931 года техникум вступил в социалистическое соревнование с Горьковским авиационным техникумом и повел решительную борьбу за первенство в этом соревновании. Был выдвинут лозунг «Борьба за 25 % отличных и 75% хороших отметок».
</p>
<p>
	В июле 1933 года Запорожский авиационный техникум объединился с: с Запорожским горнозаводского машиностроения, Запорожским строительным, Днепропетровским строительным и Больше-Токмакским дизелестроительным техникумами.          Одновременно с этим техникум получил прекрасный учебный корпус для аудиторных учебных занятий по улице Гоголя, 64 и завод № 129 для учебно-производственных мастерских. В связи с такой реорганизацией техникум стал крупным учебным заведением.
</p>
<p>
	В том же 1933 году техникуму было присвоено имя Климента Ефремовича Ворошилова.
</p>
<picture class="photo wide">
	<img src="~/images/another/museum/history/The main educational and administrative building of the technical school.png" alt=""/>
	<caption>
		Главный учебно-административный корпус техникума, фото 1937г.
	</caption>
</picture>
<picture class="photo wide">
	<img src="~/images/another/museum/history/Educational and industrial workshops of the technical school.png" alt=""/>
	<caption>
		Учебно-производственные мастерские техникума, фото 1937г.
	</caption>
</picture>
-->
	

</section>