@page
@model InterestingFactsModel
@{
	ViewData["Title"] = "Интересные факты истории Омавиат (1930-1933 гг)";
}

<!--<link rel="stylesheet" href="~/css/another/museum/main.css" asp-append-version="true">-->
<link rel="stylesheet" href="~/css/allNews.css">
<script src="~/js/allNews.js" asp-append-version="true"></script>


<section class="centered">
	<h2 class="section-title">
		Интересные факты истории Омавиат (1930-1933 гг)
	</h2>

	
	
	
	<!--
<picture class="photo fullwidth">
	<img src="~/images/another/museum/interestingFacts/College Orchestra.png" alt=""/>
	<caption>
		Оркестр техникума в центре К.З. Куриленко (в белом), фото 1930 г.
	</caption>
</picture>
<p>
	Первый директор техникума Константин Захарович Куриленко, любил музыку и вдохновил студентов обучиться игре на духовых инструментах. Вначале студенты – оркестранты использовали инструменты клуба завода №29, чему способствовал директор техникума К.З. Куриленко (сам активный участник коллектива духового оркестра завода, а потом и техникума), а в 1932 году, в порядке шефской помощи, профком завода подарил авиатехникуму набор духовых инструментов.
</p>
<p>
	Репертуар оркестра был достаточно современный (по тому времени) и его выступления пользовались успехом. Он считался одним из лучших оркестров в г. Запорожье.
</p>
<p>
	Оркестр выступал с концертами в техникуме, на предприятиях, выезжал во вновь образованные колхозы и совхозы и, разумеется, был непременным и желанным участником молодежных танцев. В 1933 году коллектив оркестра был награжден Почетной грамотой Днепропетровского обкома.
</p>
<p>
	Интересна дальнейшая судьба оркестра: в 1941 году инструменты и часть его участников были эвакуированы в г. Омск. Оркестр был возрожден на новом месте и просуществовал до 1968 года.
</p>
<picture class="photo wide">
	<img src="~/images/another/museum/interestingFacts/Student activists.png" alt=""/>
	<caption>
		Студенты-активисты (духовой оркестр) и отличники учебы, 1931г.
	</caption>
</picture>
<p>
	На фотографии, сделанной в декабре 1931 года, изображены три студента первого курса специальности «Холодная обработка металлов резанием»:
</p>
<ul class="customized">
	<li>
		Владимир Тютюнник – слева
	</li>
	<li>
		Александр Бойко – в центре;
	</li>
	<li>
		Максим Литвин – справа.
	</li>
</ul>
<p>
	Они поступили в техникум в сентябре 1931 года и с этого времени являлись активными членами творческого коллектива духового оркестра. Студенты оркестранты на фотографии были награждены грамотами Запорожского горкома комсомола. Следует заметить, что они были не просто участниками оркестра, а часто выступали с сольными номерами на своих инструментах.
</p>
-->

</section>