@page
@model MainModel
@{
	ViewData["Title"] = "Музей истории Омского Авиационного колледжа имени Н.Е. Жуковского";
}

<link rel="stylesheet" href="~/css/another/museum/main.css" asp-append-version="true">

<section class="centered">
	<h2 class="section-title">
		Музей истории Омского Авиационного колледжа имени Н.Е. Жуковского
	</h2>

	<div class="museum-pages">
		<a asp-page="History" class="museum-page">
			История Омавиат
		</a>
		<a asp-page="Events" class="museum-page">
			Мероприятия музея
		</a>
		<a asp-page="InterestingFacts" class="museum-page">
			Интересные факты
		</a>
	</div>
	
	<div class="bigger-text-museum">
		<p>
			<b>Музей колледжа был создан в 1980 году</b> под руководством заместителя директора Кострикова Эдуарда Никитовича. Экскурсии в музее проводили заведующие музеем: Степанова Анастасия Александровна (преподаватель технической механики), Степанова Ольга Васильевна (преподаватель истории), Кузьмина Тамара Ильинична (преподаватель этики).
		</p>
		<p>
			В музее регулярно проводились торжественные мероприятия, посвящённые памяти героев ВОВ и интернациональных войн, встречи с ветеранами техникума. Велась поисковая работа: переписка с бывшими сотрудниками колледжа, с выпускниками.
		</p>
		<p>
			В 2000 году музей техникума получил от главного управления культуры и искусства Администрации Омской области Свидетельство о присвоении звания <b>«Музей истории Омского авиационного техникума имени Н.Е. Жуковского».</b>
		</p>
		<picture class="photo" style="min-width: min(450px, 100%);">
			<img src="~/images/another/museum/main/gukovski.jpeg" alt=""/>
		</picture>
		<p>
			В 2010 году к 80-летию колледжа музей переехал в новое помещение, расположенное на <b>втором этаже 1-го корпуса (ул. Ленина,24).</b>
		</p>
		<picture class="photo wide">
			<img src="~/images/another/museum/main/1.jpg" alt=""/>
		</picture>
		<p>
			С 2009 года общее руководство деятельностью музея ведёт заместитель директора по воспитательной работе Каменена Анна Григорьевна. С 2010 года Галинская Элина Юрьевна начала выполнять обязанности заведующего музеем.
		</p>
		<p>
			В музее проходят <b>выставки, экскурсии, встречи студентов, выпускников и ветеранов.</b> За год музей принимает более тысячи посетителей.
		</p>
		<picture class="photo wide">
			<img src="~/images/another/museum/main/2.jpg" alt=""/>
		</picture>
		<p>
			В марте 2025 г. музею колледжа исполнится <b>45 лет.</b> За это время музей посетили <b>48 тысяч человек.</b> Кто они посетители нашего музея:
		</p>
		<ul class="customized">
			<li>
				студенты и преподаватели
			</li>
			<li>
				школьники и ветераны
			</li>
			<li>
				выпускники прежних лет и гости колледжа
			</li>
		</ul>
		<p>
			<b>Галинская Элина Юрьевна</b> заведующая музеем истории Омского авиационного колледжа имени Н.Е. Жуковского. Председатель первичной ветеранской организации колледжа. Высшее образование. Работает в колледже с 2004 года.
		</p>
	</div>

</section>