@import url('https://fonts.googleapis.com/css2?family=Inter:ital,wght@0,100..900;1,100..900&display=swap');

/* VARIABLES */

/* 
-c color
-fs font size
-fw font weight
-br border radius
-bw border width
-bc border color
-bg background
-bgc backgrond color
-p padding
-td transition duration
-ttf transition timing function
-an animation name
*/

:root {
	/* colors */
	--black-c: #000000;
	--matte-c: #202020;
	--gray-c: #909090;
	--white-c: #FFFFFF;
	--light-white-c: #EBEBEB;
	--blue-c: #0250e0;
	--light-blue-c: #3367c9;
	--green-c: #439d57;
	--light-green-c: #5eb171;
	--orange-c: #FD8368;
	--light-orange-c: #d26f5a;
	--purpur-c: #4F61BE;
	--light-purpur-c: #6a7ac6;
	--red-c: #d05252;
	--light-red-c: #e87171;
	--yellow-c: #efcf80;
	--light-yellow-c: #CDAF65;
	--text-c: var(--matte-c);
	/* borders */
	--br-s: 5px;
	--br-m: 10px;
	--br-l: 15px;
	--br-xl: 20px;
	--br-max: 1000px;
	/* animations */
	--td-s: 80ms;
	--td-m: 150ms;
	--td-l: 300ms;
	--td-xl: 450ms;
	--ttf: ease;
	/* text */
	--text-fs: 1rem;
	--subtext-fs: 0.92rem;
	--title-fs: 2rem;
	--subtitle-fs: 1.3rem;
	--small-subtitle-fs: 1.1rem;
	--text-fw: 400;
	--subtext-fw: 400;
	--title-fw: 600;
	--subtitle-fw: 600;
	--small-subtitle-fw: 500;
	--text-lh: 1;
	--subtext-lh: 1;
	--title-lh: 1;
	--subtitle-lh: 1.1;
	--small-subtitle-lh: 1;
	/* zones */
	--zone-bw: 2px;
	--zone-br: var(--br-xl);
	--zone-bgc: rgba(255, 255, 255, 0.20);
	--zone-bc: var(--purpur-c);
	--zone-active-bgc: rgba(255, 255, 255, 0.50);
	--zone-active-bc: var(--light-purpur-c);
	/* windows */
	--window-bgc: var(--matte-c);
	--window-br: 40px;
	--window-td: var(--td-xl);
	--window-an: show;
	--window-p: 20px;
	/* more info window */
	--more-info-ad: var(--td-l);
}

/* CSS NORMALIZE */

* {
	margin: 0;
	padding: 0;
	border: 0;
	box-sizing: border-box;
	font-family: "Inter", Arial, sans-serif;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

html,
body {
	height: 100%;
	width: 100%;
	line-height: 1.25;
	font-size: 16px;
	font-weight: var(--text-fw);
	color: var(--matte-c);
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	overflow-x: hidden;
	-webkit-user-select: none;
	user-select: none;
}

@media (width < 1200px) {
	html, body {
		font-size: 14px;
	}
}

label {
	width: fit-content;
}

input::-ms-clear {
	display: none;
}

input[type="search"]::-webkit-search-cancel-button {
	display: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

input[type="button"] {
	cursor: pointer;
}

input:-webkit-autofill {
	background: var(--light-white-c);
}

button {
	font: inherit;
	cursor: pointer;
	background: none;
	outline: none;
	border: none;
	padding: 0;
}

button::-moz-focus-inner {
	padding: 0;
	border: 0;
}

textarea {
	resize: none;
}

textarea[readonly],
input[readonly] {
	cursor: auto;
}

a {
	display: contents;
	color: inherit;
	cursor: pointer;
}

a,
a:visited,
a:hover {
	text-decoration: none;
}

a:focus-visible,
button:focus-visible,
input:focus-visible,
textarea:focus-visible {
	outline: 2px solid var(--light-blue-c);
	outline-offset: 2px;
}

img {
	max-width: 100%;
}

ul,
ol {
	list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-size: inherit;
	font-weight: inherit;
}

p {
	line-height: 1.15;
}

tr,
td,
th {
	font: inherit;
}

/* MAIN STRUCTURE */

.app {
	position: relative;
	z-index: 1;
	max-width: 1400px;
	min-height: calc(100dvh - var(--main-padding) * 2);
	display: grid;
	grid-template-rows: auto 1fr auto;
	gap: 20px;
	margin: 0 auto;
}

body{
	--main-padding: 15px;
	padding: var(--main-padding);
}

/* REPEATING BLOCKS */

.icon {
	width: 25px;
}