@page
@model EducationalProcessOrganizationModel
@{
	ViewData["Title"] = "Организация учебного процесса";
}

<div class="container content-page">
	<section class="content">
		<a id="plane" class="plane" href="#sidebar"></a>
		<h2 class="section-title">
			Организация учебного процесса
		</h2>

		<ul class="page-navigation">
			<li>
				<a href="#academic-year">
					Как проходит учебный год
				</a>
			</li>
			<li>
				<a href="#grades">
					Как выставляются оценки
				</a>
			</li>
			<li>
				<a href="#attendance">
					Что делать при пропусках
				</a>
			</li>
			<li>
				<a href="#feedback">
					Связаться с нами
				</a>
			</li>
		</ul>


		<h3 id="academic-year" class="section-subtitle">
			Учебный год
		</h3>
		<p>
			Учебный процесс в колледже начинается 1 сентября и заканчивается для каждой группы по-разному согласно
			графику учебной работы, но не позднее 10 июля.
		</p>
		<p>
			Учебный год состоит из двух семестров: нечетного (сентябрь – декабрь) и чётного (январь - июнь).
		</p>
		<p>
			Учебный процесс организуется на основе графика учебной работы, расписания занятий, расписания промежуточной
			и итоговой аттестации студентов, утверждённых директором колледжа. В приложенном ниже файле «Организация
			учебного процесса» дана подробная инструкция их использования.
		</p>


		<h3 id="grades" class="section-subtitle">
			Оценки
		</h3>
		<p>
			Работа студентов колледжа оценивается преподавателями отметками «отлично (5)», «хорошо (4)»,
			«удовлетворительно (3)», «неудовлетворительно (2)».
		</p>
		<p>
			Отметки заносятся в журнал учебных занятий, а результаты промежуточной аттестации по дисциплинам: итоговая
			оценка за семестр, зачет, оценки за экзамен, защиту курсовой работы – ещё и в зачетную книжку студента.
		</p>


		<h3 id="attendance" class="section-subtitle">
			Посещение занятий
		</h3>
		<p>
			Посещение учебных занятий студентами является обязательным. В случае отсутствия на занятиях по уважительной
			причине студент должен предоставить классному руководителю медицинскую справку или иной документ.
		</p>
		<p>
			Основным документом учета посещаемости занятий, который ведут преподаватели дисциплин, также являются
			журналы учебных занятий. Если часто пропускающий занятия студент не аттестован, преподаватель в журнале
			вместо цифровой отметки пишет «н/а», что равноценно отметке «неудовлетворительно (2)».
		</p>


		<h3 id="feedback" class="section-subtitle">
			Обратная связь
		</h3>
		<p>
			<b>Организацией учебного процесса занимается учебная часть колледжа</b>
		</p>
		<p>
			С текущей успеваемостью и посещаемостью студентов, отмеченной в этих журналах, можно ознакомиться в учебной
			части (кабинет 224) или на <a href="https://dnevnik.ru/">сайте дневника ру</a>
		</p>
		<p>
			Контроль качества проведения занятий осуществляет руководящий состав колледжа, председатели цикловых
			методических комиссий, заведующие отделениями и классные руководители групп.
		</p>
		<p class="phone">
			(3812) 31-30-42
		</p>
		<p class="place">
			Каб. 224
		</p>
		<p class="time">
			ПН-СБ 7:30-19:30
		</p>
	</section>
	<aside id="sidebar" class="sidebar">
		<h3 class="sidebar-title">
			Родителям
		</h3>
		<nav class="sidebar-body">
			<ul class="sidebar-links">
				<li class="sidebar-link">
					<a href="https://dnevnik.ru/">
						Успеваемость
					</a>
				</li>
				<li class="sidebar-link sidebar-link-selected">
					<a asp-page="EducationalProcessOrganization">
						Организация учебного процесса в колледже
					</a>
				</li>
				<li class="sidebar-link">
					<a asp-page="ParentMeetings">
						Прием родителей, родительские собрания
					</a>
				</li>
				<li class="sidebar-link">
					<a asp-page="PsychologicalPedagogicalSupport">
						Психолого-педагогическое сопровождение
					</a>
				</li>
			</ul>
		</nav>
	</aside>
</div>