@page
@model ParentMeetingsModel
@{
	ViewData["Title"] = "Прием родителей, родительские собрания";
}

<div class="container content-page">
	<section class="content">
		<a id="plane" class="plane" href="#sidebar"></a>
		<h2 class="section-title">
			Прием родителей, родительские собрания
		</h2>
		
		<h3 class="section-subtitle">
			Прием заместителя директора по воспитательной работе
		</h3>
		<p>
			<b>Адрес:</b> г. Омск, ул. Ленина, д. 24, каб. 202Б
		</p>
		<p>
			<b>Время:</b> ПН-ПТ 8:00-17:00. Обед 12:00-13:00
		</p>


		<h3 class="section-subtitle">
			Беседа куратора со студентами и их родителями
		</h3>
		<p>
			Родители могут обратиться по любому вопросу к специалистам службы УВР колледжа.
		</p>
		<p class="time">
			Ежедневно с 8:00 до 16:30
		</p>
		<p class="phone">
			(3812) 30-52-93
		</p>
		<p>
			Общеколледжное собрание родителей студентов 1 курса проводится ежегодно каждый октябрь, собрание родителей выпускников – в мае. Родительские собрания учебных групп – по плану работы отделения, куратора.
		</p>

		<p>
            <span class="phone"><b>Отделение ИТ</b> (3812) 36-18-66 доб. 340</span>
		</p>
		<p>
            <span class="phone"><b>Отделение ТАКПиЭ</b> (3812) 36-04-64</span>
		</p>
        <p>
            <span class="phone"><b>Отделение ППКРС</b> (3812) 53-64-53, (3812) 53-64-57</span>
        </p>
		<p>
            <span class="phone"><b>Отделение РТС</b> (3812) 36-18-66</span>
		</p>
		<p>
            <span class="phone"><b>Отделение ЭиСР</b> (3812) 23-63-56</span>
		</p>
		<p>
            <span class="phone"><b>Отделение ТМ</b> (3812) 21-10-17</span>
		</p>
        <p>
            <span class="phone"><b>Отделение ЗОсДТ</b> (3812) 31-74-66</span>
        </p>

	</section>
	<aside id="sidebar" class="sidebar">
		<h3 class="sidebar-title">
			Родителям
		</h3>
		<nav class="sidebar-body">
			<ul class="sidebar-links">
				<li class="sidebar-link">
                    <a asp-page="AcademicProgress">
						Успеваемость
					</a>
				</li>
				<li class="sidebar-link">
                    <a asp-page="EducationalProcessOrganization">
						Организация учебного процесса в колледже
					</a>
				</li>
				<li class="sidebar-link sidebar-link-selected">
                    <a asp-page="ParentMeetings">
						Прием родителей, родительские собрания
					</a>
				</li>
				<li class="sidebar-link">
                    <a asp-page="PsychologicalPedagogicalSupport">
						Психолого-педагогическое сопровождение
					</a>
				</li>
			</ul>
		</nav>
	</aside>
</div>