@page
@model SpecialitiesModel;
@{
	ViewData["Title"] = "Специальности дистанционного обучения";
}

<section class="centered">
	<h2 class="section-title">
		Специальности дистанционного обучения
	</h2>

	<h3 class="section-subtitle">
		Операционная деятельность в логистике
	</h3>
	<h4 class="section-subtitle-small">
		Кто такой операционный логист
	</h4>
	<p>
		<b>Операционный логист</b> – это специалист, решающий вопросы, связанные с оптимизацией перемещения товаров. Суть работы логиста заключается в организации доставки товаров из одного пункта в другой, а именно в организации процессов снабжения, складирования, распределения и транспортировки.
	</p>
	<h4 class="section-subtitle-small">
		Срок обучения
	</h4>
	<ul class="customized">
		<li>
			На базе 9 кл. – 2 года 11 месяцев
		</li>
		<li>
			На базе 11 кл. – 1 год 11 месяцев
		</li>
	</ul>
	<h4 class="section-subtitle-small">
		Стоимость обучения
	</h4>
	<p>
		20000 р./семестр (40000 р. в год)
	</p>
	<h4 class="section-subtitle-small">
		Форма обучения
	</h4>
	<p>
		Заочная с применением дистанционных технологий
	</p>
	<h4 class="section-subtitle-small">
		По окончании
	</h4>
	<p>
		Диплом государственного образца
	</p>
	<h4 class="section-subtitle-small">
		Другие вопросы
	</h4>
	<ul class="customized">
		<li>
			<a href="~/documents/another/distanceLearning/specialities/logistics/What to work as.pdf">
				Кем работать?
			</a>
		</li>
		<li>
			<a href="~/documents/another/distanceLearning/specialities/logistics/What to do.pdf">
				Чем заниматься?
			</a>
		</li>
		<li>
			<a href="~/documents/another/distanceLearning/specialities/logistics/Who is it suitable for.pdf">
				Кому подходит?
			</a>
		</li>
	</ul>
	
	
	<h3 class="section-subtitle">
		Экономика и бухгалтерский учет
	</h3>
	<h4 class="section-subtitle-small">
		Кто такие бухгалтеры и экономисты
	</h4>
	<p>
		<b>Бухгалтеры и экономисты </b> – это незаменимые работники на предприятиях и фирмах, отвечающие за ведение финансовых операций, выдачу заработной платы, учет налогов, склад и кассу. В работе бухгалтера высока доля ответственности. Действия сотрудников бухгалтерии имеют четкий регламент. При принятии решений необходимо руководствоваться российским законодательством, а творчеству и креативным идеям здесь нет места. Кроме того, частые изменения правовых норм требуют постоянного изучения новшеств в экономическом законодательстве..
	</p>
	<h4 class="section-subtitle-small">
		Срок обучения
	</h4>
	<ul class="customized">
		<li>
			На базе 9 кл. – 2 года 11 месяцев
		</li>
		<li>
			На базе 11 кл. – 1 год 11 месяцев
		</li>
	</ul>
	<h4 class="section-subtitle-small">
		Стоимость обучения
	</h4>
	<p>
		20000 р./семестр (40000 р. в год)
	</p>
	<h4 class="section-subtitle-small">
		Форма обучения
	</h4>
	<p>
		Заочная с применением дистанционных технологий
	</p>
	<h4 class="section-subtitle-small">
		По окончании
	</h4>
	<p>
		Диплом государственного образца
	</p>
	<h4 class="section-subtitle-small">
		Другие вопросы
	</h4>
	<ul class="customized">
		<li>
			<a href="~/documents/another/distanceLearning/specialities/economics/What to work as.pdf">
				Кем работать?
			</a>
		</li>
		<li>
			<a href="~/documents/another/distanceLearning/specialities/economics/What to do.pdf">
				Чем заниматься?
			</a>
		</li>
		<li>
			<a href="~/documents/another/distanceLearning/specialities/economics/Who is it suitable for.pdf">
				Кому подходит?
			</a>
		</li>
	</ul>

</section>