@page
@model CommonIntelligenceModel
@{
    ViewData["Title"] = "Основные сведения";
}

<div class="container content-page">
    <section class="content">
        <h2 class="section-title">
            Основные сведения
        </h2>
        <p>
            <b>Полное наименование образовательной организации:</b>
            <br>
            Бюджетное профессиональное образовательное учреждение Омской области «Омский авиационный колледж имени Н.Е. Жуковского».
        </p>
        <p>
            <b>Сокращенное наименование образовательной организации:</b>
            <br>
            БПОУ «Омавиат»
        </p>
        <p>
            <b>Дата создания колледжа:</b>
            <br>
            Постановлением Совнаркома Украинской ССР от 28 мая 1930 г. профшкола была переименована в Запорожский авиаавтомоторостроительный техникум. Этот день считается датой рождения нашего учебного заведения.
        </p>
        <p>
            <b>Учредители образовательной организации:</b>
        </p>
        <p>
            <b>
                Министерство имущественных отношений Омской области
            </b>
            <br>
            Юридический адрес учредителя: 644043, г. Омск, ул. Орджоникидзе, д. 5.
            <br>
            Контактные телефоны: 7-3812-232263, 7-3812-230601, 7-3812-247189.
            <br>
            Адрес электронной почты:
            <a href="mailto:post@mio.omskportal.ru">post@mio.omskportal.ru</a>
            <br>
            Официальный сайт:
            <a href="http://mio.omskportal.ru/oiv/mio">http://mio.omskportal.ru/oiv/mio</a>
        </p>
        <p>
            <b>
                Министерство образования Омской области
            </b>
            <br>
            Юридический адрес учредителя: 644043, г Омск, ул. Красный путь, д. 5.
            <br>
            Контактный телефон: 7-3812-253558
            <br>
            Адрес электронной почты:
            <a href="mailto:educate@omskportal.ru">educate@omskportal.ru</a>
            <br>
            Официальный сайт:
            <a href="http://mobr.omskportal.ru/oiv/mobr">http://mobr.omskportal.ru/oiv/mobr</a>
        </p>
        <p>
            <b>
                Местонахождение образовательной организации:
            </b>
            <br>
            644024, г. Омск, ул. Ленина, д. 24.
            <br>
            Отделение ППКРС:
            <br>
            644027, Космический проспект, 14а;
            <br>
            644021, Богдана Хмельницкого, 281а
            <br>
            644122, Волховстроя, 5
        </p>
        <p>
            <b>
                Режим и график работы:
            </b>
            <br>
            Администрация колледжа: Пн-пт 8:00-17:00. Обед 12:00-13:00
            <br>
            Учебный процесс: Пн-Сб с 8:00 - 19:40, перерывы между учебными занятиями 10 минут, перерыв между учебными часами в рамках одного учебного занятия 5 минут. Для организации питания вводится перерыв, продолжительностью 30 минут.
        </p>
        <p>
            <b>
                Контактная информация:
            </b>
            <br>
            Тел.(факс) (3812) 31-44-65
            <br>
            Адрес электронной почты:
            <a href="mailto:omaviat@oat.ru">omaviat@oat.ru</a>,
            <a href="mailto:oat@oat.ru">oat@oat.ru</a>
            <br>
            Официальный сайт:
            <a href="https://www.oat.ru/"> https://www.oat.ru/</a>
        </p>
        <p>
            <b>
                Информация о филиалах образовательной организации:
            </b>
            филиалов нет
        </p>

        <p>
            <b>Корпус 1 (Главный)</b>
            <br>
            адрес: г. Омск, Ленина, 24, т. (3812) 31-16-39
            <br>
            Отделение информационных технологий (ИТ)
            <br>
            заведующий отделением Каштанов Николай Николаевич, каб. 340, т. 36-18-66
            <br>
            социальный педагог Рубцова Елена Михайловна, каб. 340, т. 36-18-66
            <br>
            секретарь отделения Алексенко Анна Андреевна, каб.340, т. 36-18-66
            <br>
            Отделение радиотехники и технологии сварки (РТС)
            <br>
            заведующий отделением Домнич Александр Юрьевич, каб.305,
            <br>
            социальный педагог Цыганкова Светлана Валерьевна
            <br>
            Отделение вечернего и заочного обучения с применением дистанционных технологий
            <br>
            заведующий отделением Хохлова Тамара Петровна, каб.202а, т. 31-74-66
            <br>
            секретарь отделения Новикова Елена Витальевна
        </p>
        <p>
            <b>
                Корпус 2
            </b>
            <br>
            адрес: г. Омск, Б.Хмельницкого, 281а, т.(3812) 36-04-64
            <br>
            Отделение технологии аэрокосмического производства (ТАКП)
            <br>
            заведующий отделением Пономарев Сергей Викторович, каб. 205
        </p>
        <p>
            <b>
                Корпус 3
            </b>
            <br>
            адрес: г. Омск, Космический, пр.14а, т. (3812) 53-64-53
            <br>
            Отделение программ подготовки квалифицированных рабочих, служащих (ППКРС)
            <br>
            заведующий отделением Троцкий Дмитрий Леонидович, каб. 101 тел. 53-64-53
        </p>
        <p>
            <b>
                Корпус 4
            </b>
            <br>
            адрес: г. Омск, Волховстроя, 5, т. (3812) 21-10-17
            <br>
            Отделение технологии машиностроения (ТМ)
            <br>
            заведующий отделением
            <br>
            Отделение экономики и социальной работы (ЭиСР)
            <br>
            заведующий отделением Сорокина Анастасия Викторовна
            <br>
            социальный педагог отделения Моренко Оксана Романовна, каб. 102
            <br>
            секретарь отделения Петенева Ирина Руслановна, каб. 105
            <br>
            Общежитие
            <br>
            адрес: г. Омск, Суровцева, 7а, т. (3812) 37-52-47
            <br>
            Комендант общежития Домчук Ольга Арсеновна, т. +7 965 981-75-70
        </p>
        <img class="rounded" src="~/images/commonIntelligence/OAT.jpg">
    </section>
    <aside class="sidebar">
        <h3 class="sidebar-title">
            Сведения об образовательной организации
        </h3>
        <nav class="sidebar-body">
            <ul class="sidebar-links">
                <li>
                    <a href='@Url.Page("CommonIntelligence")' class="sidebar-link sidebar-link-selected">
                        Основные сведения
                    </a>
                </li>
                <li>
                    <a href='@Url.Page("Structure")' class="sidebar-link">
                        Структура и органы управления образовательной организацией
                    </a>
                </li>
                <li>
                    <a href='@Url.Page("Documents")' class="sidebar-link">
                        Документы
                    </a>
                </li>
                <li>
                    <a href='@Url.Page("Education")' class="sidebar-link">
                        Образование
                    </a>
                </li>
            </ul>
        </nav>
    </aside>
</div>