@page
@model CorruptionModel
@{
	ViewData["Title"] = "Противодействие коррупции";
}

<link rel="stylesheet" href="~/css/organizationInformation/corruption.css" asp-append-version="true">

<div class="container content-page">
	<section class="content">
		<a id="plane" class="plane" href="#sidebar"></a>
		<h2 class="section-title">
			Противодействие коррупции
		</h2>

		<ul class="page-navigation">
			<li>
				<a href="#hotline">
					Горячая линия
				</a>
			</li>
			<li>
				<a href="#acts">
					Акты в сфере противодействия коррупции
				</a>
			</li>
			<li>
				<a href="#methodical-materials">
					Методические материалы
				</a>
			</li>
			<li>
				<a href="#documents">
					Документы
				</a>
			</li>
			<li>
				<a href="#feedback">
					Обратная связь
				</a>
			</li>
		</ul>


		<h3 id="hotline" class="section-subtitle">
			Телефоны горячей линии по вопросам противодействия коррупции
		</h3>
		<p>
			Контакты официальных лиц и организаций для обращения с жалобами, подозрениями, уточнениями.
		</p>


		<h3 id="acts" class="section-subtitle">
			Нормативные правовые и иные акты в сфере противодействия коррупции
		</h3>
		<p>
			Полный перечень регламентирующих документов, относящихся к конкретному субъекту федерации и учебному учреждению
		</p>
		<h4 class="section-subtitle-small">
			Федеральное законодательство
		</h4>
		<ul class="customized">
			<li>
				Федеральные законы
			</li>
			<li>
				Постановления Правительства РФ

			</li>
			<li>
				Указы президента
			</li>
			<li>
				Международные нормативные акты
			</li>
			<li>
				Приказы и Письма министерств
			</li>
		</ul>
		<h4 class="section-subtitle-small">
			Региональное законодательство
		</h4>
		<p>
			Нормативные акты субъекта федерации.
		</p>
		<h4 class="section-subtitle-small">
			Муниципальные нормативные акты
		</h4>
		<p>
			Антикоррупционное законодательство муниципального образования.
		</p>
		<h4 class="section-subtitle-small">
			Локальные нормативные акты
		</h4>
		<p>
			Этический кодекс, Приказ о недопустимости незаконных сборов и другие документы, которые так или иначе затрагивают тему противодействия коррупции в организации.
		</p>


		<h3 id="methodical-materials" class="section-subtitle">
			Методические материалы
		</h3>
		<p>
			Иная информация с разъяснением методов противодействия коррупции, в частности
		</p>
		<ul class="customized">
			<li>
				Ссылка на информационно-разъяснительные материалы Генеральной прокуратуры РФ
			</li>
			<li>
				Информация для сотрудников образовательной организации
			</li>
			<li>
				Информация для родителей и законных представителей
			</li>
			<li>
				Памятки по противодействию коррупции
			</li>
		</ul>


		<h3 id="documents" class="section-subtitle">
			Формы документов, связанных с противодействием коррупции, для заполнения
		</h3>
		<p>
			Формы договоров, бланки уведомлений, обращений, заявлений.
		</p>


		<div class="section-subtitle">
			Прочие документы
		</div>
		<ul class="customized">
			<li>
				Документы организации, регламентирующие порядок оказания платных образовательных услуг (дублируется секция из раздела «Платные образовательные услуги»);
			</li>
			<li>
				Отчет о выполнении плана ФХД (дублируется секция из раздела «Финансово-хозяйственная деятельность»);
			</li>
			<li>
				Информация об объеме образовательной деятельности, осуществляемой за счет бюджетных ассигнований, а также за счет средств физических и юридических лиц, и об их расходовании по итогам учебного года (дублируется секция из раздела «Финансово-хозяйственная деятельность»).
			</li>
		</ul>
		

		<h3 id="feedback" class="section-subtitle">
			Обратная связь для сообщений о фактах коррупции
		</h3>
		<p>
			Активная кнопка на сайте для мгновенной передачи сообщения о злоупотреблении служебными полномочиями и факте коррупции в организации.
		</p>
		<a class="report-corruption" href="https://admomsk.ru/web/guest/reception/questioning">
			сообщить о коррупции
		</a>
	</section>
	<aside id="sidebar" class="sidebar long">
		<h3 class="sidebar-title">
			Сведения об образовательной организации
		</h3>
		<nav class="sidebar-body">
			<ul class="sidebar-links">
				<li class="sidebar-link">
					<a asp-page="CommonIntelligence">
						Основные сведения
					</a>
				</li>
				<li class="sidebar-link">
					<a asp-page="Structure">
						Структура и органы управления образовательной организацией
					</a>
				</li>
				<li class="sidebar-link">
					<a asp-page="Documents">
						Документы
					</a>
				</li>
				<li class="sidebar-link">
					<a asp-page="Education">
						Образование
					</a>
				</li>
				<li class="sidebar-link">
					<a asp-page="EducationalStandards">
						Образовательные стандарты
					</a>
				</li>
				<li class="sidebar-link">
					<a asp-page="EducationalProcess">
						Организация воспитательного процесса
					</a>
				</li>
				<li class="sidebar-link">
					<a asp-page="ManagementPedagogicalStaff">
						Руководство. Педагогический (научно-педагогический) состав
					</a>
				</li>
				<li class="sidebar-link">
					<a asp-page="Logistics">
						Материально-техническое обеспечение и оснащенность образовательного процесса
					</a>
				</li>
				<li class="sidebar-link">
					<a asp-page="PaidEducationalServices">
						Платные образовательные услуги
					</a>
				</li>
				<li class="sidebar-link">
					<a asp-page="FinancialEconomicActivity">
						Финансово-хозяйственная деятельность
					</a>
				</li>
				<li class="sidebar-link">
					<a asp-page="Jobs">
						Вакантные места для приема (перевода) обучающихся
					</a>
				</li>
				<li class="sidebar-link">
					<a asp-page="Vacancies">
						Вакансии
					</a>
				</li>
				<li class="sidebar-link">
					<a asp-page="AccessibleEnvironment">
						Доступная среда
					</a>
				</li>
				<li class="sidebar-link">
					<a asp-page="InternationalCooperation">
						Международное сотрудничество
					</a>
				</li>
				<li class="sidebar-link">
					<a asp-page="StudentSupport">
						Стипендии и меры поддержки обучающихся
					</a>
				</li>
				<li class="sidebar-link">
					<a asp-page="Terrorism">
						Противодействие экстремизму и терроризму
					</a>
				</li>
				<li class="sidebar-link sidebar-link-selected">
					<a asp-page="Corruption">
						Противодействие коррупции
					</a>
				</li>
				<li class="sidebar-link">
					<a asp-page="Library">
						Библиотека
					</a>
				</li>
				<li class="sidebar-link">
					<a asp-page="UPK">
						Учебно-производственный комплекс
					</a>
				</li>
			</ul>
		</nav>
	</aside>
</div>