@page
@model DirectorModel
@{
    ViewData["Title"] = "Кольцов Александр Германович";
}

<div class="container content-page">
    <section class="content">
        <h2 class="section-title">
            Кольцов Александр Германович
        </h2>
        <div class="staff-person-basic director">
            <div class="staff-person-basic-info">
                <div class="staff-person-basic-job">
                    Директор
                </div>
                <div class="staff-person-basic-phone">
                    +7-910-239-233
                </div>
                <div class="staff-person-basic-email">
                    mail@yandex.ru
                </div>
            </div>
            <div class="staff-person-basic-photo">
                <img src="~/images/people/kolcovAlexanderGermanovic.jpeg" alt="">
            </div>
        </div>


        <h3 class="section-subtitle">
            Образование
        </h3>
        <h4 class="section-subtitle-small">
            Уровень образования
        </h4>

        <h4 class="section-subtitle-small">
            Квалификация
        </h4>
        ФГБОУ ВО "Омский государственный технический университет" (15.11.2019 - 28.11.2019)Национальный исследовательский университет "Высшая школа экономики" (11.07.2019 - 21.07.2019)ФГБОУ ВО "Омский государственный технический университет" (02.05.2017 - 31.05.2017)ФГБОУ ВО "Омский государственный технический университет" (29.05.2017 - 19.06.2017)ФГБОУ ВО "Омский государственный технический университет" (12.01.2018 - 26.01.2018)ФГБОУ ВО "Омский государственный технический университет" (27.11.2017 - 13.12.2017)ФГБОУ ВО "Омский государственный технический университет" (23.12.2017 - 13.12.2017)Институт дополнительного образования ФГБОУ ВО "СибАДИ" (09.12.2019 - 27.12.2019)ЧОУ ВО "Академия управления и производства" (01.10.2020 - 21.10.2020)ОЧУ ВО "Московская международная академия" (14.12.2020 - 14.01.2021)ЧОУ ВО "Академия управления и производства" (01.12.2020 - 21.12.2020)
        <h4 class="section-subtitle-small">
            Наименование направления подготовки и (или) специальности
        </h4>
        ФГАОУ ДПО "Государственный институт новых форм обучения" (18.02.2019 - 27.04.2019)
        <h4 class="section-subtitle-small">
            Ученая степень (при наличии)
        </h4>
        Кандидат технических наук
        <h4 class="section-subtitle-small">
            Ученое звание (при наличии)
        </h4>

        <h4 class="section-subtitle-small">
            Повышение квалификации и (или) профессиональная переподготовка (при наличии)
        </h4>


        <h3 class="section-subtitle">
            Стаж работы
        </h3>
        <h4 class="section-subtitle-small">
            Общий
        </h4>
        20
        <h4 class="section-subtitle-small">
            По специальности
        </h4>

        <h4 class="section-subtitle-small">
            Преподаваемые учебные предметы, курсы, дисциплины (модули)
        </h4>

    </section>
    <aside class="sidebar">
        <h3 class="sidebar-title">
            Сведения об образовательной организации
        </h3>
        <nav class="sidebar-body">
            <ul class="sidebar-links">
                <li>
                    <a href='@Url.Page("CommonIntelligence")' class="sidebar-link sidebar-link-selected">
                        Основные сведения
                    </a>
                </li>
                <li>
                    <a class="sidebar-link">
                        Структура и органы управления образовательной организацией
                    </a>
                </li>
                <li>
                    <a class="sidebar-link">
                        Документы
                    </a>
                </li>
            </ul>
        </nav>
    </aside>
</div>