@page
@model DocumentsModel
@{
    ViewData["Title"] = "Документы";
}

<div class="container content-page">
    <section class="content">
        <h2 class="section-title">
            Документы
        </h2>

        <!-- PEOPLE -->

        <div class="accordions-list">
            <div class="accordion">
                <div class="accordion-head">
                    Локальные нормативные акты
                </div>
                <div class="accordion-body">
                    <ul class="documents-list">
                        <li class="document-item">
                            <div class="document-item-head">
                                <a target="_blank" href="~/documents/organizationInformation/pravilaPriema2023-2024.pdf">
                                </a>
                            </div>
                            <div class="document-item-body">
                                Правила приёма в 2023/2024 учебном году в бюджетное профессиональное образовательное учреждение Омской области "Омский авиационный колледж имени Н.Е. Жуковского"
                            </div>
                        </li>
                        <li class="document-item">
                            <div class="document-item-head">
                                <a target="_blank" href="~/documents/organizationInformation/pologenieOPoradkePriema.pdf">
                                </a>
                            </div>
                            <div class="document-item-body">
                                Положение о порядке приема, перевода, отчисления студентов, восстановления в число студентов, перехода студентов с платного обучения на бесплатное, предоставления академического отпуска
                            </div>
                        </li>
                        <li class="document-item">
                            <div class="document-item-head">
                                <a target="_blank" href="~/documents/organizationInformation/poradokOformleniaVozniknivenia.pdf">
                                </a>
                            </div>
                            <div class="document-item-body">
                                Порядок оформления возникновения, приостановления и прекращения отношений между образовательной организацией и обучающимися
                            </div>
                        </li>
                        <li class="document-item">
                            <div class="document-item-head">
                                <a target="_blank" href="~/documents/organizationInformation/pologenieORegime.pdf">
                                </a>
                            </div>
                            <div class="document-item-body">
                                Положение о режиме занятий и расписании
                            </div>
                        </li>
                        <li class="document-item">
                            <div class="document-item-head">
                                <a target="_blank" href="~/documents/organizationInformation/pologenieOGosudarItogoboi.pdf">
                                </a>
                            </div>
                            <div class="document-item-body">
                                Положение о Государственной итоговой аттестации
                            </div>
                        </li>
                        <li class="document-item">
                            <div class="document-item-head">
                                <a target="_blank" href="~/documents/organizationInformation/pologenieOTekuchControle.pdf">
                                </a>
                            </div>
                            <div class="document-item-body">
                                Положение о текущем контроле и промежуточной аттестации обучающихся БПОУ «Омавиат»
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="accordion">
                <div class="accordion-head">
                    Документы, регулирующие трудовые отношения
                </div>
                <div class="accordion-body">
                    <ul class="documents-list">
                        <li class="document-item">
                            <div class="document-item-head">
                                <a target="_blank" href="~/documents/organizationInformation/pologenieOConflicte.pdf">
                                </a>
                            </div>
                            <div class="document-item-body">
                                Положение о конфликте интересов работников
                            </div>
                        </li>
                        <li class="document-item">
                            <div class="document-item-head">
                                <a target="_blank" href="~/documents/organizationInformation/normiProfEtiki.pdf">
                                </a>
                            </div>
                            <div class="document-item-body">
                                Нормы профессиональной этики педагогических работников
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="accordion">
                <div class="accordion-head">
                    Другое
                </div>
                <div class="accordion-body">
                    <ul class="documents-list">
                        <li class="document-item">
                            <div class="document-item-head">
                                <a target="_blank" href="~/documents/organizationInformation/ustavObrazOrg.pdf">
                                </a>
                            </div>
                            <div class="document-item-body">
                                Устав образовательной организации
                            </div>
                        </li>
                        <li class="document-item">
                            <div class="document-item-head">
                                <a target="_blank" href="~/documents/organizationInformation/izmeneniaVUstav2022.tiff">
                                </a>
                            </div>
                            <div class="document-item-body">
                                Изменения в устав 2022
                            </div>
                        </li>
                        <li class="document-item">
                            <div class="document-item-head">
                                <a target="_blank" href="~/documents/organizationInformation/izmeneniaVUstav2021.tiff">
                                </a>
                            </div>
                            <div class="document-item-body">
                                Изменения в устав 2021
                            </div>
                        </li>
                        <li class="document-item">
                            <div class="document-item-head">
                                <a target="_blank" href="~/documents/organizationInformation/izmeneniaVUstav2020.tiff">
                                </a>
                            </div>
                            <div class="document-item-body">
                                Изменения в устав 2020
                            </div>
                        </li>
                        <li class="document-item">
                            <div class="document-item-head">
                                <a target="_blank" href="~/documents/organizationInformation/izmeneniaVUstav2020-0.tiff">
                                </a>
                            </div>
                            <div class="document-item-body">
                                Изменения в устав 2020.1
                            </div>
                        </li>
                        <li class="document-item">
                            <div class="document-item-head">
                                <a target="_blank" href="~/documents/organizationInformation/izmeneniaVUstav2019.tiff">
                                </a>
                            </div>
                            <div class="document-item-body">
                                Изменения в устав 2019
                            </div>
                        <li class="document-item">
                            <div class="document-item-head">
                                <a target="_blank" href="~/documents/organizationInformation/izmeneniaVUstav2015.tiff">
                                </a>
                            </div>
                            <div class="document-item-body">
                                Изменения в устав 2015
                            </div>
                        </li>
                        <li class="document-item">
                            <div class="document-item-head">
                                <a target="_blank" href="~/documents/organizationInformation/licenzia.pdf">
                                </a>
                            </div>
                            <div class="document-item-body">
                                Лицензия на осуществление образовательной деятельности (с приложениями)
                            </div>
                        </li>
                        <li class="document-item">
                            <div class="document-item-head">
                                <a target="_blank" href="~/documents/organizationInformation/svidetelstvoAkredit2015.pdf">
                                </a>
                            </div>
                            <div class="document-item-body">
                                Свидетельство о государственной аккредитации, 2015 год (СОО)
                            </div>
                        </li>
                        <li class="document-item">
                            <div class="document-item-head">
                                <a target="_blank" href="~/documents/organizationInformation/svidetelstvoAkredit2019.pdf">
                                </a>
                            </div>
                            <div class="document-item-body">
                                Свидетельство о государственной аккредитации, 2019 год (СПО)
                            </div>
                        </li>
                        <li class="document-item">
                            <div class="document-item-head">
                                <a target="_blank" href="~/documents/organizationInformation/svidetelstvoAkredit2022.pdf">
                                </a>
                            </div>
                            <div class="document-item-body">
                                Свидетельство о государственной аккредитации, 2022 год (СПО)
                            </div>
                        </li>
                        <li class="document-item">
                            <div class="document-item-head">
                                <a target="_blank" href="~/documents/organizationInformation/pravilaVnutrRasp.pdf">
                                </a>
                            </div>
                            <div class="document-item-body">
                                Правила внутреннего распорядка для обучающихся БПОУ «Омавиат»
                            </div>
                        </li>
                        <li class="document-item">
                            <div class="document-item-head">
                                <a target="_blank" href="~/documents/organizationInformation/collectivDogovor.pdf">
                                </a>
                            </div>
                            <div class="document-item-body">
                                Коллективный договор
                            </div>
                        </li>
                        <li class="document-item">
                            <div class="document-item-head">
                                <a target="_blank" href="~/documents/organizationInformation/otchetSamoobs2021.pdf">
                                </a>
                            </div>
                            <div class="document-item-body">
                                Отчет о результатах самообследования на 1 апреля 2021 года
                            </div>
                        </li>
                        <li class="document-item">
                            <div class="document-item-head">
                                <a target="_blank" href="~/documents/organizationInformation/otchetSamoobs2022.pdf">
                                </a>
                            </div>
                            <div class="document-item-body">
                                Отчет о результатах самообследования на 1 апреля 2022 года
                            </div>
                        </li>
                        <li class="document-item">
                            <div class="document-item-head">
                                <a target="_blank" href="~/documents/organizationInformation/programaRazvitia.pdf">
                                </a>
                            </div>
                            <div class="document-item-body">
                                Программа развития БПОУ "Омавиат" на 2020 - 2024 годы
                            </div>
                        </li>
                        <li class="document-item">
                            <div class="document-item-head">
                                <a target="_blank" href="~/documents/organizationInformation/programaModernizacii.pdf">
                                </a>
                            </div>
                            <div class="document-item-body">
                                Программа модернизации БПОУ «Омавиат»
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

    </section>
    <aside class="sidebar">
        <h3 class="sidebar-title">
            Сведения об образовательной организации
        </h3>
        <nav class="sidebar-body">
            <ul class="sidebar-links">
                <li>
                    <a href='@Url.Page("CommonIntelligence")' class="sidebar-link sidebar-link-selected">
                        Основные сведения
                    </a>
                </li>
                <li>
                    <a class="sidebar-link">
                        Структура и органы управления образовательной организацией
                    </a>
                </li>
                <li>
                    <a class="sidebar-link">
                        Документы
                    </a>
                </li>
            </ul>
        </nav>
    </aside>
</div>