@page
@model EducationalStandardsModel
@{
    ViewData["Title"] = "Образовательные стандарты";
}

<div class="container content-page">
    <section class="content">
        <h2 class="section-title">
            Образовательные стандарты
        </h2>

        <h3 class="section-subtitle">
            ФГОС 3+ образовательные стандарты по программам подготовки квалифицированных рабочих, служащих
        </h3>
        <ul class="customized">
            <li>
                <a href="">
                    11.01.01
                    Монтажник радиоэлектронной аппаратуры и приборов
                </a>
            </li>
            <li>
                <a href="">
                    13.01.10
                    Электромонтер по ремонту и обслуживанию электрооборудования (по отраслям)
                </a>
            </li>
            <li>
                <a href="">
                    15.01.05
                    Сварщик (ручной и частично механизированной сварки (наплавки)
                </a>
            </li>
            <li>
                <a href="">
                    15.01.25
                    Станочник (металлообработка)
                </a>
            </li>
            <li>
                <a href="">
                    15.01.29
                    Контролер станочных и слесарных работ
                </a>
            </li>
            <li>
                <a href="">
                    23.01.08
                    Слесарь по ремонту строительных машин
                </a>
            </li>
        </ul>


        <h3 class="section-subtitle">
            ФГОС 3+ образовательные стандарты по программам подготовки специалистов среднего звена
        </h3>
        <ul class="customized">
            <li>
                <a href="">
                    09.02.02
                    Компьютерные сети (базовая подготовка)
                </a>
            </li>
            <li>
                <a href="">
                    09.02.03
                    Программирование в компьютерных системах (углубленная подготовка)
                </a>
            </li>
            <li>
                <a href="">
                    09.02.04
                    Информационные системы
                </a>
            </li>
            <li>
                <a href="">
                    12.02.03
                    Радиоэлектронные приборные устройства (базовая подготовка)
                </a>
            </li>
            <li>
                <a href="">
                    13.02.11
                    Техническая эксплуатация и обслуживание электрического и электромеханического оборудования (по отраслям) (базовая подготовка)
                </a>
            </li>
            <li>
                <a href="">
                    15.02.08
                    Технология машиностроения (базовый и углубленный уровень подготовки)
                </a>
            </li>
            <li>
                <a href="">
                    22.02.06
                    Сварочное производство (базовая подготовка)
                </a>
            </li>
            <li>
                <a href="">
                    24.02.01
                    Производство летательных аппаратов (базовая подготовка)
                </a>
            </li>
            <li>
                <a href="">
                    24.02.02
                    Производство авиационных двигателей (базовая подготовка)
                </a>
            </li>
            <li>
                <a href="">
                    27.02.01
                    Метрология
                </a>
            </li>
            <li>
                <a href="">
                    38.02.01
                    Экономика и бухгалтерский учет (по отраслям) (углубленная подготовка)
                </a>
            </li>
            <li>
                <a href="">
                    38.02.03
                    Операционная деятельность в логистике (базовая подготовка)
                </a>
            </li>
            <li>
                <a href="">
                    39.02.01
                    Социальная работа
                </a>
            </li>
        </ul>

        <h3 class="section-subtitle">
            ФГОС 4 образовательные стандарты по программам подготовки квалифицированных рабочих, служащих
        </h3>
        <ul class="customized">
            <li>
                <a href="">
                    15.02.32
                    Оператор станков с программным управлением
                </a>
            </li>
            <li>
                <a href="">
                    43.01.09
                    Повар, кондитер
                </a>
            </li>
            <li>
                <a href="">
                    54.01.20
                    Графический дизайнер
                </a>
            </li>
        </ul>

        <h3 class="section-subtitle">
            ФГОС 4 образовательные стандарты по программам подготовки специалистов среднего звена
        </h3>
        <ul class="customized">
            <li>
                <a href="">
                    09.02.06
                    Сетевое и системное администрирование
                </a>
            </li>
            <li>
                <a href="">
                    09.02.07
                    Информационные системы и программирование (разработчик веб-и мультимедийных приложений)
                </a>
            </li>
            <li>
                <a href="">
                    09.02.07
                    Информационные системы и программирование (специалист по информационным ресурсам)
                </a>
            </li>
            <li>
                <a href="">
                    10.02.05
                    Обеспечение информационной безопасности в автоматизированных системах
                </a>
            </li>
            <li>
                <a href="">
                    13.02.11
                    Техническая эксплуатация и обслуживание электрического и электромеханического оборудования (по отраслям)
                </a>
            </li>
            <li>
                <a href="">
                    15.02.10
                    Мехатроника и мобильная робототехника
                </a>
            </li>
            <li>
                <a href="">
                    15.02.15
                    Технология металлообрабатывающего производства
                </a>
            </li>
            <li>
                <a href="">
                    25.02.07
                    Техническое обслуживание авиационных двигателей
                </a>
            </li>
            <li>
                <a href="">
                    38.02.01
                    Экономика и бухгалтерский учет (по отраслям)
                </a>
            </li>
        </ul>


        <h3 class="section-subtitle">
            ФГОС Среднего общего образования
        </h3>
        <ul class="customized">
            <li>
                <a href="">ФГОС Среднего общего образования</a>
            </li>
        </ul>
    </section>
    <aside class="sidebar">
        <h3 class="sidebar-title">
            Сведения об образовательной организации
        </h3>
        <nav class="sidebar-body">
            <ul class="sidebar-links">
                <li>
                    <a href='@Url.Page("CommonIntelligence")' class="sidebar-link sidebar-link-selected">
                        Основные сведения
                    </a>
                </li>
                <li>
                    <a href='@Url.Page("Structure")' class="sidebar-link">
                        Структура и органы управления образовательной организацией
                    </a>
                </li>
                <li>
                    <a href='@Url.Page("Documents")' class="sidebar-link">
                        Документы
                    </a>
                </li>
                <li>
                    <a href='@Url.Page("Education")' class="sidebar-link">
                        Образование
                    </a>
                </li>
            </ul>
        </nav>
    </aside>
</div>