@page
@model EducationModel
@{
    ViewData["Title"] = "Образование";
}

<div class="container content-page">
    <section class="content">
        <h2 class="section-title">
            Образование
        </h2>

        <p>
            <a target="_blank" href="http://www.consultant.ru/document/cons_doc_LAW_140174/">
                Федеральный закон от 29.12.2012 N 273-ФЗ (ред. от 29.12.2017) «Об образовании в Российской Федерации»
            </a>
            В бюджетном профессиональном образовательном учреждении Омской области «Омский авиационный колледж им.Н.Е. Жуковского» образование осуществляется на русском языке.
        </p>
        <b>Данный раздел сайта содержит информацию:</b>
        <ul class="customized">
            <li>
                об уровнях образования;
            </li>
            <li>
                о кодах и наименовании профессий, специальностей по которым осуществляется подготовка в бюджетном профессиональном образовательном учреждении Омской области «Омский авиационный колледж им.Н.Е. Жуковского»
            </li>
            <li>
                о формах обучения;
            </li>
            <li>
                о нормативном сроке обучения;
            </li>
            <li>
                о сроке действия государственной аккредитации образовательной программы (при наличии государственной аккредитации);
            </li>
            <li>
                о численности обучающихся по реализуемым образовательным программам (за счет бюджетных ассигнований бюджета Омской области и по договорам об образовании за счет средств физических лиц);
            </li>
            <li>
                о методических и об иных документах, разработанных образовательной организацией для обеспечения образовательного процесса;
            </li>
            <li>
                о результатах приема по каждой профессии, специальности (по которым предусмотрены вступительные испытания),
            </li>
            <li>
                о результатах перевода, восстановления и отчисления.
            </li>
        </ul>

        <!-- PEOPLE -->

        <h3 class="section-subtitle">
            Образовательные программы по специальностям СПО
        </h3>

        <div class="accordions-list">
            <div class="accordion">
                <div class="accordion-head">
                    09.02.02 Компьютерные сети
                </div>
                <div class="accordion-body">
                    
                </div>
            </div>
        </div>

        <h3 class="section-subtitle">
            Образовательные программы по профессиям СПО
        </h3>

        <div class="accordions-list">
            <div class="accordion">
                <div class="accordion-head">
                    11.01.01 Монтажник радиоэлектронной аппаратуры и приборов
                </div>
                <div class="accordion-body">
                    
                </div>
            </div>
        </div>

        <h3 class="section-subtitle">
            Лицензия на осуществление образовательной деятельности
        </h3>
        
        <div class="document-item">
            <div class="document-item-head">
                <a target="_blank" href="~/documents/organizationInformation/pologeniePodrazdelenia1.pdf">
                </a>
            </div>
            <div class="document-item-body">
                Выписка из реестра лицензий №55.16.П.19.01.2015
            </div>
        </div>
    </section>
    <aside class="sidebar">
        <h3 class="sidebar-title">
            Сведения об образовательной организации
        </h3>
        <nav class="sidebar-body">
            <ul class="sidebar-links">
                <li>
                    <a href='@Url.Page("CommonIntelligence")' class="sidebar-link sidebar-link-selected">
                        Основные сведения
                    </a>
                </li>
                <li>
                    <a class="sidebar-link">
                        Структура и органы управления образовательной организацией
                    </a>
                </li>
                <li>
                    <a class="sidebar-link">
                        Документы
                    </a>
                </li>
            </ul>
        </nav>
    </aside>
</div>