@page
@model EducationModel
@{
    ViewData["Title"] = "Образование";
}

<div class="container content-page">
    <section class="content">
        <h2 class="section-title">
            Образование
        </h2>

        <p>
            <a target="_blank" href="http://www.consultant.ru/document/cons_doc_LAW_140174/">
                Федеральный закон от 29.12.2012 N 273-ФЗ (ред. от 29.12.2017) «Об образовании в Российской Федерации»
            </a>
            В бюджетном профессиональном образовательном учреждении Омской области «Омский авиационный колледж им.Н.Е. Жуковского» образование осуществляется на русском языке.
        </p>
        <b>Данный раздел сайта содержит информацию:</b>
        <ul class="customized">
            <li>
                об уровнях образования;
            </li>
            <li>
                о кодах и наименовании профессий, специальностей по которым осуществляется подготовка в бюджетном профессиональном образовательном учреждении Омской области «Омский авиационный колледж им.Н.Е. Жуковского»
            </li>
            <li>
                о формах обучения;
            </li>
            <li>
                о нормативном сроке обучения;
            </li>
            <li>
                о сроке действия государственной аккредитации образовательной программы (при наличии государственной аккредитации);
            </li>
            <li>
                о численности обучающихся по реализуемым образовательным программам (за счет бюджетных ассигнований бюджета Омской области и по договорам об образовании за счет средств физических лиц);
            </li>
            <li>
                о методических и об иных документах, разработанных образовательной организацией для обеспечения образовательного процесса;
            </li>
            <li>
                о результатах приема по каждой профессии, специальности (по которым предусмотрены вступительные испытания),
            </li>
            <li>
                о результатах перевода, восстановления и отчисления.
            </li>
        </ul>

        <!-- PEOPLE -->

        <h3 class="section-subtitle">
            Образовательные программы по специальностям СПО
        </h3>

        <div class="accordions-list">
            <div class="accordion">
                <div class="accordion-head">
                    09.02.02 Компьютерные сети
                </div>
                <div class="accordion-body">
                    <div class="accordion-title">
                        Общая информация
                    </div>
                    <table class="two-column">
                        <tbody>
                            <tr>
                                <td>
                                    Программа является адаптированной
                                </td>
                                <td>
                                    нет
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Государственная аккредитация
                                </td>
                                <td>
                                    есть
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Языки, на которых осуществляется обучение
                                </td>
                                <td>
                                    русский
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Уровень образования
                                </td>
                                <td>
                                    среднее профессиональное образование
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Нормативный срок обучения
                                </td>
                                <td>
                                    3 года 10 мес., 2 года 10 мес.
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Форма обучения
                                </td>
                                <td>
                                    очная, очно-заочная
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Использование при реализации образовательных программ электронного обучения и дистанционных образовательных технологий
                                </td>
                                <td>
                                    электронное обучение и дистанционные образовательные технологии применяются
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="accordion-title">
                        Информация о численности обучающихся
                    </div>
                    <table class="two-column second-column-low">
                        <tbody>
                            <tr>
                                <td>
                                    Общая численность обучающихся
                                </td>
                                <td>
                                    62, 11
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Численность обучающихся за счет бюджетных ассигнований федерального бюджета (в том числе с выделением численности обучающихся, являющихся иностранными гражданами)
                                </td>
                                <td>
                                    0
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Численность обучающихся за счет бюджетных ассигнований бюджетов субъектов Российской Федерации (в том числе с выделением численности обучающихся, являющихся иностранными гражданами)
                                </td>
                                <td>
                                    25, 11
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Численность обучающихся за счет бюджетных ассигнований местных бюджетов (в том числе с выделением численности обучающихся, являющихся иностранными гражданами)
                                </td>
                                <td>
                                    0
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Численность обучающихся по договорам об образовании, заключаемых при приеме на обучение за счет средств физического и (или) юридического лица (далее - договор об оказании платных образовательных услуг) (в том числе с выделением численности обучающихся, являющихся иностранными гражданами)
                                </td>
                                <td>
                                    37
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Численность обучающихся, являющихся иностранными гражданами
                                </td>
                                <td>
                                    1
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="accordion-title">
                        Информация о результатах приема
                    </div>
                    <table class="two-column second-column-low">
                        <tbody>
                            <tr>
                                <td>
                                    Принято обучающихся
                                </td>
                                <td>
                                    0
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Принято обучающихся за счет бюджета субъекта Российской Федерации
                                </td>
                                <td>
                                    0
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="accordion-title">
                        Информация о результатах перевода, отчисления и восстановления
                    </div>
                    <table class="two-column second-column-low">
                        <tbody>
                            <tr>
                                <td>
                                    Численность обучающихся, переведенных в другие образовательные учреждения
                                </td>
                                <td>
                                    2
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Численность обучающихся, переведенных из других образовательных учреждений
                                </td>
                                <td>
                                    0
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Численность восстановленных обучающихся
                                </td>
                                <td>
                                    0, 2
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Численность отчисленных обучающихся
                                </td>
                                <td>
                                    9, 14
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="accordion-subtitle">
                        Описание образовательной программы
                    </div>
                    <ul class="customized">
                        <li>
                            <a href="">Описание ППССЗ 2020 г.</a>
                        </li>
                        <li>
                            Описание ППССЗ 2019 г.
                        </li>
                    </ul>
                    <div class="accordion-subtitle">
                        Учебный план
                    </div>
                    <ul class="customized">
                        <li>
                            <a href="">УП_КС220 - 2020 г.</a>
                        </li>
                        <li>
                            <a href="">УП_ВКС210 – 2020 г.</a>
                        </li>
                        <li>
                            УП_КС319, КС329 - 2019 г.
                        </li>
                        <li>
                            УП_ВКС319 – 2019 г.
                        </li>
                    </ul>
                    <div class="accordion-subtitle">
                        Календарный учебный график
                    </div>
                    <ul class="customized">
                        <li>
                            <a href="">График учебно-производственного процесса на 2022-2023 учебный год</a>
                        </li>
                        <li>
                            <a href="">График учебно-производственного процесса на 2021-2022 учебный год</a>
                        </li>
                        <li>
                            <a href="">
                                График учебно-производственного процесса на 2020-2021 учебный год
                            </a>
                        </li>
                        <li>
                            <a href="">
                                График учебно-производственного процесса на 2019-2020 учебный год
                            </a>
                        </li>
                    </ul>
                    <div class="accordion-subtitle">
                        Аннотации к образовательной программе
                    </div>
                    <ul class="customized">
                        <li>
                            <a href="">Аннотации рабочих программ учебных дисциплин и профессиональных модулей</a>
                        </li>
                        <li>
                            Рабочая программа воспитания и календарный план воспитательной работы
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <h3 class="section-subtitle">
            Образовательные программы по профессиям СПО
        </h3>

        <div class="accordions-list">
            <div class="accordion">
                <div class="accordion-head">
                    11.01.01 Монтажник радиоэлектронной аппаратуры и приборов
                </div>
                <div class="accordion-body">
                    
                </div>
            </div>
        </div>

        <h3 class="section-subtitle">
            Лицензия на осуществление образовательной деятельности
        </h3>
        
        <div class="document-item">
            <div class="document-item-head">
                <a target="_blank" href="~/documents/organizationInformation/pologeniePodrazdelenia1.pdf">
                </a>
            </div>
            <div class="document-item-body">
                Выписка из реестра лицензий №55.16.П.19.01.2015
            </div>
        </div>
    </section>
    <aside class="sidebar">
        <h3 class="sidebar-title">
            Сведения об образовательной организации
        </h3>
        <nav class="sidebar-body">
            <ul class="sidebar-links">
                <li>
                    <a href='@Url.Page("CommonIntelligence")' class="sidebar-link sidebar-link-selected">
                        Основные сведения
                    </a>
                </li>
                <li>
                    <a class="sidebar-link">
                        Структура и органы управления образовательной организацией
                    </a>
                </li>
                <li>
                    <a class="sidebar-link">
                        Документы
                    </a>
                </li>
            </ul>
        </nav>
    </aside>
</div>