@page
@model FinancialEconomicActivityModel
@{
    ViewData["Title"] = "Финансово-хозяйственная деятельность";
}

<div class="container content-page">
    <section class="content">
        <h2 class="section-title">
            Финансово-хозяйственная деятельность
        </h2>
        <p>
            Cсылка на информацию, согласно ФЗ №83-ФЗ от 08.05.2010 «О внесении изменений в отдельные законодательные акты РФ в связи с совершенствованием правового положения государственных (муниципальных) учреждений», а также согласно приказу Министерства финансов РФ от 21.07.2011 №86н «Об утверждении порядка предоставления информации государственным (муниципальным) учреждением, её размещения на официальном сайте в сети Интернет и ведения указанного сайта»:
            <br>
            Информация о колледже на сайте <a href="http://bus.gov.ru">http://bus.gov.ru</a>
        </p>
        
        <div class="accordions-list">
            <div class="accordion">
                <div class="accordion-head">
                    Планы
                </div>
                <div class="accordion-body">
                    <ul class="documents-list">
                        <li class="document-item">
                            <div class="document-item-head">
                                <a target="_blank" href="~/documents/organizationInformation/financialEconomicActivity/plans/2020.pdf">
                                </a>
                            </div>
                            <div class="document-item-body">
                                на 2020 год и на плановый период 2021 и 2022 годов
                            </div>
                        </li>
                        <li class="document-item">
                            <div class="document-item-head">
                                <a target="_blank" href="~/documents/organizationInformation/financialEconomicActivity/plans/2019.pdf">
                                </a>
                            </div>
                            <div class="document-item-body">
                                на 2019 год и на плановый период 2020 и 2021 годов
                            </div>
                        </li>
                        <li class="document-item">
                            <div class="document-item-head">
                                <a target="_blank" href="~/documents/organizationInformation/financialEconomicActivity/plans/2018.pdf">
                                </a>
                            </div>
                            <div class="document-item-body">
                                на 2018 год и на плановый период 2019 и 2020 годов
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="accordion">
                <div class="accordion-head">
                    Отчет о финансово-хозяйственной деятельности по итогам 2019 финансового года
                </div>
                <div class="accordion-body">

                    <ul class="documents-list">
                        <li class="document-item">
                            <div class="document-item-head">
                                <a target="_blank" href="~/documents/organizationInformation/financialEconomicActivity/2019/operaciiSubsidii.pdf">
                                </a>
                            </div>
                            <div class="document-item-body">
                                Сведения об операциях с целевыми субсидиями, предоствленными государственному муниципальному учреждению
                            </div>
                        </li>
                        <li class="document-item">
                            <div class="document-item-head">
                                <a target="_blank" href="~/documents/organizationInformation/financialEconomicActivity/2019/balans.pdf">
                                </a>
                            </div>
                            <div class="document-item-body">
                                Баланс государственного (муниципального) учреждения
                            </div>
                        </li>
                        <li class="document-item">
                            <div class="document-item-head">
                                <a target="_blank" href="~/documents/organizationInformation/financialEconomicActivity/2019/resultati.pdf">
                                </a>
                            </div>
                            <div class="document-item-body">
                                Отчет о финансовых результатах деятельности учреждения
                            </div>
                        </li>
                        <li class="document-item">
                            <div class="document-item-head">
                                <a target="_blank" href="~/documents/organizationInformation/financialEconomicActivity/2019/doxodi.pdf">
                                </a>
                            </div>
                            <div class="document-item-body">
                                Собственные доходы учреждения
                            </div>
                        </li>
                        <li class="document-item">
                            <div class="document-item-head">
                                <a target="_blank" href="~/documents/organizationInformation/financialEconomicActivity/2019/subsidiiNaInieCeli.pdf">
                                </a>
                            </div>
                            <div class="document-item-body">
                                Субсидии на иные цели
                            </div>
                        </li>
                        <li class="document-item">
                            <div class="document-item-head">
                                <a target="_blank" href="~/documents/organizationInformation/financialEconomicActivity/2019/subsidiiNaVipolnenie.pdf">
                                </a>
                            </div>
                            <div class="document-item-body">
                                Субсидии на выполнение государственного (муниципального) задания
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="accordion">
                <div class="accordion-head">
                    Расходование финансовых и материальных средств по итогам финансового года
                    Отчет о финансово-хозяйственной деятельности по итогам 2018 финансового года
                </div>
                <div class="accordion-body">

                    <ul class="documents-list">
                        <li class="document-item">
                            <div class="document-item-head">
                                <a target="_blank" href="~/documents/organizationInformation/financialEconomicActivity/2018/balans.pdf">
                                </a>
                            </div>
                            <div class="document-item-body">
                                Баланс государственного (муниципального) учреждения
                            </div>
                        </li>
                        <li class="document-item">
                            <div class="document-item-head">
                                <a target="_blank" href="~/documents/organizationInformation/financialEconomicActivity/2018/resultati.pdf">
                                </a>
                            </div>
                            <div class="document-item-body">
                                Отчет о финансовых результатах деятельности учреждения
                            </div>
                        </li>
                        <li class="document-item">
                            <div class="document-item-head">
                                <a target="_blank" href="~/documents/organizationInformation/financialEconomicActivity/2018/doxodi.pdf">
                                </a>
                            </div>
                            <div class="document-item-body">
                                Собственные доходы учреждения
                            </div>
                        </li>
                        <li class="document-item">
                            <div class="document-item-head">
                                <a target="_blank" href="~/documents/organizationInformation/financialEconomicActivity/2018/subsidiiNaInieCeli.pdf">
                                </a>
                            </div>
                            <div class="document-item-body">
                                Субсидии на иные цели
                            </div>
                        </li>
                        <li class="document-item">
                            <div class="document-item-head">
                                <a target="_blank" href="~/documents/organizationInformation/financialEconomicActivity/2018/subsidiiNaVipolnenie.pdf">
                                </a>
                            </div>
                            <div class="document-item-body">
                                Субсидии на выполнение государственного (муниципального) задания
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="accordion">
                <div class="accordion-head">
                    Отчет о финансово-хозяйственной деятельности по итогам 2017 финансового года
                </div>
                <div class="accordion-body">
                    <ul class="documents-list">
                        <li class="document-item">
                            <div class="document-item-head">
                                <a target="_blank" href="~/documents/organizationInformation/financialEconomicActivity/2017/spravka.pdf">
                                </a>
                            </div>
                            <div class="document-item-body">
                                Справка о наличии имущества и обязательств на забалансовых счетах
                            </div>
                        </li>
                        <li class="document-item">
                            <div class="document-item-head">
                                <a target="_blank" href="~/documents/organizationInformation/financialEconomicActivity/2017/balans.pdf">
                                </a>
                            </div>
                            <div class="document-item-body">
                                Баланс государственного (муниципального) учреждения
                            </div>
                        </li>
                        <li class="document-item">
                            <div class="document-item-head">
                                <a target="_blank" href="~/documents/organizationInformation/financialEconomicActivity/2017/resultati.pdf">
                                </a>
                            </div>
                            <div class="document-item-body">
                                Отчет о финансовых результатах деятельности учреждения
                            </div>
                        </li>
                        <li class="document-item">
                            <div class="document-item-head">
                                <a target="_blank" href="~/documents/organizationInformation/financialEconomicActivity/2017/doxodi.pdf">
                                </a>
                            </div>
                            <div class="document-item-body">
                                Собственные доходы учреждения
                            </div>
                        </li>
                        <li class="document-item">
                            <div class="document-item-head">
                                <a target="_blank" href="~/documents/organizationInformation/financialEconomicActivity/2017/subsidiiNaInieCeli.pdf">
                                </a>
                            </div>
                            <div class="document-item-body">
                                Субсидии на иные цели
                            </div>
                        </li>
                        <li class="document-item">
                            <div class="document-item-head">
                                <a target="_blank" href="~/documents/organizationInformation/financialEconomicActivity/2017/subsidiiNaVipolnenie.pdf">
                                </a>
                            </div>
                            <div class="document-item-body">
                                Субсидии на выполнение государственного (муниципального) задания
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <a href="~/documents/organizationInformation/financialEconomicActivity/gosTasks/gos_zadanie_2017_0.pdf">
            Государственное задание на 2017 год и на плановый период 2018 и 2019 годов
        </a>
        <br>
        <a href="~/documents/organizationInformation/financialEconomicActivity/gosTasks/34_omskiy_aviacionnyy_kolledzh_imeni_n.e._zhukovskogo.pdf">
            Государственное задание на 2018 год и на плановый период 2019 и 2020 годов
        </a>
            
    </section>
    <aside class="sidebar">
        <h3 class="sidebar-title">
            Сведения об образовательной организации
        </h3>
        <nav class="sidebar-body">
            <ul class="sidebar-links">
                <li>
                    <a href='@Url.Page("CommonIntelligence")' class="sidebar-link sidebar-link-selected">
                        Основные сведения
                    </a>
                </li>
                <li>
                    <a class="sidebar-link">
                        Структура и органы управления образовательной организацией
                    </a>
                </li>
                <li>
                    <a class="sidebar-link">
                        Документы
                    </a>
                </li>
            </ul>
        </nav>
    </aside>
</div>