@page
@model LogisticsModel
@{
    ViewData["Title"] = "Материально-техническое обеспечение и оснащенность образовательного процесса";
}

<div class="container content-page">
    <section class="content">
        <h2 class="section-title">
            Материально-техническое обеспечение и оснащенность образовательного процесса
        </h2>
        <h3 class="section-subtitle">
            Оборудованные учебные кабинеты
        </h3>



        <h3 class="section-subtitle">
            Проведение практических занятий
        </h3>
        
        
        
        <h3 class="section-subtitle">
            Библиотеки
        </h3>

        <table class="customized">
            <thead>
                <tr>
                    <td rowspan="2">
                        Адрес
                    </td>
                    <td colspan="2">
                        Посадочных мест
                    </td>
                    <td colspan="2">
                        Площадь
                    </td>
                    <td rowspan="2">
                        График работы
                    </td>
                    <td rowspan="2">
                        Приспособленность для использования инвалидами и лицами с ОВЗ
                    </td>
                </tr>
                <tr>
                    <td>
                        всего
                    </td>
                    <td>
                        приспособленных для использования инвалидами и лицами с ОВЗ
                    </td>
                    <td>
                        всего
                    </td>
                    <td>
                        приспособленная для использования инвалидами и лицами с ОВЗ
                    </td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        Ленина, 24
                    </td>
                    <td>
                        42
                    </td>
                    <td>
                        180 (114 – читальный зал)
                    </td>
                    <td>
                        1
                    </td>
                    <td>
                        114
                    </td>
                    <td>
                        с 8.00 до 19.00<br>
                        сб с 8.00 до 15.00
                    </td>
                    <td>
                        да
                    </td>
                </tr>
            </tbody>
        </table>

        <div class="accordions-list">
            <div class="accordion">
                <div class="accordion-head">
                    Ленина, 24
                </div>
                <div class="accordion-body">
                    <table class="two-column">
                        <tbody>
                            <tr>
                                <td>
                                    Всего посадочных мест
                                </td>
                                <td>
                                    42
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Общая площадь

                                    (кв.м.)
                                </td>
                                <td>
                                    180 (114 – читальный зал)
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Посадочных мест для лиц с ОВЗ
                                </td>
                                <td>
                                    1
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Общая площадь для лиц с ОВЗ

                                    (кв.м.)
                                </td>
                                <td>
                                    114
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    График работы
                                </td>
                                <td>
                                    с 8.00 до 19.00, 
                                    сб с 8.00 до 15.00
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Приспособленность для использования инвалидами и лицами с ОВЗ
                                </td>
                                <td>
                                    да
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="accordion">
                <div class="accordion-head">
                    Волховстроя, 5
                </div>
                <div class="accordion-body">
                    <table class="two-column">
                        <tbody>
                            <tr>
                                <td>
                                    Всего посадочных мест
                                </td>
                                <td>
                                    12
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Общая площадь

                                    (кв.м.)
                                </td>
                                <td>
                                    160 (53 – читальный зал)
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Посадочных мест для лиц с ОВЗ
                                </td>
                                <td>
                                    0
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Общая площадь для лиц с ОВЗ

                                    (кв.м.)
                                </td>
                                <td>
                                    53
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    График работы
                                </td>
                                <td>
                                    с 8.00 до 17.00, 
                                    сб выходной
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Приспособленность для использования инвалидами и лицами с ОВЗ
                                </td>
                                <td>
                                    нет
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="accordion">
                <div class="accordion-head">
                    Б. Хмельницкого, 281а
                </div>
                <div class="accordion-body">
                    <table class="two-column">
                        <tbody>
                            <tr>
                                <td>
                                    Всего посадочных мест
                                </td>
                                <td>
                                    30
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Общая площадь

                                    (кв.м.)
                                </td>
                                <td>
                                    131 (65 – читальный зал)
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Посадочных мест для лиц с ОВЗ
                                </td>
                                <td>
                                    0
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Общая площадь для лиц с ОВЗ

                                    (кв.м.)
                                </td>
                                <td>
                                    65
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    График работы
                                </td>
                                <td>
                                    с 8.00 до 17.00, 
                                    сб выходной
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Приспособленность для использования инвалидами и лицами с ОВЗ
                                </td>
                                <td>
                                    нет
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="accordion">
                <div class="accordion-head">
                    Космический проспект, 14а
                </div>
                <div class="accordion-body">
                    <table class="two-column">
                        <tbody>
                            <tr>
                                <td>
                                    Всего посадочных мест
                                </td>
                                <td>
                                    33
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Общая площадь

                                    (кв.м.)
                                </td>
                                <td>
                                    172 (110 – читальный зал)
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Посадочных мест для лиц с ОВЗ
                                </td>
                                <td>
                                    1
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Общая площадь для лиц с ОВЗ

                                    (кв.м.)
                                </td>
                                <td>
                                    110
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    График работы
                                </td>
                                <td>
                                    с 8.00 до 17.00,
                                    сб выходной
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Приспособленность для использования инвалидами и лицами с ОВЗ
                                </td>
                                <td>
                                    да
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        
        <ul class="documents-list little">
            <li class="document-item">
                <div class="document-item-head">
                    <a target="_blank" href="~/documents/organizationInformation/education/licenzia.pdf">
                    </a>
                </div>
                <div class="document-item-body">
                    Положение о библиотеке
                </div>
            </li>
            <li class="document-item">
                <div class="document-item-head">
                    <a target="_blank" href="~/documents/organizationInformation/education/licenzia.pdf">
                    </a>
                </div>
                <div class="document-item-body">
                    Правила пользования библиотекой
                </div>
            </li>
        </ul>


        <h3 class="section-subtitle">
            Спортивная деятельность
        </h3>



        <h3 class="section-subtitle">
            Средства обучения и воспитания
        </h3>



        <h3 class="section-subtitle">
            Условия получения знаний обучающихся
        </h3>
        <h4 class="section-subtitle-small">
            Питание
        </h4>
        <h4 class="section-subtitle-small">
            Охрана здоровья
        </h4>
        <p>
            Для соблюдения условий охраны здоровья обучающихся в техникуме имеется • буфет; • медпункт.
        </p>
        <p>
            На официальном сайте Техникума в сети Интернет размещена специальная версия сайта для лиц с нарушением зрения
        </p>

        <h3 class="section-subtitle">
            Доступ к информационным системам и информационно-телекоммуникационным сетям/Информационная обеспеченность
        </h3>
        <p>
            В колледже построена сетевая инфраструктура, которая обеспечивает подключение всех пользователей на скорости 100Мбит/с. Локальная сеть обеспечивает подключение компьютеров для обучающихся и преподавателей и предоставляет доступ к электронным образовательным ресурсам, сервисам и сети Интернет. Доступ к сетевой инфраструктуре для инвалидов и лиц с ограниченными возможностями здоровья: частично избирательно Основной интернет сайт колледжа имеет специальную версию для слабовидящих.
        </p>
        <table class="customized">
            <thead>
                <tr>
                    <td rowspan="2">
                        Наименование показателей
                    </td>
                    <td colspan="3">
                        Количество
                    </td>
                </tr>
                <tr>
                    <td>
                        всего
                    </td>
                    <td>
                        для учебных целяй
                    </td>
                    <td>
                        для обучающихся в свободное от основных занятий время
                    </td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        Персональные компьютеры – всего
                    </td>
                    <td>
                        165
                    </td>
                    <td>
                        85
                    </td>
                    <td>
                        4
                    </td>
                </tr>
                <tr>
                    <td>
                        Ноутбуки и другие портативные персональные компьютеры (кроме планшетных)
                    </td>
                    <td>
                        31
                    </td>
                    <td>
                        12
                    </td>
                    <td>
                        0
                    </td>
                </tr>
                <tr>
                    <td>
                        Планшетные компьютеры, находящиеся в составе локальных вычислительных сетей
                    </td>
                    <td>
                        85
                    </td>
                    <td>
                       73
                    </td>
                    <td>
                        4
                    </td>
                </tr>
                <tr>
                    <td>
                        Планшетные компьютеры, имеющие доступ к Интернету
                    </td>
                    <td>
                        85
                    </td>
                    <td>
                        73
                    </td>
                    <td>
                        4
                    </td>
                </tr>
                <tr>
                    <td>
                        Планшетные компьютеры, поступившие в отчетном году
                    </td>
                    <td>
                        6
                    </td>
                    <td>
                        6
                    </td>
                    <td>
                        0
                    </td>
                </tr>
                <tr>
                    <td>
                        Электронные терминалы (инфоматы)
                    </td>
                    <td>
                        0
                    </td>
                    <td>
                        0
                    </td>
                    <td>
                        0
                    </td>
                </tr>
                <tr>
                    <td>
                        Электронные терминалы с доступом к ресурсам Интернета
                    </td>
                    <td>
                        0
                    </td>
                    <td>
                        0
                    </td>
                    <td>
                        0
                    </td>
                </tr>
                <tr>
                    <td>
                        Мультимедийные проекторы
                    </td>
                    <td>
                        10
                    </td>
                    <td>
                        0
                    </td>
                    <td>
                        0
                    </td>
                </tr>
                <tr>
                    <td>
                        Интерактивные доски
                    </td>
                    <td>
                        2
                    </td>
                    <td>
                        0
                    </td>
                    <td>
                        0
                    </td>
                </tr>
                <tr>
                    <td>
                        Принтеры
                    </td>
                    <td>
                        21
                    </td>
                    <td>
                        0
                    </td>
                    <td>
                        0
                    </td>
                </tr>
                <tr>
                    <td>
                        Сканеры
                    </td>
                    <td>
                        3
                    </td>
                    <td>
                        0
                    </td>
                    <td>
                        0
                    </td>
                </tr>
                <tr>
                    <td>
                        Многофункциональные устройства (МФУ, выполняющие операции печати, сканирования, копирования)
                    </td>
                    <td>
                        19
                    </td>
                    <td>
                        0
                    </td>
                    <td>
                        0
                    </td>
                </tr>
            </tbody>
        </table>



        <h3 class="section-subtitle">
            Электронные образовательные ресурсы
        </h3>
        <h4 class="section-subtitle-small">
            Собственные (при наличии)
        </h4>
        <h4 class="section-subtitle-small">
            Сторонние
        </h4>
        <ul class="customized">
            <li>
                <a href="http://xn--80abucjiibhv9a.xn--p1ai/">Министерство образования и науки Российской Федерации</a>
            </li>
            <li>
                <a href="http://www.edu.ru/">Федеральный портал «Российское образование»</a>
            </li>
            <li>
                <a href="http://school-collection.edu.ru/">Единая коллекция цифровых образовательных ресурсов</a>
            </li>
            <li>
                <a href="http://window.edu.ru/">Информационная система «Единое окно доступа к образовательным ресурсам</a>
            </li>
            <li>
                <a href="http://fcior.edu.ru/">Федеральный центр информационно-образовательных ресурсов</a>
            </li>
            <li>
                <a href="https://olden.rsl.ru/">Российская государственная библиотека (РГБ)</a>
            </li>
            <li>
                <a href="http://www.nlr.ru/">Российская национальная библиотека (РНБ)</a>
            </li>
            <li>
                <a href="http://www.gpntb.ru/">Государственная публичная научно-техническая библиотека России</a>
            </li>
        </ul>
        <b>Библиотеки Омска:</b>
        <ul class="customized">
            <li>
                <a href="http://old.omsklib.ru/info/index.htm">Информационно-библиотечные ресурсы Омской области</a>
            </li>
            <li>
                <a href="http://omcls.omskreg.ru/">Корпоративная библиотечная система Омского региона</a>
            </li>
        </ul>
        <b>Периодические издания:</b>
        <ul class="customized">
            <li>
                <a href="http://list.mail.ru/10966/1/0_1_0_1.html">Список газет на List.ru</a>
            </li>
            <li>
                <a href="http://list.mail.ru/10967/1/0_1_0_1.html">Список журналов на List.ru</a>
            </li>
            <li>
                <a href="http://magazines.russ.ru/">Журнальный зал</a>
            </li>
            <li>
                <a href="https://www.public.ru/">Публичная интернет библиотека</a>
            </li>
            <li>
                <a href="http://tih.kubsu.ru/informatsionnie-resursi/elektronnie-resursi-nb.html">Электронные библиотечные системы и ресурсы</a>
            </li>
            <li>
                <a href="https://www.book.ru/">Электронно-библиотечная система BOOK.ru</a>
            </li>
            <li>
                <a href="http://www.academia-moscow.ru/elibrary/">Электронная библиотека издательского центра «Академия»</a>
            </li>
        </ul>
        
    </section>
    <aside class="sidebar">
        <h3 class="sidebar-title">
            Сведения об образовательной организации
        </h3>
        <nav class="sidebar-body">
            <ul class="sidebar-links">
                <li>
                    <a href='@Url.Page("CommonIntelligence")' class="sidebar-link sidebar-link-selected">
                        Основные сведения
                    </a>
                </li>
                <li>
                    <a class="sidebar-link">
                        Структура и органы управления образовательной организацией
                    </a>
                </li>
                <li>
                    <a class="sidebar-link">
                        Документы
                    </a>
                </li>
            </ul>
        </nav>
    </aside>
</div>