@page
@model ManagementPedagogicalStaffModel
@{
    ViewData["Title"] = "Руководство. Педагогический (научно-педагогический) состав";
}

<link rel="stylesheet" href="~/css/organizationInformation/menagementPedagogicalStaff.css" asp-append-version="true">

<div class="container content-page">
    <section class="content">
        <h2 class="section-title">
            Руководство. Педагогический (научно-педагогический) состав
        </h2>

        <form class="search-people">
            <div class="search-people-container">
                <input type="search" placeholder="Введите ФИО...">
                <button>
                    <img class="icon" src="~/images/basic/search.svg" alt="искать">
                </button>
            </div>
        </form>

        <h3 class="section-subtitle">
            Руководство
        </h3>
        <ul class="people-list">
            <li class="people-item">
                <a class="people-item-img-container" href='@Url.Page("Director")'>
                    <img src="~/images/people/kolcovAlexanderGermanovic.jpeg" alt="">
                </a>
                <div class="people-item-body more-info">
                    <div class="people-item-body-fio">
                        Кольцов Александр Германович
                    </div>
                    <div class="people-item-body-job">
                        Директор
                    </div>
                    <div class="people-item-body-phone">
                        +7-999-999-05
                    </div>
                    <div class="people-item-body-email">
                        mail@mail.com
                    </div>
                </div>
            </li>
        </ul>

        <h3 class="section-subtitle">
            Заместители руководителя
        </h3>
        <ul class="people-list">
            <li class="people-item">
                <a class="people-item-img-container" href="">
                    <img src="~/images/people/trockaiaOlgaAlexandrovna.png" alt="">
                </a>
                <div class="people-item-body more-info">
                    <div class="people-item-body-fio">
                        Троцкая Ольга Александровна
                    </div>
                    <div class="people-item-body-job">
                        Заместитель директора
                    </div>
                    <div class="people-item-body-phone">
                        +7-999-999-05
                    </div>
                    <div class="people-item-body-email">
                        mail@mail.com
                    </div>
                </div>
            </li>
            <li class="people-item">
                <a class="people-item-img-container" href="">
                    <img src="~/images/people/savinAntonViktorovic.png" alt="">
                </a>
                <div class="people-item-body more-info">
                    <div class="people-item-body-fio">
                        Савин Антон Викторович
                    </div>
                    <div class="people-item-body-job">
                        Заместитель директора
                    </div>
                    <div class="people-item-body-phone">
                        +7-999-999-05
                    </div>
                    <div class="people-item-body-email">
                        mail@mail.com
                    </div>
                </div>
            </li>
            <li class="people-item">
                <a class="people-item-img-container" href="">
                    <img src="~/images/people/kamenevaAnnaGrigorevna.jpg" alt="">
                </a>
                <div class="people-item-body more-info">
                    <div class="people-item-body-fio">
                        Каменева Анна Григорьевна
                    </div>
                    <div class="people-item-body-job">
                        Заместитель директора
                    </div>
                    <div class="people-item-body-phone">
                        +7-999-999-05
                    </div>
                    <div class="people-item-body-email">
                        mail@mail.com
                    </div>
                </div>
            </li>
            <li class="people-item">
                <a class="people-item-img-container" href="">
                    <img src="~/images/people/baxtinovPetrPetrovic.jpg" alt="">
                </a>
                <div class="people-item-body more-info">
                    <div class="people-item-body-fio">
                        Бахтинов Петр Петрович
                    </div>
                    <div class="people-item-body-job">
                        Заместитель директора
                    </div>
                    <div class="people-item-body-phone">
                        +7-999-999-05
                    </div>
                    <div class="people-item-body-email">
                        mail@mail.com
                    </div>
                </div>
            </li>
            <li class="people-item">
                <a class="people-item-img-container" href="">
                    <img src="~/images/people/nazarovPavelVladislavovic.jpeg" alt="">
                </a>
                <div class="people-item-body more-info">
                    <div class="people-item-body-fio">
                        Назаров Павел Владиславович
                    </div>
                    <div class="people-item-body-job">
                        Заместитель директора
                    </div>
                    <div class="people-item-body-phone">
                        +7-999-999-05
                    </div>
                    <div class="people-item-body-email">
                        mail@mail.com
                    </div>
                </div>
            </li>
            <li class="people-item">
                <a class="people-item-img-container" href="">
                    <img src="~/images/people/eleckiDanilSergeevic.jpg" alt="">
                </a>
                <div class="people-item-body more-info">
                    <div class="people-item-body-fio">
                        Елецкий Данил Сергеевич
                    </div>
                    <div class="people-item-body-job">
                        Заместитель директора
                    </div>
                    <div class="people-item-body-phone">
                        +7-999-999-05
                    </div>
                    <div class="people-item-body-email">
                        mail@mail.com
                    </div>
                </div>
            </li>
        </ul>

        <h3 class="section-subtitle">
            Главный бухгалтер
        </h3>
        <ul class="people-list">
            <li class="people-item">
                <a class="people-item-img-container" href="">
                    <img src="~/images/people/dolguchevaNataliaUrievna.jpg" alt="">
                </a>
                <div class="people-item-body more-info">
                    <div class="people-item-body-fio">
                        Долгушева Наталия Юрьевна
                    </div>
                    <div class="people-item-body-job">
                        Главный бухгалтер
                    </div>
                    <div class="people-item-body-phone">
                        +7-999-999-05
                    </div>
                    <div class="people-item-body-email">
                        mail@mail.com
                    </div>
                </div>
            </li>
        </ul>

        <h3 class="section-subtitle">
            Персональный состав педагогических работников
        </h3>

        <div class="ped-staff-nav-container">
            <div class="ped-staff-nav">
                <a href="" class="ped-staff-arrow ped-staff-prev">
                    <img class="icon" src="~/images/basic/longArrow.svg" alt="назад">
                </a>
                <div class="ped-staff-pages">
                    <a href="" class="ped-staff-page current">
                        1
                    </a>
                    <a href="" class="ped-staff-page">
                        2
                    </a>
                    <a href="" class="ped-staff-page">
                        3
                    </a>
                    <a href="" class="ped-staff-page">
                        4
                    </a>
                    <a href="" class="ped-staff-page">
                        5
                    </a>
                </div>
                <a href="" class="ped-staff-arrow ped-staff-next">
                    <img class="icon" src="~/images/basic/longArrow.svg" alt="вперед">
                </a>
            </div>
        </div>
        
    </section>
    <aside class="sidebar">
        <h3 class="sidebar-title">
            Сведения об образовательной организации
        </h3>
        <nav class="sidebar-body">
            <ul class="sidebar-links">
                <li>
                    <a href='@Url.Page("CommonIntelligence")' class="sidebar-link sidebar-link-selected">
                        Основные сведения
                    </a>
                </li>
                <li>
                    <a class="sidebar-link">
                        Структура и органы управления образовательной организацией
                    </a>
                </li>
                <li>
                    <a class="sidebar-link">
                        Документы
                    </a>
                </li>
            </ul>
        </nav>
    </aside>
</div>