@page
@model PaidEducationalServicesModel
@{
    ViewData["Title"] = "Платные образовательные услуги";
}

<div class="container content-page">
    <section class="content">
        <h2 class="section-title">
            Платные образовательные услуги
        </h2>

        <ul class="documents-list">
            <li class="document-item">
                <div class="document-item-head">
                    <a target="_blank" href="~/documents/organizationInformation/pologeniePedSovet.pdf">
                    </a>
                </div>
                <div class="document-item-body">
                    Дополнение к приказу по ценам 2021 Соц.работа
                </div>
            </li>
            <li class="document-item">
                <div class="document-item-head">
                    <a target="_blank" href="~/documents/organizationInformation/pologenieSobrania.pdf">
                    </a>
                </div>
                <div class="document-item-body">
                    Приказ об утверждении перечня и стоимости платных образовательных услуг с 1 сентября 2023 года
                </div>
            </li>
            <li class="document-item">
                <div class="document-item-head">
                    <a target="_blank" href="~/documents/organizationInformation/orgStructura.pdf">
                    </a>
                </div>
                <div class="document-item-body">
                    Реквизиты для перечисления за обучение
                </div>
            </li>
            <li class="document-item">
                <div class="document-item-head">
                    <a target="_blank" href="~/documents/organizationInformation/orgStructura.pdf">
                    </a>
                </div>
                <div class="document-item-body">
                    Квитанция для оплаты образовательных услуг (платные группы)
                </div>
            </li>
            <li class="document-item">
                <div class="document-item-head">
                    <a target="_blank" href="~/documents/organizationInformation/orgStructura.pdf">
                    </a>
                </div>
                <div class="document-item-body">
                    Положение об оказании платных образовательных услуг
                </div>
            </li>
            <li class="document-item">
                <div class="document-item-head">
                    <a target="_blank" href="~/documents/organizationInformation/orgStructura.pdf">
                    </a>
                </div>
                <div class="document-item-body">
                    Образец договора об образовании на обучение по образовательной программе среднего профессионального образования
                </div>
            </li>
        </ul>

        <h3 class="section-subtitle">
            По вопросам обращаться
        </h3>
        <div class="question-contact">
            <div class="question-contact-head">
                <a class="question-contact-head-img-container" href="">
                    <img src="~/images/people/savinAntonViktorovic.png">
                </a>
                <p class="question-contact-head-fio">Савин Антон Виктрович</p>
                <p class="question-contact-head-post">
                    Заместитель директора, курирующий приемную компанию
                </p>
            </div>
            <div class="question-contact-body">
                <p class="question-contact-body-address">г. Омск, ул. Ленина, 24. Каб. 227</p>
                <p class="question-contact-body-phone">+7 (3812) 31-73-55</p>
                <p class="question-contact-body-time">каб. 227, ПН - ПТ 9:00 - 18:00</p>
            </div>
        </div>

    </section>
    <aside class="sidebar">
        <h3 class="sidebar-title">
            Сведения об образовательной организации
        </h3>
        <nav class="sidebar-body">
            <ul class="sidebar-links">
                <li>
                    <a href='@Url.Page("CommonIntelligence")' class="sidebar-link sidebar-link-selected">
                        Основные сведения
                    </a>
                </li>
                <li>
                    <a class="sidebar-link">
                        Структура и органы управления образовательной организацией
                    </a>
                </li>
                <li>
                    <a class="sidebar-link">
                        Документы
                    </a>
                </li>
            </ul>
        </nav>
    </aside>
</div>