@page
@model StructureModel
@{
    ViewData["Title"] = "Структура и органы управления образовательной организацией";
}

<link rel="stylesheet" href="~/css/info.css" asp-append-version="true">

<div class="container content-page">
    <section class="content">
        <h2 class="section-title">
            Структура и органы управления образовательной организацией
        </h2>

        <!-- PEOPLE -->

        <div class="details-list">
            <details>
                <summary>Администрация</summary>
                <div class="details-body">
                    <h3>Директор</h3>
                    <p>
                        <i>Руководитель</i>: Кольцов Александр Германович
                    </p>
                    <p>
                        <i>Адрес</i>: г. Омск, ул. Ленина, 24. Каб. 230
                    </p>
                    <p>
                        <i>Телефон:</i> (3812) 31-44-65
                    </p>
                    <p>
                        <i>Режим работы</i>:пн-пт, 8:00-17:00. Обед: 12:00-13:00
                    </p>
                </div>
            </details>
            <details>
                <summary>Администрация</summary>
                <div class="details-body">
                    <h3>Директор</h3>
                    <p>
                        <i>Руководитель</i>: Кольцов Александр Германович
                    </p>
                    <p>
                        <i>Адрес</i>: г. Омск, ул. Ленина, 24. Каб. 230
                    </p>
                    <p>
                        <i>Телефон:</i> (3812) 31-44-65
                    </p>
                    <p>
                        <i>Режим работы</i>:пн-пт, 8:00-17:00. Обед: 12:00-13:00
                    </p>
                </div>
            </details>
            <details>
                <summary>Администрация</summary>
                <div class="details-body">
                    <h3>Директор</h3>
                    <p>
                        <i>Руководитель</i>: Кольцов Александр Германович
                    </p>
                    <p>
                        <i>Адрес</i>: г. Омск, ул. Ленина, 24. Каб. 230
                    </p>
                    <p>
                        <i>Телефон:</i> (3812) 31-44-65
                    </p>
                    <p>
                        <i>Режим работы</i>:пн-пт, 8:00-17:00. Обед: 12:00-13:00
                    </p>
                </div>
            </details>
            <details>
                <summary>Администрация</summary>
                <div class="details-body">
                    <h3>Директор</h3>
                    <p>
                        <i>Руководитель</i>: Кольцов Александр Германович
                    </p>
                    <p>
                        <i>Адрес</i>: г. Омск, ул. Ленина, 24. Каб. 230
                    </p>
                    <p>
                        <i>Телефон:</i> (3812) 31-44-65
                    </p>
                    <p>
                        <i>Режим работы</i>:пн-пт, 8:00-17:00. Обед: 12:00-13:00
                    </p>
                </div>
            </details>
        </div>

        <!-- DOCUMENTS -->
        <ul class="documents-list">
            <li class="document-item">
                <div class="document-item-head">
                    <a target="_blank" href="">
                    </a>
                </div>
                <div class="document-item-body">
                    Положение о подразделении
                </div>
            </li>
            <li class="document-item">
                <div class="document-item-head">
                    <a target="_blank" href="">
                    </a>
                </div>
                <div class="document-item-body">
                    Положение о подразделении
                </div>
            </li>
            <li class="document-item">
                <div class="document-item-head">
                    <a target="_blank" href="">
                    </a>
                </div>
                <div class="document-item-body">
                    Положение о подразделении
                </div>
            </li>
            <li class="document-item">
                <div class="document-item-head">
                    <a target="_blank" href="">
                    </a>
                </div>
                <div class="document-item-body">
                    Положение о Педагогическом совете
                </div>
            </li>
            <li class="document-item">
                <div class="document-item-head">
                    <a target="_blank" href="">
                    </a>
                </div>
                <div class="document-item-body">
                    Положение о Совете
                </div>
            </li>
            <li class="document-item">
                <div class="document-item-head">
                    <a target="_blank" href="">
                    </a>
                </div>
                <div class="document-item-body">
                    Положение об общем собрании работников и обучающихся
                </div>
            </li>
            <li class="document-item">
                <div class="document-item-head">
                    <a target="_blank" href="">
                    </a>
                </div>
                <div class="document-item-body">
                    Организационная структура
                </div>
            </li>
        </ul>
    </section>
    <aside class="sidebar">
        <h3 class="sidebar-title">
            Сведения об образовательной организации
        </h3>
        <nav class="sidebar-body">
            <ul class="sidebar-links">
                <li>
                    <a href='@Url.Page("CommonIntelligence")' class="sidebar-link sidebar-link-selected">
                        Основные сведения
                    </a>
                </li>
                <li>
                    <a class="sidebar-link">
                        Структура и органы управления образовательной организацией
                    </a>
                </li>
                <li>
                    <a class="sidebar-link">
                        Документы
                    </a>
                </li>
            </ul>
        </nav>
    </aside>
</div>