@page
@model StudentSupportModel
@{
	ViewData["Title"] = "Стипендии и меры поддержки обучающихся";
}

<div class="container content-page">
	<section class="content">
		<a id="plane" class="plane" href="#sidebar"></a>
		<h2 class="section-title">
			Стипендии и меры поддержки обучающихся
		</h2>

		<ul class="page-navigation">
			<li>
				<a href="#scholarships">
					Стипендии
				</a>
			</li>
			<li>
				<a href="#employment">
					Трудоустройство выпускников
				</a>
			</li>
			<li>
				<a href="#social-support">
					Социальная поддержка
				</a>
			</li>
			<li>
				<a href="#dormitory">
					Общежитие
				</a>
			</li>
		</ul>


		<h3 id="scholarships" class="section-subtitle">
			Стипендии
		</h3>
		<h4 class="section-subtitle-small">
			Нормативно-правовые документы о стипендиях
		</h4>
		<ul class="customized">
			<li>
				<a href="~/documents/organizationInformation/studentSupport/poriadokNaznaceniaStipendii.pdf">
					Постановление Правительства Омской области: "О порядке назначения государственной академической стипендии студентам, государственной социальной стипендии студентам..." № 363-п, от 24.12.2013 г.
				</a>
			</li>
			<li>
				<a href="https://www.consultant.ru/document/cons_doc_LAW_140174/fc74ef70a4fc3107df5b2b18636ac5f74e3d0a73/">
					ФЗ № 273 "Об образовании в Российской Федерации" Статья 36: " Стипендии и другие денежные выплаты"
				</a>
			</li>
			<li>
				<a href="https://docs.cntd.ru/document/467309309">
					Постановление Правительства Омской Области: "Об отдельных вопросах мер социальной поддержки" № 316-п, от 5.12.2013г.
				</a>
			</li>
			<li>
				<a href="~/documents/organizationInformation/studentSupport/postanovlenie_pravitelstva_omskoy_oblasti_ot_29_yanvarya_2014.pdf">
					Постановление Правительства Омской области от 29 января 2014 г. № 4-п  "О внесении изменений в постановление Правительства Омской области от 5 декабря 2013 года N 316-п"
				</a>
			</li>
			<li>
				<a href="~/documents/organizationInformation/studentSupport/polozhenie_o_stipendialnom_obespechenii.pdf">
					Положение о стипендиальном обеспечении студентов Бюджетного профессионального образовательного учреждения Омской Области "Омский авиационный колледж имени Н. Е. Жуковского"
				</a>
			<li>
				<a href="~/documents/organizationInformation/studentSupport/polozhenie_ob_inyh_merah_socialnoy_podderzhki.pdf">
					Положение об иных мерах социальной поддержки студентов
				</a>
			</li>
			<li>
				<a href="~/documents/organizationInformation/studentSupport/novoe_polozhenie_po_stipendiyam_oniip_2019.doc">
					Положение по стипендиям ОНИИП 2019
				</a>
			</li>
			<li>
				<a href="/documents/organizationInformation/studentSupport/polozhenie_o_stipendii_gubernatora_omskoy_olasti_ukaz_no_205.docx">
					Положение о стипендии Губернатора Омской области Указ № 205
				</a>
			</li>
		</ul>
		<h4 class="section-subtitle-small">
			Стипендиальное обеспечение
		</h4>
		<p>
			Стипендии, являясь денежной выплатой, назначаемой студентам, обучающимся по очной форме обучения в колледже, подразделяются на:
		</p>
		<ol class="customized">
			<li>
				государственные академические стипендии (назначаются студентам, обучающимся по очной форме обучения, в зависимости от успехов в учебе и научной деятельности)
			</li>
			<li>
				государственные социальные стипендии (назначаются студентам, нуждающимся в социальной помощи)
			</li>
		</ol>
		<h4 class="section-subtitle-small">
			Размеры стипендий
		</h4>
		<p>
			Государственная академическая стипендия - 527,00 руб.
			<br>
			Государственная социальная стипендия - 791,00 руб.
		</p>
		<div class="document-item">
			<div class="document-item-head">
				<a target="_blank" href="~/documents/organizationInformation/studentSupport/ПОЛОЖЕНИЕ_об_АКАДЕМИЧЕСКОЙ_СТИПЕНДИИ_Документ_Microsoft_Office_Word.docx">
				</a>
			</div>
			<div class="document-item-body">
				Положение о стипендиальном обеспечении
			</div>
		</div>


		<h3 id="employment" class="section-subtitle">
			Трудоустройство выпускников
		</h3>
		<p>
			В данном документе Вы можете узнать численность трудоустроенных выпускников от общей численности выпускников в прошедшем учебном году, для каждой реализуемой образовательной программы, по которой состоялся выпуск.
		</p>
		<div class="document-item">
			<div class="document-item-head">
				<a target="_blank" href="~/documents/organizationInformation/studentSupport/trudoustroistvo.xlsx">
				</a>
			</div>
			<div class="document-item-body">
				Занятость выпускников 2022 года
			</div>
		</div>


		<h3 id="social-support" class="section-subtitle">
			Меры социальной поддержки
		</h3>
		<div class="document-item">
			<div class="document-item-head">
				<a target="_blank" href="~/documents/organizationInformation/studentSupport/ПОЛОЖЕНИЕ_о_порядке_предоставления_мер_социальной_поддержки_обучающимся.docx">
				</a>
			</div>
			<div class="document-item-body">
				Положение о порядке предоставления мер социальной поддержки
			</div>
		</div>


		<h3 id="dormitory" class="section-subtitle">
			Общежитие
		</h3>
		<p>
			БПОУ «Омавиат» владеет на праве оперативного управления зданием Специализированного студенческого общежития, расположенного по адресу: 644015г. Омск, Суровцева, 7А.
		</p>
		<p>
			<b>Общее число мест для проживания обучающихся:</b> 148
		</p>
		<p>
			<b>Адрес:</b> г. Омск, ул. Суровцева, д. 7А
		</p>
		<div class="document-item">
			<div class="document-item-head">
				<a target="_blank" href="~/documents/organizationInformation/studentSupport/Положение об общежитии.docx">
				</a>
			</div>
			<div class="document-item-body">
				Положение об общежитии
			</div>
		</div>
	</section>
	<aside id="sidebar" class="sidebar long">
		<h3 class="sidebar-title">
			Сведения об образовательной организации
		</h3>
		<nav class="sidebar-body">
			<ul class="sidebar-links">
				<li class="sidebar-link">
					<a asp-page="CommonIntelligence">
						Основные сведения
					</a>
				</li>
				<li class="sidebar-link">
					<a asp-page="Structure">
						Структура и органы управления образовательной организацией
					</a>
				</li>
				<li class="sidebar-link">
					<a asp-page="Documents">
						Документы
					</a>
				</li>
				<li class="sidebar-link">
					<a asp-page="Education">
						Образование
					</a>
				</li>
				<li class="sidebar-link">
					<a asp-page="EducationalStandards">
						Образовательные стандарты и требования
					</a>
				</li>
				<li class="sidebar-link">
					<a asp-page="EducationalProcess">
						Организация воспитательного процесса
					</a>
				</li>
				<li class="sidebar-link">
					<a asp-page="ManagementPedagogicalStaff">
						Руководство. Педагогический (научно-педагогический) состав
					</a>
				</li>
				<li class="sidebar-link">
					<a asp-page="LogisticsAndAccessibleEnvironment">
						Материально-техническое обеспечение и оснащенность образовательного процесса. Доступная среда
					</a>
				</li>
				<li class="sidebar-link">
					<a asp-page="PaidEducationalServices">
						Платные образовательные услуги
					</a>
				</li>
				<li class="sidebar-link">
					<a asp-page="FinancialEconomicActivity">
						Финансово-хозяйственная деятельность
					</a>
				</li>
				<li class="sidebar-link">
					<a asp-page="Jobs">
						Вакантные места для приема (перевода) обучающихся
					</a>
				</li>
				<li class="sidebar-link">
					<a asp-page="Vacancies">
						Вакансии
					</a>
				</li>
				<li class="sidebar-link">
					<a asp-page="InternationalCooperation">
						Международное сотрудничество
					</a>
				</li>
				<li class="sidebar-link sidebar-link-selected">
					<a asp-page="StudentSupport">
						Стипендии и меры поддержки обучающихся
					</a>
				</li>
				<li class="sidebar-link">
					<a asp-page="Terrorism">
						Противодействие экстремизму и терроризму
					</a>
				</li>
				<li class="sidebar-link">
					<a asp-page="Corruption">
						Противодействие коррупции
					</a>
				</li>
				<li class="sidebar-link">
					<a asp-page="Library">
						Библиотека
					</a>
				</li>
				<li class="sidebar-link">
					<a asp-page="UPK">
						Учебно-производственный комплекс
					</a>
				</li>
                <li class="sidebar-link">
                    <a asp-page="Food">
                        Организация питания в образовательной организации
                    </a>
                </li>
			</ul>
		</nav>
	</aside>
</div>