@page
@model TerrorismModel
@{
	ViewData["Title"] = "Противодействие экстремизму и терроризму";
}

<div class="container content-page">
	<section class="content">
		<a id="plane" class="plane" href="#sidebar"></a>
		<h2 class="section-title">
			Противодействие экстремизму и терроризму
		</h2>

		<ul class="page-navigation">
			<li>
				<a href="#extremism">
					Противодействие экстремистской деятельности
				</a>
			</li>
			<li>
				<a href="#terrorism">
					Противодействие терроризму и его идеологии
				</a>
			</li>
			<li>
				<a href="#documents">
					Нормативно–правовые документы
				</a>
			</li>
			<li>
				<a href="#videos">
					Видеоматериалы о борьбе с экстремизмом
				</a>
			</li>
		</ul>


		<h3 id="extremism" class="section-subtitle">
			Противодействие экстремистской деятельности
		</h3>
		<p>
			<b>
				ВНИМАНИЕ!
				<br>
				Если Вы подвергаетесь физическому или моральному экстремистскому давлению вы должны и имеете право обратиться в полицию лично или по телефону «02».
				<br>
				<i>УМВД России по Омской области</i>
			</b>
		</p>
		<p>
			<b>
				Согласно Федеральному закону РФ «О противодействии экстремистской деятельности» от 25 июля 2002 года №114 на территории Российский Федерации экстремистская деятельность запрещена и преследуется по закону.
			</b>
		</p>
		<h4 class="section-subtitle-small">
			Основные направления противодействия экстремистской деятельности
		</h4>
		<ul class="customized">
			<li>
				принятие профилактических мер, направленных на предупреждение экстремистской деятельности среди обучающихся, в том числе на выявление и последующее устранение причин и условий, способствующих осуществлению экстремистской деятельности
			</li>
			<li>
				выявление, предупреждение и пресечение экстремистской деятельности общественных и религиозных объединений, иных организаций, физических лиц
			</li>
		</ul>
		<h4 class="section-subtitle-small">
			Дополнительный материал
		</h4>
		<ul class="customized">
			<li>
				<a href="http://nac.gov.ru/">
					Национальный антитеррористический комитет
				</a>
			</li>
			<li>
				<a href="http://scienceport.ru/">
					Наука и образование против террора
				</a>
			</li>
			<li>
				<a href="http://ncpti.su/">
					Национальный центр информационного противодействия терроризму и экстремизму в образовательной среде и сети "Интернет"
				</a>
			</li>
		</ul>


		<h3 id="terrorism" class="section-subtitle">
			Противодействие терроризму и его идеологии
		</h3>
		<p>
			В целях привлечения молодежи к проблеме распространения экстремистской и террористической идеологии предлагаем следующий материал:
		</p>
		<ul class="customized">
			<li>
				<a href="https://disk.yandex.ru/d/J20UIuEMSk9z1A">
					Памятка
				</a>
			</li>
			<li>
				<a href="https://disk.yandex.ru/d/Mh3I6UcylyVYLA">
					Видеоролики победителейи призеров конкурса «Вместе – мы сила»
				</a>
			</li>
			<li>
				<a href="https://12-kanal.ru/program/razgovor-o-glavnom/">
					Запись эфира ОРТРК-12 канала «Диалог с героями»
				</a>
			</li>
		</ul>


		<h3 id="documents" class="section-subtitle">
			Нормативно–правовые документы
		</h3>
		<ul class="documents-list little">
			<li class="document-item">
				<div class="document-item-head">
					<a target="_blank" href="~/documents/organizationInformation/terrorism/Комплексный план противодействия идеологии терроризма в Омской области на 2019-2023 годы.pdf">
					</a>
				</div>
				<div class="document-item-body">
					Комплексный план противодействия идеологии терроризма в Омской области на 2019-2023 годы
				</div>
			</li>
			<li class="document-item">
				<div class="document-item-head">
					<a target="_blank" href="~/documents/organizationInformation/terrorism/План_противодействие_экстремизму.docx">
					</a>
				</div>
				<div class="document-item-body">
					План работы по противодействию экстремизму и терроризму в молодежной среде БПОУ Омавиат
				</div>
			</li>
			<li class="document-item">
				<div class="document-item-head">
					<a target="_blank" href="~/documents/organizationInformation/terrorism/Отчет_профилактика_экстремизма_первый_семестр_2023_2024_уч_года.docx">
					</a>
				</div>
				<div class="document-item-body">
					Реализация плана работы по профилактике экстремизма среди студентов профессиональных образовательных организаций г. Омска и Омской области БПОУ Омавиат
				</div>
			</li>
		</ul>

		<h3 id="videos" class="section-subtitle">
			Видеоматериалы о борьбе с экстремизмом
		</h3>
		<h4 class="section-subtitle-small">
			Что такое несанкционированный митинг?
		</h4>
		<video class="customized" controls>
			<source src="~/videos/commonIntelligence/terrorism/Chto_takoe_nesanktsionirovanniy_miting.mp4" type="video/mp4">
		</video>
		<h4 class="section-subtitle-small">
			Ответственность за экстремизм
		</h4>
		<video class="customized" controls>
			<source src="~/videos/commonIntelligence/terrorism/Otvetstvennosty_za_ekstremizm.mp4" type="video/mp4">
		</video>
		<h4 class="section-subtitle-small">
			Правила поведения в социальных сетях
		</h4>
		<video class="customized" controls>
			<source src="~/videos/commonIntelligence/terrorism/Pravila_povedeniya_v_sotsialynih_setyah.mp4" type="video/mp4">
		</video>

	</section>
	<aside id="sidebar" class="sidebar long">
		<h3 class="sidebar-title">
			Сведения об образовательной организации
		</h3>
		<nav class="sidebar-body">
			<ul class="sidebar-links">
				<li class="sidebar-link">
					<a asp-page="CommonIntelligence">
						Основные сведения
					</a>
				</li>
				<li class="sidebar-link">
					<a asp-page="Structure">
						Структура и органы управления образовательной организацией
					</a>
				</li>
				<li class="sidebar-link">
					<a asp-page="Documents">
						Документы
					</a>
				</li>
				<li class="sidebar-link">
					<a asp-page="Education">
						Образование
					</a>
				</li>
				<li class="sidebar-link">
					<a asp-page="EducationalStandards">
						Образовательные стандарты
					</a>
				</li>
				<li class="sidebar-link">
					<a asp-page="EducationalProcess">
						Организация воспитательного процесса
					</a>
				</li>
				<li class="sidebar-link">
					<a asp-page="ManagementPedagogicalStaff">
						Руководство. Педагогический (научно-педагогический) состав
					</a>
				</li>
				<li class="sidebar-link">
					<a asp-page="LogisticsAndAccessibleEnvironment">
						Материально-техническое обеспечение и оснащенность образовательного процесса. Доступная среда
					</a>
				</li>
				<li class="sidebar-link">
					<a asp-page="PaidEducationalServices">
						Платные образовательные услуги
					</a>
				</li>
				<li class="sidebar-link">
					<a asp-page="FinancialEconomicActivity">
						Финансово-хозяйственная деятельность
					</a>
				</li>
				<li class="sidebar-link">
					<a asp-page="Jobs">
						Вакантные места для приема (перевода) обучающихся
					</a>
				</li>
				<li class="sidebar-link">
					<a asp-page="Vacancies">
						Вакансии
					</a>
				</li>
				<li class="sidebar-link">
					<a asp-page="InternationalCooperation">
						Международное сотрудничество
					</a>
				</li>
				<li class="sidebar-link">
					<a asp-page="StudentSupport">
						Стипендии и меры поддержки обучающихся
					</a>
				</li>
				<li class="sidebar-link sidebar-link-selected">
					<a asp-page="Terrorism">
						Противодействие экстремизму и терроризму
					</a>
				</li>
				<li class="sidebar-link">
					<a asp-page="Corruption">
						Противодействие коррупции
					</a>
				</li>
				<li class="sidebar-link">
					<a asp-page="Library">
						Библиотека
					</a>
				</li>
				<li class="sidebar-link">
					<a asp-page="UPK">
						Учебно-производственный комплекс
					</a>
				</li>
                <li class="sidebar-link">
                    <a asp-page="Food">
                        Организация питания в образовательной организации
                    </a>
                </li>
			</ul>
		</nav>
	</aside>
</div>