@page
@model AboutModel
@{
	ViewData["Title"] = "О профессионалитете";
}

<div class="container content-page">
	<section class="content">
		<a id="plane" class="plane" href="#sidebar"></a>
		<h2 class="section-title">
			О профессионалитете
		</h2>

		<ul class="page-navigation">
			<li>
				<a href="#info">
					Что такое профессионалитет?
				</a>
			</li>
			<li>
				<a href="#for-student">
					Профессионалитет для студента
				</a>
			</li>
			<li>
				<a href="#mechanical-engineering">
					Кластер «Машиностроение»
				</a>
			</li>
			<li>
				<a href="#oil">
					Кластер «В нефтяниках»
				</a>
			</li>
			<li>
				<a href="#links">
					Полезные ссылки
				</a>
			</li>
			<li>
				<a href="#interesting">
					Профессионалитет - это интересно!
				</a>
			</li>
		</ul>


		<h3 id="info" class="section-subtitle">
			«Профессионалитет» – ты в хорошей компании!
		</h3>
		<p>
			<b>Профессионалитет</b> — это образовательная программа в колледжах, которая позволит тебе стать высококвалифицированным специалистом на ведущем предприятии твоего региона, страны!
		</p>
		<p>
			Не упустите свой шанс быть в хорошей компании!
		</p>
		<div style="display: flex;flex-wrap: wrap;align-items: center;justify-content: center;gap: 25px;">
			<img class="customized" style="max-width: min(100%, 300px);"
			     src="~/images/projectsAndEvents/list/professionalitet.png" alt="">
			<video
				src="~/videos/projectsAndEvents/professionalitet/about.mp4"
				style="display: block; height: 320px; margin: 10px auto; border-radius: 15px;"
				controls></video>
		</div>


		<h3 id="for-student" class="section-subtitle">
			«Профессионалитет» для студента – это…
		</h3>
		<ul class="customized">
			<li>
				Актуальная рабочая профессия – в короткий срок
			</li>
			<li>
				Учеба по-новому – с упором на практику и IT
			</li>
			<li>
				Современные мастерские и высокотехнологическое оборудование, соответствующее будущему рабочему месту
			</li>
			<li>
				Стажировки и трудоустройство в ведущие компании региона, страны
			</li>
			<li>
				Компетентные преподаватели с практическим опытом
			</li>
			<li>
				Программы обучения, разработанные совместно с работодателями
			</li>
		</ul>


		<h3 id="mechanical-engineering" class="section-subtitle">
			Образовательно-производственный центр (кластер) по отрасли "Машиностроение"
		</h3>
		<p>
			По инициативе Правительства Омской области в 2023 году на базе БПОУ «Омский авиационный колледж им. Н.Е. Жуковского» создан
			образовательно-производственный центр (кластер) «На Космическом» по отрасли «Машиностроение» в партнерстве с <a asp-page="Partners">шестью предприятиями и семью колледжами</a> в рамках федерального проекта «Профессионалитет»
			национального проекта «Молодежь и дети».
		</p>
		<p>
			Обучение в рамках проекта осуществляется по обновленным <a asp-page="OPOPP">программам</a>, согласованным с работодателями, с акцентом на практическую подготовку.
		</p>
		<p>
			Для популяризации проекта в течение года реализуется комплекс профориентационных мероприятий во всех профессиональных образовательных организациях – членах образовательно-производственного центра (кластера) «На Космическом» по отрасли «Машиностроение»
		</p>
		
		<video class="customized" src="~/videos/projectsAndEvents/professionalitet/mechanical engineering cluster.mp4" controls></video>
		
		
		<h3 id="oil" class="section-subtitle">
			Образовательно-производственный центр (кластер) для топливно-энергетического комплекса "В Нефтяниках"
		</h3>
		<p>
			В 2025 году Омский авиационный колледж имени Н.Е. Жуковского вошел в состав <a href="https://www.ompec.ru/natsionalnye-proekty/education/professional_/o-proekte-fp-professionalitet/index.php">образовательно-производственного центра для топливно-энергетического комплекса «В Нефтяниках»</a> как сетевая организация в рамках подписанного <a href="https://www.ompec.ru/natsionalnye-proekty/education/professional_/dokumenty/index.php">соглашения</a> между Правительством Омской области и компанией «Газпромнефть - ОНПЗ».
		</p>
		<p>
			Студенты, обучающиеся по профессии «Электромонтер по ремонту и обслуживанию электрооборудования (по отраслям)», начиная 2025 года, будут обучаться по <a href="https://www.ompec.ru/natsionalnye-proekty/education/professional_/obrazovatelnye-programmy/index.php">новым программам</a>, разработанным с участием специалистов предприятия «Газпром нефть»
		</p>
		
		

		<h3 id="links" class="section-subtitle">
			Полезные ссылки
		</h3>
		<ul class="customized">
			<li>
				<a href="https://xn--n1abdr5c.xn--p1ai/" target="_blank">
					Официальный сайт ФП «Профессионалитет»
				</a>
			</li>
			<li>
				<a href="https://t.me/FP_professionalitet" target="_blank">
					Telegram-канал ФП «Профессионалитет»
				</a>
			</li>
			<li>
				<a href="https://vk.com/public212649371" target="_blank">
					Сообщество ВКонтакте
				</a>
			</li>
			<li>
				<a href="https://disk.yandex.ru/d/PETEvtYtXSOMyg" target="_blank">
					Брендбук проекта «Профессионалитет»
				</a>
			</li>
		</ul>


		<h3 id="interesting" class="section-subtitle">
			«Профессионалитет» - это интересно!
		</h3>
		<ul class="customized">
			<li>
				Мастер-классы
			</li>
			<li>
				Экскурсии на предприятия
			</li>
			<li>
				Родительские собрания
			</li>
			<li>
				Классные часы
			</li>
			<li>
				Профессиональные пробы
			</li>
			<li>
				Дни открытых дверей
			</li>
		</ul>
		<strong>
			«Профессионалитет» учит думать своими руками!
		</strong>
	</section>
	<aside id="sidebar" class="sidebar">
		<h3 class="sidebar-title">
			Профессионалитет
		</h3>
		<nav class="sidebar-body">
			<ul class="sidebar-links">
				<li class="sidebar-link sidebar-link-selected">
					<a asp-page="About">
						О профессионалитете
					</a>
				</li>
				<li class="sidebar-link">
					<a asp-page="Specialities">
						Специальности
					</a>
				</li>
				<li class="sidebar-link">
					<a asp-page="OPOPP">
						ОПОП-П
					</a>
				</li>
				<li class="sidebar-link">
					<a asp-page="Partners">
						Участники кластера
					</a>
				</li>
				<li class="sidebar-link">
					<a asp-page="ManagementCompany">
						Управляющая компания
					</a>
				</li>
				<li class="sidebar-link">
					<a asp-page="/applicant/AdmissionRules">
						Правила приёма
					</a>
				</li>
				<li class="sidebar-link">
					<a asp-page="UPK">
						Учебно-производственный комплекс
					</a>
				</li>
			</ul>
		</nav>
	</aside>
</div>