@page
@model ManagementCompanyModel
@{
	ViewData["Title"] = "Управляющая компания";
}


<div class="container content-page">
	<section class="content">
		<h2 class="section-title">
			Управляющая компания
		</h2>

		<ul class="documents-list">
			<li class="document-item">
				<div class="document-item-head">
					<a target="_blank"
					   href="~/documents/projectsAndEvents/professionalitet/programaDeitelnostiCentra.pdf">
					</a>
				</div>
				<div class="document-item-body">
					Программа деятельности центра
				</div>
			</li>
			<li class="document-item">
				<div class="document-item-head">
					<a target="_blank" href="~/documents/projectsAndEvents/professionalitet/Soglaschenie_npo mir.pdf">
					</a>
				</div>
				<div class="document-item-body">
					Соглашение
				</div>
			</li>
			<li class="document-item">
				<div class="document-item-head">
					<a target="_blank"
					   href="~/documents/projectsAndEvents/professionalitet/Pologenie_UK_s izmeneniyami.pdf">
					</a>
				</div>
				<div class="document-item-body">
					Положение по УК
				</div>
			</li>
			<li class="document-item">
				<div class="document-item-head">
					<a target="_blank" href="~/documents/projectsAndEvents/professionalitet/PlanOfWork.pdf">
					</a>
				</div>
				<div class="document-item-body">
					План работы УК
				</div>
			</li>
		</ul>

		<h4 class="section-subtitle-small">
			Председатель Управляющей компании
		</h4>
		<p>
			Титенко Владимир Владимирович, исполняющий обязанности директора БПОУ "Омский авиационный колледж имени Н.Е. Жуковского"
		</p>
		<h4 class="section-subtitle-small">
			Секретарь Управляющей компании
		</h4>
		<p>
			Корчагина Елена Анатольевна, заместитель директора БПОУ "Омский авиационный колледж имени Н.Е. Жуковского"
		</p>
		<h4 class="section-subtitle-small">
			Заместители председателя Управляющей компании
		</h4>
		<ul class="customized">
			<li>
				Лукьянов Игорь Вячеславович, первый заместитель Министра промышленности и научно-технического развития
				Омской области
			</li>
			<li>
				Гордиенко Оксана Александровна, заместитель начальника управления профессионального образования и
				опережающей подготовки кадров Министерства образования Омской области
			</li>
		</ul>
		<h4 class="section-subtitle-small">
			Члены управляющей компании
		</h4>
		<ul class="customized">
			<li>
				Варочко Алексей Григорьевич, генеральный директор АО "ГКНПЦ им. М.В. Хруничева
			</li>
			<li>
				Галямов Расим Насирович, генеральный директор АО "Омский ЭМЗ"
			</li>
			<li>
				Березовский Владимир Александрович, генеральный директор АО "ОНИИП"
			</li>
			<li>
				Беляев Александр Николаевич, генеральный директор ООО "НПО "Мир"
			</li>
			<li>
				Ивашкин Андрей Николаевич, генеральный директор АО "ЦКБА"
			</li>
			<li>
				Ковалев Василий Александрович, генеральный директор АО "Омсктрансмаш"
			</li>
			<li>
				Сафина Ольга Валерьевна, директор БПОУ "Омский многопрофильный техникум"
			</li>
			<li>
				Доржу Лариса Анатольевна, директор БПОУ "Омский государственный колледж управления и профессиональных
				технологий"
			</li>
			<li>
				Берестовский Александр Михайлович, директор БПОУ "Тарский индустриально-педагогический колледж"
			</li>
			<li>
				Шевченко Наталья Алексеевна исполняющий обязанности директора БПОУ "Сибирский профессиональный колледж"
			</li>
			<li>
				Коровин Сергей Викторович, директор БПОУ "Омский промышленно-экономический колледж"
			</li>
			<li>
				Заверуха Павел Николаевич, директор БПОУ "Омский монтажный техникум"
			</li>
			<li>
				Романенко Александр Викторович, директор БПОУ "Омский техникум строительства и лесного хозяйства"
			</li>
		</ul>


	</section>
	<aside id="sidebar" class="sidebar">
		<h3 class="sidebar-title">
			Профессионалитет
		</h3>
		<nav class="sidebar-body">
			<ul class="sidebar-links">
				<li class="sidebar-link">
					<a asp-page="About">
						О профессионалитете
					</a>
				</li>
				<li class="sidebar-link">
					<a asp-page="Specialities">
						Специальности
					</a>
				</li>
				<li class="sidebar-link">
					<a asp-page="OPOPP">
						ОПОП-П
					</a>
				</li>
				<li class="sidebar-link">
					<a asp-page="Partners">
						Участники кластера
					</a>
				</li>
				<li class="sidebar-link sidebar-link-selected">
					<a asp-page="ManagementCompany">
						Управляющая компания
					</a>
				</li>
				<li class="sidebar-link">
					<a asp-page="/applicant/AdmissionRules">
						Правила приёма
					</a>
				</li>
				<li class="sidebar-link">
					<a asp-page="UPK">
						Учебно-производственный комплекс
					</a>
				</li>
			</ul>
		</nav>
	</aside>
</div>