@page



@using OMAVIAT.RazorPages.Components.admin.Files
@model FilesModel
@{
	Layout = "/RazorPages/Shared/Panel.cshtml";
	ViewData["Title"] = "Управление файлами";
}

<link rel="stylesheet" href="~/css/panel/files.css" asp-append-version="true">

<section class="container">

	@(await Html.RenderComponentAsync<FilesComponent>(RenderMode.Server))

</section>
<script type="text/javascript" src="~/js/admin.js" charset="utf-8"></script>
<script type="text/javascript" src="/js/files.js" charset="utf-8"></script>

<aside id="logger" class="panel-message">👌 Расписание успешно обновлено 👌</aside>