@page
@model MySQLModel
@{
	ViewData["Title"] = "MySQL";
	Layout = "/RazorPages/Shared/Panel.cshtml";
}
<script src="~/js/panel.js" asp-append-version="true" charset="utf-8"></script>

<section class="container">
	<form id="news" class="panel-form" method="post" enctype="multipart/form-data">
		<label for="news" class="panel-form-title">
			Команды MySQL
		</label>

		<div class="input-box">
			<label for="MySQL-query">
				Ввод
			</label>
			<input id="MySQL-query" type="text">
		</div>

		<div class="input-box">
			<label for="MySQL-output">
				Вывод
			</label>
			<textarea readonly class="customized" id="MySQL-output"></textarea>
		</div>

		<button type="submit" class="customized" value="Отправить" onclick="SendCmd();return false" multiple>
			Отправить
		</button>

	</form>
</section>

<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<aside id="message-success" class="panel-message">👌 Команда успешно выполнена 👌</aside>
<aside id="message-fail-auth" class="panel-message">❌ Cессия истекла</aside>
<aside id="message-fail-perms" class="panel-message">❌ У вас нет прав или сессия истекла</aside>
<script type="text/javascript" src="/js/mysql.js" charset="utf-8"></script>
