@page
@model AcademicProgressModel
@{
    ViewData["Title"] = "Успеваемость";
}

<div class="container content-page">
    <section class="content">
        <a id="plane" class="plane" href="#sidebar"></a>
        <h2 class="section-title">
            Успеваемость
        </h2>

        <ul class="page-navigation">
            <li>
                <a href="#firstCourse">
                    1 курс
                </a>
            </li>
            <li>
                <a href="#secondCourse">
                    2 курс
                </a>
            </li>
            <li>
                <a href="#thirdCourse">
                    3 курс
                </a>
            </li>
            <li>
                <a href="#fourthCourse">
                    4 курс
                </a>
            </li>
        </ul>


        <div class="accordions-list">
            <div id="firstCourse" class="accordion">
                <div class="accordion-head">
                    Группы 1 курса
                </div>
                <div class="accordion-body">
                    <ul class="documents-list">
                        <li class="document-item">
                            <div class="document-item-head">
                                <a target="_blank" href="">
                                </a>
                            </div>
                            <div class="document-item-body">
                                АВ112
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div id="secondCourse" class="accordion">
                <div class="accordion-head">
                    Группы 2 курса
                </div>
                <div class="accordion-body">
                    <ul class="documents-list">
                        <li class="document-item">
                            <div class="document-item-head">
                                <a target="_blank" href="">
                                </a>
                            </div>
                            <div class="document-item-body">
                                АВ211
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div id="thirdCourse" class="accordion">
                <div class="accordion-head">
                    Группы 3 курса
                </div>
                <div class="accordion-body">
                    <ul class="documents-list">
                        <li class="document-item">
                            <div class="document-item-head">
                                <a target="_blank" href="">
                                </a>
                            </div>
                            <div class="document-item-body">
                                АВ310
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div id="fourthCourse" class="accordion">
                <div class="accordion-head">
                    Группы 4 курса
                </div>
                <div class="accordion-body">
                    <ul class="documents-list">
                        <li class="document-item">
                            <div class="document-item-head">
                                <a target="_blank" href="">
                                </a>
                            </div>
                            <div class="document-item-body">
                                БП419
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <aside id="sidebar" class="sidebar">
        <h3 class="sidebar-title">
            Родителям
        </h3>
        <nav class="sidebar-body">
            <ul class="sidebar-links">
                <li class="sidebar-link sidebar-link-selected">
                    <a href='@Url.Page("AcademicProgress")'>
                        Успеваемость
                    </a>
                </li>
                <li class="sidebar-link">
                    <a href='@Url.Page("EducationalProcessOrganization")'>
                        Организация учебного процесса в колледже
                    </a>
                </li>
                <li class="sidebar-link">
                    <a href='@Url.Page("ParentMeetings")'>
                        Прием родителей, родительские собрания
                    </a>
                </li>
                <li class="sidebar-link">
                    <a href='@Url.Page("PsychologicalPedagogicalSupport")'>
                        Психолого-педагогическое сопровождение
                    </a>
                </li>
            </ul>
        </nav>
    </aside>
</div>