@page
@using OAT.Pages.parents;
@model GradesModel
@{
    ViewData["Title"] = $"Успеваемость студента {Model.FullName}";
}

<div class="container content-page">
    <section class="content">
        <h2 class="section-title">
            Успеваемость студента @Model.FullName
        </h2>
        <table class="customized">
            <thead>
                <tr>
                    <th>
                        Дисциплина
                    </th>
                    @for (int i = 1; i <= DateTime.DaysInMonth(DateTime.Now.Year, DateTime.ParseExact(Model.month, "MMMM", System.Globalization.CultureInfo.CurrentCulture).Month); i++)
                    {
                        <th>
                            @i
                        </th>
                    }
                </tr>
            </thead>
            <tbody>
                @if (Model.Disciplines is not null)
                {
                    @foreach (var discipline in Model.Disciplines.Disciplines)
                    {
                        <tr>
                            <td>
                                @discipline.discipline
                            </td>
                            @foreach(var mark in discipline.marks)
                            {
                                <td>
                                    @mark
                                </td>
                            }
                        </tr>
                    }

                }
            </tbody>
        </table>
    </section>
</div>