@page
@model ParentMeetingsModel
@{
	ViewData["Title"] = "Прием родителей, родительские собрания";
}

<div class="container content-page">
	<section class="content">
		<a id="plane" class="plane" href="#sidebar"></a>
		<h2 class="section-title">
			Прием родителей, родительские собрания
		</h2>


		<h3 id="academic-year" class="section-subtitle">
			Беседа куратора со студентами и их родителями
		</h3>
		<p>
			Родители могут обратиться по любому вопросу к специалистам службы УВР колледжа.
		</p>
		<p class="time">
			ежедневно с 8.00 до 16.30
		</p>
		<p class="phone">
			30-52-93
		</p>
		<p>
			Общеколледжное собрание родителей студентов 1 курса проводится ежегодно каждый октябрь, собрание родителей выпускников – в мае. Родительские собрания учебных групп – по плану работы отделения, куратора.
		</p>

		<p>
			<b>Отделение ИТ</b>  <span class="phone">36-18-66 (доб. 340)</span>
		</p>
		<p>
			<b>Отделение ТАКПиЭ</b>  <span class="phone">36-04-64</span>
		</p>
		<p>
			<b>Отделение РТС</b>  <span class="phone">36-18-66</span>
		</p>
		<p>
			<b>Отделение ЭиСР</b>  <span class="phone">23-63-56</span>
		</p>
		<p>
			<b>Отделение ОТМ</b>  <span class="phone">21-10-17</span>
		</p>
	</section>
	<aside id="sidebar" class="sidebar">
		<h3 class="sidebar-title">
			Родителям
		</h3>
		<nav class="sidebar-body">
			<ul class="sidebar-links">
				<li class="sidebar-link">
					<a href='@Url.Page("AcademicProgress")'>
						Успеваемость
					</a>
				</li>
				<li class="sidebar-link">
					<a href='@Url.Page("EducationalProcessOrganization")'>
						Организация учебного процесса в колледже
					</a>
				</li>
				<li class="sidebar-link sidebar-link-selected">
					<a href='@Url.Page("ParentMeetings")'>
						Прием родителей, родительские собрания
					</a>
				</li>
				<li class="sidebar-link">
					<a href='@Url.Page("PsychologicalPedagogicalSupport")'>
						Психолого-педагогическое сопровождение
					</a>
				</li>
			</ul>
		</nav>
	</aside>
</div>