@page
@model PsychologicalPedagogicalSupportModel
@{
    ViewData["Title"] = "Психолого-педагогическое сопровождение";
}

<div class="container content-page">
    <section class="content">
        <a id="plane" class="plane" href="#sidebar"></a>
        <h2 class="section-title">
            Психолого-педагогическое сопровождение
        </h2>

        <ul class="page-navigation">
            <li>
                <a href="#directions">
                    Направления
                </a>
            </li>
            <li>
                <a href="#recommendations">
                    Рекомендации
                </a>
            </li>
            <li>
                <a href="#feedback">
                    Обратная связь
                </a>
            </li>
        </ul>


        <h3 id="directions" class="section-subtitle">
            Направления
        </h3>
        <p>
            Психолого-педагогическое сопровождение наших студентов включает три основных направления:
        </p>
        <ol class="customized">
            <li>
                Психодиагностическое - оценка психологических свойств, процессов, состояний и индивидуально-психологических характеристик личности при помощи специальных, научно проверенных методов, позволяющих получить достоверную информацию
            </li>
            <li>
                Профилактика правонарушений, вредных зависимостей у студентов
            </li>
            <li>
                Консультативное – профессиональное консультирование родителей, студентов, педагогов колледжа по вопросам решения конфликтов, затруднений в межличностном общении и взаимодействии
            </li>
        </ol>


        <h3 id="recommendations" class="section-subtitle">
            Рекомендации
        </h3>
        <p>
            Ваш ребенок перешел на новую ступень своей жизни, теперь одна из его главных социальных ролей - это роль студента. Данный этап ответственный и для Вас. Будучи подростком, Ваш ребенок теперь нередко отказывается от родительской помощи, ссылаясь на собственную "самостоятельность", при этом часто совершает ошибки. Он предпочитает общаться со сверстниками, а проблема обучения уходит на второй план. От грамотных действий родителей во многом зависит, насколько безболезненно будет протекать переходный период из детства во взрослую жизнь, а также насколько органично он сможет вписаться в в новую для себя образовательную среду.
        </p>
        <p>
            <b>
                Предлагаю Вам некоторые психологические рекомендации:
            </b>
        </p>
        <ul class="customized">
            <li>
                Мы должны понимать, что подростковый возраст - это переход от от полной зависимости к самостоятельности и ответственности. В этот период к студентам предъявляются очень высокие требования к интеллектуальному, социальному и личностному развитию, к чему готов не каждый подросток, ведь уровень психического развития у всех разный.
            </li>
            <li>
                Недопустимы (даже в критических ситуациях) грубость, унижение, злость. Именно такое поведение родителей заставляет подростков идти на улицу в компанию сверстников, играть на компьютере, тратить время на виртуальное общение и т.д. Помните, что постоянные нотации и нравоучения со временем становятся бессмысленными, подросток просто перестает их слышать.
            </li>
            <li>
                Главное в общении с подростками - сохранить контакт и доверительные отношения. Старайтесь быть в курсе его дел (занятий, увлечений, круга друзей, места прогулок), но не устраивайте допросов и мелочного контроля.
            </li>
            <li>
                Помните. что выражать недовольство можно в отношении поступка, но не Вашего ребенка, как личности. не забывайте волшебные слова "Я ТЕБЯ ПОНИМАЮ", "Я ВИЖУ ЧТО ТЕБЕ ПЛОХО" и т.д.
            </li>
            <li>
                Берите на себя только те дела, с которыми подросток действительно не сможет справиться сам. Позволяйте ему сталкиваться с отрицательными последствиями собственных действий.
            </li>
            <li>
                Правила ограничения, запреты должны быть в каждой семье и обязательно они должны быть согласованы обоими родителями между собой.
            </li>
            <li>
                Чаще хвалите своего ребенка, любите его безусловно, то есть не за его поступки, а за то что он есть.
            </li>
        </ul>
        <img class="customized" src="~/images/parents/psychologicalPedagogicalSupport/happyFamily.jpg" alt="счастливая семья">


        <h3 id="feedback" class="section-subtitle">
            По вопросам обращаться
        </h3>
        <div class="question-contact">
            <div class="question-contact-head">
                <a class="question-contact-head-img-container" href="">
                    <img src="~/images/basic/unnamed.jpg">
                </a>
                <p class="question-contact-head-fio">Фамилия Имя Отчество</p>
                <p class="question-contact-head-post">
                    Социальный педагог
                </p>
            </div>
            <div class="question-contact-body">
                <p class="question-contact-body-address">адрес</p>
                <p class="question-contact-body-phone">+7 (0000) 00-00-00</p>
                <p class="question-contact-body-time">кабинет и расписание</p>
            </div>
        </div>
    </section>
    <aside id="sidebar" class="sidebar">
        <h3 class="sidebar-title">
            Родителям
        </h3>
        <nav class="sidebar-body">
            <ul class="sidebar-links">
                <li class="sidebar-link sidebar-link-selected">
                    <a href='@Url.Page("AcademicProgress")'>
                        Успеваемость
                    </a>
                </li>
                <li class="sidebar-link">
                    <a href='@Url.Page("EducationalProcessOrganization")'>
                        Организация учебного процесса в колледже
                    </a>
                </li>
                <li class="sidebar-link">
                    <a href='@Url.Page("ParentMeetings")'>
                        Прием родителей, родительские собрания
                    </a>
                </li>
                <li class="sidebar-link">
                    <a href='@Url.Page("PsychologicalPedagogicalSupport")'>
                        Психолого-педагогическое сопровождение
                    </a>
                </li>
            </ul>
        </nav>
    </aside>
</div>