@page
@model PsychologicalPedagogicalSupportModel
@{
	ViewData["Title"] = "Психолого-педагогическое сопровождение";
}

<div class="container content-page">
	<section class="content">
		<a id="plane" class="plane" href="#sidebar"></a>
		<h2 class="section-title">
			Психолого-педагогическое сопровождение
		</h2>

		<ul class="page-navigation">
			<li>
				<a href="#directions">
					Направления
				</a>
			</li>
			<li>
				<a href="#helpful">
					Полезно
				</a>
			</li>
			<li>
				<a href="#testing">
					Всероссийское тестирование
				</a>
			</li>
			<li>
				<a href="#documents">
					Документы
				</a>
			</li>
			<li>
				<a href="#feedback">
					Обратная связь
				</a>
			</li>
		</ul>


		<h3 id="directions" class="section-subtitle">
			Направления
		</h3>
		<p>
			Психолого-педагогическое сопровождение наших студентов включает три основных направления:
		</p>
		<ol class="customized">
			<li>
				Психодиагностическое - оценка психологических свойств, процессов, состояний и индивидуально-психологических характеристик личности при помощи специальных, научно проверенных методов, позволяющих получить достоверную информацию
			</li>
			<li>
				Профилактика правонарушений, вредных зависимостей у студентов
			</li>
			<li>
				Консультативное – профессиональное консультирование родителей, студентов, педагогов колледжа по вопросам решения конфликтов, затруднений в межличностном общении и взаимодействии
			</li>
		</ol>


		<h3 id="helpful" class="section-subtitle">
			Полезная информация
		</h3>
		<h4 class="section-subtitle-small">
			Рекомендации
		</h4>
		<p>
			Ваш ребенок перешел на новую ступень своей жизни, теперь одна из его главных социальных ролей - это роль студента. Данный этап ответственный и для Вас. Будучи подростком, Ваш ребенок теперь нередко отказывается от родительской помощи, ссылаясь на собственную "самостоятельность", при этом часто совершает ошибки. Он предпочитает общаться со сверстниками, а проблема обучения уходит на второй план. От грамотных действий родителей во многом зависит, насколько безболезненно будет протекать переходный период из детства во взрослую жизнь, а также насколько органично он сможет вписаться в в новую для себя образовательную среду.
		</p>
		<p>
			<b>
				Мы предлагаем Вам некоторые психологические рекомендации:
			</b>
		</p>
		<ul class="customized">
			<li>
				Мы должны понимать, что подростковый возраст - это переход от от полной зависимости к самостоятельности и ответственности. В этот период к студентам предъявляются очень высокие требования к интеллектуальному, социальному и личностному развитию, к чему готов не каждый подросток, ведь уровень психического развития у всех разный.
			</li>
			<li>
				Недопустимы (даже в критических ситуациях) грубость, унижение, злость. Именно такое поведение родителей заставляет подростков идти на улицу в компанию сверстников, играть на компьютере, тратить время на виртуальное общение и т.д. Помните, что постоянные нотации и нравоучения со временем становятся бессмысленными, подросток просто перестает их слышать.
			</li>
			<li>
				Главное в общении с подростками - сохранить контакт и доверительные отношения. Старайтесь быть в курсе его дел (занятий, увлечений, круга друзей, места прогулок), но не устраивайте допросов и мелочного контроля.
			</li>
			<li>
				Помните, что выражать недовольство можно в отношении поступка, но не Вашего ребенка, как личности. не забывайте волшебные слова "Я ТЕБЯ ПОНИМАЮ", "Я ВИЖУ ЧТО ТЕБЕ ПЛОХО" и т.д.
			</li>
			<li>
				Берите на себя только те дела, с которыми подросток действительно не сможет справиться сам. Позволяйте ему сталкиваться с отрицательными последствиями собственных действий.
			</li>
			<li>
				Правила ограничения, запреты должны быть в каждой семье и обязательно они должны быть согласованы обоими родителями между собой.
			</li>
			<li>
				Чаще хвалите своего ребенка, любите его безусловно, то есть не за его поступки, а за то что он есть.
			</li>
		</ul>
		<img class="customized" src="~/images/parents/psychologicalPedagogicalSupport/happyFamily.jpg" alt="счастливая семья">
		<h4 class="section-subtitle-small">
			Телефоны
		</h4>
		<ul class="customized">
			<li>
				Экстренная психологическая помощь в России для детей, подростков и их родителей: 8-800-2000-122 (круглосуточно, анонимно, бесплатно и ежедневно)
			</li>
			<li>
				«Городской центр психолого-педагогической, медицинской и социальной помощи» города Омска: телефон горячей линии 56-53-42 (ПН-ПТ 13:30-17:30, СБ 9:00-13:00)
			</li>
			<li>
				Психологическая поддержка родителей Омской области: (3812) 777-779 (Социально-психологическая служба)
			</li>
			<li>
				БУЗ ОО «КПБ им. Н.Н. Солодникова», ул. Куйбышева 30. Тел. Доверия психолога/психиатра 56-56-65, вызов скорой психиатрической помощи 56-68-03
			</li>
		</ul>


		<h3 id="testing" class="section-subtitle">
			Всероссийское тестирование
		</h3>
		<p>
			<b>Уважаемые родители!</b> Ежегодно проводится всероссийское тестирование (далее – ЕМ СПТ) социально значимых характеристик личности современных школьников и студентов. Тестированию подлежат обучающиеся всех без исключения профессиональных образовательных организаций.
		</p>
		<p>
			Результаты тестирования позволяют определять как наиболее сильные и ресурсные стороны личности обучающихся, так и особенности поведения в стрессовой ситуации, различные формы рискового поведения. Анализ результатов тестирования поможет организовать профилактические мероприятия для обеспечения психологического благополучия личности обучающихся, оказать им своевременную психолого-педагогическую помощь и поддержку.
		</p>
		<p>
			<b>Нормативно-правовые документы, регламентирующие организацию и проведение СПТ:</b>
		</p>
		<ul class="customized">
			<li>
				Закон «О наркотических средствах и психотропных веществах» от 08.01.1998 г. №3 – ФЗ, п.1, ст. 53.4 «Раннее выявление … -форма профилактики…включает СПТ и медицинские осмотры»
			</li>
			<li>
				Закон «Об образовании в Российской Федерации» от 29.12.2012 г. №273 – ФЗ, пункт 15.1 часть 3 статья 28 – обязанность ОО проводить СПТ
			</li>
			<li>
				Приказ Минпросвещения России «Об утверждении Порядка проведения социально-психологического тестирования обучающихся в общеобразовательных организациях и профессиональных образовательных организациях» №59
				от 20 февраля 2020 года
			</li>
			<li>
				Приказ Минобрнауки России «Об утверждении Порядка проведения социально-психологического тестирования обучающихся в образовательных организациях высшего образования» №239 от 20 февраля 2020 года
			</li>
			<li>
				Распоряжение Министерства образования Омской области №2901 от 23.08.2023 г.  «Об организации проведения социально-психологического тестирования обучающихся в общеобразовательных организациях, профессиональных образовательных организациях, организациях высшего образования, расположенных на территории Омской области,
				в 2023-2024 учебном году»
			</li>
		</ul>
		<p>
			Кроме того, в целях осуществления мониторинга распространения в информационно-телекомуникациионных сетях, включая сеть «Интернет», информации, склоняющей или иным образом побуждающей несовершеннолетних к совершению действий (деструктивному поведению), представляющих угрозу их жизни и (или) здоровью, а также жизни и (или) здоровью иных лиц, Бюджетное учреждение Омской области «Центр психолого-медико-социального сопровождения», являющееся региональным оператором, ежегодно проводит мониторинг социальных сетей обучающихся.
		</p>


		<h3 id="documents" class="section-subtitle">
			Документы
		</h3>
		<ul class="documents-list little">
			<li class="document-item">
				<div class="document-item-head">
					<a target="_blank" href="~/documents/parents/psychologicalPedagogicalSupport/Положение_о_социально_психологической_службе_Документ_Microsoft.docx">
					</a>
				</div>
				<div class="document-item-body">
					Положение о социально психологической службе
				</div>
			</li>
		</ul>


		<h3 id="feedback" class="section-subtitle">
			По вопросам обращаться
		</h3>
		<p>
			<b>Отделения ИТ и РТС:</b> ул. Ленина, 24, педагог-психолог Баклушина Анна Анатольевна, каб. 206
		</p>
		<p>
			<b>Отделения ППКРС и ТАКПиЭ:</b> ул. Космический проспект, 14 А, педагог-психолог Стукановская София Андреевна, каб. 406
		</p>
		<p>
			<b>Отделения ТМ и ЭиСР:</b> ул. Волховстроя, 5, педагог-психолог Богачева Дарья Андреевна, каб. 108/105
		</p>

	</section>
	<aside id="sidebar" class="sidebar">
		<h3 class="sidebar-title">
			Родителям
		</h3>
		<nav class="sidebar-body">
			<ul class="sidebar-links">
				<li class="sidebar-link">
                    <a asp-page="AcademicProgress">
						Успеваемость
					</a>
				</li>
				<li class="sidebar-link">
                    <a asp-page="EducationalProcessOrganization">
						Организация учебного процесса в колледже
					</a>
				</li>
				<li class="sidebar-link">
                    <a asp-page="ParentMeetings">
						Прием родителей, родительские собрания
					</a>
				</li>
				<li class="sidebar-link sidebar-link-selected">
                    <a asp-page="PsychologicalPedagogicalSupport">
						Психолого-педагогическое сопровождение
					</a>
				</li>
			</ul>
		</nav>
	</aside>
</div>