@page
@model AviaStartSaturnModel
@{
	ViewData["Title"] = "АвиаСтарт Сатурна";
}

<section class="centered">

	<h2 class="section-title">
		АвиаСтарт Сатурна
	</h2>
	
	<ul class="page-navigation">
		<li>
			<a href="#info">
				О проекте
			</a>
		</li>
		<li>
			<a href="#requirements">
				Требования
			</a>
		</li>
		<li>
			<a href="#advantages">
				Преимущества
			</a>
		</li>
		<li>
			<a href="#registration">
				Регистрация
			</a>
		</li>
		<li>
			<a href="#specialities">
				Специальности и профессии
			</a>
		</li>
		<li>
			<a href="#partner">
				О партнере проекта
			</a>
		</li>
		<li>
			<a href="#presentation">
				Презентация
			</a>
		</li>
	</ul>
	
	
	<h3 id="info" class="section-subtitle">
		О проекте
	</h3>
	<img src="~/images/projectsAndEvents/list/aviaStartSaturn.png"
	     class="customized"
	     style="max-width: min(100%, 475px); margin: 0 auto;"/>
	<p>
		<b>Проект «АвиаСтарт Сатурна»</b> - это практикоориентированная образовательная программа подготовки мультиквалифицированных специалистов, реализуемая в рамках соглашения о сотрудничестве между ГК «Ростех» и Правительством Омской области и договора о сетевой форме реализации образовательных программ между Омским авиационным колледжем имени Н.Е. Жуковского» и филиалом ПАО «ОДК-Сатурн» - ОМКБ.
	</p>

	<h3 id="requirements" class="section-subtitle">
		Требования к поступающим для заключения договора о целевом обучении
	</h3>
	<ul class="customized">
		<li>
			средний балл аттестата не ниже 4
		</li>
		<li>
			учет индивидуальных достижений (начисление дополнительных баллов за индивидуальные достижения)
		</li>
	</ul>
	
	<h3 id="advantages" class="section-subtitle">
		Преимущества обучения
	</h3>
	<ul class="customized">
		<li>
			повышенная стипендия от предприятия (6 000 – 8 000 рублей до первой сессии в зависимости от среднего балла аттестата, 8 000 - 10 000 рублей в зависимости от успеваемости по результатам сессии, 1000 рублей за наличие не более двух оценок «удовлетворительно»)
		</li>
		<li>
			получение 6 (!) рабочих профессий
		</li>
		<li>
			гарантированное трудоустройство на предприятия ОДК
		</li>
		<li>
			возможность получения высшего образования в рамках проекта «Крылья Ростеха»
		</li>
	</ul>
	
	
	<h3 id="registration" class="section-subtitle">
		Регистрация для участия в проекте «АвиаСтарт Сатурна»
	</h3>
	<a target="_blank" href="https://forms.yandex.ru/u/66a097455d2a06f6df60f3be/">
		<img src="~/images/projectsAndEvents/aviaStartSaturn/registration.png" style="max-width: min(300px, 100%);"
		     class="customized"/>
	</a>
	
	<h3 id="specialities" class="section-subtitle">
		Специальности и профессии
	</h3>
	
	<table class="customized">
			<thead>
			<tr>
				<th rowspan="2">
					Наименование специальности
				</th>
				<th rowspan="2">
					Количество бюджетных мест в 2025 году
				</th>
				<th colspan="8">
					Рабочие профессии
				</th>
			</tr>
			<tr>
				<th>
					Слесарь механосборочных работ
				</th>
				<th>
					Токарь
				</th>
				<th>
					Слесарь-сборщик двигателей и агрегатов
				</th>
				<th>
					Оператор станков с программным управлением
				</th>
				<th>
					Фрезеровщик
				</th>
				<th>
					Контролер станочных и слесарных работ
				</th>
				<th>
					Шлифовщик
				</th>
				<th>
					Контролер сборочно-монтажных и ремонтных работ
				</th>
			</tr>
			</thead>
			<tbody>
			<tr>
				<td>
					<b>24.02.02 Производство авиационных двигателей</b>
					<br/>
					3 года 10 месяцев
				</td>
				<td>
					25
				</td>
				<td>
					+
				</td>
				<td>
					+
				</td>
				<td>
					+
				</td>
				<td>
					
				</td>
				<td>
					+
				</td>
				<td>
					+
				</td>
				<td>
					+
				</td>
				<td>
					
				</td>
			</tr>
			<tr>
				<td>
					<b>15.02.16 Технология машиностроения</b>
					<br/>
					3 года 10 месяцев
				</td>
				<td>
					25
				</td>
				<td>
					+
				</td>
				<td>
					+
				</td>
				<td>
					
				</td>
				<td>
					+
				</td>
				<td>
					+
				</td>
				<td>
					+
				</td>
				<td>
					+
				</td>
				<td>
					
				</td>
			</tr>
			<tr>
				<td>
					<b>15.02.09 Аддитивные технологии</b>
					<br/>
					3 года 10 месяцев
				</td>
				<td>
					25
				</td>
				<td>
					+
				</td>
				<td>
					+
				</td>
				<td>
					
				</td>
				<td>
					+
				</td>
				<td>
					+
				</td>
				<td>
					+
				</td>
				<td>
					+
				</td>
				<td>
					
				</td>
			</tr>
			<tr>
				<td>
					<b>15.01.29 Контролер качества в машиностроении</b>
					<br/>
					2 года 10 месяцев
				</td>
				<td>
					25
				</td>
				<td>
					
				</td>
				<td>
					
				</td>
				<td>
					
				</td>
				<td>
					
				</td>
				<td>
					
				</td>
				<td>
					+
				</td>
				<td>
					
				</td>
				<td>
					+
				</td>
			</tr>
			</tbody>
		</table>
	
	<h3 id="partner" class="section-subtitle">
		О партнере проекта
	</h3>
	<h4 class="section-subtitle-small">
		ПАО «ОДК-Сатурн»
	</h4>
	<p>
		<b>ПАО «ОДК-Сатурн»</b> – двигателестроительная компания, специализируется на разработке, производстве и послепродажном обслуживании газотурбинных двигателей для гражданской авиации, энергогенерирующих и газоперекачивающих установок, кораблей и судов. 
	</p>
	<p>
		ПАО «ОДК-Сатурн» входит в состав АО «Объединенная двигателестроительная корпорация».
	</p>
	<p>
		<i>
			ПАО «ОДК-Сатурн» является членом Общероссийского отраслевого объединения работодателей «Союз машиностроителей России».
		</i>
	</p>
	<img class="customized" src="~/images/projectsAndEvents/aviaStartSaturn/odkSaturn.png" alt=""/>
	<h4 class="section-subtitle-small">
		Филиал ПАО «ОДК-Сатурн» - ОМКБ
	</h4>
	<p>
		<b>Филиал ПАО «ОДК-Сатурн» - ОМКБ</b> – специализируется на разработке, производстве и послепродажном обслуживании газотурбинных двигателей и вспомогательных силовых установок. 
	</p>
	<img class="customized" src="~/images/projectsAndEvents/aviaStartSaturn/odk.svg" alt=""/>
	<h4 class="section-subtitle-small">
		АО «Объединенная двигателестроительная корпорация»
	</h4>
	<p>
		<b>АО «Объединенная двигателестроительная корпорация»</b> (входит в Госкорпорацию Ростех) – интегрированная структура, специализирующаяся на разработке, серийном изготовлении и сервисном обслуживании двигателей для военной и гражданской авиации, космических программ и военно-морского флота, а также нефтегазовой промышленности и энергетики.
	</p>
	<h4 class="section-subtitle-small">
		Госкорпорация Ростех
	</h4>
	<p>
		<b>Госкорпорация Ростех</b> – крупнейшая промышленная компания России. Объединяет порядка 800 научных и производственных организаций в 60 регионах страны. Ключевые направления деятельности – авиастроение, радиоэлектроника, медицинские технологии, инновационные материалы и др. Продукция корпорации поставляется более чем в 100 стран мира. Почти треть выручки компании обеспечивает экспорт высокотехнологичной продукции.
	</p>
	<img class="customized" style="border-radius: 0;" src="~/images/projectsAndEvents/aviaStartSaturn/rostex.svg" alt=""/>
	
	<h3 id="presentation" class="section-subtitle">
		Презентация спецпроекта «АвиаСтарт Сатурна»
	</h3>
	<p>
		Хотите узнать подробнее о проекте "АвиаСтарт Сатурна" - нажмите на фотографию снизу
	</p>
	<a target="_blank" href="~/documents/projectsAndEvents/aviaStartSaturn/presentation.pdf">
		<img class="customized" style="max-width:  min(100%, 600px);" src="~/images/projectsAndEvents/aviaStartSaturn/presentation.png" alt=""/>
	</a>
</section>
