@page
@model DemographyModel
@{
	ViewData["Title"] = "Национальные проекты России | Демография";
}

<link rel="stylesheet" href="~/css/projectsAndEvents/demography.css" asp-append-version="true">

<section class="centered">

	<h2 class="section-title">
		Национальные проекты России | Демография
	</h2>

	<ul class="page-navigation">
		<li>
			<a href="#info">
				Основная информация
			</a>
		</li>
		<li>
			<a href="#education">
				Региональный оператор обучения
			</a>
		</li>
		<li>
			<a href="#omaviat">
				Компетенции центра обучения БПОУ "Омавиат"
			</a>
		</li>
	</ul>


	<h3 id="info" class="section-subtitle">
		Основная информация
	</h3>
	<p>
		В 2021 году Омская область принимает участие в организации профессионального обучения и дополнительного
		профессионального образования отдельных категорий граждан в рамках <a
			href="https://mintrud.gov.ru/ministry/programms/demography/2/prof_learn" target="_blank">Федерального
			проекта «Содействие занятости» национального проекта «Демография»</a>.
	</p>
	<p>
		Обучение будет проходить на площадках, оборудованных по стандартам Ворлдскиллс Россия.
	</p>


	<h3 id="education" class="section-subtitle">
		Региональный оператор обучения
	</h3>
	<p>
		<b>Региональным оператором обучения является бюджетное профессиональное образовательное учреждение Омский
			"авиационный колледж имени Н.Е. Жуковского"</b>
	</p>
	<p>
		В Омской области обучение по программе организовано:
	</p>
	<ul class="customized">
		<li>
			в 14 образовательных центрах обучения
		</li>
		<li>
			по 24 профессиональным компетенциям
		</li>
	</ul>
	<h4 class="section-subtitle-small">
		Компетенции
	</h4>

	<!-- 24 компетенции, стилизованных особым образом. Для этого был создан отдельный файл css -->

	<h4 class="section-subtitle-small">
		Обучение для слушателей - бесплатное
	</h4>
	<p>
		Вы можете участвовать, если относитесь к одной из категорий лиц:
	</p>
	<ul class="customized">
		<li>
			гражданин, ищущий работу
		</li>
		<li>
			безработный гражданин
		</li>
		<li>
			гражданин в возрасте 50 лет и старше
		</li>
		<li>
			гражданин предпенсионного возраста
		</li>
		<li>
			женщина, находящаяся в отпуске по уходу за ребенком в возрасте до 3 лет
		</li>
		<li>
			женщина, не состоящая в трудовых отношениях и имеющая детей дошкольного возраста
		</li>
	</ul>
	<p>
		Продолжительность обучения 72/144/256 часов.
	</p>
	<p>
		<a href="https://express.worldskills.ru/" target="_blank">
			Зарегистрироваться на обучение
		</a>
	</p>
	<h4 class="section-subtitle-small">
		Справки по телефонам в рабочее время
	</h4>
	<p class="phone">
		(3812) 31-16-39 (городской)
	</p>
	<p class="phone">
		(3812) 31-73-55 (городской)
	</p>
	<p class="phone">
		8 (950) 215-74-64 (WhatsApp)
	</p>


	<h3 id="omaviat" class="section-subtitle">
		Компетенции центра обучения БПОУ "Омавиат"
	</h3>
	<h4 class="section-subtitle-small">
		Сетевое и системное администрирование
	</h4>
	<img class="customized" src="~/images/projectsAndEvents/demography/administration.png" alt="">
	<table class="customized">
		<thead>
		<tr>
			<th colspan="6">
				группа 3373
			</th>
		</tr>
		<tr>
			<th>
				Программа обучения
			</th>
			<th>
				Компетенция
			</th>
			<th>
				Дата начала обучения
			</th>
			<th>
				Дата завершения обучения
			</th>
			<th>
				Количество слушателей
			</th>
			<th>
				Трудоустроены
			</th>
		</tr>
		</thead>
		<tbody>
		<tr>
			<td>
				Дополнительная профессиональная программа профессиональной переподготовки "Выполнение работ по настройке
				сетевой инфраструктуры предприятия (с учетом стандарта Ворлдскиллс по компетенции "Сетевое и системное
				администрирование (Ворлдскиллс)")" - 256 ч.
			</td>
			<td>
				Сетевое и системное администрирование (Ворлдскиллс)(категория "Информационные и коммуникационные
				технологии")
			</td>
			<td>
				30 сентября 2021 г.
			</td>
			<td>
				27 ноября 2021 г.
			</td>
			<td>
				8
			</td>
			<td>

			</td>
		</tr>
		</tbody>
	</table>
	<h4 class="section-subtitle-small">
		Обслуживание авиационной техники
	</h4>
	<img class="customized" src="~/images/projectsAndEvents/demography/aviation.png" alt="">
	<table class="customized">
		<thead>
		<tr>
			<th colspan="6">
				группа 1197
			</th>
		</tr>
		<tr>
			<th>
				Программа обучения
			</th>
			<th>
				Компетенция
			</th>
			<th>
				Дата начала обучения
			</th>
			<th>
				Дата завершения обучения
			</th>
			<th>
				Количество слушателей
			</th>
			<th>
				Трудоустроены
			</th>
		</tr>
		</thead>
		<tbody>
		<tr>
			<td>
				Дополнительная профессиональная программа повышения квалификации "Осмотр и проверка технического
				состояния авиационных двигателей" (с учетом стандарта Ворлдскиллс по компетенции "Обслуживание
				авиационной техники (Ворлдскиллс)")" - 144 ч.
			</td>
			<td>
				Обслуживание авиационной техники (Ворлдскиллс)(категория "Транспорт и логистика")
			</td>
			<td>
				2 августа 2021 г.
			</td>
			<td>
				11 ноября 2021 г.
			</td>
			<td>
				14
			</td>
			<td>
			</td>
		</tr>
		</tbody>
	</table>
	<h4 class="section-subtitle-small">
		Сварочные технологии
	</h4>
	<img class="customized" src="~/images/projectsAndEvents/demography/welding.png" alt="">
	<table class="customized">
		<thead>
		<tr>
			<th colspan="6">
				группа 2636
			</th>
		</tr>
		<tr>
			<th>
				Программа обучения
			</th>
			<th>
				Компетенция
			</th>
			<th>
				Дата начала обучения
			</th>
			<th>
				Дата завершения обучения
			</th>
			<th>
				Количество слушателей
			</th>
			<th>
				Трудоустроены
			</th>
		</tr>
		</thead>
		<tbody>
		<tr>
			<td>
				Основная программа профессионального обучения по профессии/по должности "Сварщик ручной дуговой сварки
				плавящимся покрытым электродом" (переподготовка) с учетом стандарта Ворлдскиллс по компетенции
				"Сварочные технологии (Ворлдскиллс)" - 144 ч.
			</td>
			<td>
				Сварочные технологии (Ворлдскиллс)(категория "Производство и инженерные технологии")
			</td>
			<td>
				21 сентября 2021 г.
			</td>
			<td>
				11 ноября 2021 г.
			</td>
			<td>
				9
			</td>
			<td>
			</td>
		</tr>
		</tbody>
	</table>
	<table class="customized">
		<thead>
		<tr>
			<th colspan="6">
				группа 3370
			</th>
		</tr>
		<tr>
			<th>
				Программа обучения
			</th>
			<th>
				Компетенция
			</th>
			<th>
				Дата начала обучения
			</th>
			<th>
				Дата завершения обучения
			</th>
			<th>
				Количество слушателей
			</th>
			<th>
				Трудоустроены
			</th>
		</tr>
		</thead>
		<tbody>
		<tr>
			<td>
				Основная программа профессионального обучения по профессии/по должности "Сварщик ручной дуговой сварки
				плавящимся покрытым электродом" (переподготовка) с учетом стандарта Ворлдскиллс по компетенции
				"Сварочные технологии (Ворлдскиллс)" - 144 ч.
			</td>
			<td>
				Сварочные технологии (Ворлдскиллс)(категория "Производство и инженерные технологии")
			</td>
			<td>
				5 октября 2021 г.
			</td>
			<td>
				30 ноября 2021 г.
			</td>
			<td>
				8
			</td>
			<td>
			</td>
		</tr>
		</tbody>
	</table>
	<h4 class="section-subtitle-small">
		Токарные работы на станках с ЧПУ
	</h4>
	<img class="customized" src="~/images/projectsAndEvents/demography/machineTool.png" alt="">
	<table class="customized">
		<thead>
		<tr>
			<th colspan="6">
				группа 1083
			</th>
		</tr>
		<tr>
			<th>
				Программа обучения
			</th>
			<th>
				Компетенция
			</th>
			<th>
				Дата начала обучения
			</th>
			<th>
				Дата завершения обучения
			</th>
			<th>
				Количество слушателей
			</th>
			<th>
				Трудоустроены
			</th>
		</tr>
		</thead>
		<tbody>
		<tr>
			<td>
				Дополнительная профессиональная программа повышения квалификации "Программирование и изготовление
				деталей на токарных станках с ЧПУ" (с учетом стандарта Ворлдскиллс по компетенции "Токарные работы на
				станках с ЧПУ (Ворлдскиллс)")" - 144 ч.
			</td>
			<td>
				Токарные работы на станках с ЧПУ (Ворлдскиллс)(категория "Производство и инженерные технологии")
			</td>
			<td>
				21 июля 2021 г.
			</td>
			<td>
				21 августа 2021 г.
			</td>
			<td>
				8
			</td>
			<td>
				8
			</td>
		</tr>
		</tbody>
	</table>
	<table class="customized">
		<thead>
		<tr>
			<th colspan="6">
				группа 2156
			</th>
		</tr>
		<tr>
			<th>
				Программа обучения
			</th>
			<th>
				Компетенция
			</th>
			<th>
				Дата начала обучения
			</th>
			<th>
				Дата завершения обучения
			</th>
			<th>
				Количество слушателей
			</th>
			<th>
				Трудоустроены
			</th>
		</tr>
		</thead>
		<tbody>
		<tr>
			<td>
				Дополнительная профессиональная программа повышения квалификации "Программирование и изготовление
				деталей на токарных станках с ЧПУ" (с учетом стандарта Ворлдскиллс по компетенции "Токарные работы на
				станках с ЧПУ (Ворлдскиллс)")" - 144 ч.
			</td>
			<td>
				Токарные работы на станках с ЧПУ (Ворлдскиллс)(категория "Производство и инженерные технологии")
			</td>
			<td>
				9 сентября 2021 г.
			</td>
			<td>
				19 октября 2021 г.
			</td>
			<td>
				8
			</td>
			<td>
				8
			</td>
		</tr>
		</tbody>
	</table>
</section>
