@page
@model MethodicalActivityModel
@{
	ViewData["Title"] = "Методическая деятельность";
}

<section class="centered">

	<h2 class="section-title">
		Методическая деятельность
	</h2>

	<ul class="page-navigation">
		<li>
			<a href="#theme">
				Единая методическая тема
			</a>
		</li>
		<li>
			<a href="#target">
				Цель работы
			</a>
		</li>
		<li>
			<a href="#tasks">
				Задачи
			</a>
		</li>
		<li>
			<a href="#innovation-activity">
				Инновационная деятельность
			</a>
		</li>
	</ul>


	<h3 id="theme" class="section-subtitle">
		Единая методическая тема:
	</h3>
	<p>
		Совершенствование учебно-методической работы колледжа в соответствии с новым содержанием образовательных
		программ.
	</p>


	<h3 id="target" class="section-subtitle">
		Цель работы:
	</h3>
	<p>
		Создание и поддержание необходимых условий, способствующих повышению профессиональной компетентности
		педагогических работников для повышения конкурентоспособности образовательной организации.
	</p>


	<h3 id="tasks" class="section-subtitle">
		Задачи:
	</h3>
	<ul class="customized">
		<li>
			Обеспечение профессиональной компетентности педагогических работников в реализации ФП «Профессионалитет»;
		</li>
		<li>
			Активизация деятельности ЦМК по проведению недель профессиональных дисциплин, открытых уроков теоретического
			и производственного обучения, внеклассных мероприятий;
		</li>
		<li>
			Дальнейшее формирование и совершенствование ОПОП по специальностям и профессиям в соответствии с
			обновленными ФГОС СПО и требованиями ФП «Профессионалитет»;
		</li>
		<li>
			Продолжение работы по созданию условий для увеличения активности педагогов в получении неформального
			образования и распространении педагогического опыта;
		</li>
		<li>
			Развитие исследовательского потенциала преподавателей для управления научно-исследовательской деятельностью
			студентов;
		</li>
		<li>
			Продолжить развитие системы наставничества в сфере профессиональной компетентности, умения налаживать
			отношения, демонстрировать эмпатию и уважение, а также готовность к постоянному обучению и развитию;
		</li>
		<li>
			Внедрение методик преподавания общеобразовательных дисциплин с учетом профессиональной направленности
			программ среднего профессионального образования.
		</li>
	</ul>


	<h3 id="innovation-activity" class="section-subtitle">
		Инновационная деятельность
	</h3>
	<h4 class="section-subtitle-small">
		Обновление ОПОП
	</h4>
	<ul class="documents-list little">
		<li class="document-item">
			<div class="document-item-head">
				<a target="_blank"
				   href="~/documents/projectsAndEvents/methodicalActivity/rekomendaciiPoRealizaciiSrednego.pdf">
				</a>
			</div>
			<div class="document-item-body">
				Рекомендации по реализации среднего общего образования в пределах освоения образовательной программы
				среднего профессионального образования
			</div>
		</li>
		<li class="document-item">
			<div class="document-item-head">
				<a target="_blank" href="~/documents/projectsAndEvents/methodicalActivity/Plan 2024-2025.pdf">
				</a>
			</div>
			<div class="document-item-body">
				План работы методической службы на 2024-2025 учебный год
			</div>
		</li>
	</ul>
	<h4 class="section-subtitle-small">
		<a href='@Url.Page("/projectsAndEvents/professionalitet/About")'>
			Профессионалитет
		</a>
	</h4>
	<h4 class="section-subtitle-small">
		<a href='@Url.Page("/projectsAndEvents/TeacherAndMentor")'>
			Наставничество в форме «педагог-педагог»
		</a>
	</h4>
	<h4 class="section-subtitle-small">
		<a href="https://www.oat.ru/news/68">
			Методический час
		</a>
	</h4>
	<h4 class="section-subtitle-small">
		<a href="https://www.oat.ru/news/140">
			Единые методические дни в Омавиат
		</a>
	</h4>

</section>
