@page
@model ProjectsAndEventsModel
@{
	ViewData["Title"] = "Проекты и события";
}

<link rel="stylesheet" href="~/css/projectsAndEvents/projectsAndEvents.css" asp-append-version="true">

<section class="centered">

	<h3 class="section-title">
		Проекты и события
	</h3>

	<ul class="projects-list">

		<li class="projects-list-item">
			<a asp-page="professionalitet/About">
				<img src="~/images/projectsAndEvents/list/professionalitet.png" alt="">
			</a>
		</li>
		<li class="projects-list-item">
			<a asp-page="education/NewWorkshops">
				<img src="~/images/projectsAndEvents/list/obrazovanie.png" alt="">
			</a>
		</li>
		<li class="projects-list-item">
			<a asp-page="Demography">
				<img src="~/images/projectsAndEvents/list/demografia.png" alt="">
			</a>
		</li>
		<li class="projects-list-item">
			<a asp-page="TicketToFuture">
				<img src="~/images/projectsAndEvents/list/biletVBudushee.png" alt="">
			</a>
		</li>
		<li class="projects-list-item">
			<a asp-page="professionals/About">
				<img src="~/images/projectsAndEvents/list/professionals.png" alt="">
			</a>
		</li>
		<li class="projects-list-item">
			<a asp-page="ONIIP">
				<img src="~/images/projectsAndEvents/list/oniip.png" alt="">
			</a>
		</li>
		<!-- можно будет убрать ссылку на год педагога и наставника, когда будет слишком много мероприятий -->
		<li class="projects-list-item">
			<a asp-page="TeacherAndMentor">
				<img src="~/images/projectsAndEvents/list/godPedagogaINastavnika.png" alt="">
			</a>
		</li>
		<li class="projects-list-item">
			<a asp-page="demoExam/About">
				<img src="~/images/projectsAndEvents/list/demoExam.png" alt="">
			</a>
		</li>
		<li class="projects-list-item">
			<a asp-page="MethodicalActivity">
				<img src="~/images/projectsAndEvents/list/methodologicalActivity-2.png" alt="">
			</a>
		</li>
		<li class="projects-list-item">
			<a asp-page="YearOfFamily">
				<img src="~/images/projectsAndEvents/list/yearOfFamily.png" alt="">
			</a>
		</li>
		<li class="projects-list-item">
			<a asp-page="YearOfVictory">
				<img src="~/images/projectsAndEvents/list/victory.svg" alt="">
			</a>
		</li>
	</ul>

</section>
