@page
@model YearOfSPOModel
@{
	ViewData["Title"] = "85-летие системы СПО";
}

<section class="centered">

	<h2 class="section-title">
		85-летие системы СПО
	</h2>
	
	<!--
	
	<div class="images-list-slider-container">
		<div class="images-list-slider">
			<img src="~/images/projectsAndEvents/yearOfSPO/slide3.png" alt="" />
			<img src="~/images/projectsAndEvents/yearOfSPO/slide4.png" alt="" />
			<img src="~/images/projectsAndEvents/yearOfSPO/slide8.png" alt="" />
			<img src="~/images/projectsAndEvents/yearOfSPO/slide9.png" alt="" />
			<img src="~/images/projectsAndEvents/yearOfSPO/slide10.png" alt="" />
			<img src="~/images/projectsAndEvents/yearOfSPO/slide13.png" alt="" />
		</div>
	</div>
	
	-->
	<div style="display: flex; gap: 20px; flex-wrap: wrap; margin: auto; justify-content: center;">
		<img style="margin: 0;" class="customized" src="~/images/projectsAndEvents/yearOfSPO/slide3.png" alt="" />
		<img style="margin: 0;" class="customized" src="~/images/projectsAndEvents/yearOfSPO/slide4.png" alt="" />
		<img style="margin: 0;" class="customized" src="~/images/projectsAndEvents/yearOfSPO/slide8.png" alt="" />
		<img style="margin: 0;" class="customized" src="~/images/projectsAndEvents/yearOfSPO/slide9.png" alt="" />
		<img style="margin: 0;" class="customized" src="~/images/projectsAndEvents/yearOfSPO/slide10.png" alt="" />
		<img style="margin: 0;" class="customized" src="~/images/projectsAndEvents/yearOfSPO/slide13.png" alt="" />
	</div>
	
	
	
</section>
