@page
@model YearOfSPOModel
@{
	ViewData["Title"] = "85-летие системы СПО";
}


<section class="centered">

	<h2 class="section-title">
		85-летие системы СПО
	</h2>
	
	<ul class="page-navigation">
		<li>
			<a href="#info">
				Общие сведения о проекте
			</a>
		</li>
		<li>
			<a href="#veterans">
				Ветераны СПО Омавиат
			</a>
		</li>
		<li>
			<a href="#history">
				История колледжа
			</a>
		</li>
		<li>
			<a href="#documents">
				Документы
			</a>
		</li>
	</ul>
	
	
	<h3 id="info" class="section-subtitle">
		Общие сведения о проекте
	</h3>
	<div style="display: flex; gap: 20px; flex-wrap: wrap; margin: auto; justify-content: center;">
		<img style="margin: 0;" class="customized" src="~/images/projectsAndEvents/yearOfSPO/slide3.png" alt="" />
		<img style="margin: 0;" class="customized" src="~/images/projectsAndEvents/yearOfSPO/slide4.png" alt="" />
		<img style="margin: 0;" class="customized" src="~/images/projectsAndEvents/yearOfSPO/slide8.png" alt="" />
		<img style="margin: 0;" class="customized" src="~/images/projectsAndEvents/yearOfSPO/slide9.png" alt="" />
	</div>
	
	<!-- когда будет компонент слайдера с увеличивающимися фотографиями - можно поменять на это -->
	<!--
	
	<div class="images-list-slider-container">
		<div class="images-list-slider">
			<img src="~/images/projectsAndEvents/yearOfSPO/slide3.png" alt="" />
			<img src="~/images/projectsAndEvents/yearOfSPO/slide4.png" alt="" />
			<img src="~/images/projectsAndEvents/yearOfSPO/slide8.png" alt="" />
			<img src="~/images/projectsAndEvents/yearOfSPO/slide9.png" alt="" />
		</div>
	</div>
	
	-->
	
	
	<h3 id="veterans" class="section-subtitle">
		<a asp-page="/another/VeteransSPO">Ветераны СПО Омского авиационного колледжа имени Н.Е. Жуковского</a>
	</h3>
	
	<h3 id="history" class="section-subtitle">
		История Омского авиационного колледжа имени Н.Е. Жуковского
	</h3>
	<img class="customized" src="~/images/projectsAndEvents/yearOfSPO/college.jpeg" alt=""
	     style="max-width: min(1000px, 100%); margin-left: auto; margin-right: auto;"/>
	<p>
		<b>28 мая 2025 г.</b> Омскому авиационному колледжу им. Н.Е. Жуковского исполнится 95 лет. Колледж может гордится своей историей, которая связана с историей нашей страны.
	</p>
	<p>
		<b>24 декабря 1929 г.</b> при Запорожском моторостроительном заводе им. П.И. Баранова была организованна авиа-авто-профтехшкола. 11 января 1930г. в ней начались первые занятия в помещениях Запорожского машиностроительного института, где было выделено профтехшколе две аудитории. Набор составил две группы общей численностью 82 человека. 
	</p>
	<p>
		<b>28 мая 1930 г.</b> техникум стал именоваться: «Запорожский авиамоторостроения техникум», этот день считается датой рождения нашего учебного заведения. 
	</p>
	<p>
		<b>В 1933 г.</b> техникуму было присвоено имя Климента Ефремовича Ворошилова, «Запорожский авиационный техникум имени К.Е. Ворошилова»).
	</p>
	<p>
		В Запорожье <b>с 1930 по 1941гг.</b> было создано, по тем временам, самое современное среднетехническое учебное заведение. Осуществлялась подготовка специалистов по специальностям: холодная обработка металлов резанием, конструирование авиадвигателей, монтаж и испытание авиадвигателей самолетостроение, термическая обработка и цветное литье. В 1940 г. была открыта специальность «Самолётостроение».
	</p>
	<p>
		<b>14 августа 1941 г.</b> техникум получил приказ об эвакуации, которую надо было осуществить в течение 3-5 дней. Уже 15 августа были погружены первые вагоны с библиотекой, архивом, оборудованием лабораторий и УПМ.  
	</p>
	<p>
		Эшелоны, в которых ехал техникум, были в пути 14 суток и к 1 сентября они прибыли в город Омск. Студентов поселили в служебном помещении Кировского мелькомбината и в частном секторе. Для занятий были выделены помещения финансово-кредитного техникума (старая часть нынешнего колледжа). В течение двух недель был проведен набор студентов в количестве 650 человек. 1 ноября 1941 г. начались занятия у 1070 студентов. В апреле следующего года состоялся первый военный выпуск, техникум окончили 112 человек. В течение 1941/42 учебного года был в полной мере налажен образовательный процесс в г. Омске.
	</p>
	<p>
		<b>В 1941 году</b> 134 работника техникума ушли на фронт. Студенты старших курсов работали на военных заводах, изготавливали снаряды, собирали самолёты, топливные форсунки. Учащиеся техникума сделали и отправили на фронт 1500 миномётов. Мастерские техникума выполняли военные заказы.
	</p>
	<p>
		Студенты и сотрудники техникума собрали 20 тысяч рублей на строительство авиаэскадрильи «Советский студент». В апреле 1944 года авиационный техникум за помощь фронту получил благодарственную телеграмму от Верховного главнокомандующего Иосифа Виссарионовича Сталина.
	</p>
	<p>
		<b>11 января 1944 г.</b> Запорожский авиационный техникум имени К.Е. Ворошилова» был переименован в «Омский авиационный техникум имени К.Е. Ворошилова» и оставлен на постоянное пребывание в г. Омске. Так как для авиационных заводов нужны были квалифицированные специалисты.
	</p>
	<p>
		Во время войны погибло много специалистов, поэтому, правительство обратилось к учебным заведениям с просьбой увеличить выпуск студентов. <b>Омский авиационный техникум открывает вечерние филиалы обучения:</b>
	</p>
	<ul class="customized">
		<li>
			в 1944 г. – филиал техникума при заводе им. П.И. Баранова; 
		</li>
		<li>
			в 1948 г. – вечернее отделение при техникуме;
		</li>
		<li>
			в 1953 г. – филиал техникума при авиационном заводе (ПО «Полёт); 
		</li>
		<li>
			в 1956 г. – филиал техникума при заводе им. В.В. Куйбышева (агрегатный   завод);
		</li>
		<li>
			в 1957 г. – в техникум влился машиностроительный техникум с филиалом 
			(создан в 1951 г.) при заводе им. К.Е. Ворошилова (танковый завод)
			(завод транспортного   машиностроения).
		</li>
	</ul>
	<p>
		<b>В 1957 г.</b> к Омскому авиационному техникуму имени К.Е. Ворошилова был присоединен Омский машиностроительный техникум.
	</p>
	<p>
		<b>26 января 1962 г.</b> техникуму было присвоено имя талантливого учёного Николая Егоровича Жуковского. Николай Егорович создал науку аэродинамику. По его формулам до сих пор рассчитываются летательные аппараты.
	</p>
	<p>
		<b>В 60-е, 70-е годы открываются новые специальности:</b>
	</p>
	<ul class="customized">
		<li>
			1960 г. «Гироприборы» (антенны, компасы)
		</li>
		<li>
			1964 г. «Приборы управления»
		</li>
		<li>
			1960 г. «Гироприборы» (антенны, компасы)
		</li>
		<li>
			1964 г. «Изделия (конструкция и проектирование летательных аппаратов»
		</li>
		<li>
			1965 г. «Сварочное производство»
		</li>
		<li>
			1975 г. «Программные станки»
		</li>
		<li>
			1978 г. «Двигатели изделий» (авиаракетные)
		</li>
	</ul>
	<p>
		<b>В 1975 г.</b> был построен 2-й учебно-лабораторный корпус (ул. Ленина, 24). В котором разместились мастерские (механическая, слесарная, сварочная, радиомонтажная), лаборатории, актовый и спортивный залы.
	</p>
	<p>
		<b>В 90-е годы открываются новые специальности:</b>
	</p>
	<ul class="customized">
		<li>
			1993 г. «Экономика и бухучёт», «Менеджмент»
		</li>
		<li>
			1996 г. «Программирование»
		</li>
	</ul>
	<p>
		<b>В 24.11.2009</b> авиационный техникум был переименован в Омский авиационный колледж им. Н.Е. Жуковского».
	</p>
	<p>
		<b>В 2011 г.</b> открывается специальность «Операционная деятельность в логистике».
	</p>
	<p>
		<b>В 2014 г.</b> в состав Омского авиационного колледжа вошли два профессиональных училища ПУ-21 (пр. Космический, 14 А) и ПУ-22 (ул. Б. Хмельницкого, 281А). 
	</p>
	<p>
		<b>С 2015 г. к имеющимся специальностям добавляются профессии:</b>
	</p>
	<ul class="customized">
		<li>
			Слесарь по ремонту строительных машин
		</li>
		<li>
			Повар-кондитер
		</li>
		<li>
			Оператор станков с программным управлением
		</li>
		<li>
			Сварщик ручной и частично механизированной сварки (наплавки)
		</li>
		<li>
			Монтажник радиоэлектронной аппаратуры и приборов
		</li>
	</ul>
	<p>
		<b>В октябре 2016 г.</b> в городе Тара открылось отделение Омского авиационного колледжа при заводе «Кварц» (две группы радиомонтажников).
	</p>
	<p>
		<b>В 2020 г.</b> в состав Омского авиационного колледжа им. Н.Е. Жуковского вошел Омский техникум высоких технологий машиностроения (ул. Волховстроя, 5) с общежитием (ул. Суровцева, 7). 
	</p>
	<p>
		<b>Открываются новые направления обучения:</b>
	</p>
	<ul class="customized">
		<li>
			2020 г.  «Контролер станочных и слесарных работ»
		</li>
		<li>
			2021 г.  «Социальная работа»
		</li>
		<li>
			2023 г.  «Эксплуатация беспилотных авиационных систем»
		</li>
	</ul>
	<p>
		<b>2-го сентября 2024 г.</b> в Омске был открыт инженерно-технологический лицей на 1300 обучающихся, который является частью Омского авиационного колледжа.
	</p>
	<p>
		Омский авиационный колледж им. Н.Е. Жуковского уверенно смотрит в будущее. <b>В колледже обучается около 4500 студентов, работает более 400 преподавателей и сотрудников.</b>
	</p>
	<p>
		Омский авиационный колледж им. Н.Е. Жуковского много лет является флагманом подготовки специалистов для омского промышленного производства.
	</p>
	<p>
		<b>За годы работы колледж выпустил более 60 тысяч специалистов из них:</b>
	</p>
	<ul class="customized">
		<li>
			для предприятий машиностроительного комплекса около – 70%;
		</li>
		<li>
			по радиоэлектронике   – 12 тыс. выпускников; 
		</li>
		<li>
			для информационной индустрии – 9 тыс. выпускников.
		</li>
	</ul>
	<p>
		В настоящее время Омский авиационный колледж готовит специалистов по 23 направлениям (по 15 специальностям и по 8 профессиям). 
	</p>
	<p>
		<b><i>«ОМАВИАТ» – Взлётная полоса Вашего успеха!</i></b>
	</p>
	
	
	<h3 id="documents" class="section-subtitle">
		Документы
	</h3>
	<ul class="documents-list">
		<li class="document-item">
			<div class="document-item-head">
				<a target="_blank"
				   href="~/documents/projectsAndEvents/yearOfSPO/Plan of events.pdf">
				</a>
			</div>
			<div class="document-item-body">
				План мероприятий, посвященных празднованию 85-летия системы СПО
			</div>
		</li>
	</ul>
	
	
	
</section>
