@page
@model YearOfVictoryModel
@{
	ViewData["Title"] = "Наступивший 2025 год объявлен в России Годом защитника Отечества";
}

<section class="centered">

	<h2 class="section-title">
		Наступивший 2025 год объявлен в России Годом защитника Отечества
	</h2>
	<img src="~/images/projectsAndEvents/yearOfVictory/2025.png"
	     class="customized"
	     style="max-width: min(100%, 475px); margin: 0 auto;"/>

	<div class="accordions-list">
		<div class="accordion">
			<div class="accordion-head">
				Президент Российской Федерации В.В. Путин объявил 2025 год - Годом защитника Отечества и 80-летия Победы в Великой Отечественной войне 1941-1945 годов.
			</div>
			<div class="accordion-body">
				<p>
					Указом Президента Российской Федерации от 16.01.2025 № 28 "О проведении в Российской Федерации Года защитника Отечества", в целях сохранения исторической памяти, в ознаменование 80-летия Победы в Великой Отечественной войне 1941-1945 годов, в благодарность ветеранам и признавая подвиг участников специальной военной операции, 2025 год объявлен Годом защитника Отечества.
				</p>
				<p>
					Этот год станет данью уважения к ратному подвигу всех, кто сражался за Родину в разные исторические эпохи, а также нынешним героям – участникам специальной военной операции. Тематика года отражает приоритеты современной России, такие как патриотизм, преемственность поколений и уважение к защитникам Родины во все времена.
				</p>
				<p>
					Год защитника Отечества в 2025 году – это не просто календарная дата, а символ национального единства и патриотизма. Это выражение глубокой признательности тем, кто защищал и продолжает защищать суверенитет и безопасность нашей страны. Это год, который напоминает нам о важности исторической памяти и о непреходящей ценности мира, который защищают наши защитники Отечества своей мужественностью и самоотверженностью.
				</p>
				<p>
					БПОУ ОО «Омский авиационный колледж имени Н.Е. Жуковского» на федеральном и региональном уровне поддержит крупнейшие всероссийские акции: «Блокадный хлеб», «Георгиевская ленточка», Всероссийская молодежная акция «Наши семейные книги памяти», «Бессмертный полк», просветительский проект «Диктант Победы».
				</p>
			</div>
		</div>
	</div>
	

	<ul class="documents-list">
		<li class="document-item">
			<div class="document-item-head">
				<a target="_blank"
				   href="~/documents/projectsAndEvents/yearOfVictory/Plan for the month of defense-mass and sports work.pdf">
				</a>
			</div>
			<div class="document-item-body">
				План проведения месячника оборонно-массовой и спортивной работы
			</div>
		</li>
	</ul>
</section>
