@page
@model YearOfFamilyModel
@{
	ViewData["Title"] = "Наступивший 2024 год объявлен в России Годом семьи";
}

<section class="centered">

	<h2 class="section-title">
		Наступивший 2024 год объявлен в России Годом семьи
	</h2>
	<img src="~/images/projectsAndEvents/list/yearOfFamily.png"
	     class="customized"
	     style="max-width: min(100%, 275px); margin: 0 auto;"/>
	<p>
		22 ноября 2023 года Президент РФ Владимир Путин подписал Указ, согласно которому 2024 год объявлен Годом семьи в
		целях популяризации государственной политики в сфере защиты семьи, сохранения традиционных семейных ценностей. В
		Год семьи особое внимание уделено сохранению традиционных семейных ценностей. К ним относятся любовь, верность,
		уважение, взаимопонимание и поддержка. Эти ценности являются основой крепкой и счастливой семьи. Крепкая семья –
		это залог стабильности и процветания общества.
	</p>
	<p>
		<i>
			«Семья — это не просто основа государства и общества, это духовное явление, основа нравственности» - В.В.
			Путин
		</i>
	</p>

	<ul class="documents-list">
		<li class="document-item">
			<div class="document-item-head">
				<a target="_blank"
				   href="~/documents/projectsAndEvents/yearOfFamily/UKAZ PREZIDENTA ROSSIJSKOJ FEDERACII OT 23 YANVARYA 2024 GODA № 63.pdf">
				</a>
			</div>
			<div class="document-item-body">
				Указ Президента Российской Федерации от 23.01.2024 № 63 "О мерах социальной поддержки многодетных семей"
			</div>
		</li>
		<li class="document-item">
			<div class="document-item-head">
				<a target="_blank"
				   href="~/documents/projectsAndEvents/yearOfFamily/UKAZ PREZIDENTA ROSSIJSKOJ FEDERACII OT 22 NOYABRYA 2023 GODA № 875.pdf">
				</a>
			</div>
			<div class="document-item-body">
				Указ Президента Российской Федерации от 22.11.2023 № 875 "О проведении в Российской Федерации года
				семьи"
			</div>
		</li>
		<li class="document-item">
			<div class="document-item-head">
				<a target="_blank"
				   href="~/documents/projectsAndEvents/yearOfFamily/RASPORYAZHENIE PRAVITEL'STVA ROSSIJSKOJ FEDERACII OT 23 DEKABRYA 2023 GODA № 3842-R.pdf">
				</a>
			</div>
			<div class="document-item-body">
				Распоряжение Правительства Российской Федерации от 23.12.2023 № 3842-р "Об утверждении оргкомитета"
			</div>
		</li>
		<li class="document-item">
			<div class="document-item-head">
				<a target="_blank"
				   href="~/documents/projectsAndEvents/yearOfFamily/FEDERAL'NYJ PLAN PRAVITEL'STVA ROSSIJSKOJ FEDERACII OT 26 DEKABRYA 2023 GODA № 21515-P45-TG.pdf">
				</a>
			</div>
			<div class="document-item-body">
				План Правительства Российской Федерации от 26.12.2023 №21515-п45-тг основных мероприятий по проведению
				Года семьи
			</div>
		</li>
	</ul>
</section>
