@page
@model YearOfVictoryModel
@{
	ViewData["Title"] = "Наступивший 2025 год объявлен в России Годом защитника Отечества";
}

<link rel="stylesheet" href="~/css/projectsAndEvents/yearOfVictory.css">

<section class="centered">

	<h2 class="section-title">
		Наступивший 2025 год объявлен в России Годом защитника Отечества
	</h2>
	<img src="~/images/projectsAndEvents/yearOfVictory/2025.png"
	     class="customized"
	     style="max-width: min(100%, 475px); margin: 0 auto;"/>

	<div class="accordions-list">
		<div class="accordion">
			<div class="accordion-head">
				Президент Российской Федерации В.В. Путин объявил 2025 год - Годом защитника Отечества и 80-летия Победы в Великой Отечественной войне 1941-1945 годов.
			</div>
			<div class="accordion-body">
				<p>
					Указом Президента Российской Федерации от 16.01.2025 № 28 "О проведении в Российской Федерации Года защитника Отечества", в целях сохранения исторической памяти, в ознаменование 80-летия Победы в Великой Отечественной войне 1941-1945 годов, в благодарность ветеранам и признавая подвиг участников специальной военной операции, 2025 год объявлен Годом защитника Отечества.
				</p>
				<p>
					Этот год станет данью уважения к ратному подвигу всех, кто сражался за Родину в разные исторические эпохи, а также нынешним героям – участникам специальной военной операции. Тематика года отражает приоритеты современной России, такие как патриотизм, преемственность поколений и уважение к защитникам Родины во все времена.
				</p>
				<p>
					Год защитника Отечества в 2025 году – это не просто календарная дата, а символ национального единства и патриотизма. Это выражение глубокой признательности тем, кто защищал и продолжает защищать суверенитет и безопасность нашей страны. Это год, который напоминает нам о важности исторической памяти и о непреходящей ценности мира, который защищают наши защитники Отечества своей мужественностью и самоотверженностью.
				</p>
				<p>
					БПОУ ОО «Омский авиационный колледж имени Н.Е. Жуковского» на федеральном и региональном уровне поддержит крупнейшие всероссийские акции: «Блокадный хлеб», «Георгиевская ленточка», Всероссийская молодежная акция «Наши семейные книги памяти», «Бессмертный полк», просветительский проект «Диктант Победы».
				</p>
			</div>
		</div>
		<div class="accordion">
			<div class="accordion-head">
				Педагоги и сотрудники БПОУ «Омавиат» – ветераны Великой Отечественной войны
			</div>
			<div class="accordion-body">
				<ul class="veterans">
					<li>
						<a target="_blank"
						   href="~/documents/projectsAndEvents/yearOfVictory/veterans/Britsin Ivan Vasilievich.pdf">
							Брицин Иван Васильевич
						</a>
					</li>
					<li>
						<a target="_blank"
						   href="~/documents/projectsAndEvents/yearOfVictory/veterans/Valyukevich Joseph Efstafievich.pdf">
							Валюкевич Иосиф Ефстафьевич
						</a>
					</li>
					<li>
						<a target="_blank"
						   href="~/documents/projectsAndEvents/yearOfVictory/veterans/Voskresensky Alexey Vsevolodovich.pdf">
							Воскресенский Алексей Всеволодович
						</a>
					</li>
					<li>
						<a target="_blank"
						   href="~/documents/projectsAndEvents/yearOfVictory/veterans/Votyakov Ivan Dmitrievich.pdf">
							Вотяков Иван Дмитриевич
						</a>
					</li>
					<li>
						<a target="_blank"
						   href="~/documents/projectsAndEvents/yearOfVictory/veterans/Vyatskikh Nadezhda Vasilievna.pdf">
							Вятских Надежда Васильевна
						</a>
					</li>
					<li>
						<a target="_blank"
						   href="~/documents/projectsAndEvents/yearOfVictory/veterans/Grebnev Mikhail Petrovich.pdf">
							Гребнев Михаил Петрович
						</a>
					</li>
					<li>
						<a target="_blank"
						   href="~/documents/projectsAndEvents/yearOfVictory/veterans/Demin Anatoly Mitrofanovich.pdf">
							Дёмин Анатолий Митрофанович
						</a>
					</li>
					<li>
						<a target="_blank"
						   href="~/documents/projectsAndEvents/yearOfVictory/veterans/Dushanov Nikolay Grigorievich.pdf">
							Душанов Николай Григорьевич
						</a>
					</li>
					<li>
						<a target="_blank"
						   href="~/documents/projectsAndEvents/yearOfVictory/veterans/Zemskov Alexey Mikhailovich.pdf">
							Земсков Алексей Михайлович
						</a>
					</li>
					<li>
						<a target="_blank"
						   href="~/documents/projectsAndEvents/yearOfVictory/veterans/Ivanov Alexey Ivanovich.pdf">
							Иванов Алексей Иванович
						</a>
					</li>
					<li>
						<a target="_blank"
						   href="~/documents/projectsAndEvents/yearOfVictory/veterans/Klimenko Ivan Andreevich.pdf">
							Клименко Иван Андреевич
						</a>
					</li>
					<li>
						<a target="_blank"
						   href="~/documents/projectsAndEvents/yearOfVictory/veterans/Matusevich Vyacheslav Konstantinovich.pdf">
							Матусевич Вячеслав Константинович
						</a>
					</li>
					<li>
						<a target="_blank"
						   href="~/documents/projectsAndEvents/yearOfVictory/veterans/Miroshnikov Vasily Ilyich.pdf">
							Мирошников Василий Ильич
						</a>
					</li>
					<li>
						<a target="_blank"
						   href="~/documents/projectsAndEvents/yearOfVictory/veterans/Novikov Mikhail Vasilievich.pdf">
							Новиков Михаил Васильевич
						</a>
					</li>
					<li>
						<a target="_blank"
						   href="~/documents/projectsAndEvents/yearOfVictory/veterans/Nosov Alexander Georgievich.pdf">
							Носов Александр Георгиевич
						</a>
					</li>
					<li>
						<a target="_blank"
						   href="~/documents/projectsAndEvents/yearOfVictory/veterans/Ryabyshev Evgeniy Fedorovich.pdf">
							Рябышев Евгений Фёдорович
						</a>
					</li>
					<li>
						<a target="_blank"
						   href="~/documents/projectsAndEvents/yearOfVictory/veterans/Stolyarova Antonina Illarionovna.pdf">
							Столярова Антонина Илларионовна
						</a>
					</li>
					<li>
						<a target="_blank"
						   href="~/documents/projectsAndEvents/yearOfVictory/veterans/Temerev Nikolay Artemyevich.pdf">
							Темерев Николай Артемьевич
						</a>
					</li>
					<li>
						<a target="_blank"
						   href="~/documents/projectsAndEvents/yearOfVictory/veterans/Uglichsky Stanislav Ivanovich.pdf">
							Углицкий Станислав Иванович
						</a>
					</li>
					<li>
						<a target="_blank"
						   href="~/documents/projectsAndEvents/yearOfVictory/veterans/Fesenko Arkady Nikiforovich.pdf">
							Фесенко Аркадий Никифорович
						</a>
					</li>
					<li>
						<a target="_blank"
						   href="~/documents/projectsAndEvents/yearOfVictory/veterans/Chernov Anatoly Andreevich.pdf">
							Чернов Анатолий Андреевич
						</a>
					</li>
					<li>
						<a target="_blank"
						   href="~/documents/projectsAndEvents/yearOfVictory/veterans/Shakhov Vladimir Ilyich.pdf">
							Шахов Владимир Ильич
						</a>
					</li>
					<li>
						<a target="_blank"
						   href="~/documents/projectsAndEvents/yearOfVictory/veterans/Yanenko Mikhail Vasilievich.pdf">
							Яненко Михаил Васильевич
						</a>
					</li>
				</ul>
			</div>
		</div>
		<div class="accordion">
			<div class="accordion-head">
				Мероприятия Омавиат, посвящённые 80-летию Победы в Великой Отечественной войны
			</div>
			<div class="accordion-body">
				<ul class="events">
					<li>
						<a target="_blank"
						   href="https://vk.com/wall-212969793_1602">
							Патриотическая викторина "Никто не забыт, ничто не забыто"
						</a>
					</li>
					<li>
						<a target="_blank"
						   href="https://vk.com/wall-212969793_1601">
							День единых действий в память о геноциде советского народа нацистами и их пособниками в годы ВОВ.
						</a>
					</li>
					<li>
						<a target="_blank"
						   href="https://vk.com/wall-212969793_1600">
							Интеллектуальная игра «История Великой Победы»
						</a>
					</li>
					<li>
						<a target="_blank"
						   href="https://vk.com/wall-212969793_1464">
							Международная акция «Тест по истории Великой Отечественной войны»
						</a>
					</li>
					<li>
						<a target="_blank"
						   href="https://vk.com/wall-212969793_1513">
							Всероссийская акции «Лента памяти»
						</a>
					</li>
					<li>
						<a target="_blank"
						   href="https://vk.com/wall-212969793_1515">
							81-ая годовщина полного освобождения Ленинграда от блокады
						</a>
					</li>
					<li>
						<a target="_blank"
						   href="https://vk.com/wall-212969793_1516">
							День полного освобождения Ленинграда от фашистской блокады
						</a>
					</li>
					<li>
						<a target="_blank"
						   href="https://vk.com/wall-212969793_1524">
							Цветы генералу-лейтенанту инженерных войск Красной Армии Дмитрию Михайловичу Карбышеву
						</a>
					</li>
					<li>
						<a target="_blank"
						   href="https://vk.com/wall-212969793_1568">
							Викторина, посвящённая истории Великой Отечественной войны
						</a>
					</li>
					<li>
						<a target="_blank"
						   href="https://vk.com/wall-212969793_1572">
							Международная историческая интеллектуальная игра «1418»
						</a>
					</li>
					<li>
						<a target="_blank"
						   href="https://vk.com/wall-175241664_3197">
							Торжественная церемония закрытия региональной Вахты Памяти
						</a>
					</li>
					<li>
						<a target="_blank"
						   href="https://vk.com/wall-175241664_3238">
							Уроки мужества
						</a>
					</li>
					<li>
						<a target="_blank"
						   href="https://vk.com/wall-175241664_3254">
							Серия исторических часов в библиотеке им. А.С.Пушкина
						</a>
					</li>
					<li>
						<a target="_blank"
						   href="https://vk.com/wall-175241664_3275">
							Акция "80 шагов к Победе"
						</a>
					</li>
					<li>
						<a target="_blank"
						   href="https://vk.com/wall-227226421_82">
							Торжественная церемония возложения цветов к мемориалу "Слава Героям"
						</a>
					</li>
					<li>
						<a target="_blank"
						   href="https://vk.com/wall-212969793_1565">
							Всероссийская молодежная акция «Наши семейные книги памяти»
						</a>
					</li>
					<li>
						<a target="_blank"
						   href="https://vk.com/wall-212969793_1586">
							Книги Памяти РФ
						</a>
					</li>
				</ul>
			</div>
		</div>
		<video class="customized" src="~/videos/Instructions for creating a presentation My great-grandfather is a hero.mp4" controls></video>
		
	</div>
	


</section>
