@page
@model YearOfSPOModel
@{
	ViewData["Title"] = "85-летие системы СПО";
}

<section class="centered">

	<h2 class="section-title">
		85-летие системы СПО
	</h2>
	
	<!--
	
	<div class="images-list-slider-container">
		<div class="images-list-slider">
			<img src="~/images/projectsAndEvents/yearOfSPO/slide3.png" alt="" />
			<img src="~/images/projectsAndEvents/yearOfSPO/slide4.png" alt="" />
			<img src="~/images/projectsAndEvents/yearOfSPO/slide8.png" alt="" />
			<img src="~/images/projectsAndEvents/yearOfSPO/slide9.png" alt="" />
			<img src="~/images/projectsAndEvents/yearOfSPO/slide10.png" alt="" />
			<img src="~/images/projectsAndEvents/yearOfSPO/slide13.png" alt="" />
		</div>
	</div>
	
	-->
	
	<style>
		.person-img{
			max-width: min(300px, 100%) !important;
		}
	</style>
	
	<ul class="page-navigation">
		<li>
			<a href="#info">
				Общие сведения о проекте
			</a>
		</li>
		<li>
			<a href="#veterans">
				Ветераны СПО Омавиат
			</a>
		</li>
	</ul>
	
	
	<h3 id="info" class="section-subtitle">
		Общие сведения о проекте
	</h3>
	<div style="display: flex; gap: 20px; flex-wrap: wrap; margin: auto; justify-content: center;">
		<img style="margin: 0;" class="customized" src="~/images/projectsAndEvents/yearOfSPO/slide3.png" alt="" />
		<img style="margin: 0;" class="customized" src="~/images/projectsAndEvents/yearOfSPO/slide4.png" alt="" />
		<img style="margin: 0;" class="customized" src="~/images/projectsAndEvents/yearOfSPO/slide8.png" alt="" />
		<img style="margin: 0;" class="customized" src="~/images/projectsAndEvents/yearOfSPO/slide9.png" alt="" />
		<img style="margin: 0;" class="customized" src="~/images/projectsAndEvents/yearOfSPO/slide10.png" alt="" />
		<img style="margin: 0;" class="customized" src="~/images/projectsAndEvents/yearOfSPO/slide13.png" alt="" />
	</div>
	
	
	<h3 id="veterans" class="section-subtitle">
		Ветераны СПО Омского авиационного колледжа им. Н.Е. Жуковского
	</h3>
	<h4 class="section-subtitle-small">
		Александрин Сергей Александрович
	</h4>
	<p>
		Александрин Сергей Александрович работал в Запорожском авиационном техникуме с 1937 по 1964 годы. В военное время он был начальником механического цеха учебно-производственных мастерских. С декабря 1941 года мастерские начали выпускать миномёты, пробные образцы реактивных пушек для самолётов и топливные форсунки к авиадвигателям по заказам военных заводов. Люди не выходили из мастерского техникума сутками, налаживая производство оружия. 
	</p>
	<p>
		В начале 1943 г. Александрин С.А.  и преподаватель Майский Н.И. восстановили один трактор из 2-х разбитых. Сергей Александрович на этом тракторе вспахал 15 гектаров в подсобном хозяйстве техникума под картофель и другие культуры. Выращенный урожай поступал в столовую техникума, что бы студенты могли лучше питаться. Питание студентов в военные годы было бесплатным.
	</p>
	<img class="customized person-img" src="~/images/projectsAndEvents/yearOfSPO/Alexandrin Sergey Alexandrovich.png" alt="" />
	
	
</section>
