table.groups tbody td {
	padding: 8px;
}

table.groups tbody tr:first-child td:nth-child(2) {
	padding: 10px 15px;
	font-weight: 500;
}

table.groups tbody tr td:first-child {
	padding: 10px 15px;
}
td a {
	color: #0850bb;
}