@page
@model DemographyModel
@{
    ViewData["Title"] = "Национальные проекты россии | демография";
}

<link rel="stylesheet" href="~/css/projectsAndEvents/demography.css" asp-append-version="true">

<section>
    <div class="container">
        <h3 class="section-title">
            Национальные проекты россии | демография
        </h3>
        
        
    </div>
</section>
