@page
@model MethodicalActivityModel
@{
    ViewData["Title"] = "Методическая деятельность";
}

<section class="centered">

    <h2 class="section-title">
        Методическая деятельность
    </h2>

    <ul class="page-navigation">
        <li>
            <a href="#theme">
                Единая методическая тема
            </a>
        </li>
        <li>
            <a href="#target">
                Цель работы
            </a>
        </li>
        <li>
            <a href="#tasks">
                Задачи
            </a>
        </li>
        <li>
            <a href="#results">
                Ожидаемый результат
            </a>
        </li>
        <li>
            <a href="#innovation-activity">
                Инновационная деятельность
            </a>
        </li>
    </ul>


    <h3 id="theme" class="section-subtitle">
        Единая методическая тема:
    </h3>
    <p>
        Совершенствование учебно-методической работы колледжа в соответствии с новым содержанием образовательных программ.
    </p>


    <h3 id="target" class="section-subtitle">
        Цель работы:
    </h3>
    <p>
        Создание необходимых условий, способствующих повышению профессиональной компетентности педагогических работников.
    </p>


    <h3 id="tasks" class="section-subtitle">
        Задачи:
    </h3>
    <ul class="customized">
        <li>
            Разработка / актуализация ОПОП, учитывающих требования обновленных ФГОС СПО, профстандартов, ФГОС СОО
        </li>
        <li>
            Организация деятельности педагогического коллектива по реализации новой образовательной технологии «Профессионалитет»
        </li>
        <li>
            Организация деятельности педагогического коллектива по разработке и внедрению практики применения демонстрационного экзамена
        </li>
        <li>
            Продолжение работы по формированию комплексно-методического обеспечения образовательного процесса, в том числе электронных УМК и размещению их в СДО «Edukon»
        </li>
        <li>
            Продолжение работы по созданию организационно-методических условий для наставничества по форме «преподаватель-преподаватель»
        </li>
        <li>
            Продолжение работы по созданию условий для увеличения активности педагогов в получении неформального образования и распространении педагогического опыта
        </li>
    </ul>

    
    <h3 id="results" class="section-subtitle">
        Ожидаемый результат:
    </h3>
    <ul class="customized">
        <li>
            Актуализация ОПОП, учитывающих требования ФГОС СОО (демонстрационный экзамен, профессионально-ориентированное содержание), разработка ОПОП по обновленным ФГОС СПО
        </li>
        <li>
            Разработка примерных образовательных программ в рамках ФП «Профессионалитет»
        </li>
        <li>
            Ознакомление с практикой применения демонстрационного экзамена, как основной формы государственной итоговой аттестации, 65% педагогического коллектива
        </li>
        <li>
            Увеличение числа преподавателей, подготовивших студентов для участия в научно-практических конференциях
        </li>
        <li>
            Обновление индивидуальной системы наставничества по форме «преподаватель-преподаватель»
        </li>
        <li>
            Активизация деятельности ЦМК по проведению предметных недель, открытых уроков теоретического и производственного обучения, внеучебных мероприятий
        </li>
    </ul>


    <h3 id="innovation-activity" class="section-subtitle">
        Инновационная деятельность
    </h3>
    <h4 class="section-subtitle-small">
        Обновление ОПОП
    </h4>
    <ul class="documents-list little">
        <li class="document-item">
            <div class="document-item-head">
                <a target="_blank" href="~/documents/projectsAndEvents/methodicalActivity/rekomendaciiPoRealizaciiSrednego.pdf">
                </a>
            </div>
            <div class="document-item-body">
                Рекомендации по реализации среднего общего образования в пределах освоения образовательной программы среднего профессионального образования
            </div>
        </li>
        <li class="document-item">
            <div class="document-item-head">
                <a target="_blank" href="~/documents/projectsAndEvents/methodicalActivity/prikazRazrabotkiProgram.pdf">
                </a>
            </div>
            <div class="document-item-body">
                Приказ о разработке основных образовательных программ по обновленным ФГОС СПО
            </div>
        </li>
    </ul>
    <h4 class="section-subtitle-small">
        <a href='@Url.Page("/projectsAndEvents/professionalitet/About")'>
            Профессионалитет
        </a>
    </h4>
    <h4 class="section-subtitle-small">
        <a href='@Url.Page("/projectsAndEvents/TeacherAndMentor")'>
            Наставничество в форме «педагог-педагог»
        </a>
    </h4>
    <h4 class="section-subtitle-small">
        <a href="https://www.oat.ru/news/68">
            Методический час
        </a>
    </h4>

</section>
