@page
@model TicketToFutureModel
@{
    ViewData["Title"] = "ОНИИП";
}

<section class="centered">

    <h2 class="section-title">
        ОНИИП
    </h2>

    <div class="document-item">
        <div class="document-item-head">
            <a target="_blank" href="~/documents/projectsAndEvents/oniip/programaPIT2021.pdf">
            </a>
        </div>
        <div class="document-item-body">
            Программа "приборостроение и информационные технологии" 2021
        </div>
    </div>

    <ul class="customized">
        <li>
            <a href="https://www.youtube.com/watch?v=vHmA-CAE04s" target="_blank">
                Секция 1 Радиосвязь и приборостроение каб. 316
            </a>
        </li>
        <li>
            <a href="https://www.youtube.com/watch?v=7EJaC8CbA4c" target="_blank">
                Секция 2 Информационные технологии в научно-технической деятельности. Искусственный интеллект каб. 312
            </a>
        </li>
        <li>
            <a href="https://www.youtube.com/watch?v=IYO2p-zQdi8" target="_blank">
                Секция 5 Робототехника каб. 329
            </a>
        </li>
        <li>
            <a href="https://www.youtube.com/watch?v=CnNA2SErwBI" target="_blank">
                Секция 1.1 Радиосвязь, приборостроение и микроэлектроника каб. 315
            </a>
        </li>
        <li>
            <a href="https://www.youtube.com/watch?v=JyTEN_aipXM" target="_blank">
                Секция 1.2 Радиосвязь, приборостроение и микроэлектроника каб. 325
            </a>
        </li>
        <li>
            <a href="https://www.youtube.com/watch?v=YEiXQRlKvIc" target="_blank">
                Секция 2.1 Информационные технологии в научно-технической деятельности. Искусственный интеллект каб. 319
            </a>
        </li>
        <li>
            <a href="https://www.youtube.com/watch?v=ZKwejw5SGVg" target="_blank">
                Секция 2.2 Информационные технологии в научно-технической деятельности. Искусственный интеллект каб. 318
            </a>
        </li>
        <li>
            <a href="https://www.youtube.com/watch?v=GdFXRRnmyVM" target="_blank">
                Секция 4 Технология машиностроения каб. 236
            </a>
        </li>
    </ul>
    
    <div class="images-list-slider-container">
        <div class="images-list-slider">
            <img src="~/images/projectsAndEvents/oniip/slide1.jpg" alt="">
            <img src="~/images/projectsAndEvents/oniip/slide2.jpg" alt="">
            <img src="~/images/projectsAndEvents/oniip/slide3.jpg" alt="">
            <img src="~/images/projectsAndEvents/oniip/slide4.jpg" alt="">
            <img src="~/images/projectsAndEvents/oniip/slide5.jpg" alt="">
            <img src="~/images/projectsAndEvents/oniip/slide6.jpg" alt="">
            <img src="~/images/projectsAndEvents/oniip/slide7.jpg" alt="">
            <img src="~/images/projectsAndEvents/oniip/slide8.jpg" alt="">
            <img src="~/images/projectsAndEvents/oniip/slide9.jpg" alt="">
            <img src="~/images/projectsAndEvents/oniip/slide10.jpg" alt="">
            <img src="~/images/projectsAndEvents/oniip/slide11.jpg" alt="">
            <img src="~/images/projectsAndEvents/oniip/slide12.jpg" alt="">
            <img src="~/images/projectsAndEvents/oniip/slide13.jpg" alt="">
            <img src="~/images/projectsAndEvents/oniip/slide14.jpg" alt="">
            <img src="~/images/projectsAndEvents/oniip/slide15.jpg" alt="">
            <img src="~/images/projectsAndEvents/oniip/slide16.jpg" alt="">
            <img src="~/images/projectsAndEvents/oniip/slide17.jpg" alt="">
            <img src="~/images/projectsAndEvents/oniip/slide18.jpg" alt="">
            <img src="~/images/projectsAndEvents/oniip/slide19.jpg" alt="">
            <img src="~/images/projectsAndEvents/oniip/slide20.jpg" alt="">
            <img src="~/images/projectsAndEvents/oniip/slide21.jpg" alt="">
            <img src="~/images/projectsAndEvents/oniip/slide22.jpg" alt="">
            <img src="~/images/projectsAndEvents/oniip/slide23.jpg" alt="">
            <img src="~/images/projectsAndEvents/oniip/slide24.jpg" alt="">
            <img src="~/images/projectsAndEvents/oniip/slide25.jpg" alt="">
            <img src="~/images/projectsAndEvents/oniip/slide26.jpg" alt="">
            <img src="~/images/projectsAndEvents/oniip/slide27.jpg" alt="">
            <img src="~/images/projectsAndEvents/oniip/slide28.jpg" alt="">
            <img src="~/images/projectsAndEvents/oniip/slide29.jpg" alt="">
            <img src="~/images/projectsAndEvents/oniip/slide30.jpg" alt="">
            <img src="~/images/projectsAndEvents/oniip/slide31.jpg" alt="">
            <img src="~/images/projectsAndEvents/oniip/slide32.jpg" alt="">
            <img src="~/images/projectsAndEvents/oniip/slide33.jpg" alt="">
            <img src="~/images/projectsAndEvents/oniip/slide34.jpg" alt="">
            <img src="~/images/projectsAndEvents/oniip/slide35.jpg" alt="">
            <img src="~/images/projectsAndEvents/oniip/slide36.jpg" alt="">
            <img src="~/images/projectsAndEvents/oniip/slide37.jpg" alt="">
            <img src="~/images/projectsAndEvents/oniip/slide38.jpg" alt="">
            <img src="~/images/projectsAndEvents/oniip/slide39.jpg" alt="">
            <img src="~/images/projectsAndEvents/oniip/slide40.jpg" alt="">
            <img src="~/images/projectsAndEvents/oniip/slide41.jpg" alt="">
            <img src="~/images/projectsAndEvents/oniip/slide42.jpg" alt="">
            <img src="~/images/projectsAndEvents/oniip/slide43.jpg" alt="">
            <img src="~/images/projectsAndEvents/oniip/slide44.jpg" alt="">
            <img src="~/images/projectsAndEvents/oniip/slide45.jpg" alt="">
            <img src="~/images/projectsAndEvents/oniip/slide46.jpg" alt="">
            <img src="~/images/projectsAndEvents/oniip/slide47.jpg" alt="">
        </div>
    </div>

</section>
