@page
@model ProjectsAndEventsModel
@{
    ViewData["Title"] = "Проекты и события";
}

<link rel="stylesheet" href="~/css/projectsAndEvents/projectsAndEvents.css" asp-append-version="true">

<section class="centered">

    <h3 class="section-title">
        Проекты и события
    </h3>

    <ul class="projects-list">

        <li class="projects-list-item">
            <a href='@Url.Page("professionalitet/About")'>
                <img src="~/images/projectsAndEvents/list/professionalitet.png" alt="">
            </a>
        </li>
        <li class="projects-list-item">
            <a href='@Url.Page("education/NewWorkshops")'>
                <img src="~/images/projectsAndEvents/list/obrazovanie.png" alt="">
            </a>
        </li>
        <li class="projects-list-item">
            <a href="">
                <img src="~/images/projectsAndEvents/list/demografia.png" alt="">
            </a>
        </li>
        <li class="projects-list-item">
            <a href="">
                <img src="~/images/projectsAndEvents/list/biletVBudushee.png" alt="">
            </a>
        </li>
        <li class="projects-list-item">
            <a href="">
                <img src="~/images/projectsAndEvents/list/worldSkills.png" alt="">
            </a>
        </li>
        <li class="projects-list-item">
            <a href="">
                <img src="~/images/projectsAndEvents/list/oniip.png" alt="">
            </a>
        </li>
        <li class="projects-list-item">
            <a href="">
                <img src="~/images/projectsAndEvents/list/godPedagogaINastavnika.png" alt="">
            </a>
        </li>
        <li class="projects-list-item">
            <a href="">
                <img src="~/images/basic/unnamed.jpg" alt="">
            </a>
        </li>
    </ul>

</section>
