@page
@model TeacherAndMentorModel
@{
    ViewData["Title"] = "Год педагога и наставника";
}

<section class="centered">

    <h2 class="section-title">
        Год педагога и наставника
    </h2>

    <ul class="page-navigation">
        <li>
            <a href="#info">
                О проекте
            </a>
        </li>
        <li>
            <a href="#documents">
                Документы
            </a>
        </li>
        <li>
            <a href="#events">
                Мероприятия
            </a>
        </li>
        <li>
            <a href="#young-teacher">
                Школа молодого педагога
            </a>
        </li>
    </ul>


    <h3 id="info" class="section-subtitle">
        О проекте
    </h3>
    <img style="max-width: 100%;" class="customized" src="~/images/projectsAndEvents/teacherAndMentor/poster.jfif" alt="">
    <p>
        Указом Президента России Владимиром Путиным 2023 год объявлен годом педагога и наставника.
        <br>
        <b>Наша Миссия:</b> Поддерживать всех, кто сегодня посвящает себя передаче знаний начинающим коллегам, повысить интерес молодежи к профессии педагога.
    </p>


    <h3 id="documents" class="section-subtitle">
        Документы
    </h3>
    <div class="accordions-list">
        <div class="accordion">
            <div class="accordion-head">
                Нормативно-правовая база
            </div>
            <div class="accordion-body">
                <ul class="documents-list little">
                    <li class="document-item">
                        <div class="document-item-head">
                            <a target="_blank" href="~/documents/projectsAndEvents/teacherAndMentor/dorognaiaKartaForm.pdf">
                            </a>
                        </div>
                        <div class="document-item-body">
                            Дорожная карта по внедрению различных форм сопровождения, наставничества и шефства в образовательных организациях Омской области на 2020 год
                        </div>
                    </li>
                    <li class="document-item">
                        <div class="document-item-head">
                            <a target="_blank" href="~/documents/projectsAndEvents/teacherAndMentor/rasporiagenieGubernatoraOO.pdf">
                            </a>
                        </div>
                        <div class="document-item-body">
                            Распоряжение Губернатора Омской области от 09.10.2020
                        </div>
                    </li>
                    <li class="document-item">
                        <div class="document-item-head">
                            <a target="_blank" href="~/documents/projectsAndEvents/teacherAndMentor/rasporiagenieMinprosveshenia.pdf">
                            </a>
                        </div>
                        <div class="document-item-body">
                            Распоряжение Минпросвещения России от 25.12.2019
                        </div>
                    </li>
                </ul>
            </div>
        </div>

        <div class="accordion">
            <div class="accordion-head">
                Нормативно-правовые документы внедрения Целевой модели наставничества
            </div>
            <div class="accordion-body">
                <ul class="documents-list little">
                    <li class="document-item">
                        <div class="document-item-head">
                            <a target="_blank" href="~/documents/projectsAndEvents/teacherAndMentor/pologenieRealizaciiCelevixModelei.pdf">
                            </a>
                        </div>
                        <div class="document-item-body">
                            Положение о реализации целевых моделей наставничества в БПОУ "Омавиат"
                        </div>
                    </li>
                    <li class="document-item">
                        <div class="document-item-head">
                            <a target="_blank" href="~/documents/projectsAndEvents/teacherAndMentor/dorognaiaKartaCelevoiModeli.pdf">
                            </a>
                        </div>
                        <div class="document-item-body">
                            Дорожная карта внедрения Целевой модели наставничества
                        </div>
                    </li>
                    <li class="document-item">
                        <div class="document-item-head">
                            <a target="_blank" href="~/documents/projectsAndEvents/teacherAndMentor/prikazSozdaniaCelevoiModeli.pdf">
                            </a>
                        </div>
                        <div class="document-item-body">
                            Приказ "О создании и организации работы управленческой команды для внедрения Целевой модели наставничества в БПОУ Омавиат"
                        </div>
                    </li>
                </ul>
            </div>
        </div>

        <div class="accordion">
            <div class="accordion-head">
                Реализация программ наставничества в БПОУ "Омавиат"
            </div>
            <div class="accordion-body">
                <ul class="documents-list little">
                    <li class="document-item">
                        <div class="document-item-head">
                            <a target="_blank" href="~/documents/projectsAndEvents/teacherAndMentor/programaNastavnicestva.pdf">
                            </a>
                        </div>
                        <div class="document-item-body">
                            Программа наставничества по форме "преподаватель-преподаватель"
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>


    <h3 id="events" class="section-subtitle">
        Мероприятия
    </h3>
    <h4 class="section-subtitle-small">
        Итоги работы за 2022 год и перспективы на 2023год – Год педагога и наставника
    </h4>
    <p>
        <b>24 марта 2023 года</b> региональным наставническим центром была организована и проведена региональная видеоконференцсвязь на тему: «Итоги работы за 2022 год и перспективы на 2023год – Год педагога и наставника».
    </p>
    <p>
        В рамках ВКС были освещены следующие вопросы:
    </p>
    <ul class="customized">
        <li>
            итоги работы за 2022 год
        </li>
        <li>
            новые направления работы в 2023 году
        </li>
        <li>
            плановые показатели для реализации целевых моделей наставничества на 2023 год
        </li>
        <li>
            мониторинговые формы отчетности
        </li>
        <li>
            план мероприятий Года педагога и наставника
        </li>
    </ul>

    
    <h3 id="young-teacher" class="section-subtitle">
        Школа молодого педагога
    </h3>
    <p>
        <b>23 марта 2023 года</b> в рамках школы молодого педагога прошел «Тренинг личностного роста». Цель данного тренинга – создать благоприятные условия для работы, осознание участниками некоторых своих личных особенностей и оптимизация отношений к себе и своей профессии.
    </p>

</section>
