@page
@model TicketToFutureModel
@{
    ViewData["Title"] = "Билет в твоё будушее";
}

<section class="centered">

    <h2 class="section-title">
        Билет в твоё будушее
    </h2>

    <div class="document-item">
        <div class="document-item-head">
            <a target="_blank" href="~/documents/projectsAndEvents/ticketToFuture/park.pdf">
            </a>
        </div>
        <div class="document-item-body">
            Парк Россия - моя история
        </div>
    </div>
    
</section>
