@page
@model TicketToFutureModel
@{
    ViewData["Title"] = "Билет в твоё будушее";
}

<link rel="stylesheet" href="~/css/projectsAndEvents/ticketToFuture.css" asp-append-version="true">

<section class="centered">

    <h2 class="section-title">
        Билет в твоё будушее
    </h2>

    <p>
        <b>Билет в будущее</b> — это проект ранней профессиональной ориентации обучающихся 6–11 классов школ, который реализуется при поддержке государства в рамках национального проекта «Образование». На базе Омского авиационного колледжа имени Н.Е. Жуковского будут реализованы следующие программы:
    </p>

    <ul class="programs-list">
        <li class="programs-list-item">
            <a href="~/documents/projectsAndEvents/ticketToFuture/kiberbezopasnost.docx" target="_blank">
                Кибербезопасность
                <img src="~/images/projectsAndEvents/ticketToFuture/kiberbezopasnost.jpg" alt="">
            </a>
        </li>
        <li class="programs-list-item">
            <a href="~/documents/projectsAndEvents/ticketToFuture/corporativnaiaZashita.docx" target="_blank">
                Корпоративная защита
                <img src="~/images/projectsAndEvents/ticketToFuture/corporativnaiaZashita.jpg" alt="">
            </a>
        </li>
        <li class="programs-list-item">
            <a href="~/documents/projectsAndEvents/ticketToFuture/specialistPoMasinnomuObuceniu.docx" target="_blank">
                Специалист по машинному обучению
                <img src="~/images/projectsAndEvents/ticketToFuture/specialistPoMashinnomuObuceniu.jpg" alt="">
            </a>
        </li>
        <li class="programs-list-item">
            <a href="~/documents/projectsAndEvents/ticketToFuture/setevoeSistemnoeAdministrirovanie.docx" target="_blank">
                Сетевое и системное администрирование
                <img src="~/images/projectsAndEvents/ticketToFuture/setevoeSistemnoeAdministririvanie.jpg" alt="">
            </a>
        </li>
        <li class="programs-list-item">
            <a href="~/documents/projectsAndEvents/ticketToFuture/razrabotkaMobilnixPrilogeni.docx" target="_blank">
                Мобильная разработка
                <img src="~/images/projectsAndEvents/ticketToFuture/mobilnaiaRazrabotks.jpg" alt="">
            </a>
        </li>
        <li class="programs-list-item">
            <a href="~/documents/projectsAndEvents/ticketToFuture/geimDizainer.docx" target="_blank">
                Геймдизайнер
                <img src="~/images/projectsAndEvents/ticketToFuture/geimDizainer.jpg" alt="">
            </a>
        </li>
    </ul>
    
</section>
