@page
@model InformationCommunicationTechnologiesModel
@{
	ViewData["Title"] = "Информационно-коммуникационные технологии";
}

<link rel="stylesheet" href="~/css/projectsAndEvents/education/informationCommunicationTechnologies.css" asp-append-version="true">

<section class="centered">
	<a id="plane" class="plane" href="#sidebar"></a>
	<h2 class="section-title">
		Информационно-коммуникационные технологии
	</h2>

	<ul class="page-navigation">
		<li>
			<a href="#info">
				Общая информация
			</a>
		</li>
		<li>
			<a href="#documents">
				Официальные документы
			</a>
		</li>
		<li>
			<a href="#workshops">
				Мастерские
			</a>
		</li>
		<li>
			<a href="#smi">
				СМИ
			</a>
		</li>
	</ul>


	<h3 id="info" class="section-subtitle">
		Общая информация
	</h3>
	<p>
		БПОУ «Омский авиационный колледж имени Н.Е. Жуковского» В 2019 году стал победителем конкурсного отбора на предоставление из федерального бюджета гранта в форме субсидий юридическим лицам в рамках реализации мероприятия «Государственная поддержка профессиональных образовательных организаций в целях обеспечения соответствия их материально-технической базы современным требованиям» федерального проекта «Профессионалы» (Повышение конкурентоспособности профессионального образования) <a href="https://edu.gov.ru/national-project" target="_blank">национального проекта «Образование»</a> государственной программы РФ «Развитие образования» по направлению «Информационные и коммуникационные технологии».
	</p>
	<p>
		25 сентября 2020г в Омском авиационном колледже состоялось торжественное <a href="https://photos.google.com/share/AF1QipOBDh6xuMQcWuu0TvJlbqsdm4SDL5Htx1i5CTbGnIVlgtwJmve7j_HF7GYQI9wt6Q?key=ZGRHbWdBZ1lOSnpqcmJpS002bDZBcTY5Ry05bmJn" target="_blank">открытие новых мастерских</a> «Информационные и коммуникационные технологии» по компетенциям «Кибер-безопасность», «Корпоративная защита от внутренних угроз информационной безопасности», «Разработка мобильных приложений», «Разработка виртуальной и дополненной реальности», «Машинное обучение и большие данные».
	</p>
	<p>
		Мастерские оснащены интерактивными и программными комплексами, современным компьютерным оборудованием и средствами обучения для подготовки специалистов соответствующего уровня и профиля, конкурентоспособными на рынке труда. Это позволят не только обучать студентов авиационного колледжа, но и через механизм сетевого взаимодействия охватить современной подготовкой студентов профессиональных образовательных организаций Омской области, активно вовлекать в профессию Омских школьников и людей всех возрастов. В дальнейшем мастерские станут площадками для проведения чемпионатов «Профессионалы» (WorldSkills Russia) по выбранным компетенциям.
	</p>
	<p>
		На церемонии открытия губернатор Александр Бурков поздравил студентов и преподавателей колледжа с глобальным обновлением образовательной инфраструктуры учебного заведения.
	</p>
	<p>
		Представляем вашему вниманию <a href="http://e.oat.ru/?startscene=pano5000" target="_blank">виртуальную экскурсию по новым мастерским</a>
	</p>
	<p>
		Участники экскурсии познакомятся с <a href="https://www.youtube.com/watch?v=iv3mnfHbcYI" target="_blank">пятью мастерскими</a> БПОУ «Омского авиационного колледжа им. Н.Е. Жуковского»
	</p>
	<p>
		Открытие <a href="https://www.youtube.com/watch?v=GuLCtvP2Rks" target="_blank">площадки "Яндекс.Лицей"</a> в Омской области на базе авиационного колледжа им. Н.Е. Жуковского
	</p>


	<h3 id="documents" class="section-subtitle">
		Официальные документы
	</h3>
	<ul class="documents-list">
		<li class="document-item">
			<div class="document-item-head">
				<a target="_blank" href="~/documents/projectsAndEvents/education/informationCommunicationTechnologies/rekomendacii.pdf">
				</a>
			</div>
			<div class="document-item-body">
				Методические рекомендации
			</div>
		</li>
		<li class="document-item">
			<div class="document-item-head">
				<a target="_blank" href="~/documents/projectsAndEvents/education/informationCommunicationTechnologies/dolgnostnaiaInstrukcia.pdf">
				</a>
			</div>
			<div class="document-item-body">
				Должностная инструкция заведующего Мастерской
			</div>
		</li>
		<li class="document-item">
			<div class="document-item-head">
				<a target="_blank" href="~/documents/projectsAndEvents/education/informationCommunicationTechnologies/prikazSozdanieMasterskoi.pdf">
				</a>
			</div>
			<div class="document-item-body">
				Приказ о создании Мастерской
			</div>
		</li>
		<li class="document-item">
			<div class="document-item-head">
				<a target="_blank" href="~/documents/projectsAndEvents/education/informationCommunicationTechnologies/pologenieDeitelnostiMasterskix.pdf">
				</a>
			</div>
			<div class="document-item-body">
				Положение о деятельности мастерских
			</div>
		</li>
		<li class="document-item">
			<div class="document-item-head">
				<a target="_blank" href="~/documents/projectsAndEvents/education/informationCommunicationTechnologies/pologenieDemonstracioniEkzamen.pdf">
				</a>
			</div>
			<div class="document-item-body">
				Положение о Демонстрационном экзамене
			</div>
		</li>
		<li class="document-item">
			<div class="document-item-head">
				<a target="_blank" href="~/documents/projectsAndEvents/education/informationCommunicationTechnologies/pologenieMasterskix.pdf">
				</a>
			</div>
			<div class="document-item-body">
				Положение о Мастерской
			</div>
		</li>
		<li class="document-item">
			<div class="document-item-head">
				<a target="_blank" href="~/documents/projectsAndEvents/education/informationCommunicationTechnologies/dorognaiaKarta.pdf">
				</a>
			</div>
			<div class="document-item-body">
				Дорожная карта по обеспечению создания мастерских БПОУ "Омавиат"
			</div>
		</li>
		<li class="document-item">
			<div class="document-item-head">
				<a target="_blank" href="~/documents/projectsAndEvents/education/informationCommunicationTechnologies/prikazOtkritieMasterskix.pdf">
				</a>
			</div>
			<div class="document-item-body">
				Приказ об открытии мастерских
			</div>
		</li>
		<li class="document-item">
			<div class="document-item-head">
				<a target="_blank" href="~/documents/projectsAndEvents/education/informationCommunicationTechnologies/programaModernizacia2018-2024.pdf">
				</a>
			</div>
			<div class="document-item-body">
				Программа модернизации БПОУ «Омский авиационный колледж имени Н.Е. Жуковского» на период 2018-2021 годы
			</div>
		</li>
	</ul>



	<h3 id="workshops" class="section-subtitle">
		Мастерские
	</h3>
	<p>
		Обновление и модернизация материально-технического обеспечения колледжа реализуется путем создания 5 мастерских по следующим компетенциям:
	</p>
	<div class="workshops-list">
		<div class="workshops-list-item">
			<img src="~/images/projectsAndEvents/education/informationnoCommunicacionnieTehnologii/cyberSecurity.png" alt="">
			<div class="workshops-list-item-head">
				<span>
					Кибер-безопасность
				</span>
				<span>
					Кабинет 312
				</span>
			</div>
			<div class="workshops-list-item-body">
				<ul class="customized">
					<li>
						<a href="~/documents/projectsAndEvents/education/informationCommunicationTechnologies/cyberSecurity/celiZadaci.pdf" target="_blank">
							Цели и задачи мастерской
						</a>
					</li>
					<li>
						<a href="~/documents/projectsAndEvents/education/informationCommunicationTechnologies/cyberSecurity/planPomecenia.png" target="_blank">
							План помещения мастерской
						</a>
					</li>
					<li>
						<a href="https://planner5d.com/view/?key=90e5ce494741e8a9d69309b63d53491f" target="_blank">
							План готового кабинета в 3д
						</a>
					</li>
					<li>
						<a href="~/documents/projectsAndEvents/education/informationCommunicationTechnologies/cyberSecurity/vidDoSozdania.jpg" target="_blank">
							Вид до начала создания мастерской
						</a>
					</li>
				</ul>
			</div>
		</div>

		<div class="workshops-list-item">
			<img src="~/images/projectsAndEvents/education/informationnoCommunicacionnieTehnologii/corporationProtection.png" alt="">
			<div class="workshops-list-item-head">
				<span>
					Корпоративная защита от внутренних угроз информационной безопасности
				</span>
				<span>
					Кабинет 315
				</span>
			</div>
			<div class="workshops-list-item-body">
				<ul class="customized">
					<li>
						<a href="~/documents/projectsAndEvents/education/informationCommunicationTechnologies/corporationProtection/celiZadaci.pdf" target="_blank">
							Цели и задачи мастерской
						</a>
					</li>
					<li>
						<a href="~/documents/projectsAndEvents/education/informationCommunicationTechnologies/corporationProtection/planPomecenia.png" target="_blank">
							План помещения мастерской
						</a>
					</li>
					<li>
						<a href="https://planner5d.com/view?key=ea9cf3fb76941eccdf1d083e32462d71" target="_blank">
							План готового кабинета в 3д
						</a>
					</li>
					<li>
						<a href="" target="_blank">
							Вид до начала создания мастерской
						</a>
					</li>
				</ul>
			</div>
		</div>

		<div class="workshops-list-item">
			<img src="~/images/projectsAndEvents/education/informationnoCommunicacionnieTehnologii/virtualReality.png" alt="">
			<div class="workshops-list-item-head">
				<span>
					Разработка виртуальной и дополнительной реальности
				</span>
				<span>
					Кабинет 319+320
				</span>
			</div>
			<div class="workshops-list-item-body">
				<ul class="customized">
					<li>
						<a href="~/documents/projectsAndEvents/education/informationCommunicationTechnologies/virtualReality/celiZadaci.pdf" target="_blank">
							Цели и задачи мастерской
						</a>
					</li>
					<li>
						<a href="~/documents/projectsAndEvents/education/informationCommunicationTechnologies/virtualReality/planPomecenia.jpg" target="_blank">
							План помещения мастерской
						</a>
					</li>
					<li>
						<a href="~/documents/projectsAndEvents/education/informationCommunicationTechnologies/virtualReality/vidKabineta319DoSozdania.jpg" target="_blank">
							Вид кабинета 319 до начала создания мастерской
						</a>
					</li>
					<li>
						<a href="~/documents/projectsAndEvents/education/informationCommunicationTechnologies/virtualReality/vidKabineta320DoSozdania.jpg" target="_blank">
							Вид кабинета 320 до начала создания мастерской
						</a>
					</li>
				</ul>
			</div>
		</div>

		<div class="workshops-list-item">
			<img src="~/images/projectsAndEvents/education/informationnoCommunicacionnieTehnologii/machineLearning.png" alt="">
			<div class="workshops-list-item-head">
				<span>
					Машинное обучение и большие данные
				</span>
				<span>
					Кабинет 318
				</span>
			</div>
			<div class="workshops-list-item-body">
				<ul class="customized">
					<li>
						<a href="~/documents/projectsAndEvents/education/informationCommunicationTechnologies/machineLearning/celiZadaci.pdf" target="_blank">
							Цели и задачи мастерской
						</a>
					</li>
					<li>
						<a href="~/documents/projectsAndEvents/education/informationCommunicationTechnologies/machineLearning/planZastroiki.jpg" target="_blank">
							План застройки мастерской
						</a>
					</li>
					<li>
						<a href="~/documents/projectsAndEvents/education/informationCommunicationTechnologies/machineLearning/vidDoSozdania.jpg" target="_blank">
							Вид до начала создания мастерской
						</a>
					</li>
				</ul>
			</div>
		</div>

		<div class="workshops-list-item">
			<img src="~/images/projectsAndEvents/education/informationnoCommunicacionnieTehnologii/mobileApps.png" alt="">
			<div class="workshops-list-item-head">
				<span>
					Разработка мобильных приложений
				</span>
				<span>
					Кабинет 316
				</span>
			</div>
			<div class="workshops-list-item-body">
				<ul class="customized">
					<li>
						<a href="~/documents/projectsAndEvents/education/informationCommunicationTechnologies/mobileApps/celiZadaci.pdf" target="_blank">
							Цели и задачи мастерской
						</a>
					</li>
					<li>
						<a href="~/documents/projectsAndEvents/education/informationCommunicationTechnologies/mobileApps/planZastroiki.png" target="_blank">
							План застройки мастерской
						</a>
					</li>
					<li>
						<a href="~/documents/projectsAndEvents/education/informationCommunicationTechnologies/mobileApps/vidDoSozdania.jpgtarget="_blank">
							Вид до начала создания мастерской
						</a>
					</li>
				</ul>
			</div>
		</div>
	</div>


	<h3 id="smi" class="section-subtitle">
		СМИ
	</h3>
	<ul class="customized">
		<li>
			<a href="https://12-kanal.ru/news/72251/" target="_blank">
				12 канал. "Омское областное телевидение"
			</a>
		</li>
		<li>
			<a href="https://www.youtube.com/watch?t=482&v=Dmh3ifPt6KU&feature=youtu.be" target="_blank">
				Новостной канал "РБК-Омск"
			</a>
		</li>
		<li>
			<a href="https://bk55.ru/news/article/174479/" target="_blank">
				Новости "БК55"
			</a>
		</li>
		<li>
			<a href="https://omskgazzeta.ru/rubrika/obrazovanie/v-omskom-kolledzhe-otkrylis-kiberbezopasnye-masterskie/%20" target="_blank">
				Городская газета "Вечерний Омск"
			</a>
		</li>
		<li>
			<a href="https://www.omsk.kp.ru/online/news/4025644/" target="_blank">
				Еженедельная газета "Комсомольская правда"
			</a>
		</li>
		<li>
			<a href="https://www.sotoo.ru/index.php/10-news/2838-v-aviatsionnom-kolledzhe-gotovyatsya-k-otkrytiyu-novye-masterskie-po-standartam-worldskills" target="_blank">
				Союз Организациий Торговли Омской области "СОТОО"
			</a>
		</li>
		<li>
			<a href="https://gorod55.ru/news/2020-09-25/burkov-pobyval-na-otkrytii-novyh-it-masterskih-v-omskom-aviatsionnom-kolledzhe-65738" target="_blank">
				Город55
			</a>
		</li>
		<li>
			<a href="http://xn----btb1bbcge2a.xn--p1ai/board/20-1-0-5247" target="_blank">
				Проф-обр.рф
			</a>
		</li>
		<li>
			<a href="https://tass.ru/nacionalnye-proekty/9550413" target="_blank">
				tass.ru
			</a>
		</li>
		<li>
			<a href="https://itclastersib.ru/novosti/predstaviteli-np-it-klaster-sibiri-prinyali-uchastie-v-otkrytii-oborudovannyh-v-ramkah-natsproekta-obrazovanie-masterskih-v-omskom-aviatsionnom-kolledzhe/" target="_blank">
				ИТ-Кластер-Сибирь
			</a>
		</li>
		<li>
			<a href="https://vk.com/wall-119696782_39800" target="_blank">
				Офицальная страница Правительства Омской области
			</a>
		</li>
		<li>
			<a href="https://omsk-news.net/other/2020/09/25/320389.html" target="_blank">
				Новости Омска
			</a>
		</li>
		<li>
			<a href="https://omskportal.ru/novost?id=/main/2020/09/25/06" target="_blank">
				Омск Портал
			</a>
		</li>
		<li>
			<a href="http://omskregion.info/news/85444-u_omskix_studentov_poyavlyayutsya_noveyshie_tsifro/" target="_blank">
				Омск Регион
			</a>
		</li>
		<li>
			<a href="https://news.mail.ru/society/43506996/" target="_blank">
				Новости Майл ру
			</a>
		</li>
		<li>
			<a href="https://ok.ru/gazetavas/topic/152339796960658" target="_blank">
				Газета "Ваша звезда"
			</a>
		</li>
	</ul>

</section>
	