@page
@model InformationCommunicationTechnologiesModel
@{
    ViewData["Title"] = "Информационно-коммуникационные технологии";
}

<section class="container">
    <a id="plane" class="plane" href="#sidebar"></a>
    <h2 class="section-title">
        Информационно-коммуникационные технологии
    </h2>

    <ul class="page-navigation">
        <li>
            <a href="#info">
                Общая информация
            </a>
        </li>
        <li>
            <a href="#documents">
                Официальные документы
            </a>
        </li>
        <li>
            <a href="#workshops">
                Мастерские
            </a>
        </li>
        <li>
            <a href="#smi">
                СМИ
            </a>
        </li>
    </ul>


    <h3 id="info" class="section-subtitle">
        Общая информация
    </h3>
    <p>
        БПОУ «Омский авиационный колледж имени Н.Е. Жуковского» В 2019 году стал победителем конкурсного отбора на предоставление из федерального бюджета гранта в форме субсидий юридическим лицам в рамках реализации мероприятия «Государственная поддержка профессиональных образовательных организаций в целях обеспечения соответствия их материально-технической базы современным требованиям» федерального проекта «Молодые профессионалы» (Повышение конкурентоспособности профессионального образования) национального проекта «Образование» государственной программы РФ «Развитие образования» по направлению «Информационные и коммуникационные технологии».
    </p>
    <p>
        25 сентября 2020г в Омском авиационном колледже состоялось торжественное открытие новых мастерских «Информационные и коммуникационные технологии» по компетенциям «Кибер-безопасность», «Корпоративная защита от внутренних угроз информационной безопасности», «Разработка мобильных приложений», «Разработка виртуальной и дополненной реальности», «Машинное обучение и большие данные».
    </p>
    <p>
        Мастерские оснащены интерактивными и программными комплексами, современным компьютерным оборудованием и средствами обучения для подготовки специалистов соответствующего уровня и профиля, конкурентоспособными на рынке труда. Это позволят не только обучать студентов авиационного колледжа, но и через механизм сетевого взаимодействия охватить современной подготовкой студентов профессиональных образовательных организаций Омской области, активно вовлекать в профессию Омских школьников и людей всех возрастов. В дальнейшем мастерские станут площадками для проведения чемпионатов «Молодые профессионалы» (WorldSkills Russia) по выбранным компетенциям.
    </p>
    <p>
        На церемонии открытия губернатор Александр Бурков поздравил студентов и преподавателей колледжа с глобальным обновлением образовательной инфраструктуры учебного заведения.
    </p>
    <p>
        Представляем вашему вниманию <a href="http://e.oat.ru/?startscene=pano5000" target="_blank">виртуальную экскурсию по новым мастерским</a>
    </p>
    <p>
        Участники экскурсии познакомятся с <a href="https://www.youtube.com/watch?v=iv3mnfHbcYI" target="_blank">пятью мастерскими</a> БПОУ «Омского авиационного колледжа им. Н.Е. Жуковского»
    </p>
    <p>
        Открытие <a href="https://www.youtube.com/watch?v=GuLCtvP2Rks" target="_blank">площадки "Яндекс.Лицей"</a> в Омской области на базе авиационного колледжа им. Н.Е. Жуковского
    </p>
    <h3 id="documents" class="section-subtitle">
        Официальные документы
    </h3>




    <h3 id="workshops" class="section-subtitle">
        Мастерские
    </h3>
    <p>
        Обновление и модернизация материально-технического обеспечения колледжа реализуется путем создания 5 мастерских по следующим компетенциям:
    </p>



    <h3 id="smi" class="section-subtitle">
        СМИ
    </h3>
    <ul class="customized">
        <li>
            <a href="" target="_blank">
                12 канал. "Омское областное телевидение"
            </a>
        </li>
        <li>
            <a href="" target="_blank">
                Новостной канал "РБК-Омск"
            </a>
        </li>
    </ul>

</section>
    