@page
@model NewWorkshopsModel
@{
    ViewData["Title"] = "Национальные проекты россии | демография";
}

<link rel="stylesheet" href="~/css/projectsAndEvents/education/newWorkshops.css" asp-append-version="true">

<section>
    <div class="container">
        <h3 class="section-title centered-title">
            Национальные проекты россии | образование
        </h3>
        
        <ul class="workshops-list">
            <li>
                <a class="workshops-list-item" href='@Url.Page("InformationCommunicationTechnologies")'>
                    <img src="~/images/projectsAndEvents/education/informationnoCommunicacionnieTehnologii.png" alt="">
                    Информационно-коммуникационные технологии
                </a>
            </li>
            <li>
                <a class="workshops-list-item" href="">
                    <img src="~/images/projectsAndEvents/education/informationnoCommunicacionnieTehnologii.png" alt="">
                    Новые мастерские 2022
                </a>
            </li>
        </ul>
    </div>
</section>
