.grades-form {
	display: flex;
	flex-direction: column;
	row-gap: 15px;
	border-radius: var(--border-radius-xl);
	padding: 20px 15px;
	background: var(--matte-color);
	text-align: center;
	color: var(--light-white);
	max-width: 300px;
}

.grades-form-title{
	font-weight: 700;
	font-size: 1.2rem;
}

.input-box input {
	background-color: hsl(0, 0%, 20%);
}

.grades-form button.customized {
	padding: 5px;
}