@page
@model ChangesModel
@{
    ViewData["Title"] = "Изменения в расписании";
}

<section class="centered timetable-container">
    <h2 class="section-title title-centered">
        Изменения в расписании
    </h2>
    <table class="customized timetable">
        <thead>
            <tr>
                <th>
                    Курс
                </th>
                <th>
                    Группа
                </th>
                <th>
                    Пара
                </th>
                <th>
                    Аудит
                </th>
                <th>
                    Учеб.дисциплина
                </th>
                <th>
                    ФИО преподавателя
                </th>
                <th>
                    причина
                </th>
                <th>
                    пара
                <th>
                    Аудит
                </th>
                <th>
                    Учеб.дисциплина
                </th>
                <th>
                    ФИО преподавателя
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    1
                </td>
                <td>
                    ПР13
                </td>
                <td>
                    3
                </td>
                <td>
                    
                </td>
                <td>
                    
                </td>
                <td>
                    
                </td>
                <td>
                    пр/н
                </td>
                <td>
                    3
                </td>
                <td>
                    111+
                </td>
                <td>
                    ОСАЛП+2пг
                </td>
                <td>
                    Агафонов И.В.
                </td>
            </tr>
        </tbody>
    </table>
    <table style="margin: 10px auto !important;" class="customized timetable">
        <thead>
            <tr>
                <th colspan="2">
                    Режим звонков
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    1
                </td>
                <td>
                    8:00 - 9:30
                </td>
            </tr>
            <tr>
                <td>
                    2
                </td>
                <td>
                    9:40 - 11:10
                </td>
            </tr>
            <tr>
                <td>
                    3
                </td>
                <td>
                    11:30 - 13:00
                </td>
            </tr>
            <tr>
                <td>
                    4
                </td>
                <td>
                    13:40 - 15:10
                </td>
            </tr>
            <tr>
                <td>
                    5
                </td>
                <td>
                    15:20 - 16:50
                </td>
            </tr>
            <tr>
                <td>
                    6
                </td>
                <td>
                    17:10 - 18:40
                </td>
            </tr>
        </tbody>
    </table>
</section>