@page "{building?}"
@model GroupsModel
@{
	ViewData["Title"] = "Группы";
}

<link rel="stylesheet" href="~/css/timetable/timetable.css" asp-append-version="true">
<link rel="stylesheet" href="~/css/timetable/groups.css" asp-append-version="true">
<section class="centered">
	@if (string.IsNullOrEmpty(Model.building))
	{
		<h2 class="section-title">
			Здание не найдено
		</h2>
	}
	else
	{
	 <h2 class="section-title title-centered">
		Группы
	</h2>
	<table class="customized timetable groups">
		<thead>
			<tr>
				<th colspan="2">
					Группа
				</th>
				 <th>
					Численность
				</th>
				<th>
					Юношей
				</th>
				<th>
					Девушек
				</th>
			</tr>
		</thead>
		<tbody>

			@for (int i = 1; i <= Model.max_curse; i++)
			{
					List<Group> groups_in_curse = Model.groups!.Where(e => e.curse == i).ToList();
					if (groups_in_curse.Count == 0)
						return;
					<tr>
						<td rowspan="@groups_in_curse.Count">
							@i
						</td>
						<td>
							<a href="/timetable/timetable/@Model.building/@groups_in_curse.First().name">@groups_in_curse.First().name</a>
						</td>
						<td>
							0
						</td>
						<td>
							0
						</td>
						<td>
							0
						</td>
					</tr>
					groups_in_curse.Remove(groups_in_curse.First());
					@foreach(var group in groups_in_curse)
					{
						<tr>
							<td>
								<a href="/timetable/timetable/@Model.building/@group.name">@group.name</a>
							</td>
							<td>
								0
							</td>
							<td>
								0
							</td>
							<td>
								0
							</td>
						</tr>
					}
			}
			
		</tbody>
		
	</table>
	}   
</section>
	