@page
@model GroupsModel
@{
    ViewData["Title"] = "Группы";
}

<link rel="stylesheet" href="~/css/timetable/timetable.css" asp-append-version="true">
<link rel="stylesheet" href="~/css/timetable/groups.css" asp-append-version="true">
<section class="timetable-container">
    <h2 class="section-title timetable-title">
        Группы
    </h2>

    <table class="customized timetable groups">
        <thead>
            <tr>
                <th colspan="2">
                    Группа
                </th>
                <th>
                    Численность
                </th>
                <th>
                    Юношей
                </th>
                <th>
                    Девушек
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td rowspan="5">
                    1
                </td>
                <td>
                    <a href="">БП112</a>
                </td>
                <td>
                    0
                </td>
                <td>
                    0
                </td>
                <td>
                    0
                </td>
            </tr>
            <tr>
                <td>
                    <a href="">ДГ112</a>
                </td>
                <td>
                    0
                </td>
                <td>
                    0
                </td>
                <td>
                    0
                </td>
            </tr>
            <tr>
                <td>
                    <a href="">ДГ12</a>
                </td>
                <td>
                    0
                </td>
                <td>
                    0
                </td>
                <td>
                    0
                </td>
            </tr>
            <tr>
                <td>
                    <a href="">ДГ122</a>
                </td>
                <td>
                    0
                </td>
                <td>
                    0
                </td>
                <td>
                    0
                </td>
            </tr>
            <tr>
                <td>
                    <a href="">ИС112</a>
                </td>
                <td>
                    0
                </td>
                <td>
                    0
                </td>
                <td>
                    0
                </td>
            </tr>
        </tbody>
    </table>
</section>
    