@page
@model TimetablePracticeModel
@{
    ViewData["Title"] = "Расписание практик";
}

<div class="container content-page">
    <section class="content">
        <h2 class="section-title">
            Расписание практик
        </h2>

        <ul class="documents-list">
            <li class="document-item">
                <div class="document-item-head">
                    <a target="_blank" href="">
                    </a>
                </div>
                <div class="document-item-body">
                    Практика с 19.06
                </div>
            </li>
            <li class="document-item">
                <div class="document-item-head">
                    <a target="_blank" href="">
                    </a>
                </div>
                <div class="document-item-body">
                    Практика с 12.06
                </div>
            </li>
            <li class="document-item">
                <div class="document-item-head">
                    <a target="_blank" href="">
                    </a>
                </div>
                <div class="document-item-body">
                    Практика июнь
                </div>
                <li class="document-item">
                <div class="document-item-head">
                    <a target="_blank" href="">
                    </a>
                </div>
                <div class="document-item-body">
                    Практика с 05.06
                </div>
            </li>
            <li class="document-item">
                <div class="document-item-head">
                    <a target="_blank" href="">
                    </a>
                </div>
                <div class="document-item-body">
                    Практика с 29.05
                </div>
            </li>
        </ul>
    </section>
    <aside id="sidebar" class="sidebar">
        <h3 class="sidebar-title">
            Расписание
        </h3>
        <nav class="sidebar-body">
            <ul class="sidebar-links">
                <li class="sidebar-link">
                    <a href=''>
                        Расписание занятий
                    </a>
                </li>
                <li class="sidebar-link">
                    <a href=''>
                        Изменения в расписании занятий
                    </a>
                </li>
                <li class="sidebar-link sidebar-link-selected">
                    <a href=''>
                        Расписание практик
                    </a>
                </li>
                <li class="sidebar-link">
                    <a href=''>
                        Расписание ПО и ДПО
                    </a>
                </li>
                <li class="sidebar-link">
                    <a href=''>
                        Расписание сессий
                    </a>
                </li>
                <li class="sidebar-link">
                    <a href=''>
                        Расписание ГИА
                    </a>
                </li>
            </ul>
        </nav>
    </aside>
</div>