@page
@model TimetableModel
@{
    ViewData["Title"] = "Расписание группы <ИМЯ>";
}

<link rel="stylesheet" href="~/css/timetable/timetable.css" asp-append-version="true">
<section class="timetable-container">
    <h2 class="section-title timetable-title">
        Расписание группы ИМЯ ГРУППЫ
    </h2>

    <table class="customized timetable">
        <thead>
            <tr>
                <th>
                    №
                </th>
                <th>
                    Время
                </th>
                <th>
                    1-Понедельник
                </th>
                <th>
                    1-Вторник
                </th>
                <th>
                    1-Среда
                </th>
                <th>
                    1-Четверг
                </th>
                <th>
                    1-Пятница
                </th>
                <th>
                    1-Суббота
                </th>
                <th>
                    1-Воскресенье
                </th>
                <th>
                    2-Понедельник
                </th>
                <th>
                    2-Вторник
                </th>
                <th>
                    2-Среда
                </th>
                <th>
                    2-Четверг
                </th>
                <th>
                    2-Пятница
                </th>
                <th>
                    2-Суббота
                </th>
                <th>
                    2-Воскресенье
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    1
                </td>
                <td>
                    8:00
                    <br>
                    9:30
                </td>
                <td>
                    <div class="subject">
                        <div class="subject-name">
                            Предмет
                        </div>
                        <div class="subject-more">
                            <div class="subject-more-item">
                                <div class="subject-teacher">
                                    Преподаватель
                                </div>
                                <div class="subject-teacher">
                                    Кабинет
                                </div>
                            </div>
                            <div class="subject-more-item">
                                <div class="subject-teacher">
                                    Преподаватель
                                </div>
                                <div class="subject-teacher">
                                    Кабинет
                                </div>
                            </div>
                        </div>
                    </div>
                </td>
                <td>
                    <div class="subject">
                        <div class="subject-name">
                            Предмет
                        </div>
                        <div class="subject-more">
                            <div class="subject-more-item">
                                <div class="subject-teacher">
                                    Преподаватель
                                </div>
                                <div class="subject-teacher">
                                    Кабинет
                                </div>
                            </div>
                            <div class="subject-more-item">
                                <div class="subject-teacher">
                                    Преподаватель
                                </div>
                                <div class="subject-teacher">
                                    Кабинет
                                </div>
                            </div>
                        </div>
                    </div>
                </td>
                <td>
                    <div class="subject">
                        <div class="subject-name">
                            Предмет
                        </div>
                        <div class="subject-more">
                            <div class="subject-more-item">
                                <div class="subject-teacher">
                                    Преподаватель
                                </div>
                                <div class="subject-teacher">
                                    Кабинет
                                </div>
                            </div>
                            <div class="subject-more-item">
                                <div class="subject-teacher">
                                    Преподаватель
                                </div>
                                <div class="subject-teacher">
                                    Кабинет
                                </div>
                            </div>
                        </div>
                    </div>
                </td>
                <td>
                    <div class="subject">
                        <div class="subject-name">
                            Предмет
                        </div>
                        <div class="subject-more">
                            <div class="subject-more-item">
                                <div class="subject-teacher">
                                    Преподаватель
                                </div>
                                <div class="subject-teacher">
                                    Кабинет
                                </div>
                            </div>
                            <div class="subject-more-item">
                                <div class="subject-teacher">
                                    Преподаватель
                                </div>
                                <div class="subject-teacher">
                                    Кабинет
                                </div>
                            </div>
                        </div>
                    </div>
                </td>
                <td>
                    <div class="subject">
                        <div class="subject-name">
                            Предмет
                        </div>
                        <div class="subject-more">
                            <div class="subject-more-item">
                                <div class="subject-teacher">
                                    Преподаватель
                                </div>
                                <div class="subject-teacher">
                                    Кабинет
                                </div>
                            </div>
                            <div class="subject-more-item">
                                <div class="subject-teacher">
                                    Преподаватель
                                </div>
                                <div class="subject-teacher">
                                    Кабинет
                                </div>
                            </div>
                        </div>
                    </div>
                </td>
                <td>
                    <div class="subject">
                        <div class="subject-name">
                            Предмет
                        </div>
                        <div class="subject-more">
                            <div class="subject-more-item">
                                <div class="subject-teacher">
                                    Преподаватель
                                </div>
                                <div class="subject-teacher">
                                    Кабинет
                                </div>
                            </div>
                            <div class="subject-more-item">
                                <div class="subject-teacher">
                                    Преподаватель
                                </div>
                                <div class="subject-teacher">
                                    Кабинет
                                </div>
                            </div>
                        </div>
                    </div>
                </td>
                <td>

                </td>
                <td>
                    <div class="subject">
                        <div class="subject-name">
                            Предмет
                        </div>
                        <div class="subject-more">
                            <div class="subject-more-item">
                                <div class="subject-teacher">
                                    Преподаватель
                                </div>
                                <div class="subject-teacher">
                                    Кабинет
                                </div>
                            </div>
                            <div class="subject-more-item">
                                <div class="subject-teacher">
                                    Преподаватель
                                </div>
                                <div class="subject-teacher">
                                    Кабинет
                                </div>
                            </div>
                        </div>
                    </div>
                </td>
                <td>
                    <div class="subject">
                        <div class="subject-name">
                            Предмет
                        </div>
                        <div class="subject-more">
                            <div class="subject-more-item">
                                <div class="subject-teacher">
                                    Преподаватель
                                </div>
                                <div class="subject-teacher">
                                    Кабинет
                                </div>
                            </div>
                            <div class="subject-more-item">
                                <div class="subject-teacher">
                                    Преподаватель
                                </div>
                                <div class="subject-teacher">
                                    Кабинет
                                </div>
                            </div>
                        </div>
                    </div>
                </td>
                <td>
                    <div class="subject">
                        <div class="subject-name">
                            Предмет
                        </div>
                        <div class="subject-more">
                            <div class="subject-more-item">
                                <div class="subject-teacher">
                                    Преподаватель
                                </div>
                                <div class="subject-teacher">
                                    Кабинет
                                </div>
                            </div>
                            <div class="subject-more-item">
                                <div class="subject-teacher">
                                    Преподаватель
                                </div>
                                <div class="subject-teacher">
                                    Кабинет
                                </div>
                            </div>
                        </div>
                    </div>
                </td>
                <td>
                    <div class="subject">
                        <div class="subject-name">
                            Предмет
                        </div>
                        <div class="subject-more">
                            <div class="subject-more-item">
                                <div class="subject-teacher">
                                    Преподаватель
                                </div>
                                <div class="subject-teacher">
                                    Кабинет
                                </div>
                            </div>
                            <div class="subject-more-item">
                                <div class="subject-teacher">
                                    Преподаватель
                                </div>
                                <div class="subject-teacher">
                                    Кабинет
                                </div>
                            </div>
                        </div>
                    </div>
                </td>
                <td>
                    <div class="subject">
                        <div class="subject-name">
                            Предмет
                        </div>
                        <div class="subject-more">
                            <div class="subject-more-item">
                                <div class="subject-teacher">
                                    Преподаватель
                                </div>
                                <div class="subject-teacher">
                                    Кабинет
                                </div>
                            </div>
                            <div class="subject-more-item">
                                <div class="subject-teacher">
                                    Преподаватель
                                </div>
                                <div class="subject-teacher">
                                    Кабинет
                                </div>
                            </div>
                        </div>
                    </div>
                </td>
                <td>
                    <div class="subject">
                        <div class="subject-name">
                            Предмет
                        </div>
                        <div class="subject-more">
                            <div class="subject-more-item">
                                <div class="subject-teacher">
                                    Преподаватель
                                </div>
                                <div class="subject-teacher">
                                    Кабинет
                                </div>
                            </div>
                            <div class="subject-more-item">
                                <div class="subject-teacher">
                                    Преподаватель
                                </div>
                                <div class="subject-teacher">
                                    Кабинет
                                </div>
                            </div>
                        </div>
                    </div>
                </td>
                <td>
                    
                </td>
            </tr>
        </tbody>
    </table>
</section>
    