<button class="button @ClassList" @onclick="async e => await OnClick.InvokeAsync(e)" tabindex="@TabIndex" type="button">
    @if (Text != "")
    {
        @Text   
    }
    else{
        @ChildContent
    }
</button>

@code{
    [Parameter] public string ClassList { get; set; } = "";
    [Parameter] public string? Text { get; set; } = "";
    [Parameter] public RenderFragment? ChildContent { get; set; }
    [Parameter] public EventCallback<MouseEventArgs> OnClick { get; set; }
    [Parameter] public string TabIndex { get; set; } = "0";
}