
@media(550px<width<1330px){
	.people-item{
		max-width: 550px;
		column-gap: 25px;
	}
	.people-item-img-container {
		min-height: 160px;
		max-height: 160px;
		min-width: 160px;
		max-width: 160px;
	}
}

/* people nav */

.ped-staff-nav-container {
	display: flex;
	column-gap: 20px;
	justify-content: center;
	margin: 15px;
}

.ped-staff-nav {
	display: flex;
	align-items: center;
	column-gap: 15px;
	padding: 10px 15px;
	border-radius: 15px;
	background-color: var(--matte-color);
}

.ped-staff-arrow {
	display: grid;
	padding: 7px;
	place-items: center;
	background-color: #474747;
	border-radius: 50%;
}

.ped-staff-prev {
	transform: rotate(-90deg);
}

.ped-staff-prev:hover img{
	transform: translateY(-3px);
}

.ped-staff-next {
	transform: rotate(90deg);
}

.ped-staff-next:hover img{
	transform: translateY(-3px);
}

.ped-staff-pages {
	display: flex;
	align-items: center;
	column-gap: 20px;
}

.ped-staff-page {
	display: block;
	padding: 5px;
	font-size: 1.2rem;
	color: var(--light-white) !important;
	transition: color 300ms;
}

.ped-staff-page:not(.current):hover {
	color: white !important;
	transform: scale(1.15);
}

.ped-staff-page.current{
	color: gray !important;
	font-size: 1rem;
}

@media (width<400px){
	.ped-staff-nav {
		column-gap: 10px;
	}
	.ped-staff-pages {
		column-gap: 2px;
	}
}