/* TEMP */
.pages-nav-pages-list {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.pages-nav-pages-list-item.points:hover{
	transform: scale(1);
}

@media(550px<width<1330px) {
	.people-item{
		max-width: 550px;
		column-gap: 25px;
	}
	.people-item-img-container {
		min-height: 160px;
		max-height: 160px;
		min-width: 160px;
		max-width: 160px;
	}
}
