@page
@model AlumniEmploymentCenterOmskModel
@{
	ViewData["Title"] = "Базовый центр содействия трудоустройству выпускников СПО Омской области";
}


<div class="container content-page">
	<section class="content">
		<h2 class="section-title">
			Базовый центр содействия трудоустройству выпускников СПО Омской области
		</h2>


		<div class="accordions-list">
			<div class="accordion">
				<div class="accordion-head">
					Методические разработки
				</div>
				<div class="accordion-body">
					<ul class="documents-list little">
						<li class="document-item">
							<div class="document-item-head">
								<a target="_blank" href="~/documents/students/alumniEmploymentCenterOmsk/recomendaciiPredprenimatel.docx">
								</a>
							</div>
							<div class="document-item-body">
								Методические рекомендации Индивидуальный предприниматель
							</div>
						</li>
						<li class="document-item">
							<div class="document-item-head">
								<a target="_blank" href="~/documents/students/alumniEmploymentCenterOmsk/prezentaciaIndividualniPredprenimatel.pptx">
								</a>
							</div>
							<div class="document-item-body">
								Презентация на тему Индивидуальный предприниматель
							</div>
						</li>
						<li class="document-item">
							<div class="document-item-head">
								<a target="_blank" href="~/documents/students/alumniEmploymentCenterOmsk/recomendaciiSamozaniatost.docx">
								</a>
							</div>
							<div class="document-item-body">
								Самозанятость Методические рекомендации
							</div>
						</li>
						<li class="document-item">
							<div class="document-item-head">
								<a target="_blank" href="~/documents/students/alumniEmploymentCenterOmsk/samozaniatostSvobodaVibora.pptx">
								</a>
							</div>
							<div class="document-item-body">
								Самозанятость - свобода выбора
							</div>
						</li>
					</ul>
				</div>
			</div>
			<div class="accordion">
				<div class="accordion-head">
					Аналитика
				</div>
				<div class="accordion-body">
					<ul class="documents-list">
						<li class="document-item">
							<div class="document-item-head">
								<a target="_blank" href="~/documents/students/alumniEmploymentCenterOmsk/vacanciiOmsk2022.docx">
								</a>
							</div>
							<div class="document-item-body">
								Вакансии Центра занятости населения г. Омск 15.06.2022
							</div>
						</li>
						<li class="document-item">
							<div class="document-item-head">
								<a target="_blank" href="~/documents/students/alumniEmploymentCenterOmsk/vacanciiOboroniOmska.pdf">
								</a>
							</div>
							<div class="document-item-body">
								Вакансии оборонно-промышленного комплекса Омской области
							</div>
						</li>
						<li class="document-item">
							<div class="document-item-head">
								<a target="_blank" href="~/documents/students/alumniEmploymentCenterOmsk/situaciaNaRinkeTruda2022.pptx">
								</a>
							</div>
							<div class="document-item-body">
								Экспресс-информация ситуации на рынке труда 2022 год
							</div>
						</li>
						<li class="document-item">
							<div class="document-item-head">
								<a target="_blank" href="~/documents/students/alumniEmploymentCenterOmsk/zaniatostVipusknikov2022.xlsx">
								</a>
							</div>
							<div class="document-item-body">
								Занятость выпускников 2022 года
							</div>
						</li>
					</ul>
				</div>
			</div>
			<div class="accordion">
				<div class="accordion-head">
					О Центре
				</div>
				<div class="accordion-body">
					<ul class="documents-list">
						<li class="document-item">
							<div class="document-item-head">
								<a target="_blank" href="~/documents/students/alumniEmploymentCenterOmsk/pologenieCentr.pdf">
								</a>
							</div>
							<div class="document-item-body">
								Положение о базовом центре содействия трудоустройству
							</div>
						</li>
						<li class="document-item">
							<div class="document-item-head">
								<a target="_blank" href="~/documents/students/alumniEmploymentCenterOmsk/planMeropriati.pdf">
								</a>
							</div>
							<div class="document-item-body">
								План мероприятий по содействию трудоустройству
							</div>
						<li class="document-item">
							<div class="document-item-head">
								<a target="_blank" href="https://drive.google.com/drive/folders/1vaQvSWFoEd9x8siFCDdtic7kd8RDLfEt">
								</a>
							</div>
							<div class="document-item-body">
								Документы ЦСТВ
							</div>
						</li>
					</ul>
				</div>
			</div>
			<div class="accordion">
				<div class="accordion-head">
					Соглашения о сотрудничестве
				</div>
				<div class="accordion-body">
					<ul class="documents-list little">
						<li class="document-item">
							<div class="document-item-head">
								<a target="_blank" href="~/documents/students/alumniEmploymentCenterOmsk/sotrudnicestvoStudentOtriad.pdf">
								</a>
							</div>
							<div class="document-item-body">
								Соглашение с РМОО "Омский областной студенческий отряд
							</div>
						</li>
						<li class="document-item">
							<div class="document-item-head">
								<a target="_blank" href="~/documents/students/alumniEmploymentCenterOmsk/sotrudnicestvoSoiuzMashinostroitelei.pdf">
								</a>
							</div>
							<div class="document-item-body">
								Соглашение с ОРО Союза машиностроителей России
							</div>
						</li>
					</ul>
				</div>
			</div>
			<div class="accordion">
				<div class="accordion-head">
					В помощь специалистам ЦСТВ
				</div>
				<div class="accordion-body">
					<div class="accordion-title">Семинар «Социальные сети как инструмент коммуникации с выпускниками. Интеграция социальной сети ПОО с региональной. Практикум. Начальный уровень»</div>
					<ul class="documents-list">
						<li class="document-item">
							<div class="document-item-head">
								<a target="_blank" href="~/documents/students/alumniEmploymentCenterOmsk/Программа семинара 7.06.2022.docx">
								</a>
							</div>
							<div class="document-item-body">
								Программа семинара 7.06.2022
							</div>
						</li>
					</ul>



					<div class="accordion-title">Целевое обучение: нормативные документы, преимущества для работодателя, преимущества для студента</div>
					<ul class="documents-list">
						<li class="document-item">
							<div class="document-item-head">
								<a target="_blank" href="~/documents/students/alumniEmploymentCenterOmsk/Программа семинара.docx">
								</a>
							</div>
							<div class="document-item-body">
								Программа семинара
							</div>
						</li>
						<li class="document-item">
							<div class="document-item-head">
								<a target="_blank" href="~/documents/students/alumniEmploymentCenterOmsk/Семинар Целевое обучение нормативные документы, преимущества для работодателя, преимущества для студента.pptx">
								</a>
							</div>
							<div class="document-item-body">
								Семинар Целевое обучение нормативные документы, преимущества для работодателя, преимущества для студента
							</div>
						</li>
						<li class="document-item">
							<div class="document-item-head">
								<a target="_blank" href="~/documents/students/alumniEmploymentCenterOmsk/Семинар «Инструменты содействия занятости выпускников образовательных организаций, реализующих программы СПО» 10.06.2022.pptx">
								</a>
							</div>
							<div class="document-item-body">
								Семинар «Инструменты содействия занятости выпускников образовательных организаций, реализующих программы СПО» 10.06.2022
							</div>
						</li>
						<li class="document-item">
							<div class="document-item-head">
								<a target="_blank" href="~/documents/students/alumniEmploymentCenterOmsk/Программа семинара 10.06.2022.docx">
								</a>
							</div>
							<div class="document-item-body">
								Программа семинара 10.06.2022
							</div>
						</li>
						<li class="document-item">
							<div class="document-item-head">
								<a target="_blank" href="~/documents/students/alumniEmploymentCenterOmsk/Презентация «Целевое обучение нормативные документы, преимущества для работодателя, преимущества для студента» Уленкова Е.В..pptx">
								</a>
							</div>
							<div class="document-item-body">
								Презентация «Целевое обучение нормативные документы, преимущества для работодателя, преимущества для студента» Уленкова Е.В.
							</div>
						</li>
					</ul>



					<div class="accordion-title">Семинар «Инструменты содействия занятости выпускников образовательных организаций, реализующих программы среднего профессионального образования»</div>
					<ul class="documents-list">
						<li class="document-item">
							<div class="document-item-head">
								<a target="_blank" href="~/documents/students/alumniEmploymentCenterOmsk/Программа семинара_12 мая 2022.docx">
								</a>
							</div>
							<div class="document-item-body">
								Программа семинара_12 мая 2022
							</div>
						</li>
						<li class="document-item">
							<div class="document-item-head">
								<a target="_blank" href="~/documents/students/alumniEmploymentCenterOmsk/Презентация «Успешные практики содействия трудоустройству выпускников Омавиат» Савин А.В..pptx">
								</a>
							</div>
							<div class="document-item-body">
								Презентация «Успешные практики содействия трудоустройству выпускников Омавиат» Савин А.В.
							</div>
						</li>
						<li class="document-item">
							<div class="document-item-head">
								<a target="_blank" href="~/documents/students/alumniEmploymentCenterOmsk/Презентация «Самозанятость как способ ведения предпринимательской деятельности» Соболев В.Ю..pdf">
								</a>
							</div>
							<div class="document-item-body">
								Презентация «Самозанятость как способ ведения предпринимательской деятельности» Соболев В.Ю.
							</div>
						</li>
						<li class="document-item">
							<div class="document-item-head">
								<a target="_blank" href="~/documents/students/alumniEmploymentCenterOmsk/Презентация «От производственной практики к трудоустройству. Омское машиностроение...» Дорохин В.Н..pptx">
								</a>
							</div>
							<div class="document-item-body">
								Презентация «От производственной практики к трудоустройству. Омское машиностроение...» Дорохин В.Н.
							</div>
						</li>
						<li class="document-item">
							<div class="document-item-head">
								<a target="_blank" href="~/documents/students/alumniEmploymentCenterOmsk/Презентация «Мониторинг занятости выпускников. Инструменты повышения доли трудоустройства» Уленкова Е.В..pptx">
								</a>
							</div>
							<div class="document-item-body">
								Презентация «Мониторинг занятости выпускников. Инструменты повышения доли трудоустройства» Уленкова Е.В.
							</div>
						</li>
						<li class="document-item">
							<div class="document-item-head">
								<a target="_blank" href="~/documents/students/alumniEmploymentCenterOmsk/Презентация «Анализ рынка труда. Возможности и перспективы для выпускника СПО» Варнавская И.П..pptx">
								</a>
							</div>
							<div class="document-item-body">
								Презентация «Анализ рынка труда. Возможности и перспективы для выпускника СПО» Варнавская И.П.
							</div>
						</li>
						<li class="document-item">
							<div class="document-item-head">
								<a target="_blank" href="~/documents/students/alumniEmploymentCenterOmsk/Презентация «Инструменты содействия занятости выпускников образовательных организаций, реализующих программы среднего профессионального образования» 12 мая 2022 года.pptx">
								</a>
							</div>
							<div class="document-item-body">
								Презентация «Инструменты содействия занятости выпускников образовательных организаций, реализующих программы среднего профессионального образования» 12 мая 2022 года
							</div>
						</li>
					</ul>



					<div class="accordion-title">Семинар-конференция «Содействие занятости выпускников системы СПО: опыт, инструменты, решения»</div>
					<ul class="documents-list">
						<li class="document-item">
							<div class="document-item-head">
								<a target="_blank" href="~/documents/students/alumniEmploymentCenterOmsk/Программа семинара 21.04.2023.pdf">
								</a>
							</div>
							<div class="document-item-body">
								Программа семинара 21.04.2023
							</div>
						</li>
						<li class="document-item">
							<div class="document-item-head">
								<a target="_blank" href="~/documents/students/alumniEmploymentCenterOmsk/Презентация Положительный опыт ЦСТВ, БПОУ Колледж инновационных технологий, экономики и коммерции Савельева Ю.С..pdf">
								</a>
							</div>
							<div class="document-item-body">
								Презентация "Положительный опыт ЦСТВ", БПОУ "Колледж инновационных технологий, экономики и коммерции" Савельева Ю.С.
							</div>
						</li>
						<li class="document-item">
							<div class="document-item-head">
								<a target="_blank" href="~/documents/students/alumniEmploymentCenterOmsk/Презентация Общие вопросы по работе в статусе самозанятого МОЙ БИЗНЕС Сергеева А.А..pdf"></a>
							</div>
							<div class="document-item-body">
								Презентация "Общие вопросы по работе в статусе самозанятого" МОЙ БИЗНЕС Сергеева А.А.
							</div>
						</li>
						<li class="document-item">
							<div class="document-item-head">
								<a target="_blank" href="~/documents/students/alumniEmploymentCenterOmsk/Презентация Центра поддержки предпринимательства г. Омска Тимощенко Г.А..pptx">
								</a>
							</div>
							<div class="document-item-body">
								Презентация "Центра поддержки предпринимательства" г. Омска Тимощенко Г.А.
							</div>
						</li>
						<li class="document-item">
							<div class="document-item-head">
								<a target="_blank" href="~/documents/students/alumniEmploymentCenterOmsk/Презентация Российские студенческие отряды.pptx">
								</a>
							</div>
							<div class="document-item-body">
								Презентация "Российские студенческие отряды"
							</div>
						</li>
						<li class="document-item">
							<div class="document-item-head">
								<a target="_blank" href="~/documents/students/alumniEmploymentCenterOmsk/Презентация Интеграция социальной сети ПОО в региональную Конюхова И.Е..pdf">
								</a>
							</div>
							<div class="document-item-body">
								Презентация "Интеграция социальной сети ПОО в региональную" Конюхова И.Е.
							</div>
						</li>
						<li class="document-item">
							<div class="document-item-head">
								<a target="_blank" href="~/documents/students/alumniEmploymentCenterOmsk/Презентация Трудоустройство инвалидов БПОУ ОО Омский колледж профессиональных технологий Бендуа В.В..pptx">
								</a>
							</div>
							<div class="document-item-body">
								Презентация "Трудоустройство инвалидов" БПОУ ОО "Омский колледж профессиональных технологий" Бендуа В.В.
							</div>
						</li>
						<li class="document-item">
							<div class="document-item-head">
								<a target="_blank" href="~/documents/students/alumniEmploymentCenterOmsk/Презентация Технологии и практики проведения мероприятий для студентов ОмГУПС, направленных на содействие трудоустройству.pdf">
								</a>
							</div>
							<div class="document-item-body">
								Презентация "Технологии и практики проведения мероприятий для студентов ОмГУПС, направленных на содействие трудоустройству", ФГБОУ ВО "Омский государственный университет путей и сообщения" Гарафутдинова Н.Я.
							</div>
						</li>
					</ul>
				</div>
			</div>
		</div>
		
		
	</section>
	<aside id="sidebar" class="sidebar">
		<h3 class="sidebar-title">
			Студентам
		</h3>
		<nav class="sidebar-body">
			<ul class="sidebar-links">
				<li class="sidebar-link">
					<a asp-page="/AlumniEmploymentCenterOmaviat">
						Центр содействия трудоустройству выпускников Омавиат
					</a>
				</li>
				<li class="sidebar-link sidebar-link-selected">
					<a asp-page="AlumniEmploymentCenterOmsk">
						Базовый центр содействия трудоустройству выпускников СПО Омской области
					</a>
				</li>
				<li class="sidebar-link">
					<a asp-page="DistanceLearning">
						Дистанционное обучение
					</a>
				</li>
				<li class="sidebar-link">
					<a asp-page="DistanceFullTimeLearning">
						Дистанционное обучение - очная форма обучения
					</a>
				</li>
				<li class="sidebar-link">
					<a asp-page="SportClub">
						Спортивный клуб
					</a>
				</li>
				<li class="sidebar-link">
					<a asp-page="DailyRoutineRules">
						Правила внутреннего распорядка
					</a>
				</li>
				<li class="sidebar-link">
					<a asp-page="ResearchWork">
						Научно-исследовательская работа
					</a>
				</li>
				<li class="sidebar-link">
					<a asp-page="StudentLife">
						Студенческая жизнь
					</a>
				</li>
			</ul>
		</nav>
	</aside>
</div>