@page "/cstv"
@model AlumniEmploymentCenterOmaviatModel
@{
	ViewData["Title"] = "Центр содействия трудоустройству выпускников Омавиат";
}

<link rel="stylesheet" href="~/css/students/alumniEmploymentCenterOmaviat.css" asp-append-version="true">

<div class="container content-page">
	<section class="content">
		<a id="plane" class="plane" href="#sidebar"></a>
		<h2 class="section-title">
			Центр содействия трудоустройству выпускников Омавиат
		</h2>

		<ul class="page-navigation">
			<li>
				<a href="#resources">
					Информационные ресурсы с вакансиями
				</a>
			</li>
			<li>
				<a href="#documents">
					Документы
				</a>
			</li>
			<li>
				<a href="#feedback">
					Связаться с нами
				</a>
			</li>
		</ul>


		<h3 id="resources" class="section-subtitle">
			Информационные ресурсы с вакансиями
		</h3>
		<ul class="customized">
            <li>
                <a href="https://www.trud.com/">
                    Агрегатор вакансий (trud.com)
                </a>
            </li>
            <li>
                <a href="https://www.rabota.ru/">
                    Агрегатор вакансий (rabota.ru)
                </a>
            </li>
            <li>
                <a href="https://academy.yandex.ru/">
                    Академия Яндекса
                </a>
            </li>
            <li>
                <a href="https://gossluzhba.gov.ru/">
                    Вакансии государственной службы
                </a>
            </li>
            <li>
                <a href="https://hh.ru/">
                    Группа компаний HeadHunter
                </a>
            </li>
			<li>
				<a href="https://www.omskzan.ru/">
					Интерактивный портал государственной службы занятости населения Омской области
				</a>
			</li>
            <li>
                <a href="https://ancor.ru/">
                    Кадровое агентство
                </a>
            </li>
            <li>
                <a href="http://fut.ru/">
                    Компания «FutureToday» - работа для студентов и выпускников
                </a>
            </li>
			<li>
				<a href="https://trudvsem.ru/">
					Общероссийская база вакансий «Работа в Росии»
				</a>
			</li>
			<li>
				<a href="https://www.superjob.ru/">
					IT-сервис по поиску работы и подбору сотрудников
				</a>
			</li>
		</ul>


		<h3 id="documents" class="section-subtitle">
			Документы
		</h3>
		<div class="accordions-list">
			<div class="accordion">
				<div class="accordion-head">
					Полезная литература
				</div>
				<div class="accordion-body">
					<div class="accordion-title">Презентации</div>
					<ul class="documents-list little">
						<li class="document-item">
							<div class="document-item-head">
								<a target="_blank" href="~/documents/students/alumniEmploymentCenterOmaviat/samozaniatostSvobodaVibora.pptx">
								</a>
							</div>
							<div class="document-item-body">
								Самозанятость. Свобода выбора
							</div>
						</li>
						<li class="document-item">
							<div class="document-item-head">
								<a target="_blank" href="~/documents/students/alumniEmploymentCenterOmaviat/neSlovomADelom.pptx">
								</a>
							</div>
							<div class="document-item-body">
								Индивидуальный предприниматель. Не словом, а делом
							</div>
						</li>
					</ul>
					<div class="accordion-title">Списки</div>
					<ul class="documents-list little">
						<li class="document-item">
							<div class="document-item-head">
								<a target="_blank" href="~/documents/students/alumniEmploymentCenterOmaviat/mestaProxogdeniaPraktiki.pdf">
								</a>
							</div>
							<div class="document-item-body">
								Места прохождения практики
							</div>
						</li>
						<li class="document-item">
							<div class="document-item-head">
								<a target="_blank" href="~/documents/students/alumniEmploymentCenterOmaviat/bankVakanciPartnerov2023.pdf">
								</a>
							</div>
							<div class="document-item-body">
								Банк вакансий партнеров Омавиат 27.04.2023
							</div>
						</li>
					</ul>
					<div class="accordion-title">Остальная электронная литература</div>
					<ul class="documents-list little">
						<li class="document-item">
							<div class="document-item-head">
								<a target="_blank" href="~/documents/students/alumniEmploymentCenterOmaviat/rezume.docx">
								</a>
							</div>
							<div class="document-item-body">
								Резюме
							</div>
						</li>
						<li class="document-item">
							<div class="document-item-head">
								<a target="_blank" href="~/documents/students/alumniEmploymentCenterOmaviat/sobesedovanieSamoprezentacia.docx">
								</a>
							</div>
							<div class="document-item-body">
								Собеседование и самопрезентация
							</div>
						</li>
						<li class="document-item">
							<div class="document-item-head">
								<a target="_blank" href="~/documents/students/alumniEmploymentCenterOmaviat/timeMenagment.docx">
								</a>
							</div>
							<div class="document-item-body">
								Тайм-менеджмент для студентов. учиться, работать и отдыхать
							</div>
						</li>
						<li class="document-item">
							<div class="document-item-head">
								<a target="_blank" href="~/documents/students/alumniEmploymentCenterOmaviat/metodiceskieRekomendaciiPoTrudoustroistvu.pdf">
								</a>
							</div>
							<div class="document-item-body">
								Методические рекомендации по трудоустройству
							</div>
						</li>
					</ul>
				</div>
			</div>
			<div class="accordion">
				<div class="accordion-head">
					О центре
				</div>
				<div class="accordion-body">
					<ul class="documents-list">
						<li class="document-item">
							<div class="document-item-head">
								<a target="_blank" href="~/documents/students/alumniEmploymentCenterOmaviat/Положение.pdf">
								</a>
							</div>
							<div class="document-item-body">
								Положение о Центре содействия трудоустройству
							</div>
						</li>
						<li class="document-item">
							<div class="document-item-head">
								<a target="_blank" href="~/documents/students/alumniEmploymentCenterOmaviat/План.pdf">
								</a>
							</div>
							<div class="document-item-body">
								План работы ЦСТВ Омавиат
							</div>
						</li>
						<li class="document-item">
							<div class="document-item-head">
								<a target="_blank" href="~/documents/students/alumniEmploymentCenterOmaviat/prikazCentraTrudoustroistva.pdf">
								</a>
							</div>
							<div class="document-item-body">
								Приказ о Центре содействия трудоустройства выпускников
							</div>
						</li>
						<li class="document-item">
							<div class="document-item-head">
								<a target="_blank" href="~/documents/students/alumniEmploymentCenterOmaviat/soglashenieCentrZaniatosti.pdf">
								</a>
							</div>
							<div class="document-item-body">
								Соглашение с центром занятости населения г. Омска 2021 год
							</div>
						</li>
						<li class="document-item">
							<div class="document-item-head">
								<a target="_blank" href="~/documents/students/alumniEmploymentCenterOmaviat/zaniatostVipusknikov2022.xlsx">
								</a>
							</div>
							<div class="document-item-body">
								Занятость выпускников 2022 года
							</div>
						</li>
					</ul>
				</div>
			</div>
		</div>


		<h3 id="feedback" class="section-subtitle">
			По вопросам обращаться
		</h3>
		<ul class="people-list">
			<li class="people-item">
				<a class="people-item-img-container" href=''>
					<img src="~/images/people/Булейко Виктория Геннадьевна.jpg" alt="">
				</a>
				<div class="people-item-body more-info">
					<div class="people-item-body-fio">
						Булейко Виктория Геннадьевна
					</div>
					<div class="people-item-body-job">
						Методист Центра содействия трудоустройству
					</div>
					<div class="people-item-body-phone">
						(3812) 31-75-17
					</div>
				</div>
			</li>
			<li class="people-item">
				<a class="people-item-img-container" href=''>
					<img src="~/images/people/Конюхова Ирина Евгеньевна.jpg" alt="">
				</a>
				<div class="people-item-body more-info">
					<div class="people-item-body-fio">
						Конюхова Ирина Евгеньевна
					</div>
					<div class="people-item-body-job">
						Аналитик
					</div>
					<div class="people-item-body-phone">
						(3812) 31-75-17
					</div>
				</div>
			</li>
		</ul>
	</section>
	<aside id="sidebar" class="sidebar">
		<h3 class="sidebar-title">
			Студентам
		</h3>
		<nav class="sidebar-body">
			<ul class="sidebar-links">
				<li class="sidebar-link sidebar-link-selected">
					<a asp-page="AlumniEmploymentCenterOmaviat">
						Центр содействия трудоустройству выпускников Омавиат
					</a>
				</li>
				<li class="sidebar-link">
					<a asp-page="AlumniEmploymentCenterOmsk">
						Базовый центр содействия трудоустройству выпускников СПО Омской области
					</a>
				</li>
				<li class="sidebar-link">
					<a asp-page="DistanceFullTimeLearning">
						Дистанционное обучение - очная форма обучения
					</a>
				</li>
				<li class="sidebar-link">
					<a asp-page="SportClub">
						Спортивный клуб
					</a>
				</li>
				<li class="sidebar-link">
					<a asp-page="DailyRoutineRules">
						Правила внутреннего распорядка
					</a>
				</li>
				<li class="sidebar-link">
					<a asp-page="ResearchWork">
						Научно-исследовательская работа
					</a>
				</li>
				<li class="sidebar-link">
					<a asp-page="StudentLife">
						Студенческая жизнь
					</a>
				</li>
			</ul>
		</nav>
	</aside>
</div>