@page
@model AlumniEmploymentCenterOmaviatModel
@{
    ViewData["Title"] = "Центр содействия трудоустройству выпускников Омавиат";
}


<div class="container content-page">
    <section class="content">
        <a id="plane" class="plane" href="#sidebar"></a>
        <h2 class="section-title">
            Центр содействия трудоустройству выпускников Омавиат
        </h2>

        <ul class="page-navigation">
            <li>
                <a href="#feedback">
                    Связаться с нами
                </a>
            </li>
            <li>
                <a href="#resources">
                    Информационные ресурсы с вакансиями
                </a>
            </li>
            <li>
                <a href="#documents">
                    Документы
                </a>
            </li>
        </ul>


        <h3 id="feedback" class="section-subtitle">
            Контактная информация
        </h3>
        <p>
            За трудоустройство выпускников Омского авиационного колледжа отвечает сразу три человека:
        </p>


        <h3 id="resources" class="section-subtitle">
            Информационные ресурсы с вакансиями
        </h3>
        <ul class="customized">
            <li>
                <a href="https://www.omskzan.ru/">
                    Интерактивный портал государственной службы занятости населения Омской области
                </a>
            </li>
            <li>
                <a href="https://trudvsem.ru/">
                    Общероссийская база вакансий «Работа в Росии»
                </a>
            </li>
            <li>
                <a href="https://hh.ru/">
                    Группа компаний HeadHunter
                </a>
            </li>
            <li>
                <a href="https://neuvoo.ru/">
                    Neuvoo. Онлайн-ресурс для поиска работы
                </a>
            </li>
            <li>
                <a href="https://ru.jooble.org/">
                    Агрегатор вакансий Jooble в России
                </a>
            <li>
            </li>
            <li>
                <a href="https://www.superjob.ru/">
                    IT-сервис по поиску работы и подбору сотрудников
                </a>
            </li>
            <li>
                <a href="https://www.trud.com/">
                    Агрегатор вакансий
                </a>
            </li>
            <li>
                <a href="https://www.rabota.ru/">
                    Агрегатор вакансий
                </a>
            </li>
            <li>
                <a href="https://russia.zaplata.ru/">
                    Агрегатор вакансий
                </a>
            </li>
            <li>
                <a href="https://gossluzhba.gov.ru/">
                    Вакансии государственной службы
                </a>
            </li>
            <li>
                <a href="https://ancor.ru/">
                    Кадровое агентство
                </a>
            </li>
            <li>
                <a href="http://fut.ru/">
                    Компания «FutureToday» - работа для студентов и выпускников
                </a>
            </li>
            <li>
                <a href="https://academy.yandex.ru/">
                    Академия Яндекса
                </a>
            </li>
        </ul>

        <h3 id="documents" class="section-subtitle">
            Документы
        </h3>
        <div class="accordions-list">
            <div class="accordion">
                <div class="accordion-head">
                    Шаблоны
                </div>
                <div class="accordion-body">
                    <ul class="documents-list">
                        <li class="document-item">
                            <div class="document-item-head">
                                <a target="_blank" href="~/documents/students/sportClub/diplomiSpartakiadi.pdf">
                                </a>
                            </div>
                            <div class="document-item-body">
                                Резюме
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="accordion">
                <div class="accordion-head">
                    О центре
                </div>
                <div class="accordion-body">
                    <ul class="documents-list">
                        <li class="document-item">
                            <div class="document-item-head">
                                <a target="_blank" href="~/documents/students/sportClub/diplomiSpartakiadi.pdf">
                                </a>
                            </div>
                            <div class="document-item-body">
                                Положение о Центре содействия трудоустройству
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="accordion">
                <div class="accordion-head">
                    Отчеты
                </div>
                <div class="accordion-body">
                    <ul class="documents-list">
                        <li class="document-item">
                            <div class="document-item-head">
                                <a target="_blank" href="~/documents/students/sportClub/diplomiSpartakiadi.pdf">
                                </a>
                            </div>
                            <div class="document-item-body">
                                Положение о Центре содействия трудоустройству
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        
        
    </section>
    <aside id="sidebar" class="sidebar">
        <h3 class="sidebar-title">
            Студентам
        </h3>
        <nav class="sidebar-body">
            <ul class="sidebar-links">
                <li class="sidebar-link sidebar-link-selected">
                    <a href=''>
                        Очное дистанционное обучение
                    </a>
                </li>
                <li class="sidebar-link">
                    <a href=''>
                        Заочное дистанционное обучение
                    </a>
                </li>
                <li class="sidebar-link">
                    <a href=''>
                        Спортивный клуб
                    </a>
                </li>
                <li class="sidebar-link">
                    <a href=''>
                        Трудоустройство
                    </a>
                </li>
                <li class="sidebar-link">
                    <a href=''>
                        Научно-исследовательская работа
                    </a>
                </li>
            </ul>
        </nav>
    </aside>
</div>