@page
@model DailyRoutineRulesModel
@{
	ViewData["Title"] = "Правила внутреннего распорядка";
}

<div class="container content-page">
	<section class="content">
		<a id="plane" class="plane" href="#sidebar"></a>
		<h2 class="section-title">
			Правила внутреннего распорядка
		</h2>

		<ul class="page-navigation">
			<li>
				<a href="#rights">
					Права
				</a>
			</li>
			<li>
				<a href="#responsibilities">
					Обязанности
				</a>
			</li>
			<li>
				<a href="#study-load">
					Учебная нагрузка
				</a>
			</li>
			<li>
				<a href="#encouragement">
					Поощрение за успехи
				</a>
			</li>
			<li>
				<a href="#responsibility">
					Ответственность за нарушение трудовой дисциплины
				</a>
			</li>
			<li>
				<a href="#feedback">
					Обратиться за помощью
				</a>
			</li>
		</ul>


		<h3 id="rights" class="section-subtitle">
			Права студентов
		</h3>
		<p>
			Студенты пользуются всеми правами, социальными гарантиями и льготами, предусмотренными действующим законодательством РФ.
		</p>
		<p>
			Студенты имеют право:
		</p>
		<ul class="customized">
			<li>
				на получение образования в соответствии с образовательными государственными образовательными стандартами
			</li>
			<li>
				на бесплатное пользование библиотечными и информационными ресурсами колледжа
			</li>
			<li>
				на участие в обсуждении важнейших вопросов деятельности колледжа, в том числе через общественные организации и органы управления колледжем
			</li>
			<li>
				на уважение своего человеческого достоинства, свободу совести, информации, свободное выражение своих взглядов и убеждений
			</li>
			<li>
				на свободное посещение мероприятий, не предусмотренных учебным планом
			</li>
			<li>
				на получение дополнительных (в том числе платных) образовательных услуг
			</li>
		</ul>


		<h3 id="responsibilities" class="section-subtitle">
			Обязанности студентов
		</h3>
		<p>
			Студенты колледжа должны выполнять обязанности, предусмотренные законодательством РФ, Уставом колледжа, локальными актами подразделений колледжа.
		</p>
		<p>
			Студенты обязаны:
		</p>
		<ul class="customized">
			<li>
				соблюдать Устав колледжа и настоящие Правила, приказы и распоряжения администрации
			</li>
			<li>
				соблюдать чистоту, порядок и правила поведения, техники безопасности и противопожарной охраны на всей территории колледжа
			</li>
			<li>
				полностью выполнить требования государственного образовательного стандарта
			</li>
			<li>
				находиться в колледже в опрятной, аккуратной одежде
			</li>
			<li>
				выполнять требования администрации, связанные с запретом курения на территории колледжа, на нахождение в колледже в состоянии алкогольного и наркотического опьянения
			</li>
			<li>
				посещать учебные занятия
			</li>
			<li>
				при неявке на учебное занятие по уважительной причине поставить в известность в трехдневный срок классного руководителя (куратора), при его отсутствии - заведующего отделением, предъявить документы, удостоверяющие причину отсутствия
			</li>
			<li>
				бережно обращаться с имуществом образовательного учреждения, нести материальную ответственность за их порчу
			</li>
			<li>
				своевременно оплачивать платные услуги, предоставленные студенту колледжем с согласия студента
			</li>
		</ul>
		<p>
			Администрация колледжа несет ответственность за жизнь и здоровье обучающихся во время пребывания их в колледже и участия в мероприятиях, организуемых колледжем.
		</p>


		<h3 id="study-load" class="section-subtitle">
			Учебная нагрузка студентов
		</h3>
		<p>
			Объем обязательной учебной нагрузки студентов в колледже (аудиторной нагрузки), максимальный объем учебной нагрузки студента по каждой форме обучения, продолжительность учебных занятий и перерывов определяется нормативными актами, регламентирующим образовательную деятельность, и Уставом колледжа.
		</p>
		<ul class="customized">
			<li>
				Единицей проведения учебных занятий всех видов является учебная пара (два академических часа)
			</li>
			<li>
				Количество определяется расписанием учебных занятий (практик) и не превышает 36 часов в неделю
			</li>
			<li>
				Все виды учебных занятий имеют продолжительность два академических часа (учебная пара)
			</li>
			<li>
				Время с 1-ой по 3-ью пары составляет первую учебную смену, с 4-ой по 6-ую пару – вторую учебную смену
			</li>
			<li>
				Перерыв между учебными парами в рамках одной учебной смены – 10 мин
			</li>
			<li>
				Перерыв для приема пищи первой смены – после 2-ой пары составляет 30 мин
			</li>
			<li>
				Перерыв между сменами – 40 мин
			</li>
			<li>
				Каждый первый и третий четверг каждого месяца проводятся общеколледжные классные часы: для 1-ой смены – после 2-ой пары, для 2-ой смены – после 5-ой пары продолжительностью 40 мин
			</li>
		</ul>
		<p>
			Расписание звонков утверждается приказом директора колледжа.
		</p>
		<p>
			Учебные занятия в колледже проводятся по утвержденному директором расписанию, составленному в соответствии с учебными планами. Расписание учебных занятий включает в себя продолжительность занятия, последовательность дисциплин и междисциплинарных курсов, подлежащих изучению и чередование групп, а также ежедневное внесение изменений в расписание (при необходимости).
		</p>


		<h3 id="encouragement" class="section-subtitle">
			Поощрения студентов за успехи
		</h3>
		<p>
			Директор колледжа и заведующие отделениями поощряют студентов за успехи в освоении профессиональных образовательных программ, активное участие в общественной жизни колледжа.
		</p>
		<p>
			Формы поощрения студентов могут быть следующими:
		</p>
		<ul class="customized">
			<li>
				объявление благодарности
			</li>
			<li>
				награждение подарком или денежным вознаграждением
			</li>
			<li>
				награждение Почетной грамотой, Похвальным листом
			</li>
			<li>
				представление к награждению именной стипендии
			</li>
		</ul>
		<p>
			Поощрения студентов оформляются приказом директора колледжа, доводятся до сведения всех студентов. Выписка из приказа хранится в личном деле студента.
		</p>
   

		<h3 id="responsibility" class="section-subtitle">
			Ответственность за нарушение трудовой дисциплины
		</h3>
		<p>
			3а совершение студентом дисциплинарного проступка (невыполнение учебного плана по специальности в установленные сроки по неуважительной причине; невыполнение обязанностей, предусмотренных уставом; невыполнение настоящих правил) администрация имеет право применять следующие дисциплинарные взыскания:
		</p>
		<ul class="customized">
			<li>
				замечание
			</li>
			<li>
				выговор
			</li>
			<li>
				отчисление из колледжа
			</li>
		</ul>
		<p>
			Дисциплинарное взыскание оформляется приказом директора, объявляется студенту заведующим отделением под подпись в течение трех дней с момента издания. Информация об объявлении студенту дисциплинарного взыскания может быть представлена в открытой печати колледжа. Классные руководители (кураторы) групп обязаны довести до сведения родителей студента информацию об объявлении дисциплинарного взыскания в течение месяца со дня оформления приказа.
		</p>


		<h3 id="feedback" class="section-subtitle">
			По вопросам обращаться
		</h3>
		<div class="question-contact">
			<div class="question-contact-head">
				<a class="question-contact-head-img-container" href="">
					<img src="~/images/people/Москаленко Сергей Игоревич.jfif">
				</a>
				<p class="question-contact-head-fio">Москаленко<br>Сергей Игоревич</p>
				<p class="question-contact-head-post">
					Начальник организационно-кадрового отдела
				</p>
			</div>
			<div class="question-contact-body">
				<p class="question-contact-body-phone">
					+7(3812)31-73-18
				</p>
			</div>
		</div>
	</section>
	<aside id="sidebar" class="sidebar">
		<h3 class="sidebar-title">
			Студентам
		</h3>
		<nav class="sidebar-body">
			<ul class="sidebar-links">
				<li class="sidebar-link">
					<a asp-page="/AlumniEmploymentCenterOmaviat">
						Центр содействия трудоустройству выпускников Омавиат
					</a>
				</li>
				<li class="sidebar-link">
					<a asp-page="AlumniEmploymentCenterOmsk">
						Базовый центр содействия трудоустройству выпускников СПО Омской области
					</a>
				</li>
				<li class="sidebar-link">
					<a asp-page="DistanceLearning">
						Дистанционное обучение
					</a>
				</li>
				<li class="sidebar-link">
					<a asp-page="DistanceFullTimeLearning">
						Дистанционное обучение - очная форма обучения
					</a>
				</li>
				<li class="sidebar-link">
					<a asp-page="SportClub">
						Спортивный клуб
					</a>
				</li>
				<li class="sidebar-link sidebar-link-selected">
					<a asp-page="DailyRoutineRules">
						Правила внутреннего распорядка
					</a>
				</li>
				<li class="sidebar-link">
					<a asp-page="ResearchWork">
						Научно-исследовательская работа
					</a>
				</li>
				<li class="sidebar-link">
					<a asp-page="StudentLife">
						Студенческая жизнь
					</a>
				</li>
			</ul>
		</nav>
	</aside>
</div>