@page
@model DistanceFullTimeLearningModel
@{
	ViewData["Title"] = "Дистанционное обучение - очная форма обучения";
}


<div class="container content-page">
	<section class="content">
		<a id="plane" class="plane" href="#sidebar"></a>
		<h2 class="section-title">
			Дистанционное обучение - очная форма обучения
		</h2>

		<ul class="page-navigation">
			<li>
				<a href="#info">
					Организация дистанционного обучения
				</a>
			</li>
			<li>
				<a href="#resources">
					Дистанционные ресурсы
				</a>
			</li>
			<li>
				<a href="#helper">
					Рекомендации и советы
				</a>
			</li>
			<li>
				<a href="#documents">
					Документы
				</a>
			</li>
		</ul>


		<h3 id="info" class="section-subtitle">
			Организация дистанционного обучения
		</h3>
		<p>
			Обучение с применением дистанционных образовательных технологий осуществляется в системе "Educon" на сайте удаленка.омавиат.рф
		</p>
		<p>
            Для более подробного ознакомления с тем, как устроен образовательный процесс с использованием электронного обучения, вы можете прочитать в данном <a href="~/documents/students/distanceFullTimeLearning/Положение о ДОТ_Омавиат- 2024.pdf">положении</a>.
		</p>


		<h3 id="resources" class="section-subtitle">
			Дистанционные ресурсы
		</h3>
		<p>
			Основными диснатционными ресурсами, используемыми в БПОУ "Омавиат", являются:
		</p>
		<ul class="customized">
			<li>
				<a href="https://xn--80aakfzep7b.xn--80aafyrl7a.xn--p1ai/">
					Дистанционная платформа EDUCON
				</a>
			</li>
			<li>
				<a href="">
					Электронный каталог библиотеки Омского авиационного колледжа
				</a>
			</li>
			<li>
				<a href="https://urait.ru/?utm_campaign=quarantine&utm_medium=email&utm_source=newsletter">
					Образовательная платформа «Юрайт»
				</a>, которая предоставляет  бесплатный полный доступ к своим образовательным ресурсам всем студентам и преподавателям колледжей России
			</li>
		</ul>


		<h3 id="helper" class="section-subtitle">
			Рекомендации и советы
		</h3>
		<h4 class="section-subtitle-small">
			Для студентов
		</h4>
		<ul class="customized">
			<li>
				<a target="_blank" href="~/documents/students/distanceFullTimeLearning/ИНСТРУКЦИЯ ДЛЯ СТУДЕНТОВ-2024.pptx">
					Инструкция по работе в системе EDUCON
				</a>
			</li>
		</ul>
		<h4 class="section-subtitle-small">
			Для родителей
		</h4>
		<ul class="customized">
			<li>
				<a target="_blank" href="~/images/students/distanceFullTimeLearning/obuchenie_na_domu_10_sovetov_roditelyam.jpg">
					Обучение на дому. 10 советов
				</a>
			</li>
			<li>
				<a href="~/images/students/distanceFullTimeLearning/organizaciya_uchebnogo_processa_v_domashney_obstanovke.jpg">
					Организация учебного процесса в домашней обстановке
				</a>
			</li>
		</ul>
		<h4 class="section-subtitle-small">
			Для преподавателей
		</h4>
		<ul class="customized">
			<li>
				<a href="~/documents/students/distanceFullTimeLearning/2. Инструкция для преподавателей.pdf">
					Инструкция по работе в системе EDUCON
				</a>
			</li>
			<li>
				<a target="_blank" href="~/documents/students/distanceFullTimeLearning/distancionnoe_obuchenie_mr_prepodavatelyam.pdf">
					Методические рекомендации преподавателям
				</a>
			</li>
			<li>
				<a href="https://drive.google.com/drive/folders/10_x8ZT2q0Irlam0nGozRLLYXhFi9hrzd">
					Видеоинструкции по работе в СДО EDUCON
				</a>
			</li>
		</ul>


		<h3 id="documents" class="section-subtitle">
			Нормативные документы
		</h3>
		<ul class="documents-list little">
			<li class="document-item">
				<div class="document-item-head">
                    <a target="_blank" href="~/documents/students/distanceFullTimeLearning/Положение о ДОТ_Омавиат- 2024.pdf">
					</a>
				</div>
				<div class="document-item-body">
                    Положение
				</div>
			</li>
		</ul>
		
	</section>
    <aside id="sidebar" class="sidebar">
        <h3 class="sidebar-title">
            Студентам
        </h3>
        <nav class="sidebar-body">
            <ul class="sidebar-links">
                <li class="sidebar-link">
                    <a asp-page="/AlumniEmploymentCenterOmaviat">
                        Центр содействия трудоустройству выпускников Омавиат
                    </a>
                </li>
                <li class="sidebar-link">
                    <a asp-page="AlumniEmploymentCenterOmsk">
                        Базовый центр содействия трудоустройству выпускников СПО Омской области
                    </a>
                </li>
                <li class="sidebar-link">
                    <a asp-page="DistanceLearning">
                        Дистанционное обучение
                    </a>
                </li>
                <li class="sidebar-link sidebar-link-selected">
                    <a asp-page="DistanceFullTimeLearning">
                        Дистанционное обучение - очная форма обучения
                    </a>
                </li>
                <li class="sidebar-link">
                    <a asp-page="SportClub">
                        Спортивный клуб
                    </a>
                </li>
                <li class="sidebar-link">
                    <a asp-page="DailyRoutineRules">
                        Правила внутреннего распорядка
                    </a>
                </li>
                <li class="sidebar-link">
                    <a asp-page="ResearchWork">
                        Научно-исследовательская работа
                    </a>
                </li>
                <li class="sidebar-link">
                    <a asp-page="StudentLife">
                        Студенческая жизнь
                    </a>
                </li>
            </ul>
        </nav>
    </aside>
</div>