@page
@model ResearchWorkModel
@{
	ViewData["Title"] = "Научно-исследовательская работа";
}

<div class="container content-page">
	<section class="content">
		<a id="plane" class="plane" href="#sidebar"></a>
		<h2 class="section-title">
			Научно-исследовательская работа
		</h2>

		<ul class="page-navigation">
			<li>
				<a href="#about">
					Основное
				</a>
			</li>
			<li>
				<a href="#documents">
					Документы
				</a>
			</li>
		</ul>

		<h3 id="about" class="section-subtitle">
			О научно-исследовательской работе
		</h3>
		<p>
			Научно-исследовательская деятельность студентов в колледже начинается с первого курса. Основной целью организации и развития научно-исследовательской деятельности студентов колледжа является повышение уровня научной подготовки специалистов и выявление талантливой молодежи. Под руководством опытных преподавателей обучающие осваивают методы проведения исследований и приобретают практические навыки по выполнению исследовательских проектов, происходит развитие их творческих способностей, самостоятельности, творческой инициативы в учебе и будущей профессии.
		</p>
		<p>
			Научно-исследовательская работа студентов в колледже – это система, основанная на единстве учебной, научной и воспитательной работы.
		</p>
		<p>
			Основными формами НИРС (УИРС) в колледже являются:
		</p>
		<ul class="customized">
			<li>
				подготовка рефератов, эссе, докладов в рамках учебных занятий
			</li>
			<li>
				выполнение индивидуальных проектов
			</li>
			<li>
				участие в научных семинарах, конференциях, олимпиадах по различным дисциплинам и специальностям
			</li>
			<li>
				участие во внутриколледжных, городских, региональных и международных научных конкурсах и конференциях;
			</li>
			<li>
				публикаций статей, тезисов докладов
			</li>
			<li>
				курсовое и дипломное проектирование с элементами научных исследований
			</li>
		</ul>
   

		<h3 id="documents" class="section-subtitle">
			Документы
		</h3>
		<ul class="documents-list little">
			<li class="document-item">
				<div class="document-item-head">
					<a target="_blank" href="~/documents/students/researchWork/Положение_Новое поколение-новые решения 2023.pdf">
					</a>
				</div>
				<div class="document-item-body">
					Положение "Новое поколение-новые решения"
				</div>
			</li>
			<li class="document-item">
				<div class="document-item-head">
					<a target="_blank" href="~/documents/students/researchWork/Положение_Индивид.проект_2023г.pdf">
					</a>
				</div>
				<div class="document-item-body">
					Положение об индивидуальном проекте студентов БПОУ «Омавиат»
				</div>
			</li>
		</ul>

	</section>
	<aside id="sidebar" class="sidebar">
		<h3 class="sidebar-title">
			Студентам
		</h3>
		<nav class="sidebar-body">
			<ul class="sidebar-links">
				<li class="sidebar-link">
					<a asp-page="/AlumniEmploymentCenterOmaviat">
						Центр содействия трудоустройству выпускников Омавиат
					</a>
				</li>
				<li class="sidebar-link">
					<a asp-page="AlumniEmploymentCenterOmsk">
						Базовый центр содействия трудоустройству выпускников СПО Омской области
					</a>
				</li>
				<li class="sidebar-link">
					<a asp-page="DistanceLearning">
						Дистанционное обучение
					</a>
				</li>
				<li class="sidebar-link">
					<a asp-page="DistanceFullTimeLearning">
						Дистанционное обучение - очная форма обучения
					</a>
				</li>
				<li class="sidebar-link">
					<a asp-page="SportClub">
						Спортивный клуб
					</a>
				</li>
				<li class="sidebar-link">
					<a asp-page="DailyRoutineRules">
						Правила внутреннего распорядка
					</a>
				</li>
				<li class="sidebar-link sidebar-link-selected">
					<a asp-page="ResearchWork">
						Научно-исследовательская работа
					</a>
				</li>
				<li class="sidebar-link">
					<a asp-page="StudentLife">
						Студенческая жизнь
					</a>
				</li>
			</ul>
		</nav>
	</aside>
</div>