.questions{
	display: flex;
	flex-direction: column;
	row-gap: 20px;
}

.basic-data{
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 15px;
}

.captcha-qontainer{
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 15px;
}

.captcha {
	min-width: 150px;
	border: 2px solid;
}

.question-warning {
	color: #DDDADA;
}

.question-send{
	padding: 15px;
	border-radius: 15px;
	background-color: var(--matte-color);
	color: var(--light-white);
}