.workshops-list {
	display: flex;
	flex-wrap: wrap;
	gap: 20px 50px;
	justify-content: center;
}

.workshops-list li{
	width: min(100%, 350px);
}

.workshops-list-item {
	display: flex;
	column-gap: 30px;
	align-items: center;
	min-height: 120px;
	padding: 20px;
	border: 3px solid transparent;
	border-radius: 10px;
	background: var(--m-color);
	font-weight: 500;
	color: var(--light-white);
	transition: 150ms ease;
}

.workshops-list-item:hover{
	border-color: var(--m-d-color);
	background: var(--m-l-color);
}

.workshops-list-item img{
	width: 60px;
}