/* all news list */

.news-list {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 40px 30px;
	max-width: 800px;
	margin: 0 auto;
}

.news-item {
	display: flex;
	justify-content: space-between; /* until the news is filled */
	column-gap: 30px;
	width: 100%;
}

.news-item:nth-child(even) {
	flex-direction: row-reverse;
}

.news-item-img {
	position: relative;
	display: block;
	overflow: hidden;
	height: fit-content;
	max-height: 210px;
	min-width: 300px;
	border-radius: 25px;
	--block-width: -20px;
	--block-height: -20px;
}

.news-item-img::before{
	content: "";
	position: absolute;
	left: -30px;
	bottom: -30px;
	z-index: 1;
	width: 30px;
	height: 30px;
	background: url("../images/news/plane.svg") no-repeat;
	background-size: cover;
	opacity: 0.7;
	transition: transform 700ms ease-in-out;
}

.news-item-img img {
	object-fit: cover;
	width: 100%;
	max-height: 210px;
	border-radius: 25px;
	transition: transform 700ms ease-in-out;
}

.news-item-content {
	display: flex;
	flex-direction: column;
	row-gap: 12px;
	margin-top: 10px;
}

.news-item-date {
	color: #999;
	font-size: 0.9rem;
}

.news-item-title {
	word-wrap: break-word;
	font-weight: 500;
	font-size: 1.4rem;
	letter-spacing: -0.02em;
}

.news-item-info {
	color: #494949;
	text-align: justify;
}

.news-item-info a {
	display: inline-block;
	color: #23527c;
}

.news-item-img:hover img {
	transform: scale(1.25);
}

.news-item-img:hover::before {
	transform: translateX(calc(0px + var(--block-width) + 50%)) translateY(calc(0px - var(--block-height) - 50%)) scale(2);
}


@media (width <= 700px) {

	.news-item {
		flex-wrap: wrap;
		justify-content: center;
	}

	.news-item-img {
		margin: auto;
		min-width: 0;
		max-width: min(100%, 400px);
	}

	.news-item-date, .news-item-title{
		text-align: center;
	}
}