@page
@using OMAVIAT.RazorPages.Components
@model CareerGuidanceEventsModel
@{
	ViewData["Title"] = "Профориентационные мероприятия";
}

<style type="text/css">
	tbody.very-special tr td {
		font-weight: 500 !important;
	}

	tbody.very-special tr td:first-of-type {
		font-weight: 600;
		text-align: center !important;
	}

	.event-form {
		display: flex;
		flex-direction: column;
		row-gap: 10px;
		max-width: min(450px, 100%);
	}
</style>

<div class="container content-page">
	<section class="content">
		<h2 class="section-title">
			Профориентационные мероприятия
		</h2>
		
		<h3 class="section-subtitle">
			Записаться на мероприятие
		</h3>

		@(await Html.RenderComponentAsync<DodComponent>(RenderMode.Server, new()))


		<h3 class="section-subtitle">
			Перечень мероприятий
		</h3>
		<table class="customized">
			<thead>
			<tr>
				<th>Дата, время, место проведения</th>
				<th>Мероприятие</th>
			</tr>
			</thead>
			<tbody class="very-special">
			<tr>
				<td>
					Январь-Июнь 2025
				</td>
				<td>
					Реализация образовательных программ профессионального обучения для
					школьников: «Монтажник радиоэлектронной аппаратуры и приборов»,
					«Слесарь механосборочных работ», «Сварщик ручной и дуговой сварки
					плавящимся покрытым электродом», «Слесарь сборщик летательных
					аппаратов», «Чертежник-конструктор»
				</td>
			</tr>
			<tr>
				<td rowspan="2">
					Февраль-Сентябрь
					2025
				</td>
				<td>
					Брифинговая встреча студентов и работодателей по направлению
					«Металлообработка»
				</td>
			</tr>
			<tr>
				<td>
					Брифинговая встреча студентов и работодателей по направлению
					«Радиоэлекторника»
				</td>
			</tr>
			<tr>
				<td rowspan="4">
					Март-Октябрь 2025
				</td>
				<td>
					Брифинговая встреча студентов и работодателей по направлению «Сварочное
					производство»
				</td>
			</tr>
			<tr>
				<td>
					Брифинговая встреча студентов и работодателей по направлению
					«Технология машиновтроения»
				</td>
			</tr>
			<tr>
				<td>
					Брифинговая встреча студентов и работодателей по направлению
					«Информационные технологии»
				</td>
			</tr><tr>
				<td>
					Брифинговая встреча студентов и работодателей по направлению
					«Энергетика»
				</td>
			</tr>
			<tr>
				<td>
					Апрель-Май 2025
				</td>
				<td>
					Мероприятия, посвященные 80летию Победы в ВОВ
				</td>
			</tr>
			<tr>
				<td rowspan="2">
				15.05.2025
				15:00
				ул. Б.
				Хмельницкого, 281
				<td>
					Мастер-класс «Проектирование и обслуживание авиадвигателей»
				</td>
			</tr>
			<tr>
				<td>
					Мастер-класс «Изготовление и моделирование отдельных деталей самолета и
					ракет в программе «Компас-3D»
				</td>
			</tr>
			<tr>
				<td>
					16.05.2025
					14:30
					ул. Волховстроя, д. 5 (ЦОПП)
				</td>
				<td>
					День открытых дверей
				</td>
			</tr>
			<tr>
				<td rowspan="5">
					23.05.2025
					9:00-13:00
					пр-т Космический,
					14А
					ПРОФЕССИОНАЛИТЕТ
				</td>
				<td>
					Мастер-класс «Особенности производства деталей операторам станков с ПУ»
					+ Компас 3D
				</td>
			</tr>
			<tr>
				<td>
					Мастер-класс «Изготовление сварных конструкций»
				</td>
			</tr>
			<tr>
				<td>
					Мастер-класс «Технология производства радиоэлектронных систем и
					устройств»
				</td>
			</tr>
			<tr>
				<td>
					«Метрология»
				</td>
			</tr>
			<tr>
				<td>
					«Токарная мастерская»
				</td>
			</tr>
			<tr>
				<td>
					Июнь, декабрь 2025
				</td>
				<td>
					ЛАМА: Мастер-классы для активистов медиацентров Профессионалитета
					«Техника речи и публичные выступления», «Эффективны паблик учебного
					заведения», «Нейросеть на службе молодежного медиа», «Особенности
					работы в кадре»
				</td>
			</tr>
			<tr>
				<td rowspan="4">
					Июнь 2025
				</td>
				<td>
					Профориентационное тестирование
				</td>
			</tr>
			<tr>
				<td>
					Видеопрезентация компетенций
				</td>
			</tr>
			<tr>
				<td>
					Всероссийская ярмарка трудоустройства 2025
				</td>
			</tr>
			<tr>
				<td>
					Приёмная кампания
				</td>
			</tr>
			<tr>
				<td rowspan="4">
					Июль 2025
				</td>
				<td>
					VII Шахматный турнир Омавиат
				</td>
			</tr>
			<tr>
				<td>
					Профориентационное тестирование
				</td>
			</tr>
			<tr>
				<td>
					Видеопрезентация компетенции
				</td>
			</tr>
			<tr>
				<td>
					Приёмная кампания
				</td>
			</tr>
			<tr>
				<td rowspan="3">
					Август 2025
				</td>
				<td>
					Профориентационное тестирование
				</td>
			</tr>
			<tr>
				<td>
					Видеопрезентация компетенций
				</td>
			</tr>
			<tr>
				<td>
					Приёмная кампания
				</td>
			</tr>
			<tr>
				<td rowspan="2">
					Сентябрь 2025
				</td>
				<td>
					Проведение родительского собрания «Знакомство с Профессионалитетом»
				</td>
			</tr>
			<tr>
				<td>
					Приёмная кампания
				</td>
			</tr>
			<tr>
				<td>
					Сентябрь-Декабрь
					2025
				</td>
				<td>
					Реализация образовательных программ профессионального обучения:
					«Монтажник радиоэлектронной аппаратуры и приборов», «Слесарь
					механосборочных работ», «Технология Сварочных работ», «Проектирование
					и изготовление изделий из металла», «Сварщик ручной и дуговой сварки
					плавящимся покрытым электродом», «Технология слесарных работ»
				</td>
			</tr>
			<tr>
				<td rowspan="6">
					Сентябрь 2025
				</td>
				<td>
					День открытых дверей (дату нужно уточнить по телефону 31-16-39)
				</td>
			</tr>
			<tr>
				<td>
					Экскурсия на Омсктрансмаш
				</td>
			</tr>
			<tr>
				<td>
					Классный час «Профессионалитет: профессии будущего» (дистант)
				</td>
			</tr>
			<tr>
				<td>
					День машиностроителя
				</td>
			</tr>
			<tr>
				<td>
					Видеопрезентация компетенций
				</td>
			</tr>
			<tr>
				<td>
					Проведение родительского собрания «Знакомство с Профессионалитетом»
					(дистант)
				</td>
			</tr>
			<tr>
				<td>
					Сентябрь, апрель
					2025
				</td>
				<td>
					Мастер-классы для амбассадоров Профессионалитета «Основные правила
					коммуникации с аудиторией», «Как работать с нейросетью так, чтобы она
					стала эффективным инструментом и помощником», «Как при помощи VR-
					очков сделать изучение профессии еще интереснее»
				</td>
			</tr>
			<tr>
				<td rowspan="5">
					Октябрь 2025 г.
					пр-т Космический,
					14а
				</td>
				<td>
					Мастер-класс «Особенности производства деталей операторам станков с ПУ»
					+ Компас 3D
				</td>
			</tr>
			<tr>
				<td>
					Мастер-класс «Изготовление сварных конструкций»
				</td>
			</tr>
			<tr>
				<td>
					Мастер-класс «Технология производства радиоэлектронных систем и
					устройств»
				</td>
			</tr>
			<tr>
				<td>
					«Метрология»
				</td>
			</tr>
			<tr>
				<td>
					«Токарная мастерская»
				</td>
			</tr>
			<tr>
				<td rowspan="8">
					Октябрь 2025
				</td>
				<td>
					Классный час «Профессионалитет: ты в хорошей компании»
				</td>
			</tr>
			<tr>
				<td>
					Классный час «Знакомство с профессионалитетом»
				</td>
			</tr>
			<tr>
				<td>
					Деловые завтраки с участием амбассадоров Профессионалитета «Мы
					ПРОФИ»
				</td>
			</tr>
			<tr>
				<td>
					Родительское собрание (очно) по адресу Волховстроя, 5
				</td>
			</tr>
			<tr>
				<td>
					Всероссийский классный час в рамках подготовки к проведению Единого
					дня открытых дверей
				</td>
			</tr>
			<tr>
				<td>
					Видеопрезентации компетенций
				</td>
			</tr>
			<tr>
				<td>
					Профориентационное тестирование
				</td>
			</tr>
			<tr>
				<td>
					Профессиональная проба «Оператор станков с ЧПУ»
				</td>
			</tr>
			<tr>
				<td>
					18.10.2025
					пр-т Космический,
					14А
					ПРОФЕССИОНАЛИТЕТ
				</td>
				<td>
					Единый день открытых дверей
				</td>
			</tr>
			<tr>
				<td rowspan="2">
					Ноябрь 2025 г.
					15:00
					ул. Б.
					Хмельницкого, 281
				</td>
				<td>
					Мастер-класс «Проектирование и обслуживание авиадвигателей»
				</td>
			</tr>
			<tr>
				<td>
					Мастер-класс «Изготовление и моделирование отдельных деталей самолета и
					ракет в программе «Компас-3D»
				</td>
			</tr>
			<tr>
				<td rowspan="11">
					Ноябрь 2025
				</td>
				<td>
					Профориентационное тестирование
				</td>
			</tr>
			<tr>
				<td>
					Хакатон: чемпионат по разборке мобильных приложений для управления
					автономными роботизированными системами
				</td>
			</tr>
			<tr>
				<td>
					День открытых дверей (дату нужно уточнить по телефону 31-16-39)
				</td>
			</tr>
			<tr>
				<td>
					Родительское собрание (очно) по адресу Волховстроя, 5
				</td>
			</tr>
			<tr>
				<td>
					Викторина «Моя профессия – Сварщик!»
				</td>
			</tr>
			<tr>
				<td>
					Профессиональные пробы «Монтажник РЭА»
				</td>
			</tr>
			<tr>
				<td>
					Профессиональная проба «Контролер машиностроения»
				</td>
			</tr>
			<tr>
				<td>
					НПК «Реализация федерального «Профессионалитет» достижения и
					перспективы
				</td>
			</tr>
			<tr>
				<td>
					Экскурсия на Полет
				</td>
			</tr>
			<tr>
				<td>
					Видеопрезентации компетенций
				</td>
			</tr>
			<tr>
				<td>
					Молодежный форум карьерных возможностей «Трамплин»
				</td>
			</tr>
			<tr>
				<td rowspan="8">
					Декабрь 2025
				</td>
				<td>
					Классный час «Профессионалитет: ты в хорошей компании»
				</td>
			</tr>
			<tr>
				<td>
					Проведение XVIII Межрегиональной студенческой научно-практической
					конференции «Приборостроение информационные технологии» (ПИТ-2025),
					посвященной 66-летию АО «ОНИИП»
				</td>
			</tr>
			<tr>
				<td>
					Проведение II Чемпионата по скоростной пайке , вязке жгутов и
					3Dмоделирования в рамках XVIII Межрегиональной студенческой научно-
					практической конференции «Приборостроение информационные
					технологии» (ПИТ-2025), посвященной 66-летию АО «ОНИИП»
				</td>
			</tr>
			<tr>
				<td>
					День открытых дверей (дату нужно уточнить по телефону 31-16-39)
				</td>
			</tr>
			<tr>
				<td>
					Чемпионат «Лучший по профессии сварщик»
				</td>
			</tr>
			<tr>
				<td>
					Экскурсия на технический полигон АО «Газпромнефть-ОНПЗ»
				</td>
			</tr>
			<tr>
				<td>
					День энергетика
				</td>
			</tr>
			<tr>
				<td>
					Видеопрезентации компетенций
				</td>
			</tr>
			<!-- -->
			<!--
			<tr>
				<td>
					31.01.2025
					15:00
					ул. Ленина, 24
				</td>
				<td>
					Одиночное мероприятие
				</td>
			</tr>
			-->
			<!-- -->
			<!--
			<tr>
				<td rowspan="2">
					03.05. 2024
					15:00
					ул. Ленина, 24
				</td>
				<td>
					Мероприятие 1
				</td>
			</tr>
			<tr>
				<td>
					Мероприятие 2
				</td>
			</tr>
			-->
			</tbody>
		</table>
		
		<p>
			<b>
				Уважаемые родители и абитуриенты!
				По возможности уточняйте пожалуйста даты и время мероприятий.
				Если у Вас возникают вопросы вы всегда можете позвонить по телефону 31-16-39.
				Будем рады видеть Вас на наших мероприятиях!
			</b>
		</p>

	</section>
	<aside id="sidebar" class="sidebar">
		<h3 class="sidebar-title">
			Абитуриентам
		</h3>
		<nav class="sidebar-body">
			<ul class="sidebar-links">
				<li class="sidebar-link">
					<a asp-page="SelectionCommittee">
						Приёмная комиссия
					</a>
				</li>
				<li class="sidebar-link">
					<a asp-page="SpecialtiesAndProfessions">
						Специальности и профессии
					</a>
				</li>
				<li class="sidebar-link">
					<a asp-page="TrainingCourses">
						Подготовительные курсы
					</a>
				</li>
				<li class="sidebar-link">
					<a asp-page="IndividualTraining">
						Индивидуальное обучение
					</a>
				</li>
				<li class="sidebar-link">
					<a asp-page="AdmissionRules">
						Правила приёма
					</a>
				</li>
				<li class="sidebar-link">
					<a asp-page="QualificationIncrease">
						Повышение квалификации
					</a>
				</li>
				<li class="sidebar-link">
					<a asp-page="DLinkCisco">
						Сертификация D-link, Cisco
					</a>
				</li>
				<li class="sidebar-link sidebar-link-selected">
					<a asp-page="CareerGuidanceEvents">
						Профориентационные мероприятия
					</a>
				</li>
				<li class="sidebar-link">
					<a href="https://www.oat.ru/students/TargetedTraining">
						Целевое обучение
					</a>
				</li>
			</ul>
		</nav>
	</aside>
</div>

<base href="~/"/>
<script src="~/_framework/blazor.server.js"></script>