@page
@model CareerGuidanceEventsModel
@{
	ViewData["Title"] = "Дни открытых дверей";
}

<style type="text/css">
	tbody.very-special tr td {
		font-weight: 400 !important;
	}

	tbody.very-special tr td:first-of-type {
		font-weight: 500;
		text-align: center !important;
	}

	.event-form {
		display: flex;
		flex-direction: column;
		row-gap: 10px;
		max-width: min(450px, 100%);
	}
</style>

<div class="container content-page">
	<section class="content">
		<h2 class="section-title">
			Дни открытых дверей
		</h2>

		<form class="event-form">
			<div class="input-box">
				<label for="FIO">
					Фамилия имя отчество
				</label>
				<input id="FIO" type="text">
			</div>
			<div class="input-box">
				<label for="phone">
					Телефон
				</label>
				<input id="phone" type="tel">
			</div>
			<div class="input-box">
				<label for="email">
					E-mail
				</label>
				<input id="email" type="email">
			</div>
			<div>
				<input type="checkbox" id="agreement" value="agreement"/>
				<label for="agreement">
					Устанавливая флажок внутри данного чек-бокса вы даете согласие на обработку своих персональных
					данных.
				</label>
			</div>
			<button onclick="" class="customized">Подать заявку</button>
		</form>

	</section>
	<aside id="sidebar" class="sidebar">
		<h3 class="sidebar-title">
			Абитуриентам
		</h3>
		<nav class="sidebar-body">
			<ul class="sidebar-links">
				<li class="sidebar-link">
					<a asp-page="SelectionCommittee">
						Приемная комиссия
					</a>
				</li>
				<li class="sidebar-link">
					<a asp-page="SpecialtiesAndProfessions">
						Специальности и профессии
					</a>
				</li>
				<li class="sidebar-link">
					<a asp-page="TrainingCourses">
						Подготовительные курсы
					</a>
				</li>
				<li class="sidebar-link">
					<a asp-page="IndividualTraining">
						Индивидуальное обучение
					</a>
				</li>
				<li class="sidebar-link">
					<a asp-page="AdmissionRules">
						Правила приема
					</a>
				</li>
				<li class="sidebar-link">
					<a asp-page="QualificationIncrease">
						Повышение квалификации
					</a>
				</li>
				<li class="sidebar-link">
					<a asp-page="DLinkCisco">
						Сертификация D-link, Cisco
					</a>
				</li>
				<li class="sidebar-link sidebar-link-selected">
					<a asp-page="CareerGuidanceEvents">
						Дни открытых дверей
					</a>
				</li>
				<li class="sidebar-link">
					<a href="https://www.oat.ru/students/TargetedTraining">
						Целевое обучение
					</a>
				</li>
			</ul>
		</nav>
	</aside>
</div>