@page
@model SelectionCommitteeModel
@{
	ViewData["Title"] = "Приёмная комиссия";
}

<div class="container content-page">
	<section class="content">
		<a id="plane" class="plane" href="#sidebar"></a>
		<h2 class="section-title">
			Приёмная комиссия
		</h2>

		<ul class="page-navigation">
			<li>
				<a href="#FAQ">
					Часто задаваемые вопросы
				</a>
			</li>
			<li>
				<a href="#results">
					Итоги приёмной комиссии 2024
				</a>
			</li>
			<li>
				<a href="#lists-of-enrolled">
					Списки зачисленных
				</a>
			</li>
			<li>
				<a href="#chat">
					Временный родительский чат
				</a>
			</li>
			<li>
				<a href="#rating">
					Посмотреть рейтинги
				</a>
			</li>
			<li>
				<a href="#reception">
					Поступить к нам
				</a>
			</li>
			<li>
				<a href="#dates">
					Важные даты
				</a>
			</li>
			<li>
				<a href="#feedback">
					Связаться с нами
				</a>
			</li>
			<li>
				<a href="#documents">
					Документы и шаблоны
				</a>
			</li>
			<li>
				<a href="#have-question">
					Обратиться за помощью
				</a>
			</li>
		</ul>

		<h3 id="FAQ" class="section-subtitle">
			Часто задаваемые вопросы
		</h3>
		<div class="accordions-list">
			<div class="accordion">
				<div class="accordion-head">
					Когда день Открытых дверей?
				</div>
				<div class="accordion-body">
					Дни открытых дверей регулярно проходят в стенах нашего колледжа, отслеживать все мероприятия, стартующие в Омавиат можно в <a href="https://t.me/omaviatomsk" target="_blank">нашем телеграм канале</a>
				</div>
			</div>
			<div class="accordion">
				<div class="accordion-head">
					Платное или бесплатное обучение в колледже? Есть ли бюджетные места для поступления?
				</div>
				<div class="accordion-body">
					В нашем колледже есть как бюджетные, так и коммерческие места, узнать подробнее о специальностях можно на вкладках "образование" и "платные образовательные услуги" нашего сайта, а также в приёмной комиссии колледжа. 
				</div>
			</div>
			<div class="accordion">
				<div class="accordion-head">
					Можно ли подать заявление на поступление без аттестата, если не сдал экзамены в школе, а пересдача назначена на осень?
				</div>
				<div class="accordion-body">
					Да, Омавиат предоставляет такую возможность. В августе после основного зачисления будет проводится специальное собрание по итогам которого вы можете заключить с нами договор на коммерческой основе, а уже после успешной пересдачи экзаменов в сентябре официально стать студентом нашего колледжа.
				</div>
			</div>
			<div class="accordion">
				<div class="accordion-head">
					Какой проходной балл для поступления в колледж?
				</div>
				<div class="accordion-body">
					В Омавиат работает система конкурса аттестатов, благодаря которой места на обучение занимают студенты с наивысшим баллом. Приёмная комиссия поможет вам определиться с специальностью и подскажет ваши шансы на поступление. Узнать конкретные проходные баллы можно лишь за прошлый год приёмной комиссии.
				</div>
			</div>
			<div class="accordion">
				<div class="accordion-head">
					Что такое средний балл аттестата и как его посчитать?
				</div>
				<div class="accordion-body">
					Средний балл аттестата это сумма ваших оценок, поделенная на их количество (В расчёт также принимаются те оценки, что находятся в дополнительных сведениях)
				</div>
			</div>
			<div class="accordion">
				<div class="accordion-head">
					Можно ли после окончания колледжа поступить в ВУЗ? Нужно ли сдавать ЕГЭ при поступлении в ВУЗ?
				</div>
				<div class="accordion-body">
					ВУЗ имеет право проводить для выпускников колледжей вступительные экзамены вместо ЕГЭ. Омавиат даёт вам возможность по желанию сдать ЕГЭ в стенах нашего колледжа и получить аттестат об окончании 11 классов раньше, чем в школе.
				</div>
			</div>
			<div class="accordion">
				<div class="accordion-head">
					Дает ли обучение в колледже отсрочку от армии?
				</div>
				<div class="accordion-body">
					Да, на полный срок обучения в колледже даётся отсрочка от армии.
				</div>
			</div>
			<div class="accordion">
				<div class="accordion-head">
					Можно перевестись в ваш колледж с другого колледжа и что для этого нужно сделать?
				</div>
				<div class="accordion-body">
					Это возможно при наличии свободных мест, подробнее лучше уточнить у приёмной комиссии колледжа. <a href="tel:+7 (3812) 31-16-39">(3812) 31-16-39</a>
				</div>
			</div>
			<div class="accordion">
				<div class="accordion-head">
					Не нашли ответ на свой вопрос?
				</div>
				<div class="accordion-body">
					Вы можете задать свой вопрос на странице <a href="https://www.oat.ru/feedback/QuestionAnswer">"Вопрос-ответ"</a>
				</div>
			</div>
		</div>
		
		

		<h3 id="results" class="section-subtitle">
			Итоги приёмной комиссии 2024
		</h3>
		<ul class="documents-list">
			<li class="document-item">
				<div class="document-item-head">
					<a target="_blank"
					   href="~/documents/applicant/selectionCommittee/Itogi Priyomnoj komissii  2024g.pdf">
					</a>
				</div>
				<div class="document-item-body">
					Итоги приёмной комиссии 2024г
				</div>
			</li>
		</ul>


		<h3 id="lists-of-enrolled" class="section-subtitle">
			Списки зачисленных
		</h3>
		<p>
			Дорогие абитуриенты! Рады объявить Вам списки зачисленных в наше учебное заведение
		</p>
		<ul class="documents-list">
			<li class="document-item">
				<div class="document-item-head">
					<a target="_blank" href="~/documents/applicant/selectionCommittee/spiskiZacislenix2024.pdf">
					</a>
				</div>
				<div class="document-item-body">
					Списки зачисленных 2024
				</div>
			</li>
		</ul>

		<h3 id="chat" class="section-subtitle">
			Временный общий родительский чат для вновь поступивших
		</h3>
		<p>
			<a href="https://chat.whatsapp.com/IzJr8Yh6Jur8O3Uyd9ChKf">Временный общий родительский чат для вновь
				поступивших</a>
		</p>

		<h3 id="rating" class="section-subtitle">
			Рейтинги
		</h3>
		<ul class="customized">
			<li>
				<a href="https://rate.oat.ru/">Свой рейтинг среди поступающих</a> (данные появляются не сразу после
				подачи заявления, а после обработки в системе)
			</li>
			<li>
				<a href="https://rate.oat.ru/stat">
					Общая статистика
				</a>
			</li>
		</ul>
		<ul class="documents-list">
			<li class="document-item">
				<div class="document-item-head">
					<a target="_blank" href="~/documents/applicant/selectionCommittee/Passing scores in 2024.pdf">
					</a>
				</div>
				<div class="document-item-body">
					Проходные баллы в 2024 году
				</div>
			</li>
		</ul>

		<h3 id="reception" class="section-subtitle">
			Приём на обучение
		</h3>
		<p>
			Приём на обучение по образовательным программам среднего профессионального образования за счет бюджетных
			средств бюджета Омской области осуществляется на общедоступной основе.
		</p>
		<ul class="documents-list little">
			<li class="document-item">
				<div class="document-item-head">
					<a target="_blank"
					   href="~/documents/applicant/selectionCommittee/Recruitment plan.pdf">
					</a>
				</div>
				<div class="document-item-body">
					План набора 2025
				</div>
			</li>
			<li class="document-item">
				<div class="document-item-head">
					<a target="_blank"
					   href="~/documents/applicant/selectionCommittee/List of specialties and professions budget.pdf">
					</a>
				</div>
				<div class="document-item-body">
					Перечень специальностей и профессий, по которым колледж объявляет прием (за счет бюджетных средств)
				</div>
			</li>
		</ul>
		<h4 class="section-subtitle-small">
			Документы, необходимые при поступлении (оригинал + копия)
		</h4>
		<ul class="customized">
			<li>
				Документ, удостоверяющий личность (паспорт)
			</li>
			<li>
				Документ об образовании и (или) квалификации (аттестат, диплом)
			</li>
			<li>
				СНИЛС
			</li>
			<li>
				4 фотографии (формат 3х4)
			</li>
		</ul>
		<h4 class="section-subtitle-small">
			Подача документов в электронной форме
		</h4>
		<p>
			<b>Возможность подачи поступающим документов в электронной форме</b> в соответствии с ФЗ «Об электронной
			подписи» от 06.04.2011 № 63-ФЗ, ФЗ «Об информации, информационных технологиях и о защите информации» от
			27.07.2006 № 149-ФЗ, ФЗ «О связи» от 07.07.2003 № 126-ФЗ в Колледже <b>предусмотрена, при наличии у
				абитуриента электронной цифровой подписи.</b>
		</p>
		<ul class="documents-list">
			<li class="document-item">
				<div class="document-item-head">
					<a target="_blank"
					   href="~/documents/applicant/selectionCommittee/Acceptance of applications and required documents in electronic form.pdf">
					</a>
				</div>
				<div class="document-item-body">
					Приём заявлений и необходимых документов в электронной форме
				</div>
			</li>
		</ul>
		<h4 class="section-subtitle-small">
			Вступительные испытания
		</h4>
		<p>
			приём в колледж по всем образовательным программам, формам обучения проводится <b>БЕЗ вступительных
				испытаний.</b>
		</p>
		<ul class="documents-list">
			<li class="document-item">
				<div class="document-item-head">
					<a target="_blank"
					   href="~/documents/applicant/selectionCommittee/No entrance examinations.pdf">
					</a>
				</div>
				<div class="document-item-body">
					Отсутствие вступительных испытаний
				</div>
			</li>
		</ul>
		<h4 class="section-subtitle-small">
			Прохождение абитуриентами медицинских осмотров
		</h4>
		<p>
			После зачисления в число студентов колледжа до начала занятий поступающие на все специальности и профессии
			обязаны предоставить медицинскую справку о допуске до занятий физической культурой (основная медицинская
			группа) или (подготовительная и специальная медицинская группа), и при необходимости (для занятий в
			спортивных секциях).
		</p>
		<ul class="documents-list">
			<li class="document-item">
				<div class="document-item-head">
					<a target="_blank"
					   href="~/documents/applicant/selectionCommittee/informaciaONeobxodimostiMedosmotra.pdf">
					</a>
				</div>
				<div class="document-item-body">
					Информация о прохождении медицинского осмотра (обследования)
				</div>
			</li>
		</ul>
		<h4 class="section-subtitle-small">
			Условия приёма на обучение по договорам об оказании платных образовательных услуг
		</h4>
		<p>
			Приём лиц на обучение за счет средств физических и (или) юридических лиц осуществляется по Правилам приёма в
			бюджетное профессиональное образовательное учреждение Омской области «Омский авиационный колледж имени Н.Е.
			Жуковского», утвержденным 26.02.2025 г. С поступающими данной категории заключается двухсторонний или
			трехсторонний договор об обучении по образовательным программам среднего профессионального образования.
			Формы договоров, Положение об оказании платных образовательных услуг и прочие документы размещены в разделе
			«Платные образовательные услуги»
		</p>
		<ul class="documents-list">
			<li class="document-item">
				<div class="document-item-head">
					<a target="_blank"
					   href="~/documents/applicant/selectionCommittee/Admission conditions paid.pdf">
					</a>
				</div>
				<div class="document-item-body">
					Условия приёма на обучение по договорам об оказании платных образовательных услуг
				</div>
			</li>
		</ul>


		<h3 id="dates" class="section-subtitle">
			Важные даты для поступающих
		</h3>
		<ol class="customized">
			<li>
				<b>С 20 июня по 14 августа</b> на <b>2025-2026</b> учебный год осуществляется приём документов.
				<br>
				<b>При наличии бюджетных мест</b> приём документов продолжается <b>до 25 ноября.</b>
			</li>
			<li>
				<b>14 августа</b> – последний день приёма заявлений и оригиналов документов об образовании и (или) документов об образовании
			</li>
			<li>
				<b>14 августа</b> приёмная комиссия работает с 8:00 до 14:00
			</li>
		</ol>


		<h3 id="feedback" class="section-subtitle">
			Связь с нами
		</h3>
		<h4 class="section-subtitle-small">
			Режим работы приёмной комиссии с 20.06.2025г. до 31.08.2025
		</h4>
		<p>
			ПН-ПТ 8:00-18:00
			<br>
			СБ 9:00-15:00
			<br>
			ВС - выходной
		</p>
		<h4 class="section-subtitle-small">
			Контактная информация
		</h4>
		<p>
			<b>Адрес:</b> г. Омск, ул. Ленина, д. 24, каб. 123
			<br>
			<b>Телефон:</b> (3812) 31-16-39
			<br>
			<b>Почта:</b> oat@oat.ru
		</p>


		<h3 id="documents" class="section-subtitle">
			Документы и шаблоны
		</h3>
		<ul class="documents-list">
			<li class="document-item">
				<div class="document-item-head">
					<a target="_blank"
					   href="~/documents/applicant/selectionCommittee/REGULATIONS ON THE ADMISSION COMMITTEE.pdf">
					</a>
				</div>
				<div class="document-item-body">
					Положение о приёмной комиссии
				</div>
			</li>
			<li class="document-item">
				<div class="document-item-head">
					<a target="_blank" href="~/documents/applicant/selectionCommittee/Admission rules for the 2025-2026 academic year.pdf">
					</a>
				</div>
				<div class="document-item-body">
					Правила приёма в 2025-2026 учебном году
				</div>
			</li>
			<li class="document-item">
				<div class="document-item-head">
					<a target="_blank"
					   href="~/documents/applicant/selectionCommittee/Educational requirements.pdf">
					</a>
				</div>
				<div class="document-item-body">
					Требования к уровню образования, которое необходимо для поступления (основное общее или среднее
					общее образование)
				</div>
			</li>
			<li class="document-item">
				<div class="document-item-head">
					<a target="_blank"
					   href="~/documents/applicant/selectionCommittee/List of specialties and professions.pdf">
					</a>
				</div>
				<div class="document-item-body">
					Перечень специальностей и профессий, по которым колледж объявляет прием (с указанием форм обучения)
				</div>
			</li>

			<li class="document-item">
				<div class="document-item-head">
					<a target="_blank"
					   href="~/documents/applicant/selectionCommittee/Order on approval of the list of costs of paid educational services.pdf">
					</a>
				</div>
				<div class="document-item-body">
					Утверждение перечня стоимости платных образовательных услуг с 1 сентября 2025 г.
				</div>
			</li>
		</ul>
		<h4 class="section-subtitle-small">
			Шаблоны
		</h4>
		<ul class="documents-list">
			<li class="document-item">
				<div class="document-item-head">
					<a target="_blank"
					   href="~/documents/applicant/selectionCommittee/templates/zaiavlenieNaSpecialnostProfessiu.pdf">
					</a>
				</div>
				<div class="document-item-body">
					Заявление на специальность профессию
				</div>
			</li>
			<li class="document-item">
				<div class="document-item-head">
					<a target="_blank"
					   href="~/documents/applicant/selectionCommittee/templates/soglasieNaObrabotkuDannixSovershenoletnegp.pdf">
					</a>
				</div>
				<div class="document-item-body">
					Согласие на обработку персональных данных совершеннолетнего
				</div>
			</li>
			<li class="document-item">
				<div class="document-item-head">
					<a target="_blank"
					   href="~/documents/applicant/selectionCommittee/templates/soglasieNaObrabotkuDannixNesovershenoletnegp.pdf">
					</a>
				</div>
				<div class="document-item-body">
					Согласие на обработку персональных данных несовершеннолетнего
				</div>
			</li>
			<li class="document-item">
				<div class="document-item-head">
					<a target="_blank" href="~/documents/applicant/selectionCommittee/templates/soglasieNaTrud.pdf">
					</a>
				</div>
				<div class="document-item-body">
					Согласие на труд
				</div>
			</li>
			<li class="document-item">
				<div class="document-item-head">
					<a target="_blank"
					   href="~/documents/applicant/selectionCommittee/templates/dogovorOPlatnixUslugax2Storoni.pdf">
					</a>
				</div>
				<div class="document-item-body">
					Образец договора об оказании платных образовательных услуг (2-сторонний)
				</div>
			</li>
			<li class="document-item">
				<div class="document-item-head">
					<a target="_blank"
					   href="~/documents/applicant/selectionCommittee/templates/dogovorOPlatnixUslugax3Storoni.pdf">
					</a>
				</div>
				<div class="document-item-body">
					Образец договора об оказании платных образовательных услуг (3-сторонний)
				</div>
			</li>
			<li class="document-item">
				<div class="document-item-head">
					<a target="_blank"
					   href="~/documents/applicant/selectionCommittee/templates/kvitanciaDliaOplati.pdf">
					</a>
				</div>
				<div class="document-item-body">
					Квитанция для оплаты образовательных услуг (платные группы)
				</div>
			</li>
			<li class="document-item">
				<div class="document-item-head">
					<a target="_blank"
					   href="~/documents/applicant/selectionCommittee/templates/Priority List 2025.pdf">
					</a>
				</div>
				<div class="document-item-body">
					Лист приоритетов 2025
				</div>
			</li>
		</ul>


		<h3 id="have-question" class="section-subtitle">
			По вопросам обращаться
		</h3>
		<div class="question-contact">
			<div class="question-contact-head">
				<a class="question-contact-head-img-container" href="">
					<img src="~/images/people/Савин Антон Викторович.png" alt="">
				</a>
				<p class="question-contact-head-fio">Савин<br>Антон Викторович</p>
				<p class="question-contact-head-post">
					Заместитель директора, курирующий приёмную кампанию
				</p>
			</div>
			<div class="question-contact-body">
				<p class="question-contact-body-address">г. Омск, ул. Ленина, д. 24, каб. 227</p>
				<p class="question-contact-body-phone">(3812) 31-73-55</p>
				<p class="question-contact-body-time">ПН-ПТ 9:00-18:00</p>
			</div>
		</div>

	</section>
	<aside id="sidebar" class="sidebar">
		<h3 class="sidebar-title">
			Абитуриентам
		</h3>
		<nav class="sidebar-body">
			<ul class="sidebar-links">
				<li class="sidebar-link sidebar-link-selected">
					<a asp-page="SelectionCommittee">
						Приёмная комиссия
					</a>
				</li>
				<li class="sidebar-link">
					<a asp-page="SpecialtiesAndProfessions">
						Специальности и профессии
					</a>
				</li>
				<li class="sidebar-link">
					<a asp-page="TrainingCourses">
						Подготовительные курсы
					</a>
				</li>
				<li class="sidebar-link">
					<a asp-page="IndividualTraining">
						Индивидуальное обучение
					</a>
				</li>
				<li class="sidebar-link">
					<a asp-page="AdmissionRules">
						Правила приёма
					</a>
				</li>
				<li class="sidebar-link">
					<a asp-page="QualificationIncrease">
						Повышение квалификации
					</a>
				</li>
				<li class="sidebar-link">
					<a asp-page="DLinkCisco">
						Сертификация D-link, Cisco
					</a>
				</li>
				<li class="sidebar-link">
					<a asp-page="CareerGuidanceEvents">
						Профориентационные мероприятия
					</a>
				</li>
				<li class="sidebar-link">
					<a href="https://www.oat.ru/students/TargetedTraining">
						Целевое обучение
					</a>
				</li>
			</ul>
		</nav>
	</aside>
</div>
