@page
@model TrainingCoursesModel
@{
	ViewData["Title"] = "Подготовительные курсы";
}

<div class="container content-page">
	<section class="content">
		<a id="plane" class="plane" href="#sidebar"></a>
		<h2 class="section-title">
			Подготовительные курсы
		</h2>

		<ul class="page-navigation">
			<li>
				<a href="#advantages">
					Преимущества
				</a>
			</li>
			<li>
				<a href="#subjects">
					Предметы
				</a>
			</li>
			<li>
				<a href="#about-classes">
					О занятиях
				</a>
			</li>
			<li>
				<a href="#enroll">
					Записаться на курс
				</a>
			</li>
			<li>
				<a href="#have-question">
					Обратиться за помощью
				</a>
			</li>
		</ul>


		<h3 id="advantages" class="section-subtitle">
			Преимущества
		</h3>
		<ul class="customized">
			<li>
				Улучшение успеваемости
			</li>
			<li>
				Профессионально-ориентационные занятия
			</li>
			<li>
				Мотивация к дальнейшей профессиональной деятельности
			</li>
			<li>
				Почти индивидуальное обучение
			</li>
			<li>
				Сплоченность коллектива группы
			</li>
			<li>
				Атмосфера студенческой жизни
			</li>
		</ul>

		
		<h3 id="subjects" class="section-subtitle">
			Предметы
		</h3>
		<h4 class="section-subtitle-small">
			Подготовка к ОГЭ для слушателей 9 классов
		</h4>
		<ul class="customized">
			<li>
				русский язык
			</li>
			<li>
				математика
			</li>
			<li>
				физика
			</li>
			<li>
				информатика
			</li>
		</ul>
		<h4 class="section-subtitle-small">
			Подготовка к ЕГЭ для слушателей 11 классов
		</h4>
		<ul class="customized">
			<li>
				русский язык
			</li>
			<li>
				математика
			</li>
			<li>
				физика
			</li>
			<li>
				обществознание
			</li>
		</ul>
		

		<h3 id="about-classes" class="section-subtitle">
			О занятиях
		</h3>
		<h4 class="section-subtitle-small">
			Стоимость
		</h4>
		<ol class="customized">
			<li>
				9100 руб./1 предмет - 9 кл
			</li>
			<li>
				10000 руб./1 предмет - 11 кл
			</li>
		</ol>
		<h4 class="section-subtitle-small">
			Длительность
		</h4>
		<p>
			7 месяцев
		</p>
		<h4 class="section-subtitle-small">
			Набор
		</h4>
		<p>
			Сентябрь-декабрь
		</p>
		<h4 class="section-subtitle-small">
			Обучение
		</h4>
		<p>
			С 1 октября по 30 апреля
		</p>
		<h4 class="section-subtitle-small">
			По завершении
		</h4>
		<p>
			95% становятся студентами
		</p>
		<h4 class="section-subtitle-small">
			Расписание
		</h4>
		<ul class="customized">
			<li>
				Русский язык (понедельник)
			</li>
			<li>
				Физика (среда)
			</li>
			<li>
				Математика (пятница)
			</li>
			<li>
				Информатика (вторник/четверг)
			</li>
		</ul>
		<p>
			Начинаются в 16.00 и заканчиваются в 18:30.
		</p>


		<h3 id="enroll" class="section-subtitle">
			Порядок записи на подготовительные курсы
		</h3>
		<ol class="customized">
			<li>
				<b>Обращение</b> - ул. Ленина 24, кабинет 141
			</li>
			<li>
				<b>Оплата</b> - в бухгалтерии колледжа или в любом банке
			</li>
			<li>
				<b>Договор</b> - предоставить квитанцию об оплате и подписать договор
			</li>
			<li>
				<b>Обучение</b> - в аудиториях колледжа по адресу Ленина 24
			</li>
		</ol>


		<h3 id="have-question" class="section-subtitle">
			По вопросам обращаться
		</h3>
		<div class="question-contact">
			<div class="question-contact-head">
				<a class="question-contact-head-img-container" href="">
					<img src="~/images/people/Савин Антон Викторович.png">
				</a>
				<p class="question-contact-head-fio">Савин<br>Антон Викторович</p>
				<p class="question-contact-head-post">
					Заместитель директора, курирующий приемную кампанию
				</p>
			</div>
			<div class="question-contact-body">
				<p class="question-contact-body-address">г. Омск, ул. Ленина, 24. Каб. 227</p>
				<p class="question-contact-body-phone">(3812) 31-73-55</p>
				<p class="question-contact-body-time">ПН-ПТ 9:00-18:00</p>
			</div>
		</div>
	</section>
	<aside id="sidebar" class="sidebar">
		<h3 class="sidebar-title">
			Абитуриентам
		</h3>
		<nav class="sidebar-body">
			<ul class="sidebar-links">
				<li class="sidebar-link">
					<a asp-page="SelectionCommittee">
						Приемная комиссия
					</a>
				</li>
				<li class="sidebar-link">
					<a asp-page="SpecialtiesAndProfessions">
						Специальности и профессии
					</a>
				</li>
				<li class="sidebar-link sidebar-link-selected">
					<a asp-page="TrainingCourses">
						Подготовительные курсы
					</a>
				</li>
				<li class="sidebar-link">
					<a asp-page="IndividualTraining">
						Индивидуальное обучение
					</a>
				</li>
				<li class="sidebar-link">
					<a asp-page="AdmissionRules">
						Правила приема
					</a>
				</li>
				<li class="sidebar-link">
					<a asp-page="QualificationIncrease">
						Повышение квалификации
					</a>
				</li>
				<li class="sidebar-link">
					<a asp-page="DLinkCisco">
						Сертификация D-link, Cisco
					</a>
				</li>
				<li class="sidebar-link">
					<a asp-page="CareerGuidanceEvents">
						Профориентационные мероприятия
					</a>
				</li>
			</ul>
		</nav>
	</aside>
</div>