.report-corruption {
	display: block;
	max-width: min(300px, 100%);
	margin: 20px auto;
	padding: 10px;
	border-radius: 10px;
	outline: 5px solid #4f4fd5;
	outline-offset: -3px;
	background-color: #141476;
	color: var(--light-white);
	font-weight: 500;
	text-transform: uppercase;
	text-align: center;
	transition: outline-color 400ms, letter-spacing 300ms;
}

.report-corruption:hover{
	outline-color: #2727ff;
	letter-spacing: 0.04em;
}