@page "{id?}"
@using OMAVIAT.RazorPages.Components
@using OMAVIAT.Utilities;
@model AllNewsModel
@{
	ViewData["Title"] = "Все новости";
}

<link rel="stylesheet" href="~/css/allNews.css">
<script src="~/js/allNews.js" asp-append-version="true"></script>

<section class="centered">

	@if (NewsReader.pages.Count() >= Model.id)
	{
		<h3 class="section-title">
			Новости Омского авиационного колледжа имени Н.Е. Жуковского
		</h3>
		<div class="news-list">

			@foreach (var news in NewsReader.pages.ToList()[Model.id])
			{
                var photos = news.GetPhotos();
                if (photos.Count is 0)
                    continue;
				<div class="news-item">
					<a class="news-item-img" href="~/news/@news.id">
                        <img loading="lazy" src="/@photos.FirstOrDefault()" alt="">
					</a>
					<div class="news-item-content">
						<div class="news-item-date">
							@news.date
						</div>
						<div class="news-item-title">
							@news.title
						</div>
						<div class="news-item-info">
							@Html.Raw(news.description.GetWords(10))
							<a href="~/news/@news.id">
								ещё...
							</a>
						</div>
					</div>
				</div>
			}
		</div>
		@(await Html.RenderComponentAsync<PagesComponent>(RenderMode.Static, new
		{
			CurrentPage = Model.id + 1,
			count = NewsReader.news.Count(),
			countInPage = 10,
			UrlWithParameter = "/AllNews/{id}"
		}))
	

	}   
	else
	{
		<h3 class="section-title">
			Упс, такой страницы нет...
			<br>
			Мы знаем о проблеме и уже решаем ее
		</h3>
	}
</section>
