@page "{id?}"
@model NewsModel
@{
	ViewData["Title"] = "Новость";
}

<link rel="stylesheet" href="~/css/news.css">

<link href="/lib/lightbox/lightbox.css" rel="stylesheet" />
<script src="/lib/lightbox/lightbox-plus-jquery.js"></script>

<script>
	lightbox.option({
		'resizeDuration': 500,
		'wrapAround': true
	})
</script>

<article class="centered">
	@{
		if (string.IsNullOrWhiteSpace(Model.id))
		{
			PrintError();
			return;
		}

		var IsInt = int.TryParse(Model.id, out var id);
		if (!IsInt || NewsReader.news.Max(e => e.id) < id)
		{
			PrintError();
			return;
		}

		var news = NewsReader.news.First(e => e.id == id);
		if (news is null)
		{
			PrintError();
			return;
		}

		if (news.IsHide)
		{
			PrintError();
			return;
		}
	}

	<h3 class="news-title">
		@news.title
	</h3>
	@foreach (var t in news.description.Split("\n"))
	{
		<p>@Html.Raw(t)</p>
	}


	<div class="images-list-slider-container">
		<div class="images-list-slider">
			@foreach (var image in news.photos.toObject<List<string>>())
			{
				@if (!image.Contains(".mp4") && !image.Contains(".pdf"))
				{
					<a href="/@image" data-lightbox="example-set" data-title="картинка">
						<img src="/@image" alt="">
					</a>
				}
				else if (image.Contains(".mp4"))
				{
					<video class="customized" controls>
						<source src="/@image" type="video/mp4">
					</video>
				}
			}
		</div>
	</div>

	@foreach (var pdf in news.photos.toObject<List<string>>().Where(e => e.Contains(".pdf")))
	{
		<ul class="document-item" style="width: 50%; margin: 0 auto;">
			<div class="document-item-head">
				<a target="_blank" href="/@pdf">
				</a>
			</div>
			<div class="document-item-body">
				@news.title
			</div>
		</ul>
	}


	@{
		void PrintError()
		{
			<h3 class="news-title">
				Упс, такой страницы нет...
				<br>
				Мы знаем о проблеме и уже решаем ее
			</h3>
		}
	}
</article>