@page
@model StudentsModel
@{
	ViewData["Title"] = "Студентам";
}

<link rel="stylesheet" href="~/css/mainPages.css" asp-append-version="true">

<section class="main-underheader">

	<video autoplay muted loop class="main-underheader-background" poster="images/studentsMainPage/poster.jpg">
		<source src="/videos/students.webm" type="video/webm">
		<source src="/videos/students.mp4" type="video/mp4">
	</video>

	<div class="container">
		<div class="welcome">
			<h1 class="main-page-title">
				Обучающимся
			</h1>
			<h2 class="main-page-subtitle">
				Это твоя взлётная полоса успеха
			</h2>
			<ul class="contacts-list">
				<li>
					<a href="https://vk.com/omaviat_2020">
						<img class="icon" src="~/images/basic/socialLinks/vk.svg" alt="">
					</a>
				</li>
				<li>
					<a href="https://www.youtube.com/channel/UC-Ss6mzhYiKeGZaCBNyXo2w">
						<img class="icon" src="~/images/basic/socialLinks/youtube.svg" alt="">
					</a>
				</li>
				<li>
					<a href="https://t.me/omaviatomsk">
						<img class="icon" src="~/images/basic/socialLinks/telegram.svg" alt="">
					</a>
				</li>
			</ul>
		</div>
		<ul class="important-links">
			<li class="important-link">
				<a asp-page="/students/DistanceFullTimeLearning">
					<img src="~/images/studentsMainPage/distanceLearning.png" alt="">
					<span class="important-link-text">Дистанционное обучение</span>
				</a>
			</li>
			<li class="important-link">
				<a href="https://e.oat.ru/">
					<img src="~/images/studentsMainPage/floorPlan.png" alt="">
					<span class="important-link-text">Виртуальная экскурсия</span>
				</a>
			</li>
			<li class="important-link">
				<a href="https://t.me/oat_schedule_bot">
					<img src="~/images/studentsMainPage/botSchedule.png" alt="">
					<span class="important-link-text">Бот расписания</span>
				</a>
			</li>
			<li class="important-link">
				<a asp-page="/students/StudentSafety">
					<img src="~/images/studentsMainPage/attention.png" alt="">
					<span class="important-link-text">Безопасность студентов</span>
				</a>
			</li>
		</ul>
	</div>
</section>


<!-- for students and parents -->

<section>
	<div class="container">
		<h3 class="section-title">
			Уважаемые студенты!
		</h3>
		<p>
			Омский авиационный колледж имени Н.Е. Жуковского учебное заведение среднего профессионального образования,
			имеет давнюю 94-летнюю историю.
		</p>
		<p>
			За эти годы в нашем учебном заведении сложились определенные традиции и правила поведения.
		</p>
		<p>
			Берегите наши традиции и приумножайте их, будьте внимательны и вежливы с товарищами, педагогами, работниками
			колледжа.
		</p>
		<p>
			Бережно относитесь к книгам, которые вы возьмете в библиотеке, инвентарю, с которым еще придется учиться
			вашим младшим товарищам, к лабораторному и стендовому оборудованию.
		</p>
		<p>
			Вы можете получить своевременную помощь, обратившись к классному руководителю, педагогу-психологу,
			социальным педагогам. Дежурный преподаватель, выслушав вас, подскажет как поступить в той или иной ситуации,
			куда обратиться в случае необходимости.
		</p>
	</div>
</section>

<section>
	<div class="container">
		<h3 class="section-title">
			Уважаемые родители!
		</h3>
		<p>
			С целью адаптации студентов колледжа к условиям студенческой жизни и оказания им необходимой социальной,
			педагогической поддержки за каждой академической группой закрепляется классный руководитель из числа
			преподавателей и сотрудников колледжа.
		</p>
		<p>
			Вы всегда можете обратиться к классному руководителю, председателю ЦМК, заведующему отделением, социальному
			педагогу, педагогу-психологу, заместителям директора (по учебной или воспитательной работе) по любым
			вопросам учебной, общественной, трудовой, культурной или спортивной деятельности вашего ребенка, а также при
			возникновении или во избежание возможных конфликтных ситуаций.
		</p>
		<p>
			Студент может быть отчислен из колледжа только по следующим причинам:
		</p>
		<ul class="customized">
			<li>
				По собственному желанию на основании личного заявления
			</li>
			<li>
				За академическую неуспеваемость, как не прошедший аттестацию в установленные сроки, как не сдавший три
				или более экзаменов без уважительной причины во время экзаменационной сессии или как не ликвидировавший
				задолженности
			</li>
			<li>
				За грубые нарушения правил поведения
			</li>
		</ul>
	</div>
</section>