<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>
<body>
    <header id="site-header" class="site-header">
        <div class="container">
            <nav class="navigation">
                <a class="logo" href="/">
                    <img src="~/images/basic/logo.svg" alt="логотип">
                    <span class="logo-text">Омский авиационный колледж имени Н.Е. жуковского</span>
                </a>

                <ul class="important-pages">
                    <li>
                        <a href="">
                            Новости
                        </a>
                    </li>
                    <li>
                        <a href="">
                            Абитуриентам
                        </a>
                    </li>
                    <li>
                        <a href="">
                            Обучающимся
                        </a>
                    </li>
                </ul>

                <div class="functional">
                    <img id="menu-icon" class="icon" src="~/images/basic/burger.svg" alt="меню">
                    <img id="search-icon" class="icon" src="~/images/basic/search.svg" alt="поиск">
                    <a href="/"><img class="icon" src="~/images/basic/rubles.svg" alt="оплатить обучение"></a>
                    <img id="eye-icon" class="icon" src="~/images/basic/eyeOpen.svg" alt="версия для слабовидящих">
                </div>
                <ul class="dropdown-menu">

                    <!-- FOR STUDENTS -->
                    
                    <li class="dropdown-menu-item dropdown-menu-item-inactive">
                        <div class="dropdown-menu-item-title">
                            <img class="dropdown-menu-item-title-pictogram icon" src="~/images/basic/student.svg" alt="">
                            <a href="">
                                Студентам
                            </a>
                            <img class="dropdown-menu-item-title-icon icon" src="~/images/basic/arrow.svg" alt="">
                        </div>
                        <ul class="dropdown-menu-item-body">
                            <li>
                                <a href="">
                                    Новости
                                </a>
                            </li>
                            <li>
                                <a href="">
                                    Поэтажный план (Корпус 1, ул. Ленина 24)
                                </a>
                            </li>
                            <li>
                                <a href="">
                                    3D экскурсия по колледжу
                                </a>
                            </li>
                            <li>
                                <a href="">
                                    Научно-исследовательская работа
                                </a>
                            </li>
                            <li>
                                <a href="">
                                    Трудойстройство
                                </a>
                            </li>
                            <li>
                                <a href="">
                                    Спортивный клуб
                                </a>
                            </li>
                            <li>
                                <a href="">
                                    Дистанционное обучение
                                </a>
                            </li>
                            <li>
                                <a href="">
                                    Дистанционное обучение - очная форма обучения
                                </a>
                            </li>
                        </ul>
                    </li>

                    <!-- FOR APPLICANTS -->

                    <li class="dropdown-menu-item dropdown-menu-item-inactive">
                        <div class="dropdown-menu-item-title">
                            <img class="dropdown-menu-item-title-pictogram icon" src="~/images/basic/student.svg" alt="">
                            <a href="">
                                Абитуриентам
                            </a>
                            <img class="dropdown-menu-item-title-icon icon" src="~/images/basic/arrow.svg">
                        </div>
                        <ul class="dropdown-menu-item-body">
                            <li>
                                <a href="">
                                    Приемная комиссия
                                </a>
                            </li>
                            <li>
                                <a href="">
                                    Специальности и профессии
                                </a>
                            </li>
                            <li>
                                <a href="">
                                    Подготовительные курсы
                                </a>
                            </li>
                            <li>
                                <a href="">
                                    Экскурсия по колледжу
                                </a>
                            </li>
                            <li>
                                <a href="">
                                    Индивидуальное обучение
                                </a>
                            </li>
                            <li>
                                <a href="">
                                    Правила приема
                                </a>
                            </li>
                            <li>
                                <a href="">
                                    Повышение квалификации
                                </a>
                            </li>
                            <li>
                                <a href="">
                                    Сертификация D-link, Cisco
                                </a>
                            </li>
                            <li>
                                <a href="">
                                    Специальности очно-заочного (вечернего) отделения
                                </a>
                            </li>
                            <li>
                                <a href="">
                                    Схема расположения колледжа
                                </a>
                            </li>
                            <li>
                                <a href="">
                                    Профориентационные мероприятия
                                </a>
                            </li>
                        </ul>
                    </li>

                    <!-- FOR PARENTS -->

                    <li class="dropdown-menu-item dropdown-menu-item-inactive">
                        <div class="dropdown-menu-item-title">
                            <img class="dropdown-menu-item-title-pictogram icon" src="~/images/basic/parents.svg" alt="">
                            <a href="">
                                Родителям
                            </a>
                            <img class="dropdown-menu-item-title-icon icon" src="~/images/basic/arrow.svg">
                        </div>
                        <ul class="dropdown-menu-item-body">
                            <li>
                                <a href="">
                                    Успеваемость
                                </a>
                            </li>
                            <li>
                                <a href="">
                                    Организация учебного процесса в колледже
                                </a>
                            </li>
                            <li>
                                <a href="">
                                    Организация воспитательного процесса в колледже
                                </a>
                            </li>
                            <li>
                                <a href="">
                                    Правила внутреннего распорядка дня студентов
                                </a>
                            </li>
                            <li>
                                <a href="">
                                    Прием родителей, родительские собрания
                                </a>
                            </li>
                            <li>
                                <a href="">
                                    Психолого-педагогическое сопровождение
                                </a>
                            </li>
                        </ul>
                    </li>

                    <!-- ABOUT COLLEGE -->

                    <li class="dropdown-menu-item dropdown-menu-item-inactive">
                        <div class="dropdown-menu-item-title">
                            <img class="dropdown-menu-item-title-pictogram icon" src="~/images/basic/college.svg" alt="">
                            <a href="">
                                Колледж
                            </a>
                            <img class="dropdown-menu-item-title-icon icon" src="~/images/basic/arrow.svg">
                        </div>
                        <ul class="dropdown-menu-item-body">
                            <li>
                                <a href="">
                                    Основные сведения
                                </a>
                            </li>
                            <li>
                                <a href="">
                                    Структура и органы управления образовательной организации
                                </a>
                            </li>
                            <li>
                                <a href="">
                                    Документы
                                </a>
                            </li>
                            <li>
                                <a href="">
                                    Образование
                                </a>
                            </li>
                            <li>
                                <a href="">
                                    Образовательные стандарты
                                </a>
                            </li>
                            <li>
                                <a href="">
                                    Организация воспитательного процесса в колледже
                                </a>
                            </li>
                            <li>
                                <a href="">
                                    Руководство. Педагогический (научно-педагогический) состав
                                </a>
                            </li>
                            <li>
                                <a href="">
                                    Материально-техническое обеспечение и оснащенность образовательного процесса
                                </a>
                            </li>
                            <li>
                                <a href="">
                                    Платные образовательные услуги
                                </a>
                            </li>
                            <li>
                                <a href="">
                                    Финансово-хозяйственная деятельность
                                </a>
                            </li>
                            <li>
                                <a href="">
                                    Вакантные места для приема
                                </a>
                            </li>
                            <li>
                                <a href="">
                                    Вакансии
                                </a>
                            </li>
                            <li>
                                <a href="">
                                    Доступная среда
                                </a>
                            </li>
                        </ul>
                    </li>

                    <!-- FOR CONTACTS -->

                    <li class="dropdown-menu-item dropdown-menu-item-inactive">
                        <div class="dropdown-menu-item-title">
                            <img class="dropdown-menu-item-title-pictogram icon" src="~/images/basic/contacts.svg" alt="">
                            <a href="">
                                Контакты
                            </a>
                            <img class="dropdown-menu-item-title-icon icon" src="~/images/basic/arrow.svg">
                        </div>
                        <ul class="dropdown-menu-item-body">
                            <li>
                                <a href="">
                                    Как добраться
                                </a>
                            </li>
                            <li>
                                <a href="">
                                    Контактная информация
                                </a>
                            </li>
                            <li>
                                <a href="">
                                   Вопрос-ответ
                                </a>
                            </li>
                        </ul>
                    </li>

                    <!-- additionally -->

                    <li class="dropdown-menu-item dropdown-menu-item-inactive">
                        <div class="dropdown-menu-item-title">
                            <img class="dropdown-menu-item-title-pictogram icon" src="~/images/basic/question.svg" alt="">
                            <a href="">
                                Дополнительно
                            </a>
                            <img class="dropdown-menu-item-title-icon icon" src="~/images/basic/arrow.svg">
                        </div>
                        <ul class="dropdown-menu-item-body">
                            <li>
                                <a href="">
                                    Тест1
                                </a>
                            </li>
                            <li>
                                <a href="">
                                    Тест2
                                </a>
                            </li>
                            <li>
                                <a href="">
                                    Тест3
                                </a>
                            </li>
                        </ul>
                    </li>

                </ul>
            </nav>
        </div>
    </header>
    
    <main class="site-main" role="main">
        @RenderBody()
    </main>
    
    <footer class="site-footer">
        <div class="container">

            <div class="footer-top">
                <div class="footer-top-item">
                    <h5 class="footer-top-item-title">
                        учебная часть
                    </h5>
                    <div class="footer-top-item-body">
                        <div>
                            ул. Ленина, 24, Омск
                        </div>
                        <div>
                            8 (3812) 31 30 42
                        </div>
                        <div>
                            ПН - ПТ 7:30 - 19:30
                        </div>
                    </div>
                </div>
                <div class="footer-top-item">
                    <h5 class="footer-top-item-title">
                        приемная комиссия
                    </h5>
                    <div class="footer-top-item-body">
                        <div>
                            ул. Ленина, 24, Омск
                        </div>
                        <div>
                            8 (3812) 31 16 39
                        </div>
                        <div>
                            ПН - ПТ 8:00 - 18:00
                        </div>
                    </div>
                </div>
                <div class="footer-top-item">
                    <h5 class="footer-top-item-title">
                        приемная директора
                    </h5>
                    <div class="footer-top-item-body">
                        <div>
                            8 (3812) 31 44 65
                        </div>
                        <div>
                            ПН - ПТ 8:00 - 17:00
                        </div>
                    </div>
                </div>
                <div class="footer-top-item">
                    <h5 class="footer-top-item-title">
                        отделения
                    </h5>
                    <div class="footer-top-item-body">
                        <a href="">
                            Отдел кадров
                        </a>
                        <a href="">
                            Учебная часть №2 (пр. Космический, 14а)
                        </a>
                        <a href="">
                            Учебная часть №3 (ул. Б. Хмельницкого, 281а)
                        </a>
                        <a href="">
                            Отделение технологий аэрокосмического производства
                        </a>
                        <a href="">
                            Отделение электромеханики, радиотехники и технологии сварки
                        </a>
                    </div>
                </div>
            </div>

        </div>
        <div class="footer-bottom">
            <div class="container">
                <div class="footer-bottom-row">
                    <div class="footer-bottom-logo">
                        <img src="~/images/basic/logo.svg" alt="">
                        <span class="footer-bottom-logo-text">
                            Бюджетное профессиональное образовательное учереждение
                            Омской области «Омский авиационный колледж имени Н.Е.Жуковского»
                        </span>
                    </div>
                    <ul class="footer-bottom-social">
                        <li>
                            <img class="icon" src="~/images/basic/vk.svg" alt="">
                        </li>
                        <li>
                            <img class="icon" src="~/images/basic/youtube.svg" alt="">
                        </li>
                        <li>
                            <img class="icon" src="~/images/basic/telegram.svg" alt="">
                        </li>
                    </ul>
                </div>

                <div class="footer-bottom-row">
                    <ul class="footer-bottom-pages">
                        <li>
                            расписание
                        </li>
                        <li>
                            родителям
                        </li>
                        <li>
                            старый сайт
                        </li>
                        <li>
                            студентам
                        </li>
                        <li>
                            колледж
                        </li>
                        <li>
                            обращение в службу информатизации (для сотрудников)
                        </li>
                        <li>
                            абитуриентам
                        </li>
                        <li>
                            контакты
                        </li>
                    </ul>
                </div>
                <div class="copyright">
                    © 2023 ОМСКИЙ АВИАЦИОННЫЙ КОЛЛЕДЖ
                </div>
            </div>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>