<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - OAT</title>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>
<body>
    <header class="site-header">
        <nav class="navigation">
            <div class="logo">
                <img src="~/images/basic/logo.svg" alt="логотип">
                Омский авиационный колледж имени Н.Е. жуковского
            </div>
            <div class="functional">
                <img class="icon" alt="версия для слабовидящих">
                <img class="icon" alt="оплатить обучение">
                <img class="icon" alt="поиск">
                <img class="icon" alt="меню">
            </div>
        </nav>
    </header>
    
    <main class="site-main" role="main">
        @RenderBody()
    </main>
    
    <footer class="site-footer">
        <div class="container">
            &copy; 2023 - OAT - <a asp-area="" asp-page="/Privacy">Privacy</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>