<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true">
    <link rel="stylesheet" href="~/css/panel.css" asp-append-version="true">
</head>
<body>
    <header class="panel-header">
        <ul class="panel-tabs">
            <li>
                <a href="panel?oq=@Utils.RandomString(64)">
                    <span>
                        News
                    </span>
                    <img class="icon" src="~/images/panel/news.svg" alt="">
                </a>
            </li>
            @if (User != null && User.Identity.IsAuthenticated && User.IsRole(Enums.Role.admin))
            {
                <li>
                    <a href="users?oq=@Utils.RandomString(64)">
                        <span>
                            Users
                        </span>
                    <img class="icon" src="~/images/panel/users.svg" alt="">
                    </a>
                </li>
            }
            <li>
                <a href="">
                    <span>
                        Answers
                    </span>
                    <img class="icon" src="~/images/panel/answers.svg" alt="">
                </a>
            </li>
            <li>
                <a href="">
                    <span>
                        Other
                    </span>
                    <img class="icon" src="~/images/panel/exitBlack.svg" alt="">
                </a>
            </li>
            <li>
                <a href="/api/logout">
                    <span>
                        Exit
                    </span>
                    <img class="icon" src="~/images/panel/exitBlack.svg" alt="">
                </a>
            </li>
        </ul>
    </header>
    <main class="site-main" role="main">
        @RenderBody()
        <section class="container">
            @if (User != null && User.Identity.IsAuthenticated)
            {
                <div class="current-user-info">
                    <img class="current-user-info-head" src="~/images/panel/currentUser.svg">
                    <div class="current-user-info-body">
                        <p class="current-user-info-name"><b>Имя:</b> @User.Username()</p>
                        <p class="current-user-info-ip"><b>IP:</b> @Context.Request.Headers["CF-Connecting-IP"]</p>
                    </div>
                </div>
            }
        </section>
    </main>
    

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>