<div>
	<ZoneComponent>
		<ZoneTitleComponent>
			@SubjectName
		</ZoneTitleComponent>
		<div class="grades">
			<span>
				5
			</span>
			<span>
				3
			</span>
			<span>
				4
			</span>
			<span>
				2
			</span>
			<span>
				1
			</span>
			<span>
				4
			</span>
			<span>
				4
			</span>
			<span>
				4
			</span>
		</div>
		<div class="middle">
			4,56
		</div>
	</ZoneComponent>
</div>

@code {
	[Parameter] public string SubjectName { get; set; } = "ТСИ";
	[Parameter] public List<int> SubjectGrades { get; set; } = [1, 2, 3];
}