@page
@model AllNewsModel
@{
    ViewData["Title"] = "Все новости";
}

<link rel="stylesheet" href="~/css/allNews.css">

<section class="container">
    <h3 class="section-title">
		Новости Омского авиационного колледжа имени Н.Е. Жуковского
    </h3>
	<div class="news-list">

		<div class="news-item">
			<div class="news-item-img">
				<img src="~/images/people/savinAntonViktorovic.png" alt="">
			</div>
			<div class="news-item-content">
				<div class="news-item-date">
					Дата
				</div>
				<div class="news-item-title">
					Название
				</div>
				<div class="news-item-info">
					Описание, оно будет немного побольше
					<a href="">
						ещё...
					</a>
				</div>
			</div>
		</div>
		<div class="news-item">
			<div class="news-item-img">
				<img src="~/images/people/savinAntonViktorovic.png" alt="">
			</div>
			<div class="news-item-content">
				<div class="news-item-date">
					Дата
				</div>
				<div class="news-item-title">
					Название
				</div>
				<div class="news-item-info">
					Описание, оно будет немного побольше
					<a href="">
						ещё...
					</a>
				</div>
			</div>
		</div>
		<div class="news-item">
			<div class="news-item-img">
				<img src="~/images/people/savinAntonViktorovic.png" alt="">
			</div>
			<div class="news-item-content">
				<div class="news-item-date">
					Дата
				</div>
				<div class="news-item-title">
					Название
				</div>
				<div class="news-item-info">
					Описание, оно будет немного побольше
					<a href="">
						ещё...
					</a>
				</div>
			</div>
		</div>
		<div class="news-item">
			<div class="news-item-img">
				<img src="~/images/people/savinAntonViktorovic.png" alt="">
			</div>
			<div class="news-item-content">
				<div class="news-item-date">
					Дата
				</div>
				<div class="news-item-title">
					Название
				</div>
				<div class="news-item-info">
					Описание, оно будет немного побольше
					<a href="">
						ещё...
					</a>
				</div>
			</div>
		</div>
				
	</div>
</section>
