@page
@using OAT.function;
@model AllNewsModel
@{
    ViewData["Title"] = "Все новости";
}

<link rel="stylesheet" href="~/css/allNews.css">

<section class="container">
    <h3 class="section-title all-news-title">
		Новости Омского авиационного колледжа имени Н.Е. Жуковского
    </h3>
	<div class="news-list">
		@foreach(var news in NewsController.News)
		{
			<div class="news-item">
				<div class="news-item-img">
					<img src="@news.data.photos[0]" alt="">
				</div>
				<div class="news-item-content">
					<div class="news-item-date">
						@news.data.date
					</div>
					<div class="news-item-title">
						@news.data.title
					</div>
					<div class="news-item-info">
						@news.short_description
						<a href="~/news?id=@news.id">
							ещё...
						</a>
					</div>
				</div>
			</div>
		}	
	</div>

    <div class="pages-nav-container">
        <div class="pages-nav">
            <a href="" class="pages-nav-arrow pages-nav-prev">
                <img class="icon" src="~/images/basic/longArrow.svg" alt="назад">
            </a>
            <div class="pages-nav-pages-list">
                <a href="" class="pages-nav-pages-list-item current">
                    1
                </a>
                <a href="" class="pages-nav-pages-list-item">
                    2
                </a>
                <a href="" class="pages-nav-pages-list-item">
                    3
                </a>
                <a href="" class="pages-nav-pages-list-item">
                    4
                </a>
                <a href="" class="pages-nav-pages-list-item">
                    5
                </a>
            </div>
            <a href="" class="pages-nav-arrow pages-nav-next">
                <img class="icon" src="~/images/basic/longArrow.svg" alt="вперед">
            </a>
        </div>
    </div>
</section>
