@page
@model ApplicantModel
@{
	ViewData["Title"] = "Абитуриентам";
}

<link rel="stylesheet" href="~/css/main.css" asp-append-version="true">
<link rel="stylesheet" href="~/css/mainPages.css" asp-append-version="true">

<!-- underheader -->

<section class="main-underheader">
	
	<video autoplay muted loop class="main-underheader-background" poster="images/applicantMainPage/poster.jpg">
		<source src="/videos/applicant.webm" type="video/webm">
		<source src="/videos/applicant.mp4" type="video/mp4">
	</video>

	<div class="container">
		<div class="welcome">
			<h1 class="main-page-title">
				Абитуриентам
			</h1>
			<h2 class="main-page-subtitle">
				Сделай шаг навстречу своему будущему!
			</h2>
			<ul class="contacts-list">
				<li>
					<a href="https://vk.com/omaviat_2020">
						<img class="icon" src="~/images/basic/socialLinks/vk.svg">
					</a>
				</li>
				<li>
					<a href="https://www.youtube.com/channel/UC-Ss6mzhYiKeGZaCBNyXo2w">
						<img class="icon" src="~/images/basic/socialLinks/youtube.svg">
					</a>
				</li>
				<li>
					<a href="https://t.me/omaviatomsk2021">
						<img class="icon" src="~/images/basic/socialLinks/telegram.svg">
					</a>
				</li>
			</ul>
		</div>
		<ul class="important-links">
			<li class="important-link">
				<a href='@Url.Page("/applicant/CareerGuidanceEvents")'>
					<img src="~/images/applicantMainPage/careerEvents.png">
					<span class="important-link-text">Профориентационные мероприятия</span>
				</a>
			</li>
			<li class="important-link">
				<a href='@Url.Page("/applicant/TrainingCourses")'>
					<img src="~/images/applicantMainPage/trainingCourses.png">
					<span class="important-link-text">Подготовительные курсы</span>
				</a>
			</li>
			<li class="important-link">
				<a href='@Url.Page("/applicant/SelectionCommittee")'>
					<img src="~/images/applicantMainPage/selectionCommittee.png">
					<span class="important-link-text">Приемная комиссия</span>
				</a>
			</li>
			<li class="important-link">
				<a href="https://e.oat.ru/">
					<img src="~/images/applicantMainPage/3dTour.png">
					<span class="important-link-text">3D тур</span>
				</a>
			</li>
		</ul>
	</div>
</section>