@page
@model HelpModel
@{
    ViewData["Title"] = "Оформление заявки";
    Layout = "";
}

<link rel="stylesheet" href="~/css/site.css" asp-append-version="true">
<link rel="stylesheet" href="~/css/help.css" asp-append-version="true">

<section>
    <div class="help">
        <div class="help-steps">
            <div class="help-steps-item">
                <div class="help-steps-item-number">
                    1
                </div>
                <div class="help-steps-item-text">
                    КОНТАКТНАЯ ИНФОРМАЦИЯ
                </div>
            </div>
            <div class="help-steps-item">
                <div class="help-steps-item-number">
                    2
                </div>
                <div class="help-steps-item-text">
                    МЕСТОНАХОЖДЕНИЕ
                </div>
            </div>
            <div class="help-steps-item">
                <div class="help-steps-item-number">
                    3
                </div>
                <div class="help-steps-item-text">
                    ОПИСАНИЕ ПРОБЛЕМЫ
                </div>
            </div>
        </div>

        <div class="help-forms">
            <form class="help-form">
                <div class="help-form-head">
                    <h2 class="help-form-head-title">
                        Контактная информация
                    </h2>
                    <h3 class="help-form-head-guide">
                        Заполните информацию о себе
                    </h3>
                </div>
            </form>
        </div>
    </div>
</section>