@page
@model IndexModel
@{
    ViewData["Title"] = "главная";
}

<section class="main-underheader">
    <div class="container">
        Первые слова на сайте Омского авиационного колледжа... Предстоит много работы!
    </div>
</section>
