@page
@model IndexModel
@{
    ViewData["Title"] = "Омский авиационный колледж";
}

<link rel="stylesheet" href="~/css/main.css" asp-append-version="true">
<link rel="stylesheet" href="~/css/mainPages.css" asp-append-version="true">
<script src="~/js/newsSlider.js" asp-append-version="true"></script>

<!-- underheader -->

<section class="main-underheader">
    
    <video autoplay muted loop class="main-underheader-background">
        <source src="/videos/fly.mp4" type="video/mp4">
    </video>

    <div class="container">
        <div class="welcome">
            <h1 class="main-page-title">
                Взлётная полоса твоего успеха
            </h1>
            <h2 class="main-page-subtitle">
                Сделай шаг навстречу своему будущему!
            </h2>
            <ul class="contacts-list">
                <li>
                    <a href="https://vk.com/omaviat_2020">
                        <img class="icon" src="~/images/basic/vk.svg">
                    </a>
                </li>
                <li>
                    <a href="https://www.youtube.com/channel/UC-Ss6mzhYiKeGZaCBNyXo2w">
                        <img class="icon" src="~/images/basic/youtube.svg">
                    </a>
                </li>
                <li>
                    <a href="https://t.me/omaviatomsk2021">
                        <img class="icon" src="~/images/basic/telegram.svg">
                    </a>
                </li>
            </ul>
        </div>
        <ul class="important-links">
            <li class="important-link">
                <a href='@Url.Page("/CommonIntelligence")'>
                    <img src="~/images/mainPage/info.png">
                    <span class="important-link-text">Сведения об образовательной организации</span>
                </a>
            </li>
            <li class="important-link">
                <a href="">
                    <img src="~/images/mainPage/workshop.png">
                    <span class="important-link-text">Новые мастерские</span>
                </a>
            </li>
            <li class="important-link">
                <a href="">
                    <img src="~/images/mainPage/copp.png">
                    <span class="important-link-text">Центр опережающей профессиональной подготовки</span>
                </a>
            </li>
            <li class="important-link">
                <a href="">
                    <img src="~/images/mainPage/professionalism.png">
                    <span class="important-link-text">Профессионалитет</span>
                </a>
            </li>
        </ul>
    </div>
</section>

<!-- news -->

<section>
    <div class="container">
        <h3 class="section-title">
            Новости
        </h3>
        <div class="news-slider-container">
            <ul id="news-slider" class="news-slider">
                <li class="news-item">
                    <img src="~/images/mainPage/news1.jpg" alt="">
                    <a href="" class="news-content">
                        <div class="news-date">
                            25 мая 2023
                        </div>
                        <div class="news-header">
                            "Я не играю в шахматы - в шахматах я борюсь" Александр Алёхин
                        </div>
                    </a>
                </li>
                <li class="news-item">
                    <img src="~/images/mainPage/news2.jpg" alt="">
                    <a href="" class="news-content">
                        <div class="news-date">
                            23 мая 2023
                        </div>
                        <div class="news-header">
                            А вот и продолжение от студентов #Омавиат, которые трудятся на предприятиях Омской области и хотят вам кое-что рассказать
                        </div>
                    </a>
                </li>
                <li class="news-item">
                    <img src="~/images/mainPage/news3.jpg" alt="">
                    <a href="" class="news-content">
                        <div class="news-date">
                            19 мая 2023
                        </div>
                        <div class="news-header">
                            Демонстрационный экзамен по компетенции R11 Предпринимательство
                        </div>
                    </a>
                </li>
                <li class="news-item">
                    <img src="~/images/mainPage/news4.jpg" alt="">
                    <a href="" class="news-content">
                        <div class="news-date">
                            19 мая 2023
                        </div>
                        <div class="news-header">
                            Студенты групп ЭМ-419, ЭМ-429 Омского авиационного колледжа приступили к сдаче демонстрационного экзамена по компетенции "Электромонтаж"
                        </div>
                    </a>
                </li>
            </ul>
            <div class="news-slider-footer">
                <a class="all-news" href="">
                    Все новости
                </a>
                <div class="news-slider-btns">
                    <div id="slider-prev" class="news-slider-arrow news-slider-prev">
                        <img src="~/images/mainPage/arrow.svg" alt="">
                    </div>
                    <div id="slider-next" class="news-slider-arrow news-slider-next">
                        <img src="~/images/mainPage/arrow.svg" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- important cards -->

<section>
    <div class="container">
        <h3 class="section-title hide-title">
            Обучайся с нами!
        </h3>
        <ul class="cards-list">
            <li class="card-item">
                <a href="">
                    <div class="card-item-header">
                        Специальности и профессии
                    </div>
                    <div class="card-item-description">
                        Узнай больше про наши программы обучения
                    </div>
                </a>
            </li>
            <li class="card-item">
                <a href="">
                    <div class="card-item-header">
                        Проекты и события
                    </div>
                    <div class="card-item-description">
                        Важная информация
                    </div>
                </a>
            </li>
            <li class="card-item">
                <a href="">
                    <div class="card-item-header">
                        Повышение квалификации
                    </div>
                    <div class="card-item-description">
                        Узнай больше про наши программы обучения
                    </div>
                </a>
            </li>
            <li class="card-item">
                <a href="">
                    <div class="card-item-header">
                        Вопрос-ответ
                    </div>
                    <div class="card-item-description">
                        Узнай больше про наши программы обучения
                    </div>
                </a>
            </li>
        </ul>
    </div>
</section>

<!-- gos links -->

<section>
    <div class="container">
        <h3 class="section-title hide-title">
            Улучши свой город!
        </h3>

        <a class="gorod-sreda" href="https://55.gorodsreda.ru/?utm_medium=site&utm_source=cur55">
            <img src="~/images/mainPage/gorodSreda.jpg" alt="благоустройство города Омск">
        </a>

        <div class="problems-container">
            <div class="problems">
                <div class="problems-info">
                    <h4>
                        Не убран снег, яма на дороге, не горит фонарь?
                    </h4>
                    <div class="problems-info-desc">
                        Столкнулись с проблемой - сообщите о ней!
                    </div>
                    <button class="problems-btn" type="button">
                        Сообщить о проблеме
                    </button>
                </div>
                <div class="problems-img">
                    <img src="~/images/mainPage/banner-fluid-bg-2.svg" alt="">
                </div>

                <div class="problems-slogan">
                    <img src="~/images/mainPage/gosuslugi-logo.svg" alt="госуслуги">
                    <div class="problems-slogan-description">
                        Решаем вместе
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>