@page
@model IndexModel
@{
    ViewData["Title"] = "главная";
}

<section class="main-underheader">
    
    <video autoplay muted loop class="main-underheader-background">
        <source src="/videos/fly.mp4" type="video/mp4">
    </video>

    <div class="container">
        <div class="welcome">
            <h1 class="main-page-title">
                Взлётная полоса твоего успеха
            </h1>
            <h2 class="main-page-subtitle">
                Сделай шаг навстречу своему будущему!
            </h2>
            <ul class="contacts-list">
                <li>
                    <a href="">
                        <img class="icon" src="~/images/basic/vk.svg">
                    </a>
                </li>
                <li>
                    <a href="">
                        <img class="icon" src="~/images/basic/youtube.svg">
                    </a>
                </li>
                <li>
                    <a href="">
                        <img class="icon" src="~/images/basic/telegram.svg">
                    </a>
                </li>
            </ul>
        </div>
        <ul class="important-links">
            <li class="important-link">
                <a href="">
                    <img src="~/images/mainPage/info.png">
                    <span class="important-link-text">Сведения об образовательной организации</span>
                </a>
            </li>
            <li class="important-link">
                <a href="">
                    <img src="~/images/mainPage/workshop.png">
                    <span class="important-link-text">Новые мастерские</span>
                </a>
            </li>
            <li class="important-link">
                <a href="">
                    <img src="~/images/mainPage/copp.png">
                    <span class="important-link-text">Центр опережающей профессиональной подготовки</span>
                </a>
            </li>
            <li class="important-link">
                <a href="">
                    <img src="~/images/mainPage/professionalism.png">
                    <span class="important-link-text">Профессионалитет</span>
                </a>
            </li>
        </ul>
    </div>
</section>
