@page
@model NewsModel
@{
    ViewData["Title"] = "Новость";
}

<link rel="stylesheet" href="~/css/news.css">

<article class="container">
    <h3 class="news-title">
        @Model.news.data.title
    </h3>
    <p>
        @Model.news.data.text
    </p>
    <div class="images-list-slider-container">
        <div class="images-list-slider">
            @foreach(var image in Model.news.data.photos)
            {
                <img src="@image" alt="">
            }
        </div>
    </div>
</article>

