@page "{id?}"
@model NewsModel
@{
    ViewData["Title"] = "Новость";
}

<link rel="stylesheet" href="~/css/news.css">

<article class="centered">
    @{
        if (string.IsNullOrWhiteSpace(Model.id) || NewsReader.News is null)
        {
            PrintError();
            return;
        }

        var IsInt = int.TryParse(Model.id, out var id);
        if (!IsInt || NewsReader.News.Max(e => e.id) < id)
        {
            PrintError();
            return;
        }
    }    
    @if (!string.IsNullOrWhiteSpace(Model.id) && NewsReader.News.Max(e => e.id) >= int.Parse(Model.id))
    {
        var news = NewsReader.News.First(e => e.id == Convert.ToInt32(Model.id));
        <h3 class="news-title">
            @news.title
        </h3>
        @foreach (var t in news.text.Split("\n"))
        {
            <p>@Html.Raw(@t)</p>
        }

        
        <div class="images-list-slider-container">
            <div class="images-list-slider">
                @foreach (var image in news.photos)
                {
                    @if (!image.Contains(".mp4") && !image.Contains(".pdf"))
                    {
                        <img src="/@image" alt="">
                    }
                    else if(image.Contains(".mp4"))
                    {
                        <video class="customized" controls>
                            <source src="/@image" type="video/mp4">
                        </video>
                    }
                    else
                    {

                    }
                }
            </div>
        </div>

        foreach (var pdf in news.photos.Where(e => e.Contains(".pdf")))
        {
            <ul class="document-item" style="width: 50%; margin: 0 auto;">
                <div class="document-item-head">
                    <a target="_blank" href="/@pdf">
                    </a>
                </div>
                <div class="document-item-body">
                    @news.title
                </div>
            </ul>
        }
        
        <br/>

    }
    @{
        void PrintError()
        {
            <h3 class="news-title">
                Упс, такой страницы нет...
                <br>
                Мы знаем о проблеме и уже решаем ее
            </h3>
        }
    }
</article>

