@page
@model NewsModel
@{
    ViewData["Title"] = "Новость";
}

<link rel="stylesheet" href="~/css/news.css">

<article class="container">
    <h3 class="news-title">
        @Model.news.title
    </h3>
        @foreach (var t in Model.text)
        {
            <p>@t</p>
        }
    <div class="images-list-slider-container">
        <div class="images-list-slider">
            @foreach(var image in Model.news.photos)
            {
                <img src="@image" alt="">
            }
        </div>
    </div>
</article>

