@page "{id?}"
@model NewsModel
@{
    ViewData["Title"] = "Новость";
}

<link rel="stylesheet" href="~/css/news.css">

<article class="centered">
    @if (!string.IsNullOrWhiteSpace(Model.id) && NewsReader.News.Count() - 1 >= Convert.ToInt32(Model.id))
    {
        var news = NewsReader.News.First(e => e.id == Convert.ToInt32(Model.id));
        <h3 class="news-title">
            @news.title
        </h3>
        @foreach (var t in news.text.Split("\n"))
        {
            <p>@Html.Raw(@t)</p>
        }
        <div class="images-list-slider-container">
            <div class="images-list-slider">
                @foreach (var image in news.photos)
                {
                    @if (!image.Contains(".mp4"))
                    {
                        <img src="/@image" alt="">
                    }
                    else
                    {
                        <video class="customized" controls>
                            <source src="/@image" type="video/mp4">
                        </video>
                    }
                }
            </div>
        </div>

    }
    else
    {
        <h3 class="news-title">
            Упс, такой страницы нет...
            <br>
            Мы знаем о проблеме и уже решаем ее
        </h3>
    }
</article>

