@page
@model NewsModel
@{
    ViewData["Title"] = "Новость";
}

<link rel="stylesheet" href="~/css/news.css">

<article class="container">
    <h3 class="news-title">
        @Model.news.title
    </h3>
        @foreach (var t in Model.text)
        {
            @Html.Raw(@t)
        }
    <div class="images-list-slider-container">
        <div class="images-list-slider">
            @foreach(var image in Model.news.photos)
            {
                @if (!image.Contains(".mp4"))
                {
                    <img src="@image" alt="">
                }
                else
                {
                    <video class="customized" controls>
                        <source src="@image" type="video/mp4">
                    </video>
                }
            }
        </div>
    </div>
</article>

