@page
@model NewsModel
@{
    ViewData["Title"] = "Новость";
}

<link rel="stylesheet" href="~/css/news.css">

<article class="container">
    <h3 class="news-title">
        Название новости
    </h3>
    <p>
        Наполнение новости, различный текст. Текст, текст, текст, текст, текст, текст, текст, текст, текст, текст, текст, текст, текст, текст, текст, текст, текст, текст, текст, текст, текст, текст, текст, текст, текст, текст, текст, текст, текст, текст, текст, текст, текст, текст, текст, текст, текст....
    </p>
    <p>
        Немного ещё текста.
    </p>
    <p>
        И ещё.....
    </p>
    <p>
        А, точно! Вы можете посмотреть на картинки :)
    </p>
    <div class="images-list-slider-container">
        <div class="images-list-slider">
            <img src="~/images/organizationInformation/internationalCooperation/inter-1.jpeg" alt="">
            <img src="~/images/organizationInformation/internationalCooperation/inter-2.jpeg" alt="">
            <img src="~/images/organizationInformation/internationalCooperation/inter-3.jpeg" alt="">
        </div>
    </div>
</article>

