@page
@model StudentsModel
@{
    ViewData["Title"] = "Студентам";
}

<link rel="stylesheet" href="~/css/mainPages.css" asp-append-version="true">

<!-- underheader -->

<section class="main-underheader">
    
    <video autoplay muted loop class="main-underheader-background">
        <source src="/videos/students.mp4" type="video/mp4">
    </video>

    <div class="container">
        <div class="welcome">
            <h1 class="main-page-title">
                Обучающимся
            </h1>
            <h2 class="main-page-subtitle">
                Это твоя взлётная полоса успеха
            </h2>
            <ul class="contacts-list">
                <li>
                    <a href="https://vk.com/omaviat_2020">
                        <img class="icon" src="~/images/basic/vk.svg">
                    </a>
                </li>
                <li>
                    <a href="https://www.youtube.com/channel/UC-Ss6mzhYiKeGZaCBNyXo2w">
                        <img class="icon" src="~/images/basic/youtube.svg">
                    </a>
                </li>
                <li>
                    <a href="https://t.me/omaviatomsk2021">
                        <img class="icon" src="~/images/basic/telegram.svg">
                    </a>
                </li>
            </ul>
        </div>
        <ul class="important-links">
            <li class="important-link">
                <a href="">
                    <img src="~/images/students/distanceLearning.png" alt="">
                    <span class="important-link-text">Дистанционное обучение</span>
                </a>
            </li>
            <li class="important-link">
                <a href="">
                    <img src="~/images/students/floorPlan.png" alt="">
                    <span class="important-link-text">Поэтажный план</span>
                </a>
            </li>
            <li class="important-link">
                <a href="">
                    <img src="~/images/students/botSchedule.png" alt="">
                    <span class="important-link-text">Бот расписания</span>
                </a>
            </li>
            <li class="important-link">
                <a href="">
                    <img src="~/images/students/attention.png" alt="">
                    <span class="important-link-text">ВНИМАНИЕ!<br>ЭТО ВАЖНО</span>
                </a>
            </li>
        </ul>
    </div>
</section>


<!-- for students and parents -->

<section>
    <div class="container">
        <h3 class="section-title">
            Уважаемые студенты!
        </h3>
    </div>
</section>

<section>
    <div class="container">
        <h3 class="section-title">
            Уважаемые родители!
        </h3>
    </div>
</section>