@page
@model TestingModel
@{
	ViewData["Title"] = "Анкетирование БПОУ Омавиат";
}

<link rel="stylesheet" href="~/css/another/testing.css" asp-append-version="true">

<section class="centered">
	<h2 class="section-title">
		Анкетирование БПОУ Омавиат
	</h2>
	
	<div class="results">
		<div class="results-item">
			Обучающиеся
			<div class="results-item-inner">
				<a class="results-inner-item-more" href="https://forms.gle/saXymQq8jDQjjSxw9">
					пройти анкетирование
				</a>
				<a class="results-item-inner-total" href="~/documents/another/testing/результаты_анкетирования_обучающихся_23_24.pdf">
					результат
				</a>
			</div>
		</div>
		<div class="results-item">
			Педагоги
			<div class="results-item-inner">
				<a class="results-inner-item-more" href="https://forms.gle/YTjt9QTLuBBjJmiWA">
					пройти анкетирование
				</a>
				<a class="results-item-inner-total" href="~/documents/another/testing/результаты_анкетирования_педагогов.pdf">
					результат
				</a>
			</div>
		</div>
		<div class="results-item">
			Работодатели
			<div class="results-item-inner">
				<a class="results-inner-item-more" href="https://forms.gle/KQmNKtXfphyccYHr6">
					пройти анкетирование
				</a>
				<a class="results-item-inner-total" href="~/documents/another/testing/результаты_анкетирования_работодателей.pdf">
					результат
				</a>
			</div>
		</div>
		<div class="results-item">
			Родители
			<div class="results-item-inner">
				<a class="results-inner-item-more" href="https://forms.gle/FGwwGwV7VeXjVnsp7">
					пройти анкетирование
				</a>
				<a class="results-item-inner-total" href="~/documents/another/testing/результаты_анкетирования_родителей.pdf">
					результат
				</a>
			</div>
		</div>
	</div>

</section>