@page

@model QuestionAnswerModel
@{
	ViewData["Title"] = "Вопрос-ответ";
}

<link rel="stylesheet" href="~/css/feedback/questionAnswer.css" asp-append-version="true">
<script src="https://www.google.com/recaptcha/api.js" async defer></script>

<div class="container content-page">
	<section class="content">
		<h2 class="section-title">
			Вопрос-ответ
		</h2>
		
		<ul class="page-navigation">
			<li>
				<a href="#FAQ">
					Часто задаваемые вопросы
				</a>
			</li>
			<li>
				<a href="#my-question">
					Задать свой вопрос
				</a>
			</li>
		</ul>
		
		<h3 id="FAQ" class="section-subtitle">
			Часто задаваемые вопросы
		</h3>
		<div class="accordions-list">
			<div class="accordion">
				<div class="accordion-head">
					По каким программам можно обучаться школьникам?
				</div>
				<div class="accordion-body">
					<a target="_blank" href="~/documents/feedback/questionAnswer/Programs and educational institutions.xlsx">Перечень программ, по которым можно обучаться школьникам и образовательные учреждения</a>
				</div>
			</div>
			<div class="accordion">
				<div class="accordion-head">
					Когда день открытых дверей?
				</div>
				<div class="accordion-body">
					Дни открытых дверей регулярно проходят в стенах нашего колледжа, отслеживать все мероприятия, стартующие в Омавиат можно в нашем <a href="https://t.me/omaviatomsk" target="_blank">телеграм канале</a>, либо же на странице <a asp-page="CareerGuidanceEvents">пофориентационные мероприятия</a>. <b>Ближайший день открытых дверей состоится 16.05.2025 в 15:00 по адресу ул. Ленина, д. 24</b>
				</div>
			</div>
			<div class="accordion">
				<div class="accordion-head">
					Как заключить целевой договор?
				</div>
				<div class="accordion-body">
					Обращаться к Булейко Виктории Геннадьевне по номеру телефона <a href="tel:+7 (933) 302-59-49">+7 (933) 302-59-49</a> 
				</div>
			</div>
			<div class="accordion">
				<div class="accordion-head">
					Куда обратиться по вопросам трудоустройства?
				</div>
				<div class="accordion-body">
					Обращаться к Булейко Виктории Геннадьевне по номеру телефона <a href="tel:+7 (933) 302-59-49">+7 (933) 302-59-49</a> 
				</div>
			</div>
			<div class="accordion">
				<div class="accordion-head">
					Когда начинает работать приемная комиссия и по какому адресу?
				</div>
				<div class="accordion-body">
					С 20.06 по адресу ул. Ленина, д. 24, каб. 123
				</div>
			</div>
			<div class="accordion">
				<div class="accordion-head">
					Когда и где вручение дипломов?
				</div>
				<div class="accordion-body">
					---
				</div>
			</div>
			<div class="accordion">
				<div class="accordion-head">
					Когда и где защита дипломов?
				</div>
				<div class="accordion-body">
					---
				</div>
			</div>
			<div class="accordion">
				<div class="accordion-head">
					Как получить помощь при желании несовершеннолетнего трудоустроиться?
				</div>
				<div class="accordion-body">
					Обратиться в центр содействия трудоустройства (ул. Ленина, д. 24, каб. 234, <a href="tel:+7 (3812) 31-16-39">(3812) 31-16-39</a>)
				</div>
			</div>
		</div>
		
		
		<h3 id="my-question" class="section-subtitle">
			Задать свой вопрос
		</h3>
		<form class="questions" method="post">
			<div asp-validation-summary="All"></div>

			<div class="basic-data">
				<div class="input-box">
					<label for="name">Имя</label>
					<input asp-for="name" id="name" type="text" placeholder="Введите имя">
				</div>
				<div class="input-box">
					<label for="email">E-mail</label>
					<input asp-for="email" id="email" type="email" placeholder="Введите почту">
				</div>
				<div class="input-box">
					<label for="telephone">Телефон</label>
					<input asp-for="telephone" id="telephone" type="tel" placeholder="Введите телефон">
				</div>
				<div class="input-box">
					<label for="topic">Тема вопроса</label>
					<select asp-for="topic" id="topic">
						<option>Профессионалитет</option>
						<option>Производство</option>
						<option>Воспитательная работа</option>
						<option>Учебная деятельность</option>
						<option>Профориентация</option>
						<option>Трудоустройство</option>
						<option>Приёмная комиссия</option>
						<option>Курсовая подготовка</option>
						<option>Главная бухгалтерия</option>
						<option>Бухгалтерия</option>
						<option>Экономика</option>
						<option>Директор школы</option>
						<option>Инженерный лицей</option>
					</select>
				</div>
			</div>
			<div class="input-box">
				<label for="description">Вопрос</label>
				<textarea asp-for="description" id="description" class="customized"
				          placeholder="Введите вопрос"></textarea>
			</div>
			<p class="question-warning">
				Нажимая на кнопку "Отправить", вы даете согласие на обработку персональных данных
			</p>
			<button type="submit" class="customized question-send">Отправить</button>
		</form>

	</section>
	<aside id="sidebar" class="sidebar">
		<h3 class="sidebar-title">
			Обратная связь
		</h3>
		<nav class="sidebar-body">
			<ul class="sidebar-links">
				<li class="sidebar-link">
					<a asp-page="Location">
						Как добраться
					</a>
				</li>
				<li class="sidebar-link">
					<a asp-page="Contacts">
						Контакты
					</a>
				</li>
				<li class="sidebar-link sidebar-link-selected">
					<a asp-page="QuestionAnswer">
						Вопрос-ответ
					</a>
				</li>
				<li class="sidebar-link">
					<a asp-page="Pay">
						Электронные платежи
					</a>
				</li>
				<li class="sidebar-link">
					<a asp-page="Map">
						Карта
					</a>
				</li>
			</ul>
		</nav>
	</aside>
</div>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script type="text/javascript" src="https://www.google.com/recaptcha/api.js?onload=onloadCallback&render=explicit"
        async defer></script>
