@page
@model AboutModel
@{
	ViewData["Title"] = "О демонстрационном экзамене";
}

<div class="container content-page">
	<section class="content">
		<a id="plane" class="plane" href="#sidebar"></a>
		<h2 class="section-title">
			О демонстрационном экзамене
		</h2>

		<ul class="page-navigation">
			<li>
				<a href="#info">
					Что такое ДЭ
				</a>
			</li>
			<li>
				<a href="#how-work">
					Как проходит ДЭ
				</a>
			</li>
			<li>
				<a href="#links">
					Полезные ссылки
				</a>
			</li>
		</ul>


		<h3 id="info" class="section-subtitle">
			Что такое демонстрационный экзамен?
		</h3>
		<p>
			Демонстрационный экзамен является одной из форм государственной итоговой аттестации по образовательным программам среднего профессионального образования, которая направлена на определение уровня освоения выпускником материала, предусмотренного образовательной программой, и степени сформированности профессиональных компетенций путем проведения независимой экспертной оценки выполненных выпускником практических заданий.
		</p>
		<img src="~/images/projectsAndEvents/demoExam/about/what.jpg" class="customized" alt=""/>


		<h3 id="how-work" class="section-subtitle">
			Как проходит демонстрационный экзамен?
		</h3>
		<p>
			В ходе демонстрационного экзамена студент выполняет практическое задание в условиях реальных или смоделированных производственных процессов.		</p>
		<p>
			С 2023 года демонстрационный экзамен проводится по двум уровням: базовому и профильному. Базовый уровень основан на требованиях федеральных государственных образовательных стандартов среднего профессионального образования, а профильный – дополнительно учитывает квалификационные требования, заявленные работодателями, заинтересованными в подготовке кадров соответствующей квалификации.
		</p>
		<p>
			Демонстрационный экзамен проводится в центре проведения демонстрационного экзамена – на площадке, оборудованной и оснащенной ресурсами (оборудование, инструменты, расходные материалы и др.), необходимыми для проведения экзамена. Центр проведения демонстрационного экзамена может располагаться как на территории образовательной организации, проводящей демонстрационный экзамен, так и на территории иной организации (при сетевой форме реализации образовательных программ).
		</p>


		<h3 id="links" class="section-subtitle">
			Полезные ссылки
		</h3>
		<ul class="customized">
			<li>
				<a href="https://de.firpo.ru/" target="_blank">
					Официальный сайт "Демоэкзамен"
				</a>
			</li>
			<li>
				<a href="https://t.me/de_spo" target="_blank">
					Telegram-канал
				</a>
			</li>
			<li>
				<a href="https://vk.com/de_spo" target="_blank">
					Сообщество ВКонтакте
				</a>
			</li>
		</ul>
	</section>
	<aside id="sidebar" class="sidebar">
		<h3 class="sidebar-title">
			Демонстрационный экзамен
		</h3>
		<nav class="sidebar-body">
			<ul class="sidebar-links">
				<li class="sidebar-link sidebar-link-selected">
					<a asp-page="About">
						О демонстрационном экзамене
					</a>
				</li>
				<li class="sidebar-link">
					<a asp-page="ProjectNews">
						Новости проекта
					</a>
				</li>
				<li class="sidebar-link">
					<a asp-page="Documents">
						Документы
					</a>
				</li>
				<li class="sidebar-link">
					<a asp-page="CPDE">
						ЦПДЭ
					</a>
				</li>
				<li class="sidebar-link">
					<a asp-page="Gallery">
						Галерея
					</a>
				</li>
			</ul>
		</nav>
	</aside>
</div>