@page
@model DocumentsModel
@{
	ViewData["Title"] = "Документы";
}

<div class="container content-page">
	<section class="content">
		<h2 class="section-title">
			Документы
		</h2>
		<div class="accordions-list">
			<div class="accordion">
				<div class="accordion-head">
					Положения
				</div>
				<div class="accordion-body">
					<ul class="documents-list little">
						<li class="document-item">
							<div class="document-item-head">
								<a target="_blank" href="~/documents/projectsAndEvents/demoExam/documents/pologenia/Положение о ДЭ 2024+.pdf">
								</a>
							</div>
							<div class="document-item-body">
								Положение о демоэкзамене 2024
							</div>
						</li>
					</ul>
				</div>
			</div>
			<div class="accordion">
				<div class="accordion-head">
					Оценочные материалы
				</div>
				<div class="accordion-body">
					<ul class="documents-list">
						<li class="document-item">
							<div class="document-item-head">
								<a target="_blank" href="~/documents/projectsAndEvents/demoExam/documents/assessmentMaterials/КОД 09.01.03-2-2024 Том 1.pdf">
								</a>
							</div>
							<div class="document-item-body">
								КОД 09.01.03-2-2024 Том 1
							</div>
						</li>
						<li class="document-item">
							<div class="document-item-head">
								<a target="_blank" href="~/documents/projectsAndEvents/demoExam/documents/assessmentMaterials/КОД 09.02.06-1-2024 Том 1.pdf">
								</a>
							</div>
							<div class="document-item-body">
								КОД 09.02.06-1-2024 Том 1
							</div>
						</li>
						<li class="document-item">
							<div class="document-item-head">
								<a target="_blank" href="~/documents/projectsAndEvents/demoExam/documents/assessmentMaterials/КОД 09.02.07-2-2024 Том 1.pdf">
								</a>
							</div>
							<div class="document-item-body">
								КОД 09.02.07-2-2024 Том 1
							</div>
						</li>
						<li class="document-item">
							<div class="document-item-head">
								<a target="_blank" href="~/documents/projectsAndEvents/demoExam/documents/assessmentMaterials/КОД 09.02.07-3-2024 Том 1.pdf">
								</a>
							</div>
							<div class="document-item-body">
								КОД 09.02.07-3-2024 Том 1
							</div>
						</li>
						<li class="document-item">
							<div class="document-item-head">
								<a target="_blank" href="~/documents/projectsAndEvents/demoExam/documents/assessmentMaterials/КОД 09.02.07-4-2024 Том 1.pdf">
								</a>
							</div>
							<div class="document-item-body">
								КОД 09.02.07-4-2024 Том 1
							</div>
						</li>
						<li class="document-item">
							<div class="document-item-head">
								<a target="_blank" href="~/documents/projectsAndEvents/demoExam/documents/assessmentMaterials/КОД 10.02.05-1-2024 Том 1.pdf">
								</a>
							</div>
							<div class="document-item-body">
								КОД 10.02.05-1-2024 Том 1
							</div>
						</li>
						<li class="document-item">
							<div class="document-item-head">
								<a target="_blank" href="~/documents/projectsAndEvents/demoExam/documents/assessmentMaterials/КОД 11.01.01-2-2024 Том 1 (2).pdf">
								</a>
							</div>
							<div class="document-item-body">
								КОД 11.01.01-2-2024 Том 1
							</div>
						</li>
						<li class="document-item">
							<div class="document-item-head">
								<a target="_blank" href="~/documents/projectsAndEvents/demoExam/documents/assessmentMaterials/КОД 13.01.10-1-2024 Том 1.pdf">
								</a>
							</div>
							<div class="document-item-body">
								КОД 13.01.10-1-2024 Том 1
							</div>
						</li>
						<li class="document-item">
							<div class="document-item-head">
								<a target="_blank" href="~/documents/projectsAndEvents/demoExam/documents/assessmentMaterials/КОД 13.02.11-3-2024 Том 1.pdf">
								</a>
							</div>
							<div class="document-item-body">
								КОД 13.02.11-3-2024 Том 1
							</div>
						</li>
						<li class="document-item">
							<div class="document-item-head">
								<a target="_blank" href="~/documents/projectsAndEvents/demoExam/documents/assessmentMaterials/КОД 15.01.05-2-2024 Том 1 (2).pdf">
								</a>
							</div>
							<div class="document-item-body">
								КОД 15.01.05-2-2024 Том 1
							</div>
						</li>
						<li class="document-item">
							<div class="document-item-head">
								<a target="_blank" href="~/documents/projectsAndEvents/demoExam/documents/assessmentMaterials/КОД 15.01.29-2-2024 Том 1.pdf">
								</a>
							</div>
							<div class="document-item-body">
								КОД 15.01.29-2-2024 Том 1
							</div>
						</li>
						<li class="document-item">
							<div class="document-item-head">
								<a target="_blank" href="~/documents/projectsAndEvents/demoExam/documents/assessmentMaterials/КОД 15.01.32-1-2024 Том 1.pdf">
								</a>
							</div>
							<div class="document-item-body">
								КОД 15.01.32-1-2024 Том 1
							</div>
						</li>
						<li class="document-item">
							<div class="document-item-head">
								<a target="_blank" href="~/documents/projectsAndEvents/demoExam/documents/assessmentMaterials/КОД 15.02.10-1-2024 Том 1 (4).pdf">
								</a>
							</div>
							<div class="document-item-body">
								КОД 15.02.10-1-2024 Том 1
							</div>
						</li>
						<li class="document-item">
							<div class="document-item-head">
								<a target="_blank" href="~/documents/projectsAndEvents/demoExam/documents/assessmentMaterials/КОД 15.02.15-1-2024 Том 1 (1).pdf">
								</a>
							</div>
							<div class="document-item-body">
								КОД 15.02.15-1-2024 Том 1
							</div>
						</li>
						<li class="document-item">
							<div class="document-item-head">
								<a target="_blank" href="~/documents/projectsAndEvents/demoExam/documents/assessmentMaterials/КОД 22.02.06-1-2024 Том 1 (4).pdf">
								</a>
							</div>
							<div class="document-item-body">
								КОД 22.02.06-1-2024 Том 1
							</div>
						</li>
						<li class="document-item">
							<div class="document-item-head">
								<a target="_blank" href="~/documents/projectsAndEvents/demoExam/documents/assessmentMaterials/КОД 25.02.07-1-2024 Том 1 (1).pdf">
								</a>
							</div>
							<div class="document-item-body">
								КОД 25.02.07-1-2024 Том 1
							</div>
						</li>
						<li class="document-item">
							<div class="document-item-head">
								<a target="_blank" href="~/documents/projectsAndEvents/demoExam/documents/assessmentMaterials/КОД 38.02.01-2-2024 Том 1 (1).pdf">
								</a>
							</div>
							<div class="document-item-body">
								КОД 38.02.01-2-2024 Том 1
							</div>
						</li>
						<li class="document-item">
							<div class="document-item-head">
								<a target="_blank" href="~/documents/projectsAndEvents/demoExam/documents/assessmentMaterials/КОД 54.01.20-1-2024 Том 1 (1).pdf">
								</a>
							</div>
							<div class="document-item-body">
								КОД 54.01.20-1-2024 Том 1
							</div>
						</li>
					</ul>
				</div>
			</div>
			<div class="accordion">
				<div class="accordion-head">
					Приказы 2024
				</div>
				<div class="accordion-body">
					<ul class="documents-list">
						<li class="document-item">
							<div class="document-item-head">
								<a target="_blank" href="~/documents/projectsAndEvents/demoExam/documents/prikazi2024/Приказ №95-ОД ДЭ ПР410.pdf">
								</a>
							</div>
							<div class="document-item-body">
								Приказ №95-ОД ДЭ ПР410
							</div>
						</li>
						<li class="document-item">
							<div class="document-item-head">
								<a target="_blank" href="~/documents/projectsAndEvents/demoExam/documents/prikazi2024/Приказ №96-ОД ДЭ ПР430.pdf">
								</a>
							</div>
							<div class="document-item-body">
								Приказ №96-ОД ДЭ ПР430
							</div>
						</li>
						<li class="document-item">
							<div class="document-item-head">
								<a target="_blank" href="~/documents/projectsAndEvents/demoExam/documents/prikazi2024/Приказ №97-ОД ДЭ ПР420.pdf">
								</a>
							</div>
							<div class="document-item-body">
								Приказ №97-ОД ДЭ ПР420
							</div>
						</li>
						<li class="document-item">
							<div class="document-item-head">
								<a target="_blank" href="~/documents/projectsAndEvents/demoExam/documents/prikazi2024/Приказ №98-ОД ДЭ ПР31.pdf">
								</a>
							</div>
							<div class="document-item-body">
								Приказ №98-ОД ДЭ ПР31
							</div>
						</li>
						<li class="document-item">
							<div class="document-item-head">
								<a target="_blank" href="~/documents/projectsAndEvents/demoExam/documents/prikazi2024/Приказ №99-ОД ДЭ ИС410.pdf">
								</a>
							</div>
							<div class="document-item-body">
								Приказ №99-ОД ДЭ ИС410
							</div>
						</li>
						<li class="document-item">
							<div class="document-item-head">
								<a target="_blank" href="~/documents/projectsAndEvents/demoExam/documents/prikazi2024/Приказ №100-ОД ДЭ КС410.pdf">
								</a>
							</div>
							<div class="document-item-body">
								Приказ №100-ОД ДЭ КС410
							</div>
						</li>
						<li class="document-item">
							<div class="document-item-head">
								<a target="_blank" href="~/documents/projectsAndEvents/demoExam/documents/prikazi2024/Приказ №101-ОД ДЭ БП410, БП420.pdf">
								</a>
							</div>
							<div class="document-item-body">
								Приказ №101-ОД ДЭ БП410, БП420
							</div>
						</li>
						<li class="document-item">
							<div class="document-item-head">
								<a target="_blank" href="~/documents/projectsAndEvents/demoExam/documents/prikazi2024/Приказ №102-ОД ДЭ ИР430.pdf">
								</a>
							</div>
							<div class="document-item-body">
								Приказ №102-ОД ДЭ ИР430
							</div>
						</li>
						<li class="document-item">
							<div class="document-item-head">
								<a target="_blank" href="~/documents/projectsAndEvents/demoExam/documents/prikazi2024/Приказ №106-ОД ДЭ МР410.pdf">
								</a>
							</div>
							<div class="document-item-body">
								Приказ №106-ОД ДЭ МР410
							</div>
						</li>
                        <li class="document-item">
                            <div class="document-item-head">
                                <a target="_blank" href="~/documents/projectsAndEvents/demoExam/documents/prikazi2024/Приказ №106.1од ГИА ЭМ20Д9, ЭМ21Д11.pdf">
                                </a>
                            </div>
                            <div class="document-item-body">
                                Приказ №106.1од ГИА ЭМ20Д9, ЭМ21Д11
                            </div>
                        </li>
                        <li class="document-item">
                            <div class="document-item-head">
                                <a target="_blank" href="~/documents/projectsAndEvents/demoExam/documents/prikazi2024/Приказ №198од ГИА ЭМ410.pdf">
                                </a>
                            </div>
                            <div class="document-item-body">
                                Приказ №198од ГИА ЭМ410
                            </div>
                        </li>
                        <li class="document-item">
                            <div class="document-item-head">
                                <a target="_blank" href="~/documents/projectsAndEvents/demoExam/documents/prikazi2024/Приказ №199од ГИА ЭМ420.pdf">
                                </a>
                            </div>
                            <div class="document-item-body">
                                Приказ №199од ГИА ЭМ420
                            </div>
                        </li>
                        <li class="document-item">
                            <div class="document-item-head">
                                <a target="_blank" href="~/documents/projectsAndEvents/demoExam/documents/prikazi2024/Приказ №200од ГИА СП410.pdf">
                                </a>
                            </div>
                            <div class="document-item-body">
                                Приказ №200од ГИА СП410
                            </div>
                        </li>
                        <li class="document-item">
                            <div class="document-item-head">
                                <a target="_blank" href="~/documents/projectsAndEvents/demoExam/documents/prikazi2024/Приказ №201од ГИА СП420.pdf">
                                </a>
                            </div>
                            <div class="document-item-body">
                                Приказ №201од ГИА СП420
                            </div>
                        </li>
                        <li class="document-item">
                            <div class="document-item-head">
                                <a target="_blank" href="~/documents/projectsAndEvents/demoExam/documents/prikazi2024/Приказ №211од ГИА Э420.pdf">
                                </a>
                            </div>
                            <div class="document-item-body">
                                Приказ №211од ГИА Э420
                            </div>
                        </li>
                        <li class="document-item">
                            <div class="document-item-head">
                                <a target="_blank" href="~/documents/projectsAndEvents/demoExam/documents/prikazi2024/Приказ №212од ГИА Э410.pdf">
                                </a>
                            </div>
                            <div class="document-item-body">
                                Приказ №212од ГИА Э410
                            </div>
                        </li>
					</ul>
				</div>
			</div>
			<div class="accordion">
				<div class="accordion-head">
					Результаты ДЭ 2024
				</div>
				<div class="accordion-body">
					<ul class="documents-list little">
						<li class="document-item">
							<div class="document-item-head">
								<a target="_blank" href="~/documents/projectsAndEvents/demoExam/documents/results2024/">
								</a>
							</div>
							<div class="document-item-body">
								название документа
							</div>
						</li>
					</ul>
				</div>
			</div>
		</div>
		

	</section>
	<aside id="sidebar" class="sidebar">
		<h3 class="sidebar-title">
			Демонстрационный экзамен
		</h3>
		<nav class="sidebar-body">
			<ul class="sidebar-links">
				<li class="sidebar-link">
					<a asp-page="About">
						О демонстрационном экзамене
					</a>
				</li>
				<li class="sidebar-link">
					<a asp-page="ProjectNews">
						Новости проекта
					</a>
				</li>
				<li class="sidebar-link sidebar-link-selected">
					<a asp-page="Documents">
						Документы
					</a>
				</li>
				<li class="sidebar-link">
					<a asp-page="CPDE">
						ЦПДЭ
					</a>
				</li>
				<li class="sidebar-link">
					<a asp-page="Gallery">
						Галерея
					</a>
				</li>
			</ul>
		</nav>
	</aside>
</div>