.button {
	font-weight: var(--text-fw);
	font-size: var(--text-fs);
}

.button:not(.cleared) {
	display: grid;
	place-items: center;
	padding: 10px 25px;
	background-color: var(--blue-c);
	text-align: center;
	color: var(--white-c);
	transition: background-color var(--ttf) var(--td-s);
}

.button:not(.cleared):hover {
	background-color: var(--light-blue-c);
}

.button.like-input {
	border-radius: var(--br-s);
}

.button.rounded {
	border-radius: var(--br-max);
}