<div id="blazor-error-ui" style="display: none">
	ะัะพะธะทะพัะปะฐ ะฝะตะพะฑัะฐะฑะพัะฐะฝะฝะฐั ะพัะธะฑะบะฐ.
	<a href="" class="reload">ะะตัะตะทะฐะณััะทะธัั</a>
	<a class="dismiss">๐</a>
</div>

@code {

}