.fade {
	display: none;
}

.logger {
	position: fixed;
	bottom: 2%;
	right: 2%;
	color: #ffffff;
	background: #3d3d3d;
	font-family: "Calibri-Bold", Helvetica;
	font-size: smaller;
	padding: 1rem 1rem;
	border: 1px solid transparent;
	border-radius: .25rem;
	border-radius: 8px;
	opacity: 0%;
}