<footer class="site-footer">
	<ul class="footer-social">
		<li>
			<a href="">
				<VKIconComponent/>
			</a>
		</li>
		<li>
			<a href="">
				<YouTubeIconComponent/>
			</a>
		</li>
		<li>
			<a href="">
				<TGIconComponent/>
			</a>
		</li>
	</ul>

	<div class="footer-contacts">
		<div class="footer-contacts-item">
			<h5 class="footer-contacts-item-title">
				Приёмная комиссия
			</h5>
			<div class="footer-contacts-item-body">
				<div>
					г. Омск, ул. Ленина, д. 24
				</div>
				<a href="tel:+7 (3812) 31-16-39">
					(3812) 31-16-39
				</a>
				<div>
					ПН-ПТ 8:00-18:00, СБ 9:00-15:00
				</div>
			</div>
		</div>
		<span class="splitter"></span>
		<div class="footer-contacts-item">
			<h5 class="footer-contacts-item-title">
				Учебная часть
			</h5>
			<div class="footer-contacts-item-body">
				<div>
					г. Омск, ул. Ленина, д. 24
				</div>
				<a href="tel:+7 (3812) 31-30-42">
					(3812) 31-30-42
				</a>
				<div>
					ПН-ПТ 7:30-19:30
				</div>
			</div>
		</div>
		<span class="splitter"></span>
		<div class="footer-contacts-item">
			<h5 class="footer-contacts-item-title">
				Приёмная директора
			</h5>
			<div class="footer-contacts-item-body">
				<div>
					г. Омск, ул. Ленина, д. 24
				</div>
				<a href="tel:+7 (3812) 31-44-65">
					(3812) 31-44-65
				</a>
				<div>
					ПН-ПТ 8:00-17:00
				</div>
			</div>
		</div>
		<span class="splitter"></span>
		<div class="footer-contacts-item departments">
			<h5 class="footer-contacts-item-title">
				Отделения
			</h5>
			<div class="footer-contacts-item-body">
				<a asp-page="/departments/IT">
					ИТ
				</a>
				<a asp-page="/departments/EiSR">
					ЭиСР
				</a>
				<a asp-page="/departments/TM">
					ТМ
				</a>
				<a asp-page="/departments/PPKRS">
					ППКРС
				</a>
				<a asp-page="/departments/RTS">
					РТС
				</a>
				<a asp-page="/departments/TAKPiE">
					ТАКПиЭ
				</a>
				<a asp-page="/departments/ZOsDT">
					ЗОсДТ
				</a>
			</div>
		</div>
	</div>

	<div class="footer-meta">
		<div class="copyright">
			© @DateTime.UtcNow.Year БПОУ «Омавиат»
		</div>
	</div>

</footer>

@code {

}