.site-backdrop{
	position: fixed;
	inset: 0;
	z-index: 1;
	background-color: #00000030;
	backdrop-filter: blur(10px);
	visibility: hidden;
	opacity: 0;
	transition: var(--td-l) var(--ttf);
}

.site-header {
	--header-column-w: 350px;
	--item-size: 60px;
	position: sticky;
	z-index: 10;
	top: 0;
	display: grid;
	justify-content: space-between;
	align-items: center;
	grid-template-columns: var(--header-column-w) 1fr var(--header-column-w);
	gap: 30px;
	background-color: var(--zone-active-bgc);
	border-radius: var(--br-xl);
	padding: 20px;
	backdrop-filter: blur(10px);
	box-shadow: 0 20px 60px -40px var(--purpur-c);
	color: var(--purpur-c);
}

.logo-container {
	display: flex;
	align-items: center;
	gap: 10px;
	color: inherit;
	transition: var(--td-s) var(--ttf);
}

::deep .logo {
	height: 3lh;
}

::deep .logo *{
	fill: currentColor;
}

::deep .logo-container:hover {
	color: var(--light-purpur-c);
}

.logo-container .logo-text {
	font-style: normal;
	font-weight: 600;
	font-size: var(--subtext-fs);
}

.menu{
	display: flex;
	margin-left: auto;
	gap: 10px;
}

.menu-item{
	display: grid;
	place-items: center;
	width: var(--item-size);
	height: var(--item-size);
	padding: 5px;
	border: var(--zone-bw) solid var(--zone-bc);
	border-radius: var(--br-s);
	transition: var(--td-s) var(--ttf);
}

.menu-item:hover{
	border-color: var(--zone-active-bc);
	background-color: var(--zone-active-bgc);
}

::deep .menu-item .icon *{
	stroke: var(--purpur-c);
}

@media(width<1200px){
	.site-header {
		--header-column-w: 310px;
		--item-size: 50px;
		padding: 15px;
	}
}

@media(width<1100px){
	.site-header {
		--header-column-w: 200px;
		--item-size: 40px;
	}
	
	.logo-text{
		display: none;
	}
}

@media(width>900px){
	.menu-item.burger{
		display: none;
	}
}

@media(width<900px){
	.site-header{
		grid-template-columns: auto auto;
		padding: 10px 15px;
	}

	::deep .navigation-container{
		position: fixed;
		top: 100px;
		right: 0;
		left: 0;
		padding: 10px;
		background-color: var(--zone-active-bgc);
		border-radius: var(--br-xl);
		backdrop-filter: blur(10px);
		opacity: 0;
		visibility: hidden;
		transition: var(--td-m) var(--ttf);
	}

	::deep .navigation{
		flex-direction: column;
		align-items: start !important;
		gap: 10px !important;
	}

	::deep .navigation-item-tooltip {
		top: 50% !important;
		left: 100% !important;
		translate: 10px -50% !important;
		width: max-content !important;
		opacity: 1 !important;
		visibility: visible !important;
	}

	.site-header.open ::deep .navigation-container{
		opacity: 1;
		visibility: visible;
	}

	.site-header.open + .site-backdrop{
		visibility: visible;
		opacity: 1;
	}
}

@media(width<500px){
	.menu-item.money{
		display: none;
	}

	::deep .logo{
		height: 2.5lh;
	}

	.menu{
		--item-size: 35px;
	}
}