.logo {
	display: flex;
	align-items: center;
	margin-right: auto;
	gap: 10px;
	filter: brightness(0.85);
	transition: var(--td-s) var(--ttf);
}

.logo svg {
	height: 75px;
}

.logo:hover {
	filter: brightness(1);
}

.logo-text {
	font-style: normal;
	font-weight: 600;
	font-size: var(--subtext-fs);
	color: var(--white-c);
}