.temp-background{
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	z-index: -10;
	min-height: 100dvh;
	min-width: 100dvw;
	object-fit: cover;
	background-color: #ebebeb;
}

.top-of-page{
	position: absolute;
	top: 0;
	left: 0;
}

.to-top{
	position: fixed;
	z-index: 5;
	bottom: var(--main-padding);
	right: var(--main-padding);
	display: grid;
	place-items: center;
	padding: 15px;
	aspect-ratio: 1;
	border-radius: 50%;
	background-color: var(--purpur-c);
	box-shadow: 0 10px 25px -10px color-mix(in srgb, var(--purpur-c), black);
	transition: var(--td-m) var(--ttf);
}

.to-top .icon{
	transition: var(--td-m) var(--ttf);
}

.to-top:hover{
	background-color: var(--light-purpur-c);
}

.to-top:hover .icon{
	translate: 0 -3px;
}