@inherits LayoutComponentBase

<div class="app">
	<span class="top-of-page" id="top-of-page"></span>
	<HeaderComponent/>
	<main>
		<article>
			@Body
		</article>
	</main>
	<FooterComponent/>
</div>

<a href="#top-of-page" class="to-top">
	<svg class="icon" width="16" height="15" viewBox="0 0 16 15" fill="none" xmlns="http://www.w3.org/2000/svg">
		<path d="M8.70711 0.292893C8.31658 -0.0976315 7.68342 -0.0976314 7.29289 0.292893L0.928932 6.65686C0.538407 7.04738 0.538407 7.68054 0.928932 8.07107C1.31946 8.46159 1.95262 8.46159 2.34315 8.07107L8 2.41421L13.6569 8.07107C14.0474 8.46159 14.6805 8.46159 15.0711 8.07107C15.4616 7.68054 15.4616 7.04738 15.0711 6.65685L8.70711 0.292893ZM9 15L9 1L7 1L7 15L9 15Z" fill="white"/>
	</svg>
</a>

<svg class="temp-background" viewBox="0 0 1920 1080" fill="none" xmlns="http://www.w3.org/2000/svg">
	<g clip-path="url(#clip0_357_13159)">
		<rect width="1920" height="1080" fill="#EBEBEB"/>
		<g filter="url(#filter0_f_357_13159)">
			<path d="M519.455 322.293C622.395 560.739 -157.809 1087.33 154.384 762.329C-49.8073 1743.48 -63.7642 706 -38.7645 438.5C-57.2644 -129 -57.1195 12.9279 109.384 177.104C351.264 -138.963 594.269 -101.549 519.455 322.293Z" fill="url(#paint0_radial_357_13159)" fill-opacity="0.4"/>
			<path d="M519.455 322.293C622.395 560.739 -157.809 1087.33 154.384 762.329C-49.8073 1743.48 -63.7642 706 -38.7645 438.5C-57.2644 -129 -57.1195 12.9279 109.384 177.104C351.264 -138.963 594.269 -101.549 519.455 322.293Z" fill="url(#paint1_radial_357_13159)" fill-opacity="0.3"/>
			<path d="M519.455 322.293C622.395 560.739 -157.809 1087.33 154.384 762.329C-49.8073 1743.48 -63.7642 706 -38.7645 438.5C-57.2644 -129 -57.1195 12.9279 109.384 177.104C351.264 -138.963 594.269 -101.549 519.455 322.293Z" fill="url(#paint2_linear_357_13159)" fill-opacity="0.2"/>
		</g>
		<g filter="url(#filter1_f_357_13159)">
			<path d="M1951.72 87.0902C1951.72 203.639 2197.72 572.59 1442.44 213.655C1247.67 213.655 1036.22 185.639 1036.22 69.0901C713.898 -62.4283 1505.96 -27.9098 1700.72 -27.9098C1895.48 -27.9098 1951.72 -29.4585 1951.72 87.0902Z" fill="url(#paint3_radial_357_13159)" fill-opacity="0.2"/>
			<path d="M1951.72 87.0902C1951.72 203.639 2197.72 572.59 1442.44 213.655C1247.67 213.655 1036.22 185.639 1036.22 69.0901C713.898 -62.4283 1505.96 -27.9098 1700.72 -27.9098C1895.48 -27.9098 1951.72 -29.4585 1951.72 87.0902Z" fill="url(#paint4_linear_357_13159)" fill-opacity="0.4"/>
		</g>
		<g filter="url(#filter2_f_357_13159)">
			<path d="M519.001 1078.5C488.501 638.498 635.001 1004.5 703.036 927.551C1274.75 1.50055 1662.5 1473.5 1876 503.499C1933 503.5 1933 571.999 1933 781C1942.7 889.692 1915 996.5 1920 1080C1909.35 1107.68 1886.53 1085.42 1829.5 1080C1748.48 1072.3 1600.94 1072.92 1343 1078.5C1054.5 1078.5 418.38 1084.16 519.001 1078.5Z" fill="url(#paint5_radial_357_13159)"/>
			<path d="M519.001 1078.5C488.501 638.498 635.001 1004.5 703.036 927.551C1274.75 1.50055 1662.5 1473.5 1876 503.499C1933 503.5 1933 571.999 1933 781C1942.7 889.692 1915 996.5 1920 1080C1909.35 1107.68 1886.53 1085.42 1829.5 1080C1748.48 1072.3 1600.94 1072.92 1343 1078.5C1054.5 1078.5 418.38 1084.16 519.001 1078.5Z" fill="url(#paint6_linear_357_13159)" fill-opacity="0.3"/>
			<path d="M519.001 1078.5C488.501 638.498 635.001 1004.5 703.036 927.551C1274.75 1.50055 1662.5 1473.5 1876 503.499C1933 503.5 1933 571.999 1933 781C1942.7 889.692 1915 996.5 1920 1080C1909.35 1107.68 1886.53 1085.42 1829.5 1080C1748.48 1072.3 1600.94 1072.92 1343 1078.5C1054.5 1078.5 418.38 1084.16 519.001 1078.5Z" fill="url(#paint7_linear_357_13159)" fill-opacity="0.2"/>
		</g>
	</g>
	<defs>
		<filter id="filter0_f_357_13159" x="-148" y="-132" width="781.236" height="1407.91" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
			<feFlood flood-opacity="0" result="BackgroundImageFix"/>
			<feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape"/>
			<feGaussianBlur stdDeviation="50" result="effect1_foregroundBlur_357_13159"/>
		</filter>
		<filter id="filter1_f_357_13159" x="860" y="-132" width="1230" height="598.825" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
			<feFlood flood-opacity="0" result="BackgroundImageFix"/>
			<feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape"/>
			<feGaussianBlur stdDeviation="50" result="effect1_foregroundBlur_357_13159"/>
		</filter>
		<filter id="filter2_f_357_13159" x="334.92" y="330.1" width="1773.56" height="936.898" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
			<feFlood flood-opacity="0" result="BackgroundImageFix"/>
			<feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape"/>
			<feGaussianBlur stdDeviation="86.7" result="effect1_foregroundBlur_357_13159"/>
		</filter>
		<radialGradient id="paint0_radial_357_13159" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse" gradientTransform="translate(-41.931 223.453) rotate(51.3834) scale(669.671 660.101)">
			<stop stop-color="#1876CD" stop-opacity="0.5"/>
			<stop offset="1" stop-color="#4B98F2"/>
		</radialGradient>
		<radialGradient id="paint1_radial_357_13159" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse" gradientTransform="translate(-10.9938 359.708) rotate(33.817) scale(612.059 502.446)">
			<stop stop-color="#5480F2" stop-opacity="0.15"/>
			<stop offset="0.44" stop-color="#3D73FF" stop-opacity="0.44"/>
			<stop offset="0.685" stop-color="#2EA7FF" stop-opacity="0.73"/>
			<stop offset="1" stop-color="#2957F9"/>
		</radialGradient>
		<linearGradient id="paint2_linear_357_13159" x1="-45.3069" y1="195.532" x2="510.39" y2="608.171" gradientUnits="userSpaceOnUse">
			<stop stop-color="#DEDEDE" stop-opacity="0"/>
			<stop offset="1" stop-color="#DEDEDE"/>
		</linearGradient>
		<radialGradient id="paint3_radial_357_13159" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse" gradientTransform="translate(1838.22 167.09) rotate(154.895) scale(157.918 122.817)">
			<stop stop-color="#28AEF9" stop-opacity="0"/>
			<stop offset="0.4" stop-color="#2717E3"/>
			<stop offset="0.765" stop-color="#2790F0"/>
			<stop offset="1" stop-color="#1A3CEE"/>
		</radialGradient>
		<linearGradient id="paint4_linear_357_13159" x1="1553.18" y1="-239.91" x2="1553.18" y2="420.808" gradientUnits="userSpaceOnUse">
			<stop stop-color="#1693EE"/>
			<stop offset="0.5" stop-color="#418BFB" stop-opacity="0.935"/>
			<stop offset="1" stop-color="#3D39FA"/>
		</linearGradient>
		<radialGradient id="paint5_radial_357_13159" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse" gradientTransform="translate(1888.31 1225.46) rotate(-162.566) scale(1206.52 1200.1)">
			<stop stop-color="#426AF9" stop-opacity="0.75"/>
			<stop offset="0.168012" stop-color="#3963F8" stop-opacity="0.667371"/>
			<stop offset="0.305" stop-color="#456DFB" stop-opacity="0.6"/>
			<stop offset="0.58" stop-color="#5377F9" stop-opacity="0.35"/>
			<stop offset="0.71" stop-color="#5177FF" stop-opacity="0.25"/>
			<stop offset="0.93" stop-color="#E4D8D8" stop-opacity="0.25"/>
			<stop offset="1" stop-color="#E4D8D8" stop-opacity="0"/>
		</radialGradient>
		<linearGradient id="paint6_linear_357_13159" x1="1664.64" y1="441.049" x2="1451.14" y2="1129.05" gradientUnits="userSpaceOnUse">
			<stop stop-color="#5A57D8" stop-opacity="0"/>
			<stop offset="1" stop-color="#3D7BF4"/>
		</linearGradient>
		<linearGradient id="paint7_linear_357_13159" x1="1794.5" y1="1129" x2="788.001" y2="596.501" gradientUnits="userSpaceOnUse">
			<stop stop-color="#DEDEDE" stop-opacity="0"/>
			<stop offset="1" stop-color="#DEDEDE"/>
		</linearGradient>
		<clipPath id="clip0_357_13159">
			<rect width="1920" height="1080" fill="white"/>
		</clipPath>
	</defs>
</svg>

<BlazorErrorComponent/>