<nav class="navigation-container">
	<ul class="navigation">
		<NavigationItemComponent Tooltip="о колледже" Link="/" IsMainLink="yes">
			<svg class="icon" viewBox="0 0 23 24" fill="none" xmlns="http://www.w3.org/2000/svg">
				<path
					d="M4.20833 9.91659H6.29167C8.375 9.91659 9.41667 8.87492 9.41667 6.79159V4.70825C9.41667 2.62492 8.375 1.58325 6.29167 1.58325H4.20833C2.125 1.58325 1.08333 2.62492 1.08333 4.70825V6.79159C1.08333 8.87492 2.125 9.91659 4.20833 9.91659Z"
					stroke="#4F61BE" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round"
					stroke-linejoin="round"/>
				<path
					d="M16.7083 9.91659H18.7917C20.875 9.91659 21.9167 8.87492 21.9167 6.79159V4.70825C21.9167 2.62492 20.875 1.58325 18.7917 1.58325H16.7083C14.625 1.58325 13.5833 2.62492 13.5833 4.70825V6.79159C13.5833 8.87492 14.625 9.91659 16.7083 9.91659Z"
					stroke="#4F61BE" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round"
					stroke-linejoin="round"/>
				<path
					d="M16.7083 22.4166H18.7917C20.875 22.4166 21.9167 21.3749 21.9167 19.2916V17.2083C21.9167 15.1249 20.875 14.0833 18.7917 14.0833H16.7083C14.625 14.0833 13.5833 15.1249 13.5833 17.2083V19.2916C13.5833 21.3749 14.625 22.4166 16.7083 22.4166Z"
					stroke="#4F61BE" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round"
					stroke-linejoin="round"/>
				<path
					d="M4.20833 22.4166H6.29167C8.375 22.4166 9.41667 21.3749 9.41667 19.2916V17.2083C9.41667 15.1249 8.375 14.0833 6.29167 14.0833H4.20833C2.125 14.0833 1.08333 15.1249 1.08333 17.2083V19.2916C1.08333 21.3749 2.125 22.4166 4.20833 22.4166Z"
					stroke="#4F61BE" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round"
					stroke-linejoin="round"/>
			</svg>
		</NavigationItemComponent>
		<NavigationItemComponent Tooltip="абитуриентам" Link="/applicants/About">
			<svg class="icon" viewBox="0 0 23 24" fill="none" xmlns="http://www.w3.org/2000/svg">
				<path
					d="M9.46875 2.13542L3.19792 6.22917C1.18751 7.54167 1.18751 10.4792 3.19792 11.7917L9.46875 15.8854C10.5938 16.625 12.4479 16.625 13.5729 15.8854L19.8125 11.7917C21.8125 10.4792 21.8125 7.55209 19.8125 6.23959L13.5729 2.14584C12.4479 1.39584 10.5938 1.39584 9.46875 2.13542Z"
					stroke="#4F61BE" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
				<path
					d="M4.86459 13.125L4.85417 18.0104C4.85417 19.3333 5.87501 20.75 7.12501 21.1667L10.4479 22.2708C11.0208 22.4583 11.9688 22.4583 12.5521 22.2708L15.875 21.1667C17.125 20.75 18.1458 19.3333 18.1458 18.0104V13.1771"
					stroke="#4F61BE" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
				<path d="M21.2917 15.125V8.875" stroke="#4F61BE" stroke-width="1.5" stroke-linecap="round"
				      stroke-linejoin="round"/>
			</svg>
		</NavigationItemComponent>
		<NavigationItemComponent Tooltip="студентам" Link="/students/About">
			<svg class="icon" viewBox="0 0 25 26" fill="none" xmlns="http://www.w3.org/2000/svg">
				<path
					d="M11.3386 1.39307H22.5929C23.43 1.39307 24.1086 2.07169 24.1086 2.90882V15.0136C24.1086 15.8507 23.43 16.5294 22.5929 16.5294H13.3929"
					stroke="#4F61BE" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
				<path
					d="M5.62239 7.64498C7.34882 7.64498 8.74835 6.24544 8.74835 4.51901C8.74835 2.7926 7.34882 1.39307 5.62239 1.39307C3.89598 1.39307 2.49644 2.7926 2.49644 4.51901C2.49644 6.24544 3.89598 7.64498 5.62239 7.64498Z"
					stroke="#4F61BE" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
				<path
					d="M16.0714 10.3707C16.0714 9.35734 15.25 8.53589 14.2367 8.53589H5.62309C3.01066 8.53589 0.892855 10.6537 0.892853 13.2661V17.4645H2.92008L3.59583 24.6073H7.65032L9.20758 12.2054H14.2367C15.25 12.2054 16.0714 11.384 16.0714 10.3707Z"
					stroke="#4F61BE" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
			</svg>
		</NavigationItemComponent>
		<NavigationItemComponent Tooltip="родителям" Link="/parents/About">
			<svg class="icon" viewBox="0 0 25 23" fill="none" xmlns="http://www.w3.org/2000/svg">
				<path
					d="M15.625 22.9375H13.2812C12.867 22.9371 12.4698 22.7723 12.1769 22.4794C11.8839 22.1864 11.7192 21.7893 11.7188 21.375V17.4688H13.2812V21.375H15.625V17.4688H17.1875V14.3438C17.1873 14.1366 17.1049 13.938 16.9584 13.7916C16.812 13.6451 16.6134 13.5627 16.4062 13.5625H9.5932L8.0307 8.875H3.125C2.91787 8.87523 2.71929 8.95761 2.57282 9.10407C2.42636 9.25054 2.34398 9.44912 2.34375 9.65625V14.3438H3.90625V21.375H7.03125V15.9063H8.59375V21.375C8.59332 21.7893 8.42856 22.1864 8.13562 22.4794C7.84269 22.7723 7.44552 22.9371 7.03125 22.9375H3.90625C3.49198 22.9371 3.09481 22.7723 2.80188 22.4794C2.50894 22.1864 2.34418 21.7893 2.34375 21.375V15.9063C1.92948 15.9058 1.53231 15.7411 1.23938 15.4481C0.946444 15.1552 0.781684 14.758 0.78125 14.3438V9.65625C0.781932 9.03486 1.02908 8.43911 1.46847 7.99972C1.90786 7.56033 2.50361 7.31318 3.125 7.3125H8.0307C8.35871 7.31223 8.67846 7.4153 8.94456 7.60706C9.21067 7.79883 9.4096 8.06954 9.51312 8.38078L10.7193 12H16.4062C17.0276 12.0007 17.6234 12.2478 18.0628 12.6872C18.5022 13.1266 18.7493 13.7224 18.75 14.3438V17.4688C18.7496 17.883 18.5848 18.2802 18.2919 18.5731C17.9989 18.8661 17.6018 19.0308 17.1875 19.0313V21.375C17.1871 21.7893 17.0223 22.1864 16.7294 22.4794C16.4364 22.7723 16.0393 22.9371 15.625 22.9375Z"
					fill="#4F61BE" stroke="#4F61BE" stroke-width="0.00032"/>
				<path
					d="M21.875 22.9375H20.3125V14.3438H22.6562V9.65625C22.656 9.44912 22.5736 9.25054 22.4272 9.10407C22.2807 8.95761 22.0821 8.87523 21.875 8.875H18.75V7.3125H21.875C22.4964 7.31318 23.0921 7.56033 23.5315 7.99972C23.9709 8.43911 24.2181 9.03486 24.2188 9.65625V14.3438C24.2183 14.758 24.0536 15.1552 23.7606 15.4481C23.4677 15.7411 23.0705 15.9058 22.6562 15.9062H21.875V22.9375Z"
					fill="#4F61BE" stroke="#4F61BE" stroke-width="0.00032"/>
				<path
					d="M5.46875 6.53125C4.85068 6.53125 4.2465 6.34797 3.73259 6.00459C3.21869 5.66121 2.81815 5.17316 2.58163 4.60214C2.3451 4.03112 2.28322 3.40279 2.4038 2.79659C2.52438 2.1904 2.822 1.63358 3.25904 1.19654C3.69608 0.759504 4.2529 0.461876 4.85909 0.341297C5.46528 0.220719 6.09362 0.282604 6.66464 0.519128C7.23566 0.755652 7.72371 1.15619 8.06709 1.67009C8.41047 2.184 8.59375 2.78818 8.59375 3.40625C8.59282 4.23477 8.26328 5.02908 7.67743 5.61493C7.09158 6.20078 6.29727 6.53032 5.46875 6.53125ZM5.46875 1.84375C5.15972 1.84375 4.85762 1.93539 4.60067 2.10708C4.34372 2.27877 4.14345 2.5228 4.02519 2.80831C3.90693 3.09382 3.87598 3.40798 3.93627 3.71108C3.99656 4.01418 4.14538 4.29259 4.3639 4.51111C4.58242 4.72963 4.86083 4.87844 5.16392 4.93873C5.46702 4.99902 5.78118 4.96808 6.06669 4.84981C6.3522 4.73155 6.59623 4.53128 6.76792 4.27433C6.93961 4.01738 7.03125 3.71528 7.03125 3.40625C7.03082 2.99198 6.86606 2.59481 6.57313 2.30188C6.28019 2.00895 5.88302 1.84419 5.46875 1.84375Z"
					fill="#4F61BE" stroke="#4F61BE" stroke-width="0.00032"/>
				<path
					d="M19.5313 6.53125C18.9132 6.53125 18.309 6.34797 17.7951 6.00459C17.2812 5.66121 16.8807 5.17316 16.6441 4.60214C16.4076 4.03112 16.3457 3.40279 16.4663 2.79659C16.5869 2.1904 16.8845 1.63358 17.3215 1.19654C17.7586 0.759504 18.3154 0.461876 18.9216 0.341297C19.5278 0.220719 20.1561 0.282604 20.7271 0.519128C21.2982 0.755652 21.7862 1.15619 22.1296 1.67009C22.473 2.184 22.6563 2.78818 22.6563 3.40625C22.6553 4.23477 22.3258 5.02908 21.7399 5.61493C21.1541 6.20078 20.3598 6.53032 19.5313 6.53125ZM19.5313 1.84375C19.2222 1.84375 18.9201 1.93539 18.6632 2.10708C18.4062 2.27877 18.206 2.5228 18.0877 2.80831C17.9694 3.09382 17.9385 3.40798 17.9988 3.71108C18.0591 4.01418 18.2079 4.29259 18.4264 4.51111C18.6449 4.72963 18.9233 4.87844 19.2264 4.93873C19.5295 4.99902 19.8437 4.96808 20.1292 4.84981C20.4147 4.73155 20.6587 4.53128 20.8304 4.27433C21.0021 4.01738 21.0938 3.71528 21.0938 3.40625C21.0933 2.99198 20.9286 2.59481 20.6356 2.30188C20.3427 2.00895 19.9455 1.84419 19.5313 1.84375Z"
					fill="#4F61BE" stroke="#4F61BE" stroke-width="0.00032"/>
				<path
					d="M14.4531 11.2188C13.9123 11.2188 13.3837 11.0584 12.934 10.7579C12.4843 10.4575 12.1339 10.0304 11.9269 9.53078C11.7199 9.03113 11.6658 8.48134 11.7713 7.95093C11.8768 7.42051 12.1372 6.93329 12.5196 6.55088C12.902 6.16847 13.3893 5.90805 13.9197 5.80254C14.4501 5.69704 14.9999 5.75118 15.4995 5.95814C15.9992 6.1651 16.4262 6.51557 16.7267 6.96524C17.0271 7.4149 17.1875 7.94357 17.1875 8.48438C17.1867 9.20932 16.8983 9.90432 16.3857 10.4169C15.8731 10.9295 15.1781 11.2179 14.4531 11.2188ZM14.4531 7.3125C14.2214 7.3125 13.9948 7.38123 13.8021 7.51C13.6094 7.63876 13.4592 7.82179 13.3705 8.03592C13.2818 8.25005 13.2586 8.48568 13.3038 8.713C13.349 8.94032 13.4606 9.14913 13.6245 9.31302C13.7884 9.47691 13.9972 9.58852 14.2245 9.63373C14.4518 9.67895 14.6875 9.65574 14.9016 9.56705C15.1157 9.47835 15.2987 9.32815 15.4275 9.13544C15.5563 8.94272 15.625 8.71615 15.625 8.48438C15.6247 8.17368 15.5011 7.87582 15.2814 7.65612C15.0617 7.43643 14.7638 7.31285 14.4531 7.3125Z"
					fill="#4F61BE" stroke="#4F61BE" stroke-width="0.00032"/>
			</svg>
		</NavigationItemComponent>
		<NavigationItemComponent Tooltip="обратная связь" Link="/feedback/About">
			<svg class="icon" viewBox="0 0 23 22" fill="none" xmlns="http://www.w3.org/2000/svg">
				<path
					d="M16.7083 17.698H12.5417L7.90625 20.7813C7.21875 21.2396 6.29168 20.7501 6.29168 19.9167V17.698C3.16668 17.698 1.08334 15.6146 1.08334 12.4896V6.23958C1.08334 3.11458 3.16668 1.03125 6.29168 1.03125H16.7083C19.8333 1.03125 21.9167 3.11458 21.9167 6.23958V12.4896C21.9167 15.6146 19.8333 17.698 16.7083 17.698Z"
					stroke="#4F61BE" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round"
					stroke-linejoin="round"/>
				<path
					d="M11.5 10.3333V10.1145C11.5 9.40621 11.9375 9.03119 12.375 8.72911C12.8021 8.43744 13.2292 8.06245 13.2292 7.37495C13.2292 6.41662 12.4583 5.64575 11.5 5.64575C10.5417 5.64575 9.77087 6.41662 9.77087 7.37495"
					stroke="#4F61BE" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
				<path d="M11.4953 12.8228H11.5047" stroke="#4F61BE" stroke-width="1.5" stroke-linecap="round"
				      stroke-linejoin="round"/>
			</svg>
		</NavigationItemComponent>
	</ul>
</nav>

@code {

}