.another-list {
	display: flex;
	flex-wrap: wrap;
	gap: 50px;
	justify-content: space-evenly;
}

.another-list-item {
	position: relative;
	display: grid;
	background-size: 500%;
	place-items: center;
	width: 200px;
	aspect-ratio: 1;
	padding: 15px;
	background-image: linear-gradient(45deg, var(--m-color), var(--m-l-color) 50%);
	border-radius: var(--border-radius-l);
	color: #ffffff90;
	text-align: center;
	font-weight: 600;
	font-size: 1.15rem;
	letter-spacing: 0.05em;
	transition: 150ms ease;
}


.another-list-item:hover {
	color: white;
}
