.lesson-progress {
	--percent: 10%;
	display: flex;
	gap: 5px;
}

.lesson-progress.horizontal {
	flex-direction: column;
}

.lesson-progress.vertical {
	flex-direction: row;
}

.lesson-progress label {
	font-size: var(--subtext-fs);
	font-weight: var(--subtext-fw);
}

.lesson-progress.vertical label {
	display: none;
}

.lesson-progress progress {
	display: none;
}

.lesson-progress .progress {
	--thickness: 5px;
	position: relative;
	border-radius: var(--br-max);
	background-color: #ffffff20;
}

.lesson-progress.horizontal .progress {
	height: var(--thickness);
	width: 100%;
}

.lesson-progress.vertical .progress {
	width: var(--thickness);
	height: 100%;
}

.lesson-progress .progress::after {
	content: "";
	position: absolute;
	background-color: #F9F9F9;
	border-radius: inherit;
}

.lesson-progress.horizontal .progress::after {
	top: 0;
	left: 0;
	height: 100%;
	width: var(--percent);
}

.lesson-progress.vertical .progress::after {
	bottom: 0;
	left: 0;
	width: 100%;
	height: var(--percent);
}