.pay-form {
	display: grid;
	grid-template-columns: repeat(2, minmax(200px, 1fr));
	gap: 20px;
	max-width: min(800px, 100%);
}

@media(width>500px){
	.pay-form div:nth-of-type(10), .pay-form div:nth-of-type(11), button.customized {
		grid-column: span 2;
	}
}

@media(width<500px){
	.pay-form {
		grid-template-columns: repeat(1, minmax(200px, 1fr));
	}
}

.hide {
	display: none;
}

.panel-message {
	position: fixed;
	bottom: -20px;
	right: 20px;
	background: hsl(0, 0%, 20%);
	padding: 10px;
	border-radius: 5px;
	opacity: 0;
	transition: opacity 500ms, visibility 500ms, transform 500ms;
	color: var(--light-white);
}

.panel-message-active {
	visibility: visible;
	opacity: 1;
	transform: translateY(-40px);
}