.questions {
	display: flex;
	flex-direction: column;
	row-gap: 20px;
}

.basic-data {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 15px;
}

.captcha-container {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 15px;
}

.captcha {
	min-width: 150px;
	border: 2px solid;
}

.question-warning {
	color: #929199;
}

.question-send {
	min-width: min(400px, 100%);
	margin: 0 auto;
}

@media (width < 500px) {
	.basic-data {
		grid-template-columns: 1fr;
	}
}

@media (width < 450px) {
	.captcha-container {
		grid-template-columns: 1fr;
	}
}

/* validation */

.validation-summary-errors {
	color: red;
	font-size: 0.8rem;
}

.validation-summary-errors ul {
	list-style: decimal;
	padding-left: 15px;
}