<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	<base href="/"/>
	<link rel="stylesheet" href="app.css"/>
	<link rel="stylesheet" href="MyOAT.styles.css"/>
	<link rel="icon" type="image/svg" href="favicon.svg"/>
	<link href="manifest.webmanifest" rel="manifest"/>
	<link rel="apple-touch-icon" sizes="512x512" href="icon-512.png"/>
	<link rel="apple-touch-icon" sizes="192x192" href="icon-192.png"/>
	<HeadOutlet/>
</head>

<body>
<Routes/>
<div class="circles"></div>
<div id="components-reconnect-modal">
	There was a problem with the connection!
</div>
<script src="https://telegram.org/js/telegram-web-app.js"></script>
<script>
		const app = window.Telegram.WebApp;
		app.ready();
		app.expand();
	</script>
<script src="_framework/blazor.web.js" autostart="true"></script>
<script src="scripts/index.js"></script>
<script src="scripts/logger.js"></script>
<script>navigator.serviceWorker.register('service-worker.js');</script>
</body>

</html>