@page
@model PayModel
@{
    ViewData["Title"] = "Электронные платежи";
}
<link rel="stylesheet" href="~/css/feedback/pay.css" asp-append-version="true">
<div class="container content-page">
    <section class="content">
        <h2 class="section-title">
            Электронные платежи
        </h2>
        <form class="pay-form">
            <div class="input-box">
                <label for="appointment">
                    Назначение платежа
                </label>
                <select id="appointment" onchange="onSelectPurpose()">
                    <option value="Платное обучение">
                        Платное обучение
                    </option>
                    <option value="Дистанционное обучение">
                        Дистанционное обучение
                    </option>
                    <option value="Дополнительные образовательные услуги">
                        Дополнительные образовательные услуги
                    </option>
                    <option value="Оказание платных услуг">
                        Оказание платных услуг
                    </option>
                    <option value="Добровольное пожертвование">
                        Добровольное пожертвование
                    </option>
                    <option value="Подготовительные курсы">
                        Подготовительные курсы
                    </option>
                    <option value="Профессиональная переподготовка" >
                        Профессиональная переподготовка
                    </option>
                </select>
            </div>
            <div class="input-box" id="container-donationt">
                <label for="donation">
                    Пожертвование на
                </label>
                <select id="donationt">
                    <option value="Приобретение спортивного инвентаря">
                        Приобретение спортивного инвентаря
                    </option>
                    <option value="Приобретение хозяйственного инвентаря">
                        Приобретение хозяйственного инвентаря
                    </option>
                    <option value="Приобретение строительных материалов">
                        Приобретение строительных материалов
                    </option>
                    <option value="Приобретение учебного оборудования и расходных материалов">
                        Приобретение учебного оборудования и расходных материалов
                    </option>
                    <option value="Выполнение ремонтных работ">
                        Выполнение ремонтных работ
                    </option>
                    <option value="Приобретение оргтехники и расходных материалов">
                        Приобретение оргтехники и расходных материалов
                    </option>
                </select>
            </div>
            <div class="input-box" id="container-documentId">
                <label for="documentId">
                    Номер договора
                </label>
                <input id="documentId" type="text">
            </div>
            <div class="input-box" id="container-documentDate">
                <label for="documentDate">
                    Дата договора
                </label>
                <input id="documentDate" type="date">
            </div>
            <div class="input-box" id="container-studentFullName">
                <label for="studentFullName">
                    ФИО студента
                </label>
                <input id="studentFullName" type="text">
            </div>
            <div class="input-box" id="container-group">
                <label for="group">
                    Группа обучения
                </label>
                <input id="group" type="text">
            </div>
            <div class="input-box">
                <label for="FullName">
                    ФИО плательщика
                </label>
                <input id="FullName" type="text">
            </div>
            <div class="input-box">
                <label for="email">
                    E-mail
                </label>
                <input id="email" type="email">
            </div>
            <div class="input-box">
                <label for="phone">
                    Телефон
                </label>
                <input id="phone" type="tel">
            </div>
            <div class="input-box">
                <label for="cost">
                    Сумма, ₽
                </label>
                <input id="cost" type="number">
            </div>
            <div>
                <input type="checkbox" id="agreement" value="agreement" />
                <label for="agreement">
                    Устанавливая флажок внутри данного чек-бокса вы даете согласие на обработку своих персональных данных.
                </label>
            </div>
            <button onclick="RedirectToPrint();return false" class="customized">Сформировать квитанцию</button>
        </form>

    </section>
    <aside id="sidebar" class="sidebar">
        <h3 class="sidebar-title">
            Обратная связь
        </h3>
        <nav class="sidebar-body">
            <ul class="sidebar-links">
                <li class="sidebar-link">
                    <a href='@Url.Page("Location")'>
                        Как добраться
                    </a>
                </li>
                <li class="sidebar-link">
                    <a href='@Url.Page("Contacts")'>
                        Контактная информация
                    </a>
                </li>
                <li class="sidebar-link">
                    <a href=''>
                        Схема расположения колледжа
                    </a>
                </li>
                <li class="sidebar-link">
                    <a href='@Url.Page("QuestionAnswer")'>
                        Вопрос-ответ
                    </a>
                </li>
                <li class="sidebar-link sidebar-link-selected">
                    <a href='@Url.Page("Pay")'>
                        Электронные платежи
                    </a>
                </li>
            </ul>
        </nav>
    </aside>
</div>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script type="text/javascript" src="/js/pay.js" charset="utf-8"></script>
<aside id="message-fail-checkbox" class="panel-message">❌ Подтвердите обработку данных </aside>
<aside id="message-fail-fields" class="panel-message">❌ Заполните все поля! </aside>
<aside id="message-fail-contract" class="panel-message">❌ Договор не найден, проверьте данные </aside>
