/* только для тех страниц, у которых есть main-underheader */

body {
	padding-top: 0px;
}

.site-header::before{
	display: none;
}

/* underheaders - first sections */

.main-underheader {
	min-height: 100dvh;
	padding-bottom: 20px;
	color: var(--light-white);
	position: relative;
}

.main-underheader-background {
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
	width: 100dvw;
	height: 100%;
	object-fit: cover;
	filter: brightness(0.8);
}

.main-underheader .container {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	row-gap: 50px;
	min-height: 95dvh;
	padding-top: calc(var(--max-header-heigth) + 200px);
}

@media (width<1800px) {
	.main-underheader .container {
		padding-top: calc(var(--max-header-heigth) + 120px);
	}
}

@media (width<1600px) {
	.main-underheader .container {
		padding-top: calc(var(--max-header-heigth) + 70px);
	}
}

@media (width<1500px) {
	.main-underheader .container {
		padding-top: calc(var(--max-header-heigth) + 35px);
	}
}

@media (width<900px) {
	.main-underheader .container {
		padding-top: calc(var(--max-header-heigth) + 80px);
	}
}

/* first words */

.welcome {
	display: flex;
	flex-direction: column;
	row-gap: 40px;
	max-width: 500px;
	margin-left: 70px;
}

@media (width<900px) {
	.welcome {
		margin-left: 30px;
	}
}

@media (width < 600px) {
	.welcome {
		margin-left: 10px;
	}
}

.contacts-list {
	display: flex;
	column-gap: 30px;
}

.contacts-list > li:hover img {
	transform: scale(1.1);
}

.important-links {
	--columns: 4;
	display: grid;
	grid-template-columns: repeat(var(--columns), minmax(250px, 500px));
	justify-content: space-between;
	gap: 40px 60px;
}

.important-link {
	position: relative;
	height: 100px;
	width: 100%;
	border: 2.5px solid var(--light-white);
	border-radius: 15px;
	background-color: #23212199;
	transition: background-color 750ms, border-color 750ms;
}

.important-link::after{
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
	width: 100%;
	height: 100%;
	border-radius: inherit;
	transition: background-color 350ms;
}

.important-link:hover {
	background-color: #181717ff;
	border-color: white;
}

.important-link:hover::after {
	background-color: white;
}

.important-link a {
	display: flex;
	column-gap: 20px;
	align-items: center;
	height: 100%;
	width: 100%;
	padding: 5px 10px;
	color: var(--light-white);
}

.important-link img {
	width: 55px;
	object-fit: contain;
}

@media (width<1450px) {
	.important-links {
		--columns: 2;
	}
}

@media (width<750px) {
	.important-links {
		--columns: 1;
		justify-content: center;
		gap: 40px;
	}
}