/* MAIN PAGE */

/* news slider */

.news-slider-container {
	display: flex;
	flex-direction: column;
	row-gap: 50px;
	overflow: hidden;
	max-width: 95vw;
	padding: 5px;
}

.news-slider-footer {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
}

.all-news {
	position: relative;
	display: block;
	height: fit-content;
	padding-bottom: 5px;
	font-weight: 500;
	font-size: 1.1rem;
	color: var(--matte-color);
}

.all-news:hover:after {
	right: 0;
	width: 0;
	left: unset;
}

.all-news::after {
	position: absolute;
	bottom: 0;
	left: 0;
	content: '';
	display: block;
	height: 2px;
	width: 100%;
	background-color: var(--matte-color);
	transition: .3s ease;
}

.news-slider-btns{
	display: flex;
	column-gap: 10px;
}

.news-slider-arrow {
	transform: rotate(var(--rotate-arrow));
	display: grid;
	place-items: center;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	border: 2.5px solid var(--matte-color);
	cursor: pointer;
	--rotate-arrow: 90deg;
	transition: opacity 400ms, visibility 400ms;
}

/*
.news-slider-arrow:hover img{
	transform: scale(1.1);
}
*/

.news-slider-prev {
	--rotate-arrow: -90deg;
}

.news-slider-arrow img {
	width: 15px;
	transition: 500ms;
}

.news-slider-arrow-inactive{
	opacity: 0;
	cursor: default;
	visibility: hidden;
}

.news-slider {
	display: flex;
	column-gap: 30px;
	height: 400px;
	--news-offset: 0%;
	--news-offset-helper: 30px;
	transition: 2s;
}

.news-item {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	min-width: calc(33% - 15px);
	border-radius: 10px;
	overflow: hidden;
}

.news-item img{
	position: absolute;
	top: 0;
	left: 0;
	z-index: 0;
	height: 100%;
    width: 100%;
	object-fit: cover;
	filter: brightness(0.7);
	transition: 700ms;
}

.news-content {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 100%;
	height: 100%;
	padding: 40px;
	box-shadow: 0 0 200px 10px black inset;
	color: var(--light-white);
}

.news-header{
	line-height: 1.2;
}

.news-item:hover img {
	transform: scale(1.15);
	filter: brightness(0.4);
}

@media (width<1100px){
	.news-item {
		min-width: calc(50% - 15px);
		border-radius: 15px;
	}
}

@media (width<600px) {
	.news-item {
		min-width: 100%;
		border-radius: 20px;
	}

	.news-item img {	
		transform: scale(1.15);
	}

	.news-item:hover img {
		transform: scale(1.3);
	}
}

/* impornant cards */

.cards-list{
	display: flex;
	justify-content: space-between;
	gap: 30px;
}

.card-item {
	position: relative;
	width: 300px;
	height: 300px;
	background-color: #303068;
	border-radius: 20px;
	color: var(--light-white);
	overflow: hidden;
	transition: 300ms ease;
}

.card-item:hover{
	background-color: #4D89E2;
}

.card-item a{
	padding: 40px 30px;
	width: 100%;
    height: 100%;
	color: var(--light-white);
}

.card-item a::after{
	content: "";
	position: absolute;
	top: 80%;
	left: 50%;
	width: 50%;
	translate: -50% -75%;
	aspect-ratio: 1;
	background: center/cover url(../images/mainPage/planeFront.svg);
	opacity: 0;
	transition: opacity 750ms ease-in-out, translate 750ms ease-in-out;
}

.card-item:hover a::after{
	opacity: 0.25;
	translate: -50% -50%;
}

.card-item-header {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100%;
	font-size: 1.55rem;
	line-height: 32px;
	font-weight: 700;
	text-align: center;
	transition: transform 750ms ease-in-out;
}

.card-item-header > .lower{
	font-size: 1.45rem;
}

.card-item-description {
	position: absolute;
	bottom: -100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100%;
	width: 100%;
	padding: 10px;
	text-align: center;
	font-size: 1.25rem;
	font-weight: 500;
	transition: transform 750ms ease-in-out;
}

.card-item:hover .card-item-description,
.card-item:hover .card-item-header {
	transform: translateY(-100%);
}

@media (width<1300px){
	.cards-list {
		display: grid;
		grid-template-columns: repeat(2, 350px);
		justify-content: center;
	}
	.card-item {
		width: 350px;
		height: 350px;
	}
}

@media (width<800px) {
	.cards-list {
		grid-template-columns: repeat(2, 275px);
	}
	.card-item {
		width: 275px;
		height: 275px;
	}
}

@media (width<650px) {
	.cards-list {
		grid-template-columns: 300px;
	}

	.card-item {
		width: 300px;
		height: 300px;
	}
}

/* code of future */

.code-of-future {
	max-width: min(100%, 600px) !important;
	box-shadow: 30px 0 70px -20px #e63a54, -30px 0 70px -20px #055ba6;
}

/* another directions of college */

.another {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 15px;
	width: min(500px, 100%);
	min-height: 250px;
	padding: 15px;
	margin: auto;
	border-radius: 20px;
	color: var(--light-white);
	background: linear-gradient(45deg, var(--m-color), var(--m-l-color)), radial-gradient(at 70% 30%, rgb(230, 100, 101) 20%, rgb(145, 152, 229) 20%);
	box-shadow: -20px 20px 100px -20px var(--m-d-color), 20px -20px 100px -20px var(--m-l-color);
	font-size: 1.5rem;
	font-weight: 700;
	line-height: 1;
	overflow: hidden;
}

.another-text{
	z-index: 1;
	--opacity: 1;
	opacity: var(--opacity);
	transition: opacity 400ms ease;
}

.another-text:nth-child(1){
	--opacity: 0.7;
}

.another-text:nth-child(2){
	--opacity: 0.5;
	
}

.another-text:nth-child(3){
	--opacity: 0.3;
}

.another:hover .another-text{
	opacity: calc(var(--opacity) + 0.2);
}

.another-text:hover{
	--opacity: calc(var(--opacity) + 0.3);
}

.another:hover::before, .another:hover::after{
	opacity: 1;
}

.another::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: repeating-conic-gradient(var(--m-color) 10%, color-mix(in srgb, var(--m-color) 80%, black) 20%, var(--m-color) 30%);
	opacity: 0;
	scale: 2.5;
	animation: 30s rotate infinite linear normal;
	transition: opacity 600ms ease;
}

.another::after {
	content: "";
	position: absolute;
	top: 50%;
	left: 50%;
	aspect-ratio: 1;
	box-shadow: 0 0 140px 45px white;
	opacity: 0.3;
	transition: opacity 600ms ease;
}

@keyframes rotate{
	from{
		rotate: 0deg;
	}
	to{
		rotate: 360deg;
	}
}