/* normalize */

:root::-webkit-scrollbar-thumb {
    background-color: hsl(200deg 18.02% 90.76%);
}

body {
    background-color: var(--matte-color);
    padding-top: calc(var(--panel-height) + 10px);
    color: var(--light-white);
    --panel-height: 50px;
}

section::before, section::after{
    content: none;
}

/* header */
.panel-header{
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    height: var(--panel-height);
}

.exit {
    position: absolute;
    top: 0;
    right: 0;
    display: grid;
    place-items: center;
    width: 50px;
    height: 50px;
    background-color: var(--light-white);
    border-radius: 0 0 0 50%;
    /*border-radius: 50% 0% 50% 50%;*/
}

.exit img {
	transform: scale(1.15);
}

.exit:hover img {
	transform: scale(1.25);
}

.panel-form{
    display: flex;
    flex-direction: column;
    row-gap: 15px;
}

.panel-form-title {
    font-size: 1.5rem;
    font-weight: 500;
    letter-spacing: 1px;
}

.input-box {
	display: flex;
	flex-direction: column;
	row-gap: 5px;
}

.input-box label {
	font-weight: 500;
}

.input-box input, .input-box textarea{
	padding: 5px;
	border: 3.5px solid transparent;
	border-radius: 7px;
	background-color: hsl(0, 0%, 20%);
	color: var(--light-white);
	opacity: .95;
	transition: opacity 300ms, border-color 300ms;
}

.input-box input:focus, .input-box textarea:focus{
	border-color: rgb(20, 20, 20);
	opacity: 1;
	outline: none;
}

/* NOT ME */
.zone {
    background: radial-gradient(ellipse at center,#5a8aeb 0,#2f4ac9 100%);
    width: 80%;
    height: 50%;
    border: 5px dashed white;
    text-align: center;
    color: white;
    transition: all 0.3s ease-out;
    box-shadow: 0 0 0 1px rgba(255,255,255,.05),inset 0 0 .25em 0 rgba(0,0,0,.25);
}
    .zone .selectFile {
        height: 50px;
        margin: 20px auto;
        position: relative;
        width: 200px;
    }

.zone label, input {
    cursor: pointer;
    display: block;
    width: 100%;
    max-width: 400px;
    border-radius: 5px;          
  }

.zone  label {
    background: #fff;
    color:#EB6A5A;
    display: inline-block;
    font-size: 1.2em;
    line-height: 30px;
    padding: 0;
    text-align: center;
    white-space: nowrap;
    text-transform: uppercase;
    font-weight: 400;   
    box-shadow: 0 1px 1px gray;
  }

.zone  input[type=file] {
    opacity: 0;
  }


.zone.in {
    color: white;
    border-color: white;
    background: radial-gradient(ellipse at center,#EB6A5A 0,#c9402f 100%);
}
.zone.in  i {          
    color:#fff;
  }
.zone.in  label {
    background: #fff;
    color:#EB6A5A;
  }

.zone.hover {
    color: gray;
    border-color: white;
    background: #fff;
    border: 5px dashed gray;
}
.zone.hover  i {          
    color:#EB6A5A;
  }
.zone.hover  label {
    background: #fff;
    color:#EB6A5A;
  }


.zone.fade {
  transition: all 0.3s ease-out;
  opacity: 1;
}