/* normalize */

:root::-webkit-scrollbar-thumb {
    background-color: hsl(200deg 18% 90%);
}

body {
    background-color: hsl(0, 0%, 70%);
    padding-top: 0;
}

section::before, section::after{
    height: 20px;
}

/* header */

.panel-header {
    position: sticky;
    top: 0;
    left: 0;
    z-index: 10;
    display: flex;
    align-items: center;
    height: 50px;
    width: 100vw;
    background-color: hsl(0deg 0% 5% / 80%);
    box-shadow: 0 0 25px -5px;
    text-transform: uppercase;
    font-weight: 700;
    overflow-x: auto;
    overflow-y: hidden;
}

.panel-header::-webkit-scrollbar {
    height: 5px;
}

.panel-header::-webkit-scrollbar-track {
    background-color: gray;
}

.panel-header::-webkit-scrollbar-thumb {
    width: 3px;
    background-color: var(--matte-color);
}

.panel-tabs {
    display: flex;
    column-gap: 3px;
    height: 100%;
    margin: 0 auto;
    background-color: var(--matte-color);
}

.panel-tabs li {
    height: 200%;
    width: 100px;
    color: var(--matte-color);
    background-color: hsl(0deg 0% 100% / 75%);
    transition: transform 400ms ease-in-out, background-color 400ms ease;
}

.panel-tabs li:hover{
    background-color: hsl(0deg 0% 100% / 90%);
    transform: translateY(-49%);
}

.panel-tabs a {
    display: block;
    width: 100%;
    height: 100%;
}

.panel-tabs span{
    display: grid;
    place-items: center;
    height: 50%;
}

.panel-tabs li img {
    display: block;
    height: 50%;
    margin: 0 auto;
}

/* current-user-info */

.current-user-info {
    position: fixed;
    top: 80px;
    display: flex;
    gap: 15px;
    align-items: center;
    width: fit-content;
    padding: 10px;
    border: 4px solid;
    border-radius: 5px;
    background-color: gray;
    opacity: 0.9;
    transition: 300ms opacity;
}

.current-user-info-head{
    width: 50px;
    height: 50px;
}

.current-user-info-body {
    display: flex;
    flex-direction: column;
    row-gap: 5px;
}

.current-user-info p{
    margin: 0;
}

.current-user-info:hover{
    opacity: 1;
}

@media(width<1200px){
    .current-user-info{
        position: static;
        margin: 0 auto;
    }
}

/* users table */

.users{
    margin: 0 auto;
}

table.users tbody tr td:first-child {
    text-align: center !important;
}

/* change user btn */

.panel-table-button {
    margin: 3px 0;
    font-size: 0.8rem;
    font-weight: 600;
    text-decoration: underline;
    text-align: left !important;
    width: 100%;
    text-align: left;
}

/* news table */

.news {
    margin: 0 auto;
}

table.news tbody tr td:first-child {
    text-align: center !important;
}

/* panel form */

.panel-form {
    display: flex;
    flex-direction: column;
    row-gap: 15px;
    max-width: 500px;
    margin: 0 auto;
}

.panel-form-title {
    width: 100%;
    font-size: 1.6rem;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-align: center;
}

.panel-form-send {
	position: relative;
	z-index: 1;
	display: block;
	margin-top: 20px;
	padding: 10px;
	border: 4px solid transparent;
	border-radius: 15px;
	background-color: hsl(0, 0%, 20%);
	color: var(--light-white);
	font-weight: 700;
	letter-spacing: 1px;
	text-transform: uppercase;
	opacity: 0.95;
	overflow: hidden;
	transition: border-color 300ms, opacity 300ms;
}

.panel-form-send::before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    display: block;
    width: 25px;
    height: 140px;
    rotate: -15deg;
    translate: -35px -45px;
    background-color: var(--matte-color);
    transition: width 500ms ease-in-out;
}

.panel-form-send:hover {
	border-color: rgb(20, 20, 20);
}

.panel-form-send:hover::before {
	width: 300px;
}

.panel-form-send::after {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    right: 0;
    display: block;
    width: 25px;
    height: 140px;
    rotate: 15deg;
    translate: 35px -45px;
    background-color: var(--matte-color);
    transition: width 500ms ease-in-out;
}

.panel-form-send:hover::after {
	width: 300px;
}