/* VARIABLES */
/*
	h - hue
	s - saturation
	l - lightness
	m - main
	d - dark
	l - light
	t - text
	
	1 - in calc function we can use maximum difference of 30%
	2 - 's' and 'l' variables can use maximum difference of 10% from 50%
*/

:root {
	/* colors */
	--h: 190;
	--s: 50%;
	--l: 50%;
	--m-color: hsl(var(--h), var(--s), var(--l));
	--m-d-color: hsl(var(--h), var(--s), calc(var(--l) - 30%));
	--m-l-color: hsl(var(--h), var(--s), calc(var(--l) + 30%));
	--matte-color: hsl(0, 0%, 15%); /* #212121 */
	--light-white: hsl(var(--h), 100%, 97%);
	/* devices */
	--laptop-l: 1440px;
	--laptop: 1024px;
	--tablet: 768px;
	--mobile-l: 425px;
	--mobile-m: 375px;
	--mobile-s: 320px;
}

:root::-webkit-scrollbar{
	width: 5px;
}

:root::-webkit-scrollbar-track{
	background-color: gray;
}

:root::-webkit-scrollbar-thumb{
	width: 3px;
	background-color: var(--matte-color);
}

/* CSS NORMALIZE */

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;0,900;1,400&display=swap');

* {
	margin: 0;
	padding: 0;
	border: 0;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

html,
body {
	height: 100%;
	width: 100%;
	line-height: 1;
	font-size: 16px;
	font-family: 'Roboto', "Segoe UI", Arial, sans-serif;
	color: var(--matte-color);
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	overflow-x: hidden;
}

input:active,
input:focus{
	inset: var(--m-color);
}

input::-ms-clear {
	display: none;
}

input[type="search"]::-webkit-search-cancel-button {
	display: none;
}

button {
	cursor: pointer;
	background: none;
	outline: none;
	border: none;
	padding: 0;
}

button::-moz-focus-inner {
	padding: 0;
	border: 0;
}

a {
	display: contents;
	color: unset;
}

a,
a:visited,
a:hover {
	text-decoration: none;
}

ul,
ol {
	list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-size: inherit;
	font-weight: inherit;
}

tr,
td,
th {
	font: inherit;
}

textarea{
	resize: none;
}

/* MAIN STRUCTURE */

body {
	display: table;
	--max-header-heigth: 90px;
}

/* HEADER */

.site-header {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
	width: 100%;
	height: 100%;
	max-height: var(--max-header-heigth);
	padding-top: 10px;
	grid-area: header;
	text-transform: uppercase;
	font-weight: 700;
	font-size: 0.9rem;
	color: var(--light-white);
	overflow: hidden;
	/*background-color: lightblue;*/
	transition: max-height 1750ms ease-in-out, background-color 2000ms ease-in-out;
}

.header-drop {
	max-height: 100vh;
	/*background-color: var(--matte-color);*/
	background-color: hsl(226.52deg 16.22% 75% / 77%);
	position: fixed;
}

.navigation {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.logo {
	display: flex;
	align-items: center;
	column-gap: 10px;
	max-width: 400px;
	line-height: 1.3;
}

.logo img{
	width: 110px;
}

@media (width < 600px){
	.logo-text {
		font-size: 0.8rem;
		line-height: 1.2;
	}
}

@media (width < 500px) {
	.logo-text {
		display: none;
	}
}

.functional {
	display: flex;
	flex-direction: row-reverse;
	column-gap: 15px;
	height: fit-content;
}

.functional img{
	cursor: pointer;
	filter: contrast(0.8);
	transition: 500ms;
}

.functional img:hover{
	transform: scale(1.15);
	filter: contrast(1);
}

.dropdown-menu {
	position: absolute;
	top: 150px;
	left: 30px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	gap: 30px;
	width: 95%;
	max-height: 700px;
	overflow: auto;
}

@media (width<1000px){
	.dropdown-menu {
		padding-bottom: 100px;
	}
}

@media (hover: none){
	.dropdown-menu {
		padding-bottom: 250px;
	}
}

.dropdown-menu-item {
	display: flex;
	flex-direction: column;
	height: 250px;
	width: 300px;
	overflow: hidden;
	--border-radius: 8px;
	/*--block-color: hsl(var(--h), calc(var(--s) + 30%), calc(var(--l) - 20%));*/
	--block-color: hsl(var(--h), calc(var(--s) + 30%), calc(var(--l) - 40%));
	/*--block-title-color: hsl(var(--h), calc(var(--s) + 20%), calc(var(--l) - 5%));*/
	--block-title-color: hsl(var(--h), calc(var(--s) - 5%), calc(var(--l) - 35%))
}

.dropdown-menu-item-title {
	position: relative;
	z-index: 1;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	min-height: 50px;
	border-radius: calc(var(--border-radius) - 4px) calc(var(--border-radius) - 4px) 0 0;
	background-color: var(--block-title-color);
	font-size: 1.1rem;
	letter-spacing: 1px;
	text-align: center;
}

.dropdown-menu-item-title-pictogram {
	position: absolute;
	top: 50%;
	left: 10px;
	transform: translateY(-50%);
	transition: 1s;
}

.dropdown-menu-item-title:hover .dropdown-menu-item-title-pictogram {
	transform: translateY(-50%) scale(1.2);
}

.dropdown-menu-item-title-icon {
	position: absolute;
	top: 50%;
	right: 10px;
	transform: translateY(-50%) rotate(-180deg);
	cursor: pointer;
	transition: 1s;
}

.dropdown-menu-item-inactive .dropdown-menu-item-title-icon {
	transform: translateY(-50%);
}

.dropdown-menu-item-body {
	display: flex;
	flex-direction: column;
	row-gap: 20px;
	height: 100%;
	padding: 15px 10px 15px 20px;
	margin: 0 auto;
	width: 100%;
	border-radius: 0 0 var(--border-radius) var(--border-radius);
	background-color: var(--block-color);
	overflow: auto;
	transition: transform 1s, opacity 500ms, width 1500ms;
}

.dropdown-menu-item-inactive .dropdown-menu-item-body {
	transform: translateY(-200px);
	opacity: 0;
	width: calc(100% - 10px);
}

.dropdown-menu-item-body::-webkit-scrollbar{
	width: 6px;
}

.dropdown-menu-item-body::-webkit-scrollbar-track{
	background-color: hsl(var(--h), calc(var(--s) - 5%), calc(var(--l) - 5%));
	border-bottom-right-radius: 50px;
}

.dropdown-menu-item-body::-webkit-scrollbar-thumb {
	background-color: var(--m-d-color);
	border-bottom-right-radius: 4px;
}

.dropdown-menu-item-body li {
	position: relative;
}

.dropdown-menu-item-body li:before {
	content: "+";
	position: absolute;
	top: 0;
	left: -15px;
	font-weight: 700;
}

@media (width < 500px) {
	.dropdown-menu-item {
		width: 260px;
	}
}


/* MAIN */
.site-main {
	
}

.site-footer {
	background-color: var(--m-color);
	display: table-row;
	text-transform: uppercase;
	font-weight: 700;
}

.site-footer > .container{
	padding: 20px 0;
}

/* REPEATABLE BLOCKS */

.container{
	width: min(95%, 1500px);
	margin: 0 auto;
}

.icon{
	width: 25px;
	transition: 300ms;
}

/* titles */

.main-page-title {
	font-size: 3rem;
	font-weight: 700;
	line-height: 1.3;
}

.main-page-subtitle {
	font-size: 1.5rem;
	font-weight: 700;
}

@media (width<900px){
	.main-page-title {
		font-size: 2rem;
	}

	.main-page-subtitle {
		font-size: 1.2rem;
	}
}

.page-title {
	font-size: 3rem;
	font-weight: 700;
	line-height: 1.3;
}

.page-subtitle {
	font-size: 2.25rem;
	font-weight: 700;
	line-height: 1.2;
}

.section-title {
	font-size: 1.8rem;
	font-weight: 700;
	line-height: 1.1;
}

.section-subtitle {
	font-size: 1.5rem;
	font-weight: 700;
}

.logic-block-title {
	font-size: 1.3rem;
	font-weight: 700;
}

.logic-block-subtitle {
	font-size: 1.15rem;
	font-weight: 700;
}

/* underheaders - first sections */

.main-underheader {
	min-height: 100vh;
	padding-bottom: 20px;
	color: var(--light-white);
	position: relative;
}

.main-underheader-background {
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
	width: 100vw;
	height: 100%;
	object-fit: cover;
}

.main-underheader .container {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	row-gap: 50px;
	min-height: 95vh;
	padding-top: calc(var(--max-header-heigth) + 60px);
}

@media (width<900px){
	.main-underheader .container {
		padding-top: calc(var(--max-header-heigth) + 40px);
	}
}

/* FIRST WORDS */

.welcome{
	display: flex;
	flex-direction: column;
	row-gap: 45px;
	max-width: 500px;
	margin-left: 70px;
}

@media (width<900px){
	.welcome {
		margin-left: 30px;
	}
}

.contacts-list{
	display: flex;
	column-gap: 15px;
}

.contacts-list > li:hover img{
	transform: scale(1.1);
}

.important-links{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	gap: 30px;
}

.important-link{
	height: 100px;
	width: 320px;
	border: 2px solid var(--light-white);
	border-radius: 7px;
	transition: background-color 750ms;
}

.important-link:hover{
	background-color: #504c4cb5;
}

.important-link a{
	display: flex;
	column-gap: 20px;
	align-items: center;
	height: 100%;
	width: 100%;
	padding: 5px 10px;
}

.important-link img{
	width: 50px;
	object-fit: contain;
}

@media (1550px>width>600px){
	.important-links {
		max-width: 1300px;
		margin: 0 auto;
	}
	.important-link {
		width: 45%;
		max-width: 500px;
	}
}

@media (width<600px) {
	.important-links {
		justify-content: center;
	}
}