@page
@model RTSModel
@{
	ViewData["Title"] = "Отделение радиотехники и технологии сварки";
}

<div class="container content-page">
	<section class="content">
		<a id="plane" class="plane" href="#sidebar"></a>
		<h2 class="section-title">
			Отделение радиотехники и технологии сварки
		</h2>
		
		<ul class="page-navigation">
			<li>
				<a href="#people">
					Ответственные лица
				</a>
			</li>
			<li>
				<a href="#history">
					История отделения
				</a>
			</li>
			<li>
				<a href="#specialities-and-professions">
					Специальности и профессии
				</a>
			</li>
			<li>
				<a href="#tasks">
					Задачи
				</a>
			</li>
			<li>
				<a href="#cmk">
					ЦМК
				</a>
			</li>
			<li>
				<a href="#feedback">
					Связаться с нами
				</a>
			</li>
		</ul>


		<h3 id="people" class="section-subtitle">
			Ответственные лица
		</h3>
		<ul class="people-list">
			<li class="people-item">
				<a class="people-item-img-container" href=''>
					<img src="~/images/people/Домнич Александр Юрьевич.jpeg" alt="">
				</a>
				<div class="people-item-body more-info">
					<div class="people-item-body-fio">
						Домнич Александр Юрьевич
					</div>
					<div class="people-item-body-job">
						Заведующий отделением
					</div>
				</div>
			</li>
			<li class="people-item">
				<a class="people-item-img-container" href=''>
					<img src="~/images/people/Цыганкова Светлана Валерьевна.jpeg" alt="">
				</a>
				<div class="people-item-body more-info">
					<div class="people-item-body-fio">
						Цыганкова Светлана Валерьевна
					</div>
					<div class="people-item-body-job">
						Социальный педагог
					</div>
				</div>
			</li>
            <!-- уволена, когда новый сотрудник будет - будет информация предоставлена -->
            <!--
			<li class="people-item">
				<a class="people-item-img-container" href=''>
					<img src="~/images/basic/unnamed.jpg" alt="">
				</a>
				<div class="people-item-body more-info">
					<div class="people-item-body-fio">
						Зязева Анна Александровна
					</div>
					<div class="people-item-body-job">
						Секретарь отделения
					</div>
				</div>
			</li>
            -->
		</ul>


		<h3 id="history" class="section-subtitle">
			Историческая справка
		</h3>
		<p>
			Отделение «Приборостроение» (с 2019 года отделение «Радиотехники и технологии сварки») организовано в Омском авиационном техникуме имени К.Е. Ворошилова в 1950 году, когда из групп специальностей «Самолетостроение» (С) и «Моторостроение» (М) была сформирована одна группа специальности «Монтаж и испытание радиооборудования на самолетах» (СМ). В 1952 году состоялся первый выпуск техников-радистов. В 1962 году техникуму было присвоено имя Н.Е. Жуковского. Первым заведующим отделения стал <b>Иванов Алексей Иванович,</b> окончивший в 1941 году Омский государственный педагогический институт имени А. М. Горького. Иванов А. И. руководил отделением с 1951 по 1985 годы. Сегодня отделение возглавляет <b>Домнич Александр Юрьевич.</b>
		</p>


		<h3 id="specialities-and-professions" class="section-subtitle">
			Специальности и профессии
		</h3>
		<ul class="customized">
			<li>
				12.02.03. Радиоэлектронные приборные устройства
			</li>
			<li>
				22.02.06. Сварочное производство
			</li>
			<li>
				15.02.10. Мехатроника и мобильная робототехника
			</li>
		</ul>


		<h3 id="tasks" class="section-subtitle">
			Задачи
		</h3>
		<ul class="customized">
			<li>
				Подготовка конкурентоспособных специалистов в различных отраслях знаний с учетом потребностей личности, общества, государства в качественном образовании 21-го века.
			</li>
			<li>
				Достижение значимых отраслевых результатов в разработках по специальностям отделения
			</li>
			<li>
				Формирование креативной конкурентоспособной личности
			</li>
			<li>
				Включение отделения в информационный мир и информационное обеспечение общества
			</li>
			<li>
				Кадровая политика отделения
			</li>
		</ul>


		<h3 id="cmk" class="section-subtitle">
			ЦМК
		</h3>
		<ul class="customized">
			<li>
				ЦМК технологии радиотехники электроники и мехатроники
			</li>
			<li>
				ЦМК технологии сварки
			</li>
		</ul>


		<h3 id="feedback" class="section-subtitle">
			Связаться с нами
		</h3>
        <p>
            <b>
                Обед 12:00-13:00
            </b>
        </p>
		<h4 class="section-subtitle-small">
			Домнич Александр Юрьевич
		</h4>
		<p class="place">
			Кабинет 305
		</p>
		<p class="phone">
			(3812) 36-18-66
		</p>
		<p class="time">
			ПН-ПТ 8:00-17:00, дежурство по графику
		</p>
		<h4 class="section-subtitle-small">
			Социальный педагог
		</h4>
		<p class="time">
			ПН-ПТ 8:00-16:20
		</p>
		<h4 class="section-subtitle-small">
			Секретарь
		</h4>
		<p class="time">
			ПН-ПТ 8:00-17:00
		</p>


	</section>
    <aside id="sidebar" class="sidebar">
        <h3 class="sidebar-title">
            Отделения
        </h3>
        <nav class="sidebar-body">
            <ul class="sidebar-links">
                <li class="sidebar-link">
                    <a asp-page="IT">
                        Отделение информационных технологий
                    </a>
                </li>
                <li class="sidebar-link">
                    <a asp-page="OTM">
                        Отделение технологии машиностроения
                    </a>
                </li>
                <li class="sidebar-link">
                    <a asp-page="PPKRS">
                        Отделение программ подготовки квалифицированных рабочих служащих
                    </a>
                </li>
                <li class="sidebar-link sidebar-link-selected">
                    <a asp-page="RTS">
                        Отделение радиотехники и технологии сварки
                    </a>
                </li>
                <li class="sidebar-link">
                    <a asp-page="TAKPiE">
                        Отделение технологии аэрокосмического производства и электротехники
                    </a>
                </li>
                <li class="sidebar-link">
                    <a asp-page="EiSR">
                        Отделение экономики и социальной работы
                    </a>
                </li>
                <li class="sidebar-link">
                    <a asp-page="ZOsDT">
                        Отделение заочного обучения с применением дистанционных технологий
                    </a>
                </li>
            </ul>
        </nav>
    </aside>
</div>
