@page
@model TAKPiEModel
@{
	ViewData["Title"] = "Отделение технологии аэрокосмического производства и электротехники (ТАКПиЭ)";
}

<div class="container content-page">
	<section class="content">
		<a id="plane" class="plane" href="#sidebar"></a>
		<h2 class="section-title">
			Отделение технологии аэрокосмического производства и электротехники (ТАКПиЭ)
		</h2>
		
		<ul class="page-navigation">
			<li>
				<a href="#people">
					Ответственные лица
				</a>
			</li>
			<li>
				<a href="#history">
					История отделения
				</a>
			</li>
			<li>
				<a href="#specialities">
					Специальности
				</a>
			</li>
			<li>
				<a href="#cmk">
					ЦМК
				</a>
			</li>
			<li>
				<a href="#feedback">
					Связаться с нами
				</a>
			</li>
		</ul>


		<h3 id="people" class="section-subtitle">
			Ответственные лица
		</h3>
		<ul class="people-list">
			<li class="people-item">
				<a class="people-item-img-container" href=''>
					<img src="~/images/people/Пономарев Сергей Викторович.jfif" alt="">
				</a>
				<div class="people-item-body more-info">
					<div class="people-item-body-fio">
						Пономарев Сергей Викторович
					</div>
					<div class="people-item-body-job">
						Заведующий отделением
					</div>
				</div>
			</li>
			<li class="people-item">
				<a class="people-item-img-container" href=''>
					<img src="~/images/people/Барабаш Ирина Сергеевна.jpeg" alt="">
				</a>
				<div class="people-item-body more-info">
					<div class="people-item-body-fio">
						Барабаш Ирина Сергеевна
					</div>
					<div class="people-item-body-job">
						Заведующий учебной частью
					</div>
				</div>
			</li>
			<li class="people-item">
				<a class="people-item-img-container" href=''>
					<img src="~/images/people/Пленкова Елена Владимировна.jpeg" alt="">
				</a>
				<div class="people-item-body more-info">
					<div class="people-item-body-fio">
						Пленкова Елена Владимировна
					</div>
					<div class="people-item-body-job">
						Секретарь отделения
					</div>
				</div>
			</li>
			<li class="people-item">
				<a class="people-item-img-container" href=''>
					<img src="~/images/people/Тумарова Наталья Анатольевна.jpeg" alt="">
				</a>
				<div class="people-item-body more-info">
					<div class="people-item-body-fio">
						Тумарова Наталья Анатольевна
					</div>
					<div class="people-item-body-job">
						Методист
					</div>
				</div>
			</li>
			<li class="people-item">
				<a class="people-item-img-container" href=''>
					<img src="~/images/basic/unnamed.jpg" alt="">
				</a>
				<div class="people-item-body more-info">
					<div class="people-item-body-fio">
						Назарова Анна Андреевна
					</div>
					<div class="people-item-body-job">
						Социальный педагог
					</div>
				</div>
			</li>
		</ul>


		<h3 id="history" class="section-subtitle">
			Историческая справка
		</h3>
		<p>
			Отделение технологий аэрокосмического производства является старейшим отделением колледжа: оно было открыто в 1930 году одновременно с образованием нашего учебного заведения (в то время оно называлось "Обработка металлов резанием").
		</p>
		<p>
			В годы Великой Отечественной войны студенты отделения выполняли особый заказ ВВС – изготовляли пробные образцы реактивных пушек для самолётов, а также топливные форсунки к авиадвигателям. В 1964 году на отделении началась подготовка специалистов по новым направлениям, оно было переименовано и стало называться «Летательные аппараты». С течением времени изменялась номенклатура специальностей отделения, оно ещё дважды переименовывалось – сначала в отделение авиамашиностроения, а затем в отделение технологий аэрокосмического производства и электротехники.
		</p>
		<p>
			В настоящее время отделение технологий аэрокосмического производства и электротехники является крупнейшим отделением колледжа – на нём обучается более 500 студентов по четырём специальностям.
		</p>


		<h3 id="specialities" class="section-subtitle">
			Специальности
		</h3>
		<ul class="customized">
			<li>
				13.02.11 Техническая эксплуатация и обслуживание электрического и электромеханического оборудования
			</li>
			<li>
				24.02.01 Производство летательных аппаратов
			</li>
			<li>
				24.02.02 Производство авиационных двигателей
			</li>
			<li>
				25.02.07 Техническое обслуживание авиационных двигателей
			</li>
			<li>
				25.02.08 Эксплуатация беспилотных авиационных систем
			</li>
		</ul>


		<h3 id="cmk" class="section-subtitle">
			ЦМК
		</h3>
		<ul class="customized">
			<li>
                <a href="/CMK/AircraftRocketTechnology">
                    ТехАРС (технологий авиаракетостроения)
                </a>
			</li>
			<li>
                <a href="/CMK/ElectronicEquipmentTechnology">
                    ТехРЭО (технологий радиоэлектронного оборудования)
                </a>
			</li>
		</ul>


		<h3 id="feedback" class="section-subtitle">
			Связаться с нами
		</h3>
		<p>
			<b>
				Обед 12:00-13:00
			</b>
		</p>
		<p class="place">
			г. Омск, ул. Б. Хмельницкого 281А
		</p>
		<p class="phone">
			(3812) 36-04-64
		</p>
		<p class="time">
			ПН-ПТ 8:00-17:00
		</p>

	</section>
	<aside id="sidebar" class="sidebar">
		<h3 class="sidebar-title">
			Отделения
		</h3>
		<nav class="sidebar-body">
			<ul class="sidebar-links">
				<li class="sidebar-link">
					<a asp-page="IT">
						Отделение информационных технологий
					</a>
				</li>
				<li class="sidebar-link">
					<a asp-page="OTM">
						Отделение технологии машиностроения
					</a>
				</li>
				<li class="sidebar-link">
					<a asp-page="PPKRS">
						Отделение программ подготовки квалифицированных рабочих служащих
					</a>
				</li>
				<li class="sidebar-link">
					<a asp-page="RTS">
						Отделение радиотехники и технологии сварки
					</a>
				</li>
				<li class="sidebar-link sidebar-link-selected">
					<a asp-page="TAKPiE">
						Отделение технологии аэрокосмического производства и электротехники
					</a>
				</li>
				<li class="sidebar-link">
					<a asp-page="EiSR">
						Отделение экономики и социальной работы
					</a>
				</li>
				<li class="sidebar-link">
					<a asp-page="ZOsDT">
						Отделение заочного обучения с применением дистанционных технологий
					</a>
				</li>
			</ul>
		</nav>
	</aside>
</div>
