@page
@model ZOsDTModel
@{
	ViewData["Title"] = "Отделение заочного обучения с применением дистанционных технологий";
}

<div class="container content-page">
	<section class="content">
		<a id="plane" class="plane" href="#sidebar"></a>
		<h2 class="section-title">
			Отделение заочного обучения с применением дистанционных технологий
		</h2>

		<ul class="page-navigation">
			<li>
				<a href="#people">
					Ответственные лица
				</a>
			</li>
			<li>
				<a href="#history">
					История отделения
				</a>
			</li>
			<li>
				<a href="#specialities">
					Специальности
				</a>
			</li>
			<li>
				<a href="#tasks">
					Задачи
				</a>
			</li>
			<li>
				<a href="#feedback">
					Связаться с нами
				</a>
			</li>
		</ul>


		<h3 id="people" class="section-subtitle">
			Ответственные лица
		</h3>
		<ul class="people-list">
			<li class="people-item">
				<a class="people-item-img-container" href=''>
					<img src="~/images/people/Хохлова Тамара Петровна.jpeg" alt="">
				</a>
				<div class="people-item-body more-info">
					<div class="people-item-body-fio">
						Хохлова Тамара Петровна
					</div>
					<div class="people-item-body-job">
						Заведующий отделением
					</div>
				</div>
			</li>
			<li class="people-item">
				<a class="people-item-img-container" href=''>
					<img src="~/images/people/Новикова Елена Витальевна.jpeg" alt="">
				</a>
				<div class="people-item-body more-info">
					<div class="people-item-body-fio">
						Новикова Елена Витальевна
					</div>
					<div class="people-item-body-job">
						Методист отделения
					</div>
				</div>
			</li>
		</ul>


		<h3 id="history" class="section-subtitle">
			Историческая справка
		</h3>
		<p>
			В 2015 году по инициативе руководства колледжа был создан Отдел организации образовательных программ, руководителем которого была назначена канд. пед. наук <b>Хохлова Тамара Петровна</b>. В перечень задач, поставленных перед отделом, в том числе, входила организация дистанционного обучения по программам среднего профессионального образования с применением современных Интернет технологий. В этом же 2015 году состоялся первый набор студентов, который составил 60 человек, поступивших на дистанционное обучение по специальностям: «Экономика и бухгалтерский учет», «Операционная деятельность в логистике», «Программирование в компьютерных системах». При содействии НИИ ЭОР Тюменского государственного нефтегазового университета в Омавиат появилась программная платформа Educon для размещения электронных образовательных ресурсов (ЭОР). Электронные учебные материалы были разработаны преподавателями колледжа при технической и методической поддержке сотрудников отделения ИТПР. В настоящее время число учебно-методических материалов, размещенных на сайте дистанционного обучения Educon, достигает более 200 единиц. В 2020 году Отдел организации образовательных программ был реорганизован в отделение инновационных образовательных программ, содействия трудоустройству и профессиональной ориентации (ИТПР). Возглавила отделение <b>Хохлова Тамара Петровна</b>, методистом отделения стала <b>Новикова Елена Витальевна</b>. В течение всего периода существования отделения ИТПР проводилась системная работа по формированию сети региональных представителей, которые проводят профориентационную работу на всей территории Российской Федерации и содействуют коллективу отделения в выполнении плана приема на заочное обучение с применением дистанционных образовательных технологий (ДОТ).
		</p>
		<img class="customized" src="~/images/departments/ZOsDT/history.png" />
		<p>
			Контингент отделения в настоящее время насчитывает 410 человек, которые обучаются по образовательным программам среднего профессионального образования.
		</p>


		<h3 id="specialities" class="section-subtitle">
			Специальности
		</h3>
		<ul class="customized">
			<li>
				38.02.01 Экономика и бухгалтерский учет (по отраслям)
			</li>
			<li>
				38.02.03 Операционная деятельность в логистике
			</li>
		</ul>


		<h3 id="tasks" class="section-subtitle">
			Задачи
		</h3>
		<ul class="customized">
			<li>
				Реализация эффективной системы обучения студентов, организованного с применением современных образовательных технологий, по действующим стандартам среднего профессионального образования
			</li>
			<li>
				Работа по профессиональной ориентации незанятого населения
			</li>
			<li>
				Расширение сети региональных представительств на территории Российской Федерации с целью обеспечения доступности профессионального образования для всех слоев населения вне зависимости от места проживания
			</li>
			<li>
				Совершенствование, расширение и актуализация перечня ресурсов, обеспечивающих реализацию образовательных программ СПО с применением электронного обучения и дистанционных образовательных технологий
			</li>
			<li>
				Сопровождение работы ГЭК в период государственной итоговой аттестации выпускников
			</li>
		</ul>


		<h3 id="feedback" class="section-subtitle">
			Связаться с нами
		</h3>
		<h4 class="section-subtitle-small">
			Наши контакты
		</h4>
		<p>
			<b>
				Обед 12:00-13:00
			</b>
		</p>
		<p class="place">
			г. Омск, ул. Ленина, 24. Каб 340
		</p>
		<p class="phone">
			(3812) 31-74-66
		</p>
		<p class="time">
			ПН-ПТ 8:00-17:00
		</p>
		<h4 class="section-subtitle-small">
			Контакты региональных представителей БПОУ Омавиат
		</h4>
		<ul class="customized">
			<li>
				Ерещенко Елена Александровна (г. Новосибирск): doggie97g@yandex.ru
			</li>
			<li>
				Зиновьева Наталья Владимировна (г. Тмск): natalyazinoveva@mail.ru
			</li>
			<li>
				Колпащикова Ирина Юрьевна (г. Тара Омской области): irina.colpashikova@yandex.ru
			</li>
			<li>
				Конопко Сергей Эдуардович (г. Москва): newsden@mail.ru
			</li>
			<li>
				Молодых Татьяна Эдуардовна (г. Новый Уренгой, ЯНАО): dmitrov-nur@mail.ru
			</li>
			<li>
				Фролова Юлия Александровна (г. Норильск): uc-norilsk@bk.ru
			</li>
			<li>
				Абатурова Надежда Анатольевна (г. Сургут, ХМАО): abaturovanadegda@mail.ru
			</li>
			<li>
				Еланцев Сергей Викторович (г. Екатеринбург): sergeyelantsev@yandex.ru
			</li>
			<li>
				Чебакова Екатерина Олеговна (Омская область): sib_do@bk.ru
			</li>
		</ul>

	</section>
	<aside id="sidebar" class="sidebar">
		<h3 class="sidebar-title">
			Отделения
		</h3>
		<nav class="sidebar-body">
			<ul class="sidebar-links">
				<li class="sidebar-link">
					<a asp-page="IT">
						Отделение информационных технологий
					</a>
				</li>
				<li class="sidebar-link">
					<a asp-page="OTM">
						Отделение технологии машиностроения
					</a>
				</li>
				<li class="sidebar-link">
					<a asp-page="PPKRS">
						Отделение программ подготовки квалифицированных рабочих служащих
					</a>
				</li>
				<li class="sidebar-link">
					<a asp-page="RTS">
						Отделение радиотехники и технологии сварки
					</a>
				</li>
				<li class="sidebar-link">
					<a asp-page="TAKPiE">
						Отделение технологии аэрокосмического производства и электротехники
					</a>
				</li>
				<li class="sidebar-link">
					<a asp-page="EiSR">
						Отделение экономики и социальной работы
					</a>
				</li>
				<li class="sidebar-link sidebar-link-selected">
					<a asp-page="ZOsDT">
						Отделение заочного обучения с применением дистанционных технологий
					</a>
				</li>
			</ul>
		</nav>
	</aside>
</div>
