/* normalize */

body {
	display: grid;
	place-items: center;
	color: var(--matte-color);
}

.panel-header {
	display: none;
}

/* exit */

.exit {
	position: absolute;
	top: 10px;
	right: 10px;
	display: grid;
	place-items: center;
	width: 60px;
	height: 60px;
	background-color: var(--matte-color);
	border-radius: var(--border-radius-m);
}

.exit img {
	transform: scale(1.15);
}

.exit:hover img {
	transform: scale(1.25);
}

/* authorization form */

.login-form {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	row-gap: 25px;
	min-width: 300px;
	padding: 25px 20px;
	border-radius: var(--border-radius-xl);
	background-color: var(--matte-color);
	color: var(--light-white);
}

.login-form label.form-title {
	width: 100%;
	margin-bottom: 20px;
	font-size: 1.25rem;
	font-weight: 700;
	text-transform: uppercase;
	text-align: center;
}

.inputs {
	display: flex;
	flex-direction: column;
	row-gap: 10px;
}

.input-box input {
	border-color: transparent;
}

.sign-in {
	position: relative;
	z-index: 1;
	display: block;
	margin-top: 20px;
	padding: 15px;
	border-radius: var(--border-radius-m);
	background-color: hsl(0, 0%, 30%);
	color: var(--light-white);
	font-weight: 700;
	letter-spacing: 1px;
	text-transform: uppercase;
	opacity: 0.95;
	overflow: hidden;
	transition: 250ms ease;
}

.sign-in::after {
	content: "";
	position: absolute;
	z-index: -1;
	top: 0;
	left: 0;
	display: block;
	width: 0;
	height: 100%;
	background: linear-gradient(45deg, hsl(0, 0%, 35%) 90%, transparent 80%);
	transition: width 350ms ease-in-out;
}

.sign-in:hover {
	border-color: rgb(20, 20, 20);
}

.sign-in:hover::after {
	width: 150%;
}

@media (width < 800px) {
	.exit {
		width: 50px;
		height: 50px;
	}
}