@page
@model CareerGuidanceEventsModel
@{
    ViewData["Title"] = "Профориентационные мероприятия";
}

<div class="container content-page">
    <section class="content">
        <h2 class="section-title">
            Профориентационные мероприятия
        </h2>
        <img class="customized" src="~/images/applicant/careerGuidanceEvents/denOtrkitixDverei.jpg" alt="день открытых дверей 12 мая">
        
    </section>
    <aside id="sidebar" class="sidebar long">
        <h3 class="sidebar-title">
            Абитуриентам
        </h3>
        <nav class="sidebar-body">
            <ul class="sidebar-links">
                <li class="sidebar-link sidebar-link-selected">
                    <a href=''>
                        Приемная комиссия
                    </a>
                </li>
                <li class="sidebar-link">
                    <a href=''>
                        Специальности и профессии
                    </a>
                </li>
                <li class="sidebar-link">
                    <a href=''>
                        Подготовительные курсы
                    </a>
                </li>
                <li class="sidebar-link">
                    <a href=''>
                        Экскурсия по колледжу
                    </a>
                </li>
                <li class="sidebar-link">
                    <a href=''>
                        Индивидуальное обучение
                    </a>
                </li>
                <li class="sidebar-link">
                    <a href=''>
                        Правила приема
                    </a>
                </li>
                <li class="sidebar-link">
                    <a href=''>
                        Повышение квалификации
                    </a>
                </li>
                <li class="sidebar-link">
                    <a href=''>
                        Сертификация D-link, Cisco
                    </a>
                </li>
                <li class="sidebar-link">
                    <a href=''>
                        Специальности очно-заочного (вечернего) отделения
                    </a>
                </li>
                <li class="sidebar-link">
                    <a href=''>
                        Схема расположения колледжа
                    </a>
                </li>
                <li class="sidebar-link">
                    <a href=''>
                        Профориентационные мероприятия
                    </a>
                </li>
            </ul>
        </nav>
    </aside>
</div>