@page
@model CareerGuidanceEventsModel
@{
	ViewData["Title"] = "Профориентационные мероприятия";
}

<style type="text/css">
	tbody.very-special tr td {
		font-weight: 400 !important;
	}

	tbody.very-special tr td:first-of-type {
		font-weight: 500;
		text-align: center !important;
	}
</style>

<div class="container content-page">
	<section class="content">
		<h2 class="section-title">
			Профориентационные мероприятия
		</h2>

		<table class="customized">
			<thead>
				<tr>
					<th>Дата, время, место проведения</th>
					<th>Мастер-классы</th>
				</tr>
			</thead>
			<tbody class="very-special">
				<!---->
				<tr>
					<td rowspan="2">
						03.04.2024
						15.00
						Космический пр-т, 14А
					</td>
					<td>
						Мастер-класс «Проектирование и обслуживание авиадвигателей»
					</td>
				</tr>
				<tr>
					<td>
						Мастер-класс «Изготовление и моделирование отдельных деталей самолета и ракет в программе «Компас-3D»
					</td>
				</tr>
				<!---->
				<tr>
					<td>
						12.04.2024
						15.00
						ул. Ленина,24
					</td>
					<td>
						День открытых дверей
					</td>
				</tr>
				<!---->
				<tr>
					<td>
						17.04.2024
						15.00
						ул. Волховстроя, 5
					</td>
					<td>
						Мастер-классы по специальностям «Логистика», «Экономика и бухгалтерский учет», «Социальная работа» и профессии «Оператор станков с ПУ»
					</td>
				</tr>
				<!---->
				<tr>
					<td>
						24.04.2024
						11.00-15.00
						КАО г. Омска
					</td>
					<td>
						Выездное профориентационное мероприятие «Выставка специальностей и профессий колледжа»
					</td>
				</tr>
				<!---->
				<tr>
					<td rowspan="6">
						03.05. 2024
						15.00
						ул. Ленина, 24
					</td>
					<td>
						Мастер-класс «Настройка сетевого оборудования»
					</td>
				</tr>
				<tr>
					<td>
						Мастер-класс «Дизайн и моделирование рекламных конструкций»
					</td>
				</tr>
				<tr>
					<td>
						Мастер-класс «Разработка мобильных приложений»
					</td>
				</tr>
				<tr>
					<td>
						Мастер-класс «Разработка виртуальной и дополненной реальности»
					</td>
				</tr>
				<tr>
					<td>
						Мастер-класс «Разработка системы безопасности от внутренних угроз на предприятии»
					</td>
				</tr>
				<tr>
					<td>
						Мастер-класс «Технология производства радиоэлектронных систем и устройств»
					</td>
				</tr>
				<!---->
				<tr>
					<td>
						17.05. 2024
						15.00
						ул. Ленина, 24
					</td>
					<td>
						День открытых дверей
					</td>
				</tr>
			</tbody>
		</table>

	</section>
    <aside id="sidebar" class="sidebar">
        <h3 class="sidebar-title">
            Абитуриентам
        </h3>
        <nav class="sidebar-body">
            <ul class="sidebar-links">
                <li class="sidebar-link">
                    <a asp-page="SelectionCommittee">
                        Приемная комиссия
                    </a>
                </li>
                <li class="sidebar-link">
                    <a asp-page="SpecialtiesAndProfessions">
                        Специальности и профессии
                    </a>
                </li>
                <li class="sidebar-link">
                    <a asp-page="TrainingCourses">
                        Подготовительные курсы
                    </a>
                </li>
                <li class="sidebar-link">
                    <a asp-page="IndividualTraining">
                        Индивидуальное обучение
                    </a>
                </li>
                <li class="sidebar-link">
                    <a asp-page="AdmissionRules">
                        Правила приема
                    </a>
                </li>
                <li class="sidebar-link">
                    <a asp-page="QualificationIncrease">
                        Повышение квалификации
                    </a>
                </li>
                <li class="sidebar-link">
                    <a asp-page="DLinkCisco">
                        Сертификация D-link, Cisco
                    </a>
                </li>
                <li class="sidebar-link">
                    <a asp-page="SpecialtiesPartTimeEvening">
                        Специальности заочного отделения
                    </a>
                </li>
                <li class="sidebar-link sidebar-link-selected">
                    <a asp-page="CareerGuidanceEvents">
                        Профориентационные мероприятия
                    </a>
                </li>
            </ul>
        </nav>
    </aside>
</div>