@page
@model DLinkCiscoModel
@{
	ViewData["Title"] = "Курс повышения квалификации по программе 'Объединенные сети'";
}

<div class="container content-page">
	<section class="content">
		<h2 class="section-title">
			Курс повышения квалификации по программе "Объединенные сети"
		</h2>
		<ul class="page-navigation">
			<li>
				<a href="#about">
					О курсе
				</a>
			</li>
			<li>
				<a href="#people">
					Команда
				</a>
			</li>
			<li>
				<a href="#feedback">
					Обратная связь
				</a>
			</li>
		</ul>
		
		
		<h3 id="about" class="section-subtitle">
			О курсе
		</h3>
		<p>
			Обучение ведётся с использованием передовых отечественных технологий. Преподаватель высшей категории, Адринский Илья Геннадьевич
		</p>
		<p>
			<b>Обучение</b> – 4 раза в неделю, с 17.10
			<br>
			<b>Продолжительность курса</b> – 192 часа
			<br>
			<b>Стоимость</b> – 18 500 р.
			<br>
			<b>Оформление договора</b> – кабинет 141 с 8:00 до 18:00, т. (3812) 31-16-39, (3812) 31-73-55
		</p>
		<p>
			Современные компьютерные сети должны успешно передавать одновременно традиционные данные, видео и звук, а специалист настроить такую возможность. Такие сети и называют объединенными.
		</p>
		<p>
			Целью курса является освоение современного коммуникационного управляемого оборудования. Обучение проводится с использованием программно-аппаратного обеспечения и учебных материалов ведущих производителей в сфере компьютерных коммуникаций.
		</p>
		<p>
			В курсе изучаются основные принципы и методы коммутации, основы статической и динамической маршрутизации IPv4 и IPv6, принципы работы протоколов RIP, OSPF, EIGRP, BGP, принципы работы протоколов STP и RSTP, устройство многоуровневых сетей c GRE, PPP, особенности настройки DHCP, защиты с помощью ACL, принципы сетевой трансляции NAT, функционирования беспроводных устройств.
		</p>
		<p>
			Лабораторные и практические работы построены на основе решений заданий демонстрационного экзамена по специальности 09.02.06 Сетевое и системное администрирование. Предварительной подготовки не требуется.
		</p>
		<p>
			<b>
				При необходимости, обеспечиваем помощь в трудоустройстве после окончания курса в IT-компаниях Омской области.
			</b>
		</p>
		
		<h3 id="people" class="section-subtitle">
			Команда
		</h3>
		<img src="~/images/applicant/dLinkCisco/people.jpg" class="customized" alt="команда Cisco" />
		<p>
			<b>Состав:</b>
		</p>
		<ul class="customized">
			<li>
				Гиматдинов Максим
			</li>
			<li>
				Спиридонов Дмитрий
			</li>
			<li>
				Клеер Никита
			</li>
			<li>
				Залужный Антон
			</li>
			<li>
				Седельников Максим
			</li>
			<li>
				Булдаков Валерий
			</li>
			<li>
				Занин Глеб
			</li>
			<li>
				Ефимов Никита
			</li>
		</ul>


		<h3 id="feedback" class="section-subtitle">
			По вопросам обращаться
		</h3>
		<div class="question-contact">
			<div class="question-contact-head">
				<a class="question-contact-head-img-container" href="">
					<img src="~/images/people/Адринский Илья Геннадьевич.jpg">
				</a>
				<p class="question-contact-head-fio">Адринский Илья Геннадьевич</p>
				<p class="question-contact-head-post">
					Преподаватель высшей категории
				</p>
			</div>
			<div class="question-contact-body">
				<p class="question-contact-body-phone">(3812) 31-16-39</p>
			</div>
		</div>
	</section>
	<aside id="sidebar" class="sidebar">
		<h3 class="sidebar-title">
			Абитуриентам
		</h3>
		<nav class="sidebar-body">
			<ul class="sidebar-links">
				<li class="sidebar-link">
					<a asp-page="SelectionCommittee">
						Приемная комиссия
					</a>
				</li>
				<li class="sidebar-link">
					<a asp-page="SpecialtiesAndProfessions">
						Специальности и профессии
					</a>
				</li>
				<li class="sidebar-link">
					<a asp-page="TrainingCourses">
						Подготовительные курсы
					</a>
				</li>
				<li class="sidebar-link">
					<a asp-page="IndividualTraining">
						Индивидуальное обучение
					</a>
				</li>
				<li class="sidebar-link">
					<a asp-page="AdmissionRules">
						Правила приема
					</a>
				</li>
				<li class="sidebar-link">
					<a asp-page="QualificationIncrease">
						Повышение квалификации
					</a>
				</li>
				<li class="sidebar-link sidebar-link-selected">
					<a asp-page="DLinkCisco">
						Сертификация D-link, Cisco
					</a>
				</li>
				<li class="sidebar-link">
					<a asp-page="CareerGuidanceEvents">
						Профориентационные мероприятия
					</a>
				</li>
			</ul>
		</nav>
	</aside>
</div>