@page
@model IndividualTrainingModel
@{
	ViewData["Title"] = "Индивидуальное обучение";
}

<div class="container content-page">
	<section class="content">
		<a id="plane" class="plane" href="#sidebar"></a>
		<h2 class="section-title">
			Индивидуальное обучение
		</h2>

		<ul class="page-navigation">
			<li>
				<a href="#target-audience">
					Целевая аудитория
				</a>
			</li>
			<li>
				<a href="#graduation-documents">
					Выпускные документы
				</a>
			</li>
			<li>
				<a href="#legal-basis">
					Правовая основа
				</a>
			</li>
			<li>
				<a href="#rights-and-obligations">
					Права и обязанности
				</a>
			</li>
			<li>
				<a href="#contract">
					Оформление договора
				</a>
			</li>
			<li>
				<a href="#have-question">
					Обратиться за помощью
				</a>
			</li>
		</ul>


		<h3 id="target-audience" class="section-subtitle">
			Целевая аудитория
		</h3>
		<ol class="customized">
			<li>
				Студент колледжа, имеющий затруднения в освоении учебного предмета, может рассчитывать на индивидуальное дополнительное обучение, направленное на углублённую подготовку или на формирование минимума знаний, умений и навыков, необходимых для успешной аттестации по данному предмету.
			</li>
			<li>
				Гражданин желающий освоить учебную программу колледжа (повышение квалификации, подготовка, переподготовка, освоение основной учебной программы), но не желающий осваивать её в условиях учебной группы, может рассчитывать на индивидуальное обучение. Пример индивидуального тематического плана
			</li>
			<li>
				"Практика на получение рабочей профессии токаря (3 разряда)", предполагающий индивидуальное обучение приведено в пркрепленном внизу странички файле.
			</li>
		</ol>

		
		<h3 id="graduation-documents" class="section-subtitle">
			Выпускные документы
		</h3>
		<p>
			Если в рамках обучения по специальности колледжа применялось индивидуальное обучение, то документы о завершении выдаются такие же, как и при групповом обучении, т.е. установленного образца.
		</p>
		

		<h3 id="legal-basis" class="section-subtitle">
			Правовая основа
		</h3>
		<p>
			В Законе РФ "Об образовании в Российской Федерации" указывает на то, что обучающиеся всех образовательных учреждений имеют право на получение образования в соответствии с государственными образовательными стандартами. На обучение в пределах этих стандартов по индивидуальным учебным планам, на ускоренный курс обучения. Обучение граждан по индивидуальным учебным в пределах государственного образовательного стандарта регламентируется уставом образовательного учреждения.
		</p>


		<h3 id="rights-and-obligations" class="section-subtitle">
			Права и обязанности
		</h3>
		<h4 class="section-subtitle-small">
			Обучающийся по форме индивидуального обучения имеет право
		</h4>
		<ul class="customized">
			<li>
				получать образование в соответствии с государственным стандартом
			</li>
			<li>
				вносить предложения по совершенствованию образовательного процесса
			</li>
			<li>
				на уважение человеческого достоинства, свободное выражение собственных взглядов и убеждений, свободу информации
			</li>
		</ul>
		<h4 class="section-subtitle-small">
			Обучающийся в форме индивидуального обучения обязан
		</h4>
		<ul class="customized">
			<li>
				соблюдать требования колледжа, прописанные в локальных актах
			</li>
			<li>
				добросовестно учиться, стремиться к сознательному и творческому освоению образовательной программы
			</li>
			<li>
				уважать честь и достоинство работников колледжа
			</li>
			<li>
				соблюдать расписание занятий
			</li>
		</ul>
		<h4 class="section-subtitle-small">
			Преподаватель обязан
		</h4>
		<ul class="customized">
			<li>
				выполнять учебную программу с учетом интеллектуальных способностей и интересов учащегося
			</li>
			<li>
				ориентироваться на формирование требуемых учебной программой компетенций
			</li>
			<li>
				развивать навыки самостоятельной работы с учебником, справочной
			</li>
			<li>
				контролировать учебную нагрузку, составлять индивидуальные планы проведения занятий;
			</li>
			<li>
				своевременно заполнять журнал учета проводимых занятий
			</li>
		</ul>


		<h3 id="contract" class="section-subtitle">
			Оформление договора
		</h3>
		<p>
			Для оформления формы индивидуального обучения необходимо:
		</p>
		<ol class="customized">
			<li>
				Обратиться в кабинет 141, написать заявление на оказание индивидуальных образовательных услуг
			</li>
			<li>
				Произвести оплату за образовательные услуги по направлению, полученному в к.141 в одном из филиалов банка "Плюс Банк", в направлении указаны адреса филиалов
			</li>
			<li>
				С квитанцией об оплате подойти в к. 141 и завершить оформление договора
			</li>
			<li>
				Получить в к. 141 информацию о своей учебной группе, узнать свой учебный план и график учебной работы, возможности информирования на сайте колледжа
			</li>
		</ol>


		<h3 id="have-question" class="section-subtitle">
			По вопросам обращаться
		</h3>
		<div class="question-contact">
			<div class="question-contact-head">
				<a class="question-contact-head-img-container" href="">
					<img src="~/images/people/Савин Антон Викторович.png">
				</a>
				<p class="question-contact-head-fio">Савин<br>Антон Викторович</p>
				<p class="question-contact-head-post">
					Заместитель директора, курирующий приемную кампанию
				</p>
			</div>
			<div class="question-contact-body">
				<p class="question-contact-body-address">г. Омск, ул. Ленина, 24. Каб. 227</p>
				<p class="question-contact-body-phone">(3812) 31-73-55</p>
				<p class="question-contact-body-time">ПН-ПТ 9:00-18:00</p>
			</div>
		</div>
	</section>
    <aside id="sidebar" class="sidebar">
        <h3 class="sidebar-title">
            Абитуриентам
        </h3>
        <nav class="sidebar-body">
            <ul class="sidebar-links">
                <li class="sidebar-link">
                    <a asp-page="SelectionCommittee">
                        Приемная комиссия
                    </a>
                </li>
                <li class="sidebar-link">
                    <a asp-page="SpecialtiesAndProfessions">
                        Специальности и профессии
                    </a>
                </li>
                <li class="sidebar-link">
                    <a asp-page="TrainingCourses">
                        Подготовительные курсы
                    </a>
                </li>
                <li class="sidebar-link sidebar-link-selected">
                    <a asp-page="IndividualTraining">
                        Индивидуальное обучение
                    </a>
                </li>
                <li class="sidebar-link">
                    <a asp-page="AdmissionRules">
                        Правила приема
                    </a>
                </li>
                <li class="sidebar-link">
                    <a asp-page="QualificationIncrease">
                        Повышение квалификации
                    </a>
                </li>
                <li class="sidebar-link">
                    <a asp-page="DLinkCisco">
                        Сертификация D-link, Cisco
                    </a>
                </li>
                <li class="sidebar-link">
                    <a asp-page="SpecialtiesPartTimeEvening">
                        Специальности заочного отделения
                    </a>
                </li>
                <li class="sidebar-link">
                    <a asp-page="CareerGuidanceEvents">
                        Профориентационные мероприятия
                    </a>
                </li>
            </ul>
        </nav>
    </aside>
</div>