@page
@model PanelModel
@{
    ViewData["Title"] = "Панель";
}

<link rel="stylesheet" href="~/css/panel.css">
<script src="~/js/panel.js" asp-append-version="true"></script>
<section class="container">
    <form id="news" class="news" method="post" enctype="multipart/form-data">
        <label for="news" style="font-size: 1.25rem;">
            Новости
        </label>
        <br>
        <label for="news-id">
            ID
        </label>
        <input id="news-id" type="number">
        <label for="news-title">
            Название
        </label>
        <input id="news-title" type="text">
        <label for="news-date">
            Дата
        </label>
        <input id="news-date" type="date">
        <label for="news-text">
            Текст
        </label>
        <br>
        <textarea id="news-text" style="margin-top: 20px; width: 280px; height: 200px;">Текст новости, её содержание.</textarea>
        <br>
        <label for="images">
            Фото
        </label>
        <input type="file" name="uploadedFile" /><br>

    </form>
</section>