@page
@model PanelModel
@{
    ViewData["Title"] = "Панель";
    Layout = "_Panel";
}

<script src="~/js/panel.js" asp-append-version="true"></script>
<section class="container">
    <form id="news" class="panel-form" method="post" enctype="multipart/form-data">
        <label for="news" class="panel-form-title">
            Новости
        </label>
        
        <div class="input-box">
            <label for="news-id">
                ID
            </label>
            <input id="news-id" type="number">
        </div>

        <div class="input-box">
            <label for="news-title">
                Название
            </label>
            <input id="news-title" type="text">
        </div>

        <div class="input-box">
            <label for="news-date">
                Дата
            </label>
            <input id="news-date" type="date">
        </div>

        <div class="input-box">
            <label for="news-text">
                Текст
            </label>
            <textarea class="news-text" id="news-text">Текст новости, её содержание.</textarea>
        </div>
        <div class="input-box">
            <label for="images">
                Фото
            </label>
            <input id="images" type="file" name="uploadedFile">
        </div>

    </form>
</section>