@page
@model MaterialsForTeachersModel
@{
	ViewData["Title"] = "Материалы для педагогов и руководителей";
}

<div class="container content-page">
	<section class="content">
		<a id="plane" class="plane" href="#sidebar"></a>
		<h2 class="section-title">
			Материалы для педагогов и руководителей
		</h2>
		
		<ul class="page-navigation">
			<li>
				<a href="#documents">
					Ключевые документы программы
				</a>
			</li>
			<li>
				<a href="#instruments">
					Практические инструменты для работы
				</a>
			</li>
			<li>
				<a href="#analytics">
					Аналитика и отчетность
				</a>
			</li>
		</ul>
		
		
		<p>
			Этот раздел создан специально для сотрудников образовательных организаций, которые помогают студентам воспользоваться программой государственной поддержки образовательного кредитования. Здесь собраны все необходимые документы и методические материалы, чтобы эффективно организовать работу по информированию и сопровождению участников Проекта.
		</p>
		<h3 id="documents" class="section-subtitle">
			Ключевые документы программы
		</h3>
		<ul class="customized">
			<li>
				<a href="https://firpo.ru/netcat_files/368/760/h_2665f95a1d1374f2234aa0d7843bc452">
					Постановление Правительства РФ от 15.09.2020 № 1448  — основной нормативный акт, регулирующий условия предоставления образовательного кредита;
				</a>
			</li>
			<li>
				<a href="https://disk.yandex.ru/i/VNdskTMuLQAm-w">
					Методические рекомендации оператора Проекта с подробными разъяснениями по работе с заемщиками;
				</a>
			</li>
			<!--
			<li>
				Образцы локальных актов для оформления в вашей образовательной организации.
			</li>
			-->
		</ul>		
		
		<h3 id="instruments" class="section-subtitle">
			Практические инструменты для работы:
		</h3>
		<p>
			Для вашего удобства мы подготовили готовые решения, которые помогут в повседневной деятельности. Эти материалы оформлены в виде интерактивного модуля «Медиатека проекта «Обркредит в СПО».
		</p>	
		<p>
			<a href="https://clck.ru/3HmdxJ">Прямая ссылка</a>
		</p>
		<iframe src="https://new-acc-space-1353.ispring.ru/app/embed-player/ef77d34e-02cd-11f0-be93-76c1ddaa89a5" width="560" height="315" frameborder="0" border="0" scrolling="auto" allowtransparency="true" allowfullscreen="1" style="border: none; background-color: transparent;"></iframe>
		
		<h3 id="analytics" class="section-subtitle">
			Аналитика и отчетность
		</h3>
		<p>
			В медиатеке доступны актуальные отчеты за 2022-2024 гг., включая:
		</p>
		<ul class="customized">
			<li>
				<a href="https://disk.yandex.ru/d/kzQ6xAsaz_wfCQ">
					Статистику по востребованности программы в разных регионах;
				</a>
			</li>
			<li>
				<a href="https://vk.com/doc-224704750_685300661?hash=jJVjCy78g7KsTKnVpyNRT9sUN0ashgZEuIkRLRoPlzX&dl=fVAjJEvqqZNtAPsuUXpnRN6PJcooAIuN6HFLlw6LnKL">
					Анализ эффективности реализации Проекта;
				</a>
			</li>
			<li>
				<a href="https://vk.com/doc-224704750_688500043?hash=1G9zzcU4QFztzrBvEX5smOFIGRKsw79wH8gFk4gF8x8">
					Презентационные материалы для использования в работе.
				</a>
			</li>
		</ul>
		<p>
			<b>Важно:</b> все материалы регулярно обновляются с учетом изменений законодательства и практики реализации программы. 
		</p>
		<p>
			Если вам нужна дополнительная консультация, вы можете:
		</p>
		<ul class="customized">
			<li>
				Написать на почту оператора Проекта: obrkreditspo@firpo.ru;
			</li>
			<li>
				Позвонить по телефону горячей линии: +7 (499) 009-05-51 (доб. 5505);
			</li>
			<li>
				Принять участие в регулярно проводимых вебинарах для представителей образовательных организаций.
			</li>
		</ul>
		
	</section>
	<aside id="sidebar" class="sidebar">
		<h3 class="sidebar-title">
			Образовательное кредитование
		</h3>
		<nav class="sidebar-body">
			<ul class="sidebar-links">
				<li class="sidebar-link">
					<a asp-page="ObrkreditSPO">
						Образовательное кредитование
					</a>
				</li>
				<li class="sidebar-link">
					<a asp-page="About">
						О проекте
					</a>
				</li>
				<li class="sidebar-link">
					<a asp-page="TermsOfProvision">
						Условия предоставления
					</a>
				</li>
				<li class="sidebar-link">
					<a asp-page="MaterialsForStudents">
						Материалы для студентов и абитуриентов
					</a>
				</li>
				<li class="sidebar-link sidebar-link-selected">
					<a asp-page="MaterialsForTeachers">
						Материалы для педагогов и руководителей
					</a>
				</li>
				<li class="sidebar-link">
					<a asp-page="Contacts">
						Контакты оператора Проекта
					</a>
				</li>
			</ul>
		</nav>
	</aside>
</div>