@page
@model TermsOfProvisionModel
@{
	ViewData["Title"] = "Условия предоставления";
}

<div class="container content-page">
	<section class="content">
		<a id="plane" class="plane" href="#sidebar"></a>
		<h2 class="section-title">
			Условия предоставления
		</h2>
		
		<ul class="page-navigation">
			<li>
				<a href="#who-can">
					Кто может получить кредит?
				</a>
			</li>
			<li>
				<a href="#how-to">
					Как оформить кредит?
				</a>
			</li>
			<li>
				<a href="#advantages">
					Преимущества программы
				</a>
			</li>
			<li>
				<a href="#interesting">
					Полезные материалы
				</a>
			</li>
			<li>
				<a href="#not-later">
					Не откладывайте!
				</a>
			</li>
		</ul>
		
		<h3 id="who-can" class="section-subtitle">
			Кто может получить кредит?
		</h3>
		<h4 class="section-subtitle-small">
			Граждане РФ в возрасте от 14 лет
		</h4>
		<ul class="customized">
			<li>
				Для заемщиков 14–18 лет необходимо письменное согласие родителя или законного представителя;
			</li>
			<li>
				Важно! Кредит недоступен лицам, находящимся под опекой (согласно ст. 37 ГК РФ и закону «Об опеке и попечительстве»).
			</li>
		</ul>
		<h4 class="section-subtitle-small">
			Требования к обучению
		</h4>
		<ul class="customized">
			<li>
				Поступление на платную программу СПО в колледж, техникум или иные учебные заведения, имеющие лицензию на образовательную деятельность.
			</li>
			<li>
				Наличие договора с образовательной организацией.
			</li>
		</ul>
		
		
		<h3 id="how-to" class="section-subtitle">
			Как оформить кредит?
		</h3>
		<p>
			Пошаговая инструкция:
		</p>
		<p>
			<b>
				1.	Заключите договор на обучение
			</b>
		</p>
		<ul class="customized">
			<li>
				Убедитесь, что учебное заведение имеет государственную лицензию на образовательную деятельность.
			</li>
		</ul>
		<p>
			<b>
				2.	Соберите документы
			</b>
		</p>
		<ul class="customized">
			<li>
				Паспорт заемщика (и родителя, если заемщик младше 18 лет);
			</li>
			<li>
				Договор на платное обучение;
			</li>
			<li>
				Счет для перечисления средств от банка.
			</li>
		</ul>
		<p>
			<b>
				3.	Выберите банк-партнер
			</b>
		</p>
		<p>
			В 2025 году кредит доступен в:
		</p>
		<ul class="customized">
			<li>
				ПАО Сбербанк;
			</li>
			<li>
				РНКБ (ПАО).
			</li>
		</ul>
		<p>
			<b>
				4.	Подайте заявку
			</b>
		</p>
		<ul class="customized">
			<li>
				Лично в отделении банка;
			</li>
			<li>
				Через сайт банка (приложите скан-копии документов).
			</li>
		</ul>
		<p>
			<b>
				5.	Подпишите кредитный договор
			</b>
		</p>
		<ul class="customized">
			<li>
				Внимательно изучите график платежей и условия льготного периода.
			</li>
		</ul>
		<p>
			<b>
				6.	Дождитесь перевода средств
			</b>
		</p>
		<ul class="customized">
			<li>
				Банк перечислит деньги напрямую учебному заведению;
			</li>
			<li>
				Вы получите уведомление о зачислении средств.
			</li>
		</ul>
		
		
		<h3 id="advantages" class="section-subtitle">
			Преимущества программы
		</h3>
		<ul class="customized">
			<li>
				Низкая процентная ставка;
			</li>
			<li>
				Льготный период: основные платежи начинаются через 9 месяцев после успешного завершения обучения;
			</li>
			<li>
				Гибкий срок погашения: до 15 лет
			</li>
		</ul>
		
		<h3 id="interesting" class="section-subtitle">
			Полезные материалы
		</h3>
		<ul>
			<li>
				<a href="~/documents/projectsAndEvents/obrkreditSPO/termsOfProvision/Checklist for getting a loan.pdf">Чек-лист по оформлению</a> – скачайте и следуйте шагам.
			</li>
			<li>
				<a href="https://open.edu.gov.ru/faq/#type=73">Консультация онлайн</a> – ответы на частые вопросы от Минпросвещения.
			</li>
		</ul>
		
		
		<h3 id="not-later" class="section-subtitle">
			Не откладывайте!
		</h3>
		<p>
			Даже если вы только планируете поступление, уже сейчас можно подать предварительную заявку и рассчитать ежемесячный платеж в <a href="https://www.sberbank.com/ru/person/credits/money/credit_na_obrazovanie">калькуляторе</a>. Ваше образование – лучшая инвестиция в будущее!
		</p>
	</section>
	<aside id="sidebar" class="sidebar">
		<h3 class="sidebar-title">
			Образовательное кредитование
		</h3>
		<nav class="sidebar-body">
			<ul class="sidebar-links">
				<li class="sidebar-link">
					<a asp-page="ObrkreditSPO">
						Образовательное кредитование
					</a>
				</li>
				<li class="sidebar-link">
					<a asp-page="About">
						О проекте
					</a>
				</li>
				<li class="sidebar-link sidebar-link-selected">
					<a asp-page="TermsOfProvision">
						Условия предоставления
					</a>
				</li>
				<li class="sidebar-link">
					<a asp-page="MaterialsForStudents">
						Материалы для студентов и абитуриентов
					</a>
				</li>
				<li class="sidebar-link">
					<a asp-page="MaterialsForTeachers">
						Материалы для педагогов и руководителей
					</a>
				</li>
				<li class="sidebar-link">
					<a asp-page="Contacts">
						Контакты оператора Проекта
					</a>
				</li>
			</ul>
		</nav>
	</aside>
</div>