@page "{id?}"
@using OAT.Readers;
@model OAT.Pages.projectsAndEvents.professionalitet.NewsModel
@{
    
}
<link rel="stylesheet" href="~/css/news.css">

<article class="centered">
    @if (!string.IsNullOrWhiteSpace(Model.id) && ProfNewsReader.news.Count() - 1 >= Convert.ToInt32(Model.id))
    {
        var news = ProfNewsReader.news.First(e => e.id == Convert.ToInt32(Model.id));
        <h3 class="news-title">
            @news.title
        </h3>
        @foreach (var t in news.description.Split("\n"))
        {
            <p>@Html.Raw(@t)</p>
        }
        <div class="images-list-slider-container">
            <div class="images-list-slider">
                @foreach (var image in news.photos.toObject<List<string>>())
                {
                    @if (!image.Contains(".mp4"))
                    {
                        <img src="/@image" alt="">
                    }
                    else
                    {
                        <video class="customized" controls>
                            <source src="/@image" type="video/mp4">
                        </video>
                    }
                }
            </div>
        </div>

    }
    else
    {
        <h3 class="news-title">
            Искали и не нашли
        </h3>
    }
</article>