@page
@model PartnersModel
@{
    ViewData["Title"] = "Партнеры проекта";
}

<link rel="stylesheet" href="~/css/projectsAndEvents/professionalitet/partners.css" asp-append-version="true">
<div class="container content-page">
    <section class="content">
        <h2 class="section-title">
            Партнеры проекта
        </h2>

        <ul class="project-partners">
            <li class="project-partners-item">
                Акционерное общество «Государственный космический научно-производственный центр имени М.В. Хруничева»
                <img class="project-partners-item-img" src="~/images/projectsAndEvents/professionalitet/partners/cosmos.png">
            </li>
            <li class="project-partners-item">
                Производственное объединение "Полёт"
                <img class="project-partners-item-img " src="~/images/projectsAndEvents/professionalitet/partners/polet.png">
            </li>
            <li class="project-partners-item">
                Акционерное общество «Центральное конструкторское бюро автоматики»
                <img class="project-partners-item-img " src="~/images/projectsAndEvents/professionalitet/partners/buroAvtomatiki.png">
            </li>
            <li class="project-partners-item">
                Акционерное общество «Омский завод транспортного машиностроения»
                <img class="project-partners-item-img" src="~/images/projectsAndEvents/professionalitet/partners/transmash.png">
            </li>
            <li class="project-partners-item">
                Акционерное общество «Омский электромеханический завод»
                <img class="project-partners-item-img " src="~/images/projectsAndEvents/professionalitet/partners/oemz.jfif">
            </li>
            <li class="project-partners-item">
                Акционерное общество «Омский научно-исследовательский институт приборостроения»
                <img class="project-partners-item-img " src="~/images/projectsAndEvents/professionalitet/partners/oniip.png">
            </li>


            <!-- we need some imgs -->
            <li class="project-partners-item">
                БПОУ «Омский многопрофильный техникум»
                <img class="project-partners-item-img " src="~/images/basic/unnamed.jpg">
            </li>
            <li class="project-partners-item">
                БПОУ «Омский государственный колледж управления и профессиональных технологий»
                <img class="project-partners-item-img " src="~/images/basic/unnamed.jpg">
            </li>
            <li class="project-partners-item">
                БПОУ «Сибирский профессиональный колледж»
                <img class="project-partners-item-img " src="~/images/basic/unnamed.jpg">
            </li>
            <li class="project-partners-item">
                БПОУ «Омский техникум строительства и лесного хозяйства»
                <img class="project-partners-item-img " src="~/images/basic/unnamed.jpg">
            </li>
            <li class="project-partners-item">
                БПОУ «Омский промышленно-экономический колледж»
                <img class="project-partners-item-img " src="~/images/basic/unnamed.jpg">
            </li>
            <li class="project-partners-item">
                БПОУ «Омский монтажный техникум»
                <img class="project-partners-item-img " src="~/images/basic/unnamed.jpg">
            </li>
            <li class="project-partners-item">
                БПОУ «Тарский индустриально-педагогический колледж»
                <img class="project-partners-item-img " src="~/images/basic/unnamed.jpg">
            </li>
        </ul>

        


    </section>
    <aside id="sidebar" class="sidebar">
        <h3 class="sidebar-title">
            Профессионалитет
        </h3>
        <nav class="sidebar-body">
            <ul class="sidebar-links">
                <li class="sidebar-link sidebar-link-selected">
                    <a href="">
                        О профессионалитете
                    </a>
                </li>
                <li class="sidebar-link">
                    <a href=''>
                        Перечень специальностей
                    </a>
                </li>
                <li class="sidebar-link">
                    <a href=''>
                        Партнеры проекта
                    </a>
                </li>
                <li class="sidebar-link">
                    <a href=''>
                        Управляющая компания
                    </a>
                </li>
                <li class="sidebar-link">
                    <a href=''>
                        Полезные ссылки
                    </a>
                </li>
                <li class="sidebar-link">
                    <a href=''>
                        Ход ремонтных работ
                    </a>
                </li>
                <li class="sidebar-link">
                    <a href=''>
                        Правила приема
                    </a>
                </li>
                <li class="sidebar-link">
                    <a href=''>
                        Новости проекта
                    </a>
                </li>
            </ul>
        </nav>
    </aside>
</div>