@page
@model SpecialitiesModel
@{
    ViewData["Title"] = "Перечень специальностей";
}

<div class="container content-page">
    <section class="content">
        <h2 class="section-title">
            Перечень специальностей
        </h2>

        <table class="customized">
            <thead>
                <tr>
                    <th rowspan="2">
                        Код профессии/специальности
                    </th>
                    <th rowspan="2">
                        Наименование профессии/специальности
                    </th>
                    <th colspan="2">
                        Количество бюджетных мест
                        на очной форме обучения
                    </th>
                </tr>
                <tr>
                    <th>
                        на базе основного общего образования
                        (9 кл.)
                    </th>
                    <th>
                        на базе среднего (полного)  образования
                        (11 кл.)
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        09.02.07
                    </td>
                    <td>
                        Информационные системы и программирование
                    </td>
                    <td>
                        Омавиат<sup>1</sup> - 50;
                        ОГКУиПТ<sup>2</sup> - 50;
                        СПК<sup>5</sup> - 25
                    </td>
                    <td>
                        СПК<sup>5</sup> - 25
                    </td>
                </tr>
                <tr>
                    <td>
                        10.02.05
                    </td>
                    <td>
                        Обеспечение информационной безопасности автоматизированных систем
                    </td>
                    <td>
                        Омавиат<sup>1</sup> - 50;
                        СПК<sup>5</sup> - 25;
                    </td>
                    <td>
                        -
                    </td>
                </tr>
                <tr>
                    <td>
                        11.01.01
                    </td>
                    <td>
                        Монтажник радиоэлектронной аппаратуры и приборов
                    </td>
                    <td>
                        Омавиат<sup>1</sup> - 50;
                        ОГКУиПТ<sup>2</sup> - 50;
                        ТИПК<sup>4</sup> - 25
                    </td>
                    <td>
                        -
                    </td>
                </tr>
                <tr>
                    <td>
                        11.02.16
                    </td>
                    <td>
                        Монтаж, техническое обслуживание и ремонт электронных приборов и устройств
                    </td>
                    <td>
                        ОГКУиПТ<sup>2</sup> - 50
                    </td>
                    <td>
                        -
                    </td>
                </tr>
                <tr>
                    <td>
                        12.02.03
                    </td>
                    <td>
                        Радиоэлектронные приборные устройства
                    </td>
                    <td>
                        Омавиат<sup>1</sup> - 50
                    </td>
                    <td>
                        -
                    </td>
                </tr>
                <tr>
                    <td>
                        13.01.10
                    </td>
                    <td>
                        Электромонтер по ремонту и обслуживанию электрооборудования (по отраслям)
                    </td>
                    <td>
                        Омавиат<sup>1</sup> - 25
                    </td>
                    <td>
                        -
                    </td>
                </tr>
                <tr>
                    <td>
                        13.02.11
                    </td>
                    <td>
                        Техническая эксплуатация и обслуживание электрического и электромеханического оборудования
                    </td>
                    <td>
                        Омавиат<sup>1</sup> - 25;
                        ОПЭК<sup>6</sup> - 25
                    </td>
                    <td>
                        -
                    </td>
                </tr>
                <tr>
                    <td>
                        15.01.05
                    </td>
                    <td>
                        Сварщик ручной и частично механизированной сварки (наплавки)
                    </td>
                    <td>
                        Омавиат<sup>1</sup> - 50;
                        ОМТ<sup>3</sup> - 50;
                        ТИПК<sup>4</sup> - 25;
                        СПК<sup>5</sup> - 25;
                        МТ<sup>7</sup> - 50;
                        ОТСЛХ<sup>8</sup> - 25;
                    </td>
                    <td>
                        МТ<sup>7</sup> - 25;
                    </td>
                </tr>
                <tr>
                    <td>
                        15.01.13
                    </td>
                    <td>
                        Монтажник технологического оборудования (по видам оборудования)
                    </td>
                    <td>
                        -
                    </td>
                    <td>
                        -
                    </td>
                </tr>
                <tr>
                    <td>
                        15.01.20
                    </td>
                    <td>
                        Слесарь по контрольно-измерительным приборам и автоматике
                    </td>
                    <td>
                        -
                    </td>
                    <td>
                        -
                    </td>
                </tr>
                <tr>
                    <td>
                        15.01.29
                    </td>
                    <td>
                        Контролер станочных и слесарных работ
                    </td>
                    <td>
                        Омавиат<sup>1</sup> - 25
                    </td>
                    <td>
                        -
                    </td>
                </tr>
                <tr>
                    <td>
                        15.01.32
                    </td>
                    <td>
                        Оператор станков с программным управлением
                    </td>
                    <td>
                        Омавиат<sup>1</sup> - 25
                    </td>
                    <td>
                        -
                    </td>
                </tr>
                <tr>
                    <td>
                        15.01.35
                    </td>
                    <td>
                        Мастер слесарных работ
                    </td>
                    <td>
                        ОМТ<sup>3</sup> - 25
                    </td>
                    <td>
                        -
                    </td>
                </tr>
                <tr>
                    <td>
                        15.02.16
                    </td>
                    <td>
                        Технология машиностроения
                    </td>
                    <td>
                        Омавиат<sup>1</sup> - 50;
                        СПК<sup>5</sup> - 25
                    </td>
                    <td>
                        -
                    </td>
                </tr>
                <tr>
                    <td>
                        22.02.06
                    </td>
                    <td>
                        Сварочное производство
                    </td>
                    <td>
                        Омавиат<sup>1</sup> - 50;
                        СПК<sup>5</sup> - 25;
                        ОПЭК<sup>6</sup> - 25;
                        МТ<sup>7</sup> - 25
                    </td>
                    <td>
                        -
                    </td>
                </tr>
            </tbody>
        </table>
        
        <p>
            <b>
                Примечание:
            </b>
        </p>
        <ul class="customized">
            <li>
                Бюджетное профессиональное образовательное учреждение Омской области «Омский авиационный колледж имени Н.Е. Жуковского» (<b>Омавиат<sup>1</sup></b>);
            </li>
            <li>
                бюджетное профессиональное образовательное учреждение Омской области «Омский государственный колледж управления и профессиональных технологий» (<b>ОГКУиПТ<sup>2</sup></b>);
            </li>
            <li>
                бюджетное профессиональное образовательное учреждение Омской области «Омский многопрофильный техникум» (<b>ОМТ<sup>3</sup></b>);
            </li>
            <li>
                бюджетное профессиональное образовательное учреждение Омской области «Тарский индустриально-педагогический колледж» (<b>ТИПК<sup>4</sup></b>);
            </li>
            <li>
                бюджетное профессиональное образовательное учреждение Омской области «Сибирский профессиональный колледж» (<b>СПК<sup>5</sup></b>);
            </li>
            <li>
                бюджетное профессиональное образовательное учреждение Омской области «Омский промышленно-экономический колледж» (<b>ОПЭК<sup>6</sup></b>);
            </li>
            <li>
                бюджетное профессиональное образовательное учреждение Омской области «Омский монтажный техникум» (<b>МТ<sup>7</sup></b>);
            </li>
            <li>
                бюджетное профессиональное образовательное учреждение Омской области «Омский техникум строительства и лесного хозяйства» (<b>ОТСиЛХ<sup>8</sup></b>)
            </li>
        </ul>
    </section>
    <aside id="sidebar" class="sidebar">
        <h3 class="sidebar-title">
            Профессионалитет
        </h3>
        <nav class="sidebar-body">
            <ul class="sidebar-links">
                <li class="sidebar-link sidebar-link-selected">
                    <a href="">
                        О профессионалитете
                    </a>
                </li>
                <li class="sidebar-link">
                    <a href=''>
                        Перечень специальностей
                    </a>
                </li>
                <li class="sidebar-link">
                    <a href=''>
                        Партнеры проекта
                    </a>
                </li>
                <li class="sidebar-link">
                    <a href=''>
                        Управляющая компания
                    </a>
                </li>
                <li class="sidebar-link">
                    <a href=''>
                        Полезные ссылки
                    </a>
                </li>
                <li class="sidebar-link">
                    <a href=''>
                        Ход ремонтных работ
                    </a>
                </li>
                <li class="sidebar-link">
                    <a href=''>
                        Правила приема
                    </a>
                </li>
                <li class="sidebar-link">
                    <a href=''>
                        Новости проекта
                    </a>
                </li>
            </ul>
        </nav>
    </aside>
</div>