@page
@model PODPOModel
@{
	ViewData["Title"] = "Расписание ПО и ДПО";
}

<div class="container content-page">
	<section class="content">
		<h2 class="section-title">
			Расписание ПО и ДПО
		</h2>

		<div class="document-item">
			<div class="document-item-head">
				<a target="_blank" href="~/documents/timetable/PODPO/Расписание_ПО_и_ДПО_2_семестр_2023_2024г_.xls">
				</a>
			</div>
			<div class="document-item-body">
				Расписание ПО и ДПО 2 семестр 2023-2024г
			</div>
		</div>
	</section>
	<aside id="sidebar" class="sidebar">
		<h3 class="sidebar-title">
			Расписание
		</h3>
		<nav class="sidebar-body">
			<ul class="sidebar-links">
				<li class="sidebar-link">
					<a asp-page="Classes">
						Расписание занятий
					</a>
				</li>
				<li class="sidebar-link">
					<a asp-page="ClassesChanges">
						Изменения в расписании занятий
					</a>
				</li>
				<li class="sidebar-link">
					<a asp-page="Practice">
						Расписание практик
					</a>
				</li>
				<li class="sidebar-link sidebar-link-selected">
					<a asp-page="PODPO">
						Расписание ПО и ДПО
					</a>
				</li>
				<li class="sidebar-link">
					<a asp-page="Session">
						Расписание сессий
					</a>
				</li>
				<li class="sidebar-link">
					<a asp-page="GIA">
						Расписание ГИА
					</a>
				</li>
			</ul>
		</nav>
	</aside>
</div>