@page
@model CommonIntelligenceModel
@{
	ViewData["Title"] = "Основные сведения";
}

<div class="container content-page">
	<section class="content">
		<a id="plane" class="plane" href="#sidebar"></a>
		<h2 class="section-title">
			Основные сведения
		</h2>

		<ul class="page-navigation">
			<li>
				<a href="#college">
					О колледже
				</a>
			</li>
			<li>
				<a href="#founders">
					Учредители
				</a>
			</li>
			<li>
				<a href="#place">
					Месторасположение
				</a>
			</li>
			<li>
				<a href="#license">
					Лицензия
				</a>
			</li>
		</ul>

		<h3 id="college" class="section-subtitle">
			Образовательная организация
		</h3>
		<h4 class="section-subtitle-small">
			Полное наименование
		</h4>
		<p>
			Бюджетное профессиональное образовательное учреждение Омской области «Омский авиационный колледж имени Н.Е.
			Жуковского».
		</p>
		<h4 class="section-subtitle-small">
			Сокращенное наименование
		</h4>
		<p>
			БПОУ «Омавиат»
		</p>
		<h4 class="section-subtitle-small">
			Дата создания
		</h4>
		<p>
			Постановлением Совнаркома Украинской ССР от 28 мая 1930 г. профшкола была переименована в Запорожский
			авиаавтомоторостроительный техникум. Этот день считается датой рождения нашего учебного заведения.
		</p>
		<h4 class="section-subtitle-small">
			Местонахождение
		</h4>
		<p>
			644024, г. Омск, ул. Ленина, д. 24.
		</p>
		<h4 class="section-subtitle-small">
			Места прохождения производственной практики
		</h4>

		<ul class="documents-list little">
			<li class="document-item">
				<div class="document-item-head">
					<a target="_blank"
					   href="~/documents/organizationInformation/logisticsAndAccessibleEnvironment/Mesta dlya prohozhdeniya proizvodstvennoj praktiki.pdf">
					</a>
				</div>
				<div class="document-item-body">
					Места для прохождения производственной практики
				</div>
			</li>
		</ul>
		<h4 class="section-subtitle-small">
			Режим и график работы
		</h4>
		<p>
			<i>Администрация колледжа:</i><br>ПН-ПТ 8:00-17:00. Обед 12:00-13:00
			<br>
			<i>Учебный процесс:</i><br>ПН-СБ 8:00-19:40, перерывы между учебными занятиями 10 минут, перерыв между
			учебными часами в рамках одного учебного занятия 5 минут. Для организации питания вводится перерыв,
			продолжительностью 40 минут.
		</p>
		<h4 class="section-subtitle-small">
			Контактная информация
		</h4>
		<p>
			<i>Тел.(факс):</i> (3812) 31-44-65
			<br>
			<i>Адрес электронной почты:</i>
			<a href="mailto:omaviat@oat.ru">omaviat@oat.ru</a>, <a href="mailto:post@omaviat.omskportal.ru">post@omaviat.omskportal.ru</a>
			<br>
			<i>Страница:</i> <a href="~/">oat.ru</a>
		</p>


		<h3 id="founders" class="section-subtitle">
			Учредители образовательной организации
		</h3>
		<h4 class="section-subtitle-small">
			Министерство имущественных отношений Омской области
		</h4>
		<p>
			<i>Юридический адрес учредителя:</i> 644043, г. Омск, ул. Орджоникидзе, д. 5.
			<br>
			<i>Контактные телефоны:</i> (3812) 23-22-63, (3812) 23-06-01, (3812) 24-71-89
			<br>
			<i>Адрес электронной почты:</i>
			<a href="mailto:post@mio.omskportal.ru">post@mio.omskportal.ru</a>
			<br>
			<i>Страница:</i>
			<a href="http://mio.omskportal.ru/oiv/mio">http://mio.omskportal.ru/oiv/mio</a>
		</p>
		<h4 class="section-subtitle-small">
			Министерство образования Омской области
		</h4>
		<p>
			<i>Юридический адрес учредителя:</i> 644043, г. Омск, ул. Красный путь, д. 5.
			<br>
			<i>Контактный телефон:</i> (3812) 35-70-00 доб. 5270
			<br>
			<i>Адрес электронной почты:</i> <a href="mailto:educate@omskportal.ru">educate@omskportal.ru</a>
			<br>
			<i>Страница:</i> <a href="http://mobr.omskportal.ru/oiv/mobr">http://mobr.omskportal.ru/oiv/mobr</a>
		</p>


		<h3 id="place" class="section-subtitle">
			Размещение Омского авиационного колледжа
		</h3>
		<h4 class="section-subtitle-small">
			Корпус 1 (Главный)
		</h4>
		<p>
			<b>Адрес:</b> г. Омск, ул. Ленина, д. 24
		</p>
		<p>
			<b>Телефон:</b> (3812) 31-16-39
		</p>
		<p>
			<b><a asp-page="/departments/IT">Отделение информационных технологий (ИТ)</a></b>
			<br>
			<i>Заведующий отделением:</i> Каштанов Николай Николаевич, каб. 340, т. (3812) 36-18-66
			<br>
			<i>Секретари отделения:</i> Прядкина Алёна Александровна, Дёмина Дарья Руслановна, каб.340, т. (3812)
			36-18-66
		</p>
		<p>
			<b><a asp-page="/departments/RTS">Отделение радиотехники и технологии сварки (РТС)</a></b>
			<br>
			<i>Заведующий отделением:</i> Домнич Александр Юрьевич, каб.305, т. (3812) 36-18-66
			<br>
			<i>Социальный педагог:</i> Цыганкова Светлана Валерьевна
		</p>
		<p>
			<b><a asp-page="/departments/ZOsDT">Отделение заочного обучения с применением дистанционных технологий
					(ЗОсДТ)</a></b>
			<br>
			<i>Заведующий отделением:</i> Хохлова Тамара Петровна, каб.202а, т. (3812) 31-74-66
			<br>
			<i>Секретарь отделения:</i> Новикова Елена Витальевна
		</p>
		<img class="customized" src="~/images/organizationInformation/commonIntelligence/lenina.jpg">

		<h4 class="section-subtitle-small">
			Корпус 2
		</h4>
		<p>
			<b>Адрес:</b> г. Омск, ул. Богдана Хмельницкого, д. 281а
		</p>
		<p>
			<b>Телефон:</b> (3812) 36-04-64
		</p>
		<p>
			<b><a asp-page="/departments/TAKPiE">Отделение технологии аэрокосмического производства и электротехники
					(ТАКПиЭ)</a></b>
			<br>
			<i>Заведующий отделением:</i> Пономарев Сергей Викторович, каб. 205
		</p>
		<img class="customized" src="~/images/organizationInformation/commonIntelligence/xmelnickogo.jpg">

		<h4 class="section-subtitle-small">
			Корпус 3
		</h4>
		<p>
			<b>Адрес:</b> г. Омск, пр. Космический, д. 14а
		</p>
		<p>
			<b>Телефон:</b> (3812) 53-64-53, (3812) 53-64-57
		</p>
		<p>
			<b><a asp-page="/departments/PPKRS">Отделение программ подготовки квалифицированных рабочих, служащих
					(ППКРС)</a></b>
			<br>
			<i>Заведующий отделением:</i> Троцкий Дмитрий Леонидович, каб. 101, т. (3812) 53-64-53, (3812) 53-64-57
		</p>
		<img class="customized" src="~/images/organizationInformation/commonIntelligence/cosmos.jpg">

		<h4 class="section-subtitle-small">
			Корпус 4
		</h4>
		<p>
			<b>Адрес:</b> г. Омск, ул. Волховстроя, д. 5
		</p>
		<p>
			<b>Телефон:</b> (3812) 21-10-17
		</p>
		<p>
			<b><a asp-page="/departments/TM">Отделение технологии машиностроения (ТМ)</a></b>
			<br>
			<i>Заведующий отделением:</i> Сковородина Наталья Александровна, т. (3812) 21-10-17
			<br>
			<i>Социальный педагог отделения:</i> Рубцова Елена Михайловна, каб. 108
			<br>
			<i>Секретарь отделения:</i> Копочева Анастасия Евгеньевна, каб. 103
		</p>
		<p>
			<b><a asp-page="/departments/EiSR">Отделение экономики и социальной работы (ЭиСР)</a></b>
			<br>
			<i>Заведующий отделением:</i> Листков Вячеслав Владимирович
			<br>
			<i>Социальный педагог отделения:</i> Моренко Оксана Романовна, каб. 102
			<br>
			<i>Секретарь отделения:</i> Ромашкина Полина Григорьевна, каб. 105
		</p>
		<p>
			<b>Общежитие</b>
			<br>
			<i>Адрес:</i> г. Омск, ул. Суровцева, д. 7а
			<br>
			<i>Телефон:</i> (3812) 37-52-47
			<br>
			<i>Комендант общежития:</i> Домчук Ольга Арсеновна, т. +7 965 981-75-70
		</p>
		<img class="customized" src="~/images/organizationInformation/commonIntelligence/volxovstroia.jpg">

		<h4 class="section-subtitle-small">
			Обособленное подразделение
		</h4>
		<p>
			<b>Адрес:</b> г. Тара, ул. Радищева, д. 17
		</p>
		<p>
			<i>Заведующий отделением:</i> Колпащикова Ирина Юрьевна, т. +7 983 115-89-09
		</p>
		<img class="customized" src="~/images/organizationInformation/commonIntelligence/radisheva17.jpg">

		<h4 class="section-subtitle-small">
			Инженерный лицей
		</h4>
		<p>
			<b>Адрес:</b> г. Омск, пр. Космический, д. 14в, корп. 1
		</p>
		<p>
			<b>Телефон:</b> (3812) 53-64-53
		</p>
		<p>
			<i>Заместитель директора - директор инженерного лицея:</i> Субботин Сергей Александрович
		</p>
		<img class="customized" src="~/images/organizationInformation/commonIntelligence/lyceum.jpg">


		<h3 id="akredit" class="section-subtitle">
			<a href="https://www.oat.ru/organizationInformation/Documents#acreditacia">Свидетельства о государственной
				аккредитации</a>
		</h3>


		<h3 id="license" class="section-subtitle">
			Лицензия на осуществление образовательной деятельности
		</h3>
		<div class="documents-list little">
			<div class="document-item">
				<div class="document-item-head">
					<a target="_blank"
					   href="~/documents/organizationInformation/documentsPage/vipiskaIzReestraLicensii.pdf">
					</a>
				</div>
				<div class="document-item-body">
					Выписка из реестра лицензий
				</div>
			</div>
		</div>
	</section>
	<aside id="sidebar" class="sidebar long">
		<h3 class="sidebar-title">
			Сведения об образовательной организации
		</h3>
		<nav class="sidebar-body">
			<ul class="sidebar-links">
				<li class="sidebar-link sidebar-link-selected">
					<a asp-page="CommonIntelligence">
						Основные сведения
					</a>
				</li>
				<li class="sidebar-link">
					<a asp-page="Structure">
						Структура и органы управления образовательной организацией
					</a>
				</li>
				<li class="sidebar-link">
					<a asp-page="Documents">
						Документы
					</a>
				</li>
				<li class="sidebar-link">
					<a asp-page="Education">
						Образование
					</a>
				</li>
				<li class="sidebar-link">
					<a asp-page="EducationalStandards">
						Образовательные стандарты и требования
					</a>
				</li>
				<li class="sidebar-link">
					<a asp-page="EducationalProcess">
						Организация воспитательного процесса
					</a>
				</li>
				<li class="sidebar-link">
					<a asp-page="Management">
						Руководство
					</a>
				</li>
				<li class="sidebar-link">
					<a asp-page="ManagementPedagogicalStaff">
						Педагогический (научно-педагогический) состав
					</a>
				</li>
				<li class="sidebar-link">
					<a asp-page="LogisticsAndAccessibleEnvironment">
						Материально-техническое обеспечение и оснащенность образовательного процесса. Доступная среда
					</a>
				</li>
				<li class="sidebar-link">
					<a asp-page="PaidEducationalServices">
						Платные образовательные услуги
					</a>
				</li>
				<li class="sidebar-link">
					<a asp-page="FinancialEconomicActivity">
						Финансово-хозяйственная деятельность
					</a>
				</li>
				<li class="sidebar-link">
					<a asp-page="VacanciesForAdmission">
						Вакантные места для приёма (перевода) обучающихся
					</a>
				</li>
				<li class="sidebar-link">
					<a asp-page="Vacancies">
						Вакансии
					</a>
				</li>
				<li class="sidebar-link">
					<a asp-page="InternationalCooperation">
						Международное сотрудничество
					</a>
				</li>
				<li class="sidebar-link">
					<a asp-page="StudentSupport">
						Стипендии и меры поддержки обучающихся
					</a>
				</li>
				<li class="sidebar-link">
					<a asp-page="Terrorism">
						Противодействие экстремизму и терроризму
					</a>
				</li>
				<li class="sidebar-link">
					<a asp-page="Corruption">
						Противодействие коррупции
					</a>
				</li>
				<li class="sidebar-link">
					<a asp-page="Library">
						Библиотека
					</a>
				</li>
				<li class="sidebar-link">
					<a asp-page="Food">
						Организация питания в образовательной организации
					</a>
				</li>
				<li class="sidebar-link">
					<a href="https://www.oat.ru/students/TargetedTraining">
						Целевое обучение
					</a>
				</li>
			</ul>
		</nav>
	</aside>
</div>