@page
@model CorruptionModel
@{
	ViewData["Title"] = "Противодействие коррупции";
}

<link rel="stylesheet" href="~/css/organizationInformation/corruption.css" asp-append-version="true">

<div class="container content-page">
	<section class="content">
		<a id="plane" class="plane" href="#sidebar"></a>
		<h2 class="section-title">
			Противодействие коррупции
		</h2>

		<ul class="page-navigation">
			<li>
				<a href="#hotline">
					Горячая линия
				</a>
			</li>
			<li>
				<a href="#acts">
					Акты в сфере противодействия коррупции
				</a>
			</li>
			<li>
				<a href="#methodical-materials">
					Методические материалы
				</a>
			</li>
			<li>
				<a href="#documents">
					Документы
				</a>
			</li>
			<li>
				<a href="#feedback">
					Обратная связь
				</a>
			</li>
		</ul>


		<h3 id="hotline" class="section-subtitle">
			Телефоны горячей линии по вопросам противодействия коррупции
		</h3>
		<p>
			Телефон "Горячей линии" для приема сообщений граждан по фактам коррупционной направленности в Министерстве образования Омской области и подведомственных ему государственных учреждениях Омской области: (3812) 25-03-88, в будние дни с 9:00 до 17:00 часов.
		</p>
		<p>
			Телефоны "Горячей линии" для приема сообщений граждан по фактам коррупционной направленности в БПОУ «Омавиат»: (3812) 31-44-65, (3812) 30-52-98, в будние дни с 9:00 до 17:00 часов.
		</p>


		<h3 id="acts" class="section-subtitle">
			Нормативные правовые и иные акты в сфере противодействия коррупции
		</h3>
		<h4 class="section-subtitle-small">
			Федеральное законодательство
		</h4>
		<ul class="customized">
			<li>
				Федеральный закон от 25 декабря 2008 г. № 273-ФЗ "О противодействии коррупции"
			</li>
			<li>
				Федеральный закон от 29 декабря 2012 г. N 273-ФЗ "Об образовании в Российской Федерации"
			</li>
			<li>
				Федеральный закон от 5 апреля 2013 г. N 44-ФЗ "О контрактной системе в сфере закупок товаров, работ, услуг для обеспечения государственных и муниципальных нужд"
			</li>
			<li>
				Указ Президента Российской Федерации от 2 апреля 2013 г. № 309 "О мерах по реализации отдельных положений Федерального закона "О противодействии коррупции"
			</li>
			<li>
				Методические рекомендации по разработке и принятию организациями мер по предупреждению и противодействию коррупции (утв. Министерством труда и социальной защиты Российской Федерации)
			</li>
		</ul>
		<h4 class="section-subtitle-small">
			Региональное законодательство
		</h4>
		<p>
			Приказ Министерства образования Омской области от 10 апреля 2009 г. N 05 «О мерах по реализации Федерального закона "О противодействии коррупции»
		</p>
		<h4 class="section-subtitle-small">
			Локальные нормативные акты
		</h4>
		<ul class="customized">
			<li>
				Нормы профессиональной этики педагогических работников бюджетного профессионального образовательного учреждения Омской области «Омский авиационный колледж имени Н.Е. Жуковского»
			</li>
			<li>
				Положение о предотвращении и урегулировании конфликта интересов при осуществлении закупок товаров, работ, услуг для обеспечения государственных и муниципальных нужд бюджетного профессионального образовательного учреждения Омской области «Омский авиационный колледж имени Н.Е. Жуковского»
			</li>
			<li>
				Положение о единой комиссии по осуществлению закупок
			</li>
			<li>
				План противодействия коррупции в БПОУ «Омавиат» на 2024-2026 годы
			</li>
			<li>
				Этический кодекс, Приказ о недопустимости незаконных сборов и другие документы, которые так или иначе затрагивают тему противодействия коррупции в организации
			</li>
		</ul>


		<h3 id="methodical-materials" class="section-subtitle">
			Методические материалы
		</h3>
		<p>
			<a href="https://epp.genproc.gov.ru/web/gprf/activity/combating-corruption/library/methodic">Информационно-разъяснительные материалы Генеральной прокуратуры РФ</a>
		</p>
		<!--
		<ul>
			<li>
				Информация для сотрудников образовательной организации
			</li>
			<li>
				Информация для родителей и законных представителей
			</li>
			<li>
				Памятки по противодействию коррупции
			</li>
		</ul>
		-->


		<h3 id="documents" class="section-subtitle">
			Документы
		</h3>
		<h4 class="section-subtitle-small">
			Формы документов, связанных с противодействием коррупции, для заполнения
		</h4>
		<p>
			Формы договоров, бланки уведомлений, обращений, заявлений.
		</p>
		<h4 class="section-subtitle-small">
			Прочие документы
		</h4>
		<ul class="customized">
			<li>
				<a href="~/documents/organizationInformation/corruption/plan meropriyatij po antikorrupcionnomu prosveshcheniyu obuchayushchihsya.pdf">
					План мероприятий по антикоррупционному просвещению обучающихся
				</a>
			</li>
			<li>
				<a asp-page="PaidEducationalServices">
					Документы организации, регламентирующие порядок оказания платных образовательных услуг
				</a>
			</li>
			<li>
				<a asp-page="FinancialEconomicActivity">
					Отчет о выполнении плана ФХД
				</a>
			</li>
			<li>
				<a asp-page="FinancialEconomicActivity">
					Информация об объеме образовательной деятельности, осуществляемой за счет бюджетных ассигнований, а также за счет средств физических и юридических лиц, и об их расходовании по итогам учебного года
				</a>
			</li>
		</ul>
		

		<h3 id="feedback" class="section-subtitle">
			Обратная связь для сообщений о фактах коррупции
		</h3>
		<p>
			Активная кнопка на сайте для мгновенной передачи сообщения о злоупотреблении служебными полномочиями и факте коррупции в организации.
		</p>
		<a class="report-corruption" href="https://admomsk.ru/web/guest/reception/questioning">
			сообщить о коррупции
		</a>
	</section>
	<aside id="sidebar" class="sidebar long">
		<h3 class="sidebar-title">
			Сведения об образовательной организации
		</h3>
		<nav class="sidebar-body">
			<ul class="sidebar-links">
				<li class="sidebar-link">
					<a asp-page="CommonIntelligence">
						Основные сведения
					</a>
				</li>
				<li class="sidebar-link">
					<a asp-page="Structure">
						Структура и органы управления образовательной организацией
					</a>
				</li>
				<li class="sidebar-link">
					<a asp-page="Documents">
						Документы
					</a>
				</li>
				<li class="sidebar-link">
					<a asp-page="Education">
						Образование
					</a>
				</li>
				<li class="sidebar-link">
					<a asp-page="EducationalStandards">
						Образовательные стандарты и требования
					</a>
				</li>
				<li class="sidebar-link">
					<a asp-page="EducationalProcess">
						Организация воспитательного процесса
					</a>
				</li>
				<li class="sidebar-link">
					<a asp-page="ManagementPedagogicalStaff">
						Руководство. Педагогический (научно-педагогический) состав
					</a>
				</li>
				<li class="sidebar-link">
					<a asp-page="LogisticsAndAccessibleEnvironment">
						Материально-техническое обеспечение и оснащенность образовательного процесса. Доступная среда
					</a>
				</li>
				<li class="sidebar-link">
					<a asp-page="PaidEducationalServices">
						Платные образовательные услуги
					</a>
				</li>
				<li class="sidebar-link">
					<a asp-page="FinancialEconomicActivity">
						Финансово-хозяйственная деятельность
					</a>
				</li>
				<li class="sidebar-link">
					<a asp-page="VacanciesForAdmission">
						Вакантные места для приема (перевода) обучающихся
					</a>
				</li>
				<li class="sidebar-link">
					<a asp-page="Vacancies">
						Вакансии
					</a>
				</li>
				<li class="sidebar-link">
					<a asp-page="InternationalCooperation">
						Международное сотрудничество
					</a>
				</li>
				<li class="sidebar-link">
					<a asp-page="StudentSupport">
						Стипендии и меры поддержки обучающихся
					</a>
				</li>
				<li class="sidebar-link">
					<a asp-page="Terrorism">
						Противодействие экстремизму и терроризму
					</a>
				</li>
				<li class="sidebar-link sidebar-link-selected">
					<a asp-page="Corruption">
						Противодействие коррупции
					</a>
				</li>
				<li class="sidebar-link">
					<a asp-page="Library">
						Библиотека
					</a>
				</li>
                <li class="sidebar-link">
                    <a asp-page="Food">
                        Организация питания в образовательной организации
                    </a>
                </li>
			</ul>
		</nav>
	</aside>
</div>