@page
@model EducationalStandardsModel
@{
	ViewData["Title"] = "Образовательные стандарты и требования";
}

<div class="container content-page">
	<section class="content">
		<a id="plane" class="plane" href="#sidebar"></a>
		<h2 class="section-title">
			Образовательные стандарты и требования
		</h2>

		<ul class="page-navigation">
			<li>
				<a href="#fgos-workers">
					ФГОС СПО по программам подготовки квалифицированных рабочих, служащих
				</a>
			</li>
			<li>
				<a href="#fgos-specialist">
					ФГОС СПО по программам подготовки специалистов среднего звена
				</a>
			</li>
			<li>
				<a href="#fgos-middle-edication">
					ФГОС среднего общего образования
				</a>
			</li>
		</ul>


		<h3 id="fgos-workers" class="section-subtitle">
			ФГОС СПО по программам подготовки квалифицированных рабочих, служащих
		</h3>
		<ul class="customized">
			<li>
				<a href="~/documents/organizationInformation/educationalStandards/fgosWorkers/ФГОС_11.01.01.pdf">
					11.01.01
					Монтажник радиоэлектронной аппаратуры и приборов, 2013 г.
				</a>
			</li>
			<li>
				<a href="~/documents/organizationInformation/educationalStandards/fgosWorkers/11.01.01 ФГОС-4 2023.rtf">
					11.01.01	Монтажник радиоэлектронной аппаратуры и приборов, 2023 г.
				</a>
			</li>
			<li>
				<a href="~/documents/organizationInformation/educationalStandards/fgosWorkers/13.01.10.pdf">
					13.01.10
					Электромонтер по ремонту и обслуживанию электрооборудования (по отраслям), 2013г
				</a>
			</li>
			<li>
				<a href="~/documents/organizationInformation/educationalStandards/fgosWorkers/13.01.10 ФГОС-4 2023.rtf">
					13.01.10
					Электромонтер по ремонту и обслуживанию электрооборудования (по отраслям), 2023г
				</a>
			</li>
			<li>
				<a href="~/documents/organizationInformation/educationalStandards/fgosWorkers/ФГОС_15.01.05.pdf">
					15.01.05
					Сварщик (ручной и частично механизированной сварки (наплавки), 2023 г.
				</a>
			</li>
			<li>
				<a href="~/documents/organizationInformation/educationalStandards/fgosWorkers/15.01.05_ФГОС-5.pdf">
					15.01.05
					Сварщик (ручной и частично механизированной сварки (наплавки), 2016 г.
				</a>
			</li>
			<li>
				<a href="~/documents/organizationInformation/educationalStandards/fgosWorkers/ФГОС_15.01.29.pdf">
					15.01.29
					Контролер станочных и слесарных работ, 2013 г.
				</a>
			</li>
			<li>
				<a href="~/documents/organizationInformation/educationalStandards/fgosWorkers/ФГОС_15.01.29 (2023).pdf">
					15.01.29
					Контролер качества в машиностроении, 2023 г.
				</a>
			</li>
			<li>
				<a href="~/documents/organizationInformation/educationalStandards/fgosWorkers/ФГОС_15.01.32.pdf">
					15.01.32
					Оператор станков с программным управлением, 2016 г.
				</a>
			</li>
			<li>
				<a href="~/documents/organizationInformation/educationalStandards/fgosWorkers/15.01.38_ФГОС-5 (15.01.32).pdf">
					15.01.38
					Оператор-наладчик металлообрабатывающих станков, 2023 г.
				</a>
			</li>
			<li>
				<a href="~/documents/organizationInformation/educationalStandards/fgosWorkers/ФГОС_23.01.08.pdf">
					23.01.08
					Слесарь по ремонту строительных машин, 2013 г.
				</a>
			</li>
			<li>
				<a href="~/documents/organizationInformation/educationalStandards/fgosWorkers/23.01.08_ФГОС-4+2022.docx">
					23.01.08
					Слесарь по ремонту строительных машин, 2022 г.
				</a>
			</li>
			<li>
				<a href="~/documents/organizationInformation/educationalStandards/fgosWorkers/ФГОС_43.01.09.pdf">
					43.01.09
					Повар, кондитер, 2016 г.
				</a>
			</li>
			<li>
				<a href="~/documents/organizationInformation/educationalStandards/fgosWorkers/ФГОС_54.01.20.pdf">
					54.01.20
					Графический дизайнер
				</a>
			</li>
		</ul>


		<h3 id="fgos-specialist" class="section-subtitle">
			ФГОС СПО по программам подготовки специалистов среднего звена
		</h3>
		<ul class="customized">
			<li>
				<a href="~/documents/organizationInformation/educationalStandards/fgosSpecialists/ФГОС_09.02.02.pdf">
					09.02.02
					Компьютерные сети, 2014 г.
				</a>
			</li>
			<!--
			<li>
				<a href="~/documents/organizationInformation/educationalStandards/fgos3Specialists/ФГОС_09.02.03.pdf">
					09.02.03
					Программирование в компьютерных системах (углубленная подготовка)
				</a>
			</li>
			<li>
				<a href="~/documents/organizationInformation/educationalStandards/fgos3Specialists/ФГОС_09.02.04.pdf">
					09.02.04
					Информационные системы
				</a>
			</li>
			-->
			<li>
				<a href="~/documents/organizationInformation/educationalStandards/fgosSpecialists/ФГОС_09.02.06.pdf">
					09.02.06
					Сетевое и системное администрирование, 2016 г.
				</a>
			</li>
			<li>
				<a href="~/documents/organizationInformation/educationalStandards/fgosSpecialists/09.02.06 ФГОС-2023.pdf">
					09.02.06
					Сетевое и системное администрирование, 2023 г.
				</a>
			</li>
			<li>
				<a href="~/documents/organizationInformation/educationalStandards/fgosSpecialists/ФГОС_09.02.07.pdf">
					09.02.07
					Информационные системы и программирование (разработчик веб-и мультимедийных приложений)
				</a>
			<li>
				<a href="~/documents/organizationInformation/educationalStandards/fgosSpecialists/ФГОС_09.02.07.pdf">
					09.02.07
					Информационные системы и программирование (программист)
				</a>
			</li>
			<li>
				<a href="~/documents/organizationInformation/educationalStandards/fgosSpecialists/ФГОС_09.02.07.pdf">
					09.02.07
					Информационные системы и программирование (специалист по информационным ресурсам)
				</a>
			</li>
			<li>
				<a href="~/documents/organizationInformation/educationalStandards/fgosSpecialists/ФГОС_10.02.05.pdf">
					10.02.05
					Обеспечение информационной безопасности в автоматизированных системах, 2016 г.
				</a>
			</li>
			<li>
				<a href="~/documents/organizationInformation/educationalStandards/fgosSpecialists/ФГОС_12.02.03.pdf">
					12.02.03
					Радиоэлектронные приборные устройства (базовая подготовка), 2014 г.
				</a>
			</li>
			<li>
				<a href="~/documents/organizationInformation/educationalStandards/fgosSpecialists/12.02.03 ФГОС4+ 2023.pdf">
					12.02.03
					Радиоэлектронные приборные устройства (базовая подготовка), 2023 г.
				</a>
			</li>
			<li>
				<a href="~/documents/organizationInformation/educationalStandards/fgosSpecialists/ФГОС_13.02.11.pdf">
					13.02.11
					Техническая эксплуатация и обслуживание электрического и электромеханического оборудования (по отраслям),  2017 г.
				</a>
			</li>
			<li>
				<a href="~/documents/organizationInformation/educationalStandards/fgosSpecialists/13.02.11.docx">
					13.02.11
					Техническая эксплуатация и обслуживание электрического и электромеханического оборудования (по отраслям) (базовая подготовка), 2022 г.
				</a>
			</li>
			<li>
				<a href="~/documents/organizationInformation/educationalStandards/fgosSpecialists/13.02.13_ФГОС-5 2023.pdf">
					13.02.13
					Эксплуатация и обслуживание электрического и электромеханического оборудования (по отраслям), 2023 г.
				</a>
			</li>
			<li>
				<a href="~/documents/organizationInformation/educationalStandards/fgosSpecialists/ФГОС_15.02.08.pdf">
					15.02.08
					Технология машиностроения (базовый и углубленный уровень подготовки), 2014 г.
				</a>
			</li>
			<li>
				<a href="~/documents/organizationInformation/educationalStandards/fgosSpecialists/ФГОС_15.02.10.pdf">
					15.02.10
					Мехатроника и мобильная робототехника, 2016 г.
				</a>
			</li>
			<li>
				<a href="~/documents/organizationInformation/educationalStandards/fgosSpecialists/15.02.10_ФГОС-5 2023.pdf">
					15.02.10
					Мехатроника и робототехника, 2023 г.
				</a>
			</li>
			<li>
				<a href="~/documents/organizationInformation/educationalStandards/fgosSpecialists/ФГОС_15.02.15.pdf">
					15.02.15
					Технология металлообрабатывающего производства, 2016 г.
				</a>
			</li>
			<li>
				<a href="~/documents/organizationInformation/educationalStandards/fgosSpecialists/15.02.16.docx">
					15.02.16
					Технология машиностроения, 2022 г.
				</a>
			</li>
			<li>
				<a href="~/documents/organizationInformation/educationalStandards/fgosSpecialists/15.02.19_ФГОС-5(220206.pdf">
					15.02.19
					Сварочное производство, 2023 г.
				</a>
			</li>
			<li>
				<a href="~/documents/organizationInformation/educationalStandards/fgosSpecialists/ФГОС_22.02.06.pdf">
					22.02.06
					Сварочное производство, 2014 г.
				</a>
			</li>
			<li>
				<a href="~/documents/organizationInformation/educationalStandards/fgosSpecialists/ФГОС_24.02.01.pdf">
					24.02.01
					Производство летательных аппаратов, 2014 г.
				</a>
			</li>
			<li>
				<a href="~/documents/organizationInformation/educationalStandards/fgosSpecialists/24.02.01_ФГОС-4+.docx">
					24.02.01
					Производство авиационных аппаратов, 2022 г.
				</a>
			</li>
			<li>
				<a href="~/documents/organizationInformation/educationalStandards/fgosSpecialists/ФГОС_24.02.02.pdf">
					24.02.02
					Производство авиационных двигателей, 2014 г.
				</a>
			</li>
			<li>
				<a href="~/documents/organizationInformation/educationalStandards/fgosSpecialists/24.02.02_ФГОС-4+.docx">
					24.02.02
					Производство авиационных двигателей, 2022 г.
				</a>
			</li>
			<li>
				<a href="~/documents/organizationInformation/educationalStandards/fgosSpecialists/ФГОС_25.02.07.pdf">
					25.02.07
					Техническое обслуживание авиационных двигателей
				</a>
			</li>
			<li>
				<a href="~/documents/organizationInformation/educationalStandards/fgosSpecialists/25.02.08 ФГОС-4 2023.rtf">
					25.02.08
					Эксплуатация беспилотных авиационных систем, 2023 г.
				</a>
			</li>
			<li>
				<a href="~/documents/organizationInformation/educationalStandards/fgosSpecialists/ФГОС_27.02.01.pdf">
					27.02.01
					Метрология, 2014 г.
				</a>
			</li>
			<li>
				<a href="~/documents/organizationInformation/educationalStandards/fgosSpecialists/38.02.01.docx">
					38.02.01
					Экономика и бухгалтерский учет (по отраслям), 2018 г.
				</a>
			</li>
			<li>
				<a href="~/documents/organizationInformation/educationalStandards/fgosSpecialists/ФГОС_38.02.03.pdf">
					38.02.03
					Операционная деятельность в логистике, 2014 г.
				</a>
			</li>
			<li>
				<a href="~/documents/organizationInformation/educationalStandards/fgosSpecialists/38.02.03_ФГОС-4+.docx">
					38.02.03
					Операционная деятельность в логистике, 2022 г.
				</a>
			</li>
			<li>
				<a href="~/documents/organizationInformation/educationalStandards/fgosSpecialists/ФГОС_39.02.01.pdf">
					39.02.01
					Социальная работа, 2014 г.
				</a>
			</li>
			<li>
				<a href="~/documents/organizationInformation/educationalStandards/fgosSpecialists/39.02.01_ФГОС4+.docx">
					39.02.01
					Социальная работа, 2022 г.
				</a>
			</li>
		</ul>



		<h3 id="fgos-middle-edication" class="section-subtitle">
			ФГОС Среднего общего образования
		</h3>
		<ul class="customized">
			<li>
				<a href="~/documents/organizationInformation/educationalStandards/fgosSOO/ФГОС СОО 2012 г N 413.pdf">ФГОС Среднего общего образования</a>
			</li>
		</ul>
	</section>
	<aside id="sidebar" class="sidebar long">
		<h3 class="sidebar-title">
			Сведения об образовательной организации
		</h3>
		<nav class="sidebar-body">
			<ul class="sidebar-links">
				<li class="sidebar-link">
					<a asp-page="CommonIntelligence">
						Основные сведения
					</a>
				</li>
				<li class="sidebar-link">
					<a asp-page="Structure">
						Структура и органы управления образовательной организацией
					</a>
				</li>
				<li class="sidebar-link">
					<a asp-page="Documents">
						Документы
					</a>
				</li>
				<li class="sidebar-link">
					<a asp-page="Education">
						Образование
					</a>
				</li>
				<li class="sidebar-link sidebar-link-selected">
					<a asp-page="EducationalStandards">
						Образовательные стандарты и требования
					</a>
				</li>
				<li class="sidebar-link">
					<a asp-page="EducationalProcess">
						Организация воспитательного процесса
					</a>
				</li>
				<li class="sidebar-link">
					<a asp-page="ManagementPedagogicalStaff">
						Руководство. Педагогический (научно-педагогический) состав
					</a>
				</li>
				<li class="sidebar-link">
					<a asp-page="LogisticsAndAccessibleEnvironment">
						Материально-техническое обеспечение и оснащенность образовательного процесса. Доступная среда
					</a>
				</li>
				<li class="sidebar-link">
					<a asp-page="PaidEducationalServices">
						Платные образовательные услуги
					</a>
				</li>
				<li class="sidebar-link">
					<a asp-page="FinancialEconomicActivity">
						Финансово-хозяйственная деятельность
					</a>
				</li>
				<li class="sidebar-link">
					<a asp-page="Jobs">
						Вакантные места для приема (перевода) обучающихся
					</a>
				</li>
				<li class="sidebar-link">
					<a asp-page="Vacancies">
						Вакансии
					</a>
				</li>
				<li class="sidebar-link">
					<a asp-page="InternationalCooperation">
						Международное сотрудничество
					</a>
				</li>
				<li class="sidebar-link">
					<a asp-page="StudentSupport">
						Стипендии и меры поддержки обучающихся
					</a>
				</li>
				<li class="sidebar-link">
					<a asp-page="Terrorism">
						Противодействие экстремизму и терроризму
					</a>
				</li>
				<li class="sidebar-link">
					<a asp-page="Corruption">
						Противодействие коррупции
					</a>
				</li>
				<li class="sidebar-link">
					<a asp-page="Library">
						Библиотека
					</a>
				</li>
                <li class="sidebar-link">
                    <a asp-page="Food">
                        Организация питания в образовательной организации
                    </a>
                </li>
			</ul>
		</nav>
	</aside>
</div>