@page
@model FoodModel
@{
	ViewData["Title"] = "Организация питания в образовательной организации";
}

<div class="container content-page">
	<section class="content">
		<a id="plane" class="plane" href="#sidebar"></a>
		<h2 class="section-title">
			Организация питания в образовательной организации
		</h2>

		<ul class="page-navigation">
			<li>
				<a href="#college">
					Условия питания и охраны здоровья обучающихся
				</a>
			</li>
			<li>
				<a href="#lyceum">
					Условия питания в инженерном лицее
				</a>
			</li>
			<li>
				<a href="#have-question">
					Обратиться за помощью
				</a>
			</li>
		</ul>

		<h3 id="college" class="section-subtitle">
			Условия питания и охраны здоровья обучающихся
		</h3>
		<h4 class="section-subtitle-small">
			Питание
		</h4>
		<p>
			Во всех учебных корпусах организовано горячее питание обучающихся силами привлеченных организаций.
		</p>
		<p>
			<b>Заключены договоры аренды:</b>
		</p>
		<ul class="customized">
			<li>
				Учебный корпус по адресу ул. Ленина 24 - ООО "Колибри" - столовая
			</li>
			<li>
				ИП Дияншина Л.В. - буфет
			</li>
			<li>
				Учебные корпуса по адресу проспект Космический 14А, ул. Б. Хмельницкого, д. 281 А, ул. Волховстроя, 5 -
				ИП Соловьева Р.Н. - буфеты.
			</li>
		</ul>
		<h4 class="section-subtitle-small">
			Охрана здоровья
		</h4>
		<p>
			С целью обеспечения качества питания студентов и работников колледжа ежегодно создается и работает
			бракеражная комиссия, которая ежедневно проверяет представленную продукцию, соблюдение работниками
			общественного питания норм организации питания в образовательной организации. В комиссию как правило входят
			медицинские работники корпусов, социальные педагоги.
		</p>

		<h3 id="lyceum" class="section-subtitle">
			Условия питания в инженерном лицее
		</h3>
		<h4 class="section-subtitle-small">
			Меню ежедневного горячего питания
		</h4>
		<p>
			Информация отсутствует
		</p>
		<h4 class="section-subtitle-small">
			Диетическое меню
		</h4>
		<p>
			Информация отсутствует
		</p>
		<h4 class="section-subtitle-small">
			Юрлица и ИП, оказывающих услуги по организации питания
		</h4>
		<ul class="customized">
			<li>
				1
			</li>
			<li>
				2
			</li>
		</ul>
		<h4 class="section-subtitle-small">
			Обратная связь
		</h4>
		<p>
			Форма обратной связи
		</p>
		
		<h3 id="have-question" class="section-subtitle">
			По вопросам обращаться
		</h3>
		<div class="question-contact">
			<div class="question-contact-head">
				<a class="question-contact-head-img-container" href="">
					<img src="~/images/people/Каменева Анна Григорьевна.jpg">
				</a>
				<p class="question-contact-head-fio">Каменева<br>Анна Григорьевна</p>
				<p class="question-contact-head-post">
					Заместитель директора
				</p>
			</div>
			<div class="question-contact-body">
				<p class="question-contact-body-phone">(3812) 31-44-65</p>
				<p class="question-contact-body-phone">(3812) 30-52-93</p>
				<p class="question-contact-body-email">kameneva@oat.ru</p>
				<p class="question-contact-body-address">г. Омск, ул. Ленина, д. 24, каб. 224</p>
				<p class="question-contact-body-time">ПН-ПТ 10:00-17:00</p>
			</div>
		</div>

	</section>
	<aside id="sidebar" class="sidebar long">
		<h3 class="sidebar-title">
			Сведения об образовательной организации
		</h3>
		<nav class="sidebar-body">
			<ul class="sidebar-links">
				<li class="sidebar-link">
					<a asp-page="CommonIntelligence">
						Основные сведения
					</a>
				</li>
				<li class="sidebar-link">
					<a asp-page="Structure">
						Структура и органы управления образовательной организацией
					</a>
				</li>
				<li class="sidebar-link">
					<a asp-page="Documents">
						Документы
					</a>
				</li>
				<li class="sidebar-link">
					<a asp-page="Education">
						Образование
					</a>
				</li>
				<li class="sidebar-link">
					<a asp-page="EducationalStandards">
						Образовательные стандарты и требования
					</a>
				</li>
				<li class="sidebar-link">
					<a asp-page="EducationalProcess">
						Организация воспитательного процесса
					</a>
				</li>
				<li class="sidebar-link">
					<a asp-page="Management">
						Руководство
					</a>
				</li>
				<li class="sidebar-link">
					<a asp-page="ManagementPedagogicalStaff">
						Педагогический (научно-педагогический) состав
					</a>
				</li>
				<li class="sidebar-link">
					<a asp-page="LogisticsAndAccessibleEnvironment">
						Материально-техническое обеспечение и оснащенность образовательного процесса. Доступная среда
					</a>
				</li>
				<li class="sidebar-link">
					<a asp-page="PaidEducationalServices">
						Платные образовательные услуги
					</a>
				</li>
				<li class="sidebar-link">
					<a asp-page="FinancialEconomicActivity">
						Финансово-хозяйственная деятельность
					</a>
				</li>
				<li class="sidebar-link">
					<a asp-page="VacanciesForAdmission">
						Вакантные места для приёма (перевода) обучающихся
					</a>
				</li>
				<li class="sidebar-link">
					<a asp-page="Vacancies">
						Вакансии
					</a>
				</li>
				<li class="sidebar-link">
					<a asp-page="InternationalCooperation">
						Международное сотрудничество
					</a>
				</li>
				<li class="sidebar-link">
					<a asp-page="StudentSupport">
						Стипендии и меры поддержки обучающихся
					</a>
				</li>
				<li class="sidebar-link">
					<a asp-page="Terrorism">
						Противодействие экстремизму и терроризму
					</a>
				</li>
				<li class="sidebar-link">
					<a asp-page="Corruption">
						Противодействие коррупции
					</a>
				</li>
				<li class="sidebar-link">
					<a asp-page="Library">
						Библиотека
					</a>
				</li>
				<li class="sidebar-link sidebar-link-selected">
					<a asp-page="Food">
						Организация питания в образовательной организации
					</a>
				</li>
				<li class="sidebar-link">
					<a href="https://www.oat.ru/students/TargetedTraining">
						Целевое обучение
					</a>
				</li>
			</ul>
		</nav>
	</aside>
</div>