@page
@model InternationalCooperationModel
@{
	ViewData["Title"] = "Международное сотрудничество";
}

<div class="container content-page">
	<section class="content">
		<h2 class="section-title">
			Международное сотрудничество
		</h2>

		<p>
			Международное образовательное сотрудничество БПОУ «Омавиат» ориентировано на установление долгосрочных
			отношений с приграничными и зарубежными колледжами и университетами в рамках образовательных и научных
			программ, а также на участие в международных форумах и конференциях.
		</p>

		<h4 class="section-subtitle-small">
			Основные направления международного образовательного сотрудничества академии
		</h4>
		<ul class="customized">
			<li>
				создание и обновление банка нормативно-правовой документации
			</li>
			<li>
				организация учебно-воспитательной деятельности
			</li>
			<li>
				координация научно-методической деятельности
			</li>
			<li>
				совместная реализация образовательных программ
			</li>
			<li>
				формирование оптимальной коммуникационной политики в рамках международного образовательного
				сотрудничества
			</li>
		</ul>
		<p>
			Коллеж на протяжении 5 лет осуществляет сотрудничество с образовательными учреждениями Республики Казахстан,
			Республики Таджикистан. За это время образовательные учреждения установили теплые, дружеские отношения.
		</p>
		<p>
			Международное сотрудничество значительно обогащает деятельность учебных заведений, расширяет сферу интересов
			и практических результатов в учебно-воспитательной, производственной, научно-методической работе, подготовке
			конкурентоспособных специалистов.
		</p>
		<div class="images-list-slider-container">
			<div class="images-list-slider">
				<img src="~/images/organizationInformation/internationalCooperation/inter-1.jpeg" alt="">
				<img src="~/images/organizationInformation/internationalCooperation/inter-2.jpeg" alt="">
				<img src="~/images/organizationInformation/internationalCooperation/inter-3.jpeg" alt="">
			</div>
		</div>

		<p>
			<b>
				Заключенные и планируемые к заключению договоры с иностранными и (или) международными организациями по
				вопросам образования и науки <i>отсутствуют</i>
			</b>
		</p>

	</section>

	<aside id="sidebar" class="sidebar long">
		<h3 class="sidebar-title">
			Сведения об образовательной организации
		</h3>
		<nav class="sidebar-body">
			<ul class="sidebar-links">
				<li class="sidebar-link">
					<a asp-page="CommonIntelligence">
						Основные сведения
					</a>
				</li>
				<li class="sidebar-link">
					<a asp-page="Structure">
						Структура и органы управления образовательной организацией
					</a>
				</li>
				<li class="sidebar-link">
					<a asp-page="Documents">
						Документы
					</a>
				</li>
				<li class="sidebar-link">
					<a asp-page="Education">
						Образование
					</a>
				</li>
				<li class="sidebar-link">
					<a asp-page="EducationalStandards">
						Образовательные стандарты и требования
					</a>
				</li>
				<li class="sidebar-link">
					<a asp-page="EducationalProcess">
						Организация воспитательного процесса
					</a>
				</li>
				<li class="sidebar-link">
					<a asp-page="Management">
						Руководство
					</a>
				</li>
				<li class="sidebar-link">
					<a asp-page="ManagementPedagogicalStaff">
						Педагогический (научно-педагогический) состав
					</a>
				</li>
				<li class="sidebar-link">
					<a asp-page="LogisticsAndAccessibleEnvironment">
						Материально-техническое обеспечение и оснащенность образовательного процесса. Доступная среда
					</a>
				</li>
				<li class="sidebar-link">
					<a asp-page="PaidEducationalServices">
						Платные образовательные услуги
					</a>
				</li>
				<li class="sidebar-link">
					<a asp-page="FinancialEconomicActivity">
						Финансово-хозяйственная деятельность
					</a>
				</li>
				<li class="sidebar-link">
					<a asp-page="VacanciesForAdmission">
						Вакантные места для приёма (перевода) обучающихся
					</a>
				</li>
				<li class="sidebar-link">
					<a asp-page="Vacancies">
						Вакансии
					</a>
				</li>
				<li class="sidebar-link sidebar-link-selected">
					<a asp-page="InternationalCooperation">
						Международное сотрудничество
					</a>
				</li>
				<li class="sidebar-link">
					<a asp-page="StudentSupport">
						Стипендии и меры поддержки обучающихся
					</a>
				</li>
				<li class="sidebar-link">
					<a asp-page="Terrorism">
						Противодействие экстремизму и терроризму
					</a>
				</li>
				<li class="sidebar-link">
					<a asp-page="Corruption">
						Противодействие коррупции
					</a>
				</li>
				<li class="sidebar-link">
					<a asp-page="Library">
						Библиотека
					</a>
				</li>
				<li class="sidebar-link">
					<a asp-page="Food">
						Организация питания в образовательной организации
					</a>
				</li>
				<li class="sidebar-link">
					<a href="https://www.oat.ru/students/TargetedTraining">
						Целевое обучение
					</a>
				</li>
			</ul>
		</nav>
	</aside>
</div>