@page
@model InternationalCooperationModel
@{
	ViewData["Title"] = "Международное сотрудничество";
}

<div class="container content-page">
	<section class="content">
		<h2 class="section-title">
			Международное сотрудничество
		</h2>
		
		<ul class="page-navigation">
			<li>
				<a href="#info">
					Общие сведения
				</a>
			</li>
			<li>
				<a href="#have-question">
					Обратиться за помощью
				</a>
			</li>
		</ul>
		
		<h3 id="info" class="section-subtitle">
			Общие сведения
		</h3>
		<p>
			Международное образовательное сотрудничество БПОУ «Омавиат» ориентировано на установление долгосрочных
			отношений с приграничными и зарубежными колледжами и университетами в рамках образовательных и научных
			программ, а также на участие в международных форумах и конференциях.
		</p>

		<h4 class="section-subtitle-small">
			Основные направления международного образовательного сотрудничества академии
		</h4>
		<ul class="customized">
			<li>
				создание и обновление банка нормативно-правовой документации
			</li>
			<li>
				организация учебно-воспитательной деятельности
			</li>
			<li>
				координация научно-методической деятельности
			</li>
			<li>
				совместная реализация образовательных программ
			</li>
			<li>
				формирование оптимальной коммуникационной политики в рамках международного образовательного
				сотрудничества
			</li>
		</ul>
		<p>
			Коллеж на протяжении 5 лет осуществляет сотрудничество с образовательными учреждениями Республики Казахстан,
			Республики Таджикистан. За это время образовательные учреждения установили теплые, дружеские отношения.
		</p>
		<p>
			Международное сотрудничество значительно обогащает деятельность учебных заведений, расширяет сферу интересов
			и практических результатов в учебно-воспитательной, производственной, научно-методической работе, подготовке
			конкурентоспособных специалистов.
		</p>
		<div class="images-list-slider-container">
			<div class="images-list-slider">
				<img src="~/images/organizationInformation/internationalCooperation/inter-1.jpeg" alt="">
				<img src="~/images/organizationInformation/internationalCooperation/inter-2.jpeg" alt="">
				<img src="~/images/organizationInformation/internationalCooperation/inter-3.jpeg" alt="">
			</div>
		</div>

		<p>
			<b>
				Заключенные и планируемые к заключению договоры с иностранными и (или) международными организациями по
				вопросам образования и науки <i>отсутствуют</i>
			</b>
		</p>
		
		<h3 id="have-question" class="section-subtitle">
			По вопросам обращаться
		</h3>
		<div class="question-contact">
			<div class="question-contact-head">
				<a class="question-contact-head-img-container" href="">
					<img src="~/images/people/Хохлова Тамара Петровна.jpeg" alt="">
				</a>
				<p class="question-contact-head-fio">Хохлова Тамара Петровна</p>
				<p class="question-contact-head-post">
					Заведующий отделением ЗОсДТ
				</p>
			</div>
			<div class="question-contact-body">
				<p class="question-contact-body-phone">
					(3812) 31-74-66
				</p>
				<p class="question-contact-body-address">г. Омск, ул. Ленина, д. 24, каб. 202А</p>
				<p class="question-contact-body-time">ПН-ПТ 8:00-16:00</p>
			</div>
		</div>
	</section>

	<aside id="sidebar" class="sidebar long">
		<h3 class="sidebar-title">
			Сведения об образовательной организации
		</h3>
		<nav class="sidebar-body">
			<ul class="sidebar-links">
				<li class="sidebar-link">
					<a asp-page="CommonIntelligence">
						Основные сведения
					</a>
				</li>
				<li class="sidebar-link">
					<a asp-page="Structure">
						Структура и органы управления образовательной организацией
					</a>
				</li>
				<li class="sidebar-link">
					<a asp-page="Documents">
						Документы
					</a>
				</li>
				<li class="sidebar-link">
					<a asp-page="Education">
						Образование
					</a>
				</li>
				<li class="sidebar-link">
					<a asp-page="EducationalStandards">
						Образовательные стандарты и требования
					</a>
				</li>
				<li class="sidebar-link">
					<a asp-page="EducationalProcess">
						Организация воспитательного процесса
					</a>
				</li>
				<li class="sidebar-link">
					<a asp-page="Management">
						Руководство
					</a>
				</li>
				<li class="sidebar-link">
					<a asp-page="ManagementPedagogicalStaff">
						Педагогический (научно-педагогический) состав
					</a>
				</li>
				<li class="sidebar-link">
					<a asp-page="LogisticsAndAccessibleEnvironment">
						Материально-техническое обеспечение и оснащенность образовательного процесса. Доступная среда
					</a>
				</li>
				<li class="sidebar-link">
					<a asp-page="PaidEducationalServices">
						Платные образовательные услуги
					</a>
				</li>
				<li class="sidebar-link">
					<a asp-page="FinancialEconomicActivity">
						Финансово-хозяйственная деятельность
					</a>
				</li>
				<li class="sidebar-link">
					<a asp-page="VacanciesForAdmission">
						Вакантные места для приёма (перевода) обучающихся
					</a>
				</li>
				<li class="sidebar-link">
					<a asp-page="Vacancies">
						Вакансии
					</a>
				</li>
				<li class="sidebar-link sidebar-link-selected">
					<a asp-page="InternationalCooperation">
						Международное сотрудничество
					</a>
				</li>
				<li class="sidebar-link">
					<a asp-page="StudentSupport">
						Стипендии и меры поддержки обучающихся
					</a>
				</li>
				<li class="sidebar-link">
					<a asp-page="Terrorism">
						Противодействие экстремизму и терроризму
					</a>
				</li>
				<li class="sidebar-link">
					<a asp-page="Corruption">
						Противодействие коррупции
					</a>
				</li>
				<li class="sidebar-link">
					<a asp-page="Library">
						Библиотека
					</a>
				</li>
				<li class="sidebar-link">
					<a asp-page="Food">
						Организация питания в образовательной организации
					</a>
				</li>
				<li class="sidebar-link">
					<a href="https://www.oat.ru/students/TargetedTraining">
						Целевое обучение
					</a>
				</li>
			</ul>
		</nav>
	</aside>
</div>