@page
@model LibraryModel
@{
	ViewData["Title"] = "Библиотека";
}

<link rel="stylesheet" href="~/css/organizationInformation/library.css" asp-append-version="true">
<div class="container content-page">
	<section class="content">
		<a id="plane" class="plane" href="#sidebar"></a>
		<h2 class="section-title">
			Библиотека
		</h2>

		<ul class="page-navigation">
			<li>
				<a href="#about-library">
					О библиотеке
				</a>
			</li>
			<li>
				<a href="#work-timetable">
					График работы
				</a>
			</li>
			<li>
				<a href="#people">
					Сотрудники
				</a>
			</li>
			<li>
				<a href="#ebs">
					Электронно-библиотечные системы
				</a>
			</li>
		</ul>

		<h3 id="about-library" class="section-subtitle">
			Главное о библиотеке
		</h3>
		<img class="customized library-logo" src="~/images/organizationInformation/library/biblioteka_logo.png" alt="">
		<div class="library-main-text">
			<p>
				Наша библиотека – это информационный центр с регулярно обновляющимся многообразным фондом. Коллектив
				библиотеки работает в сотрудничестве с преподавателями, принимает активное участие в
				учебно-воспитательном процессе. Для студентов проводятся конференции, информационные беседы,
				презентации, беседы-консультации по работе со справочным аппаратом библиотеки. Оформляются выставки к
				праздничным и юбилейным датам. Фонд нашей библиотеки насчитывает более 71 тысяч экземпляров изданий. В
				основном это учебная, учебно-методическая и справочная литература.
			</p>
			<p>
				В фонде библиотеки хранятся великолепные издания по искусству. Достаточно хороший фонд художественной
				литературы. Есть полные собрания сочинений классиков русской и зарубежной литературы.
			</p>
			<p>
				Справочно-библиографический аппарат библиотеки ведётся в автоматизированном режиме в программе «1С
				Библиотека колледжа, версия 8.0», с возможностью размещения полнотекстовых документов, на которых не
				распространяется авторское право и методические пособия, разработанные преподавателями нашего колледжа.
			</p>
			<p>
				Ежегодно оформляется подписка на периодические издания. В настоящее время мы получаем 8 наименований
				периодических изданий.
			</p>
			<p>
				Есть библиотеки на ППКРС с отдельно выделенным фондом, обеспечивающим учебный процесс, с читальными
				залами.
			</p>
			<p>
				Справочно-библиографический аппарат библиотеки ведётся в автоматизированном режиме в программе «1С
				Библиотека колледжа, версия 8.2», с возможностью размещения полнотекстовых документов, на которых не
				распространяется авторское право и методические пособия, разработанные преподавателями нашего колледжа.
				Доступ к электронному каталогу осуществляется с любого компьютера нашего колледжа, имеющему доступ к
				корпоративной вычислительной сети. Чтобы приступить к использованию электронного каталога, перейдите по
				<a href="https://lib.oat.ru/ru_RU/mainform.html?sysver=8.2.19.130">ссылке</a>
			</p>
			<p>
				Обеспечен доступ к электронно-библиотечным системе «Образовательная платформа ЮРАЙТ» (Договор № 6269 от
				22.12.2023 г.). Все пользователи библиотеки имеют право доступа к электронно-библиотечной системе (ЭБС).
			</p>
			<p>
				Работа библиотеки колледжа ведется в соответствии с «Положением о библиотеке» и годовым планом работы
				библиотеки, согласованным с общим планом работы колледжа.
			</p>
			<p>
				Библиотека ведет страницу в <a href="https://vk.com/biblioat" target="_blank">социальной сети
					ВКонтате</a>
			</p>
			<img src="/images/organizationInformation/library/qrcode.png" class="customized" alt=""/>
		</div>


		<h3 id="work-timetable" class="section-subtitle">
			График работы библиотеки
		</h3>
		<div class="library-timetable">
			<div class="library-timetable-item">
				<div class="library-timetable-item-head">
					Заведующий библиотекой
				</div>
				<div class="library-timetable-item-body">
					<div class="library-timetable-item-body-row">
						<span>
							ПН-ПТ:
						</span>
						<span>
							08.00-17.00
						</span>
					</div>
					<div class="library-timetable-item-body-row">
						<span>
							обед:
						</span>
						<span>
							12.00-13.00
						</span>
					</div>
					<div class="library-timetable-item-body-row">
						<span>
							выходной:
						</span>
						<span>
							суббота, воскресенье
						</span>
					</div>
				</div>
			</div>
			<div class="library-timetable-item">
				<div class="library-timetable-item-head">
					Главный корпус
				</div>
				<div class="library-timetable-item-body">
					<div class="library-timetable-item-body-row">
						<span>
							ПН-ПТ:
						</span>
						<span>
							08.00-19.00
						</span>
					</div>
					<div class="library-timetable-item-body-row">
						<span>
							СБ:
						</span>
						<span>
							08.00-15.00
						</span>
					</div>
					<div class="library-timetable-item-body-row">
						<span>
							выходной:
						</span>
						<span>
							воскресенье
						</span>
					</div>
				</div>
			</div>
			<div class="library-timetable-item">
				<div class="library-timetable-item-head">
					Филиалы
				</div>
				<div class="library-timetable-item-body">
					<div class="library-timetable-item-body-row">
						<span>
							ПН-ПТ:
						</span>
						<span>
							08.00-17.00
						</span>
					</div>
					<div class="library-timetable-item-body-row">
						<span>
							обед:
						</span>
						<span>
							12.00-13.00
						</span>
					</div>
					<div class="library-timetable-item-body-row">
						<span>
							выходной:
						</span>
						<span>
							суббота, воскресенье
						</span>
					</div>
				</div>
			</div>
			<div class="library-timetable-item">
				<div class="library-timetable-item-head">
					Последняя пятница месяца
				</div>
				<div class="library-timetable-item-body">
					<div class="library-timetable-item-body-row">
						санитарный день
					</div>
				</div>
			</div>
		</div>


		<h3 id="people" class="section-subtitle">
			Сотрудники библиотеки
		</h3>
		<ul class="people-list">
			<li class="people-item">
				<a class="people-item-img-container" href="">
					<img src="~/images/people/Мельник Ирина Олеговна.jpg" alt="">
				</a>
				<div class="people-item-body">
					<div class="people-item-body-fio">
						Мельник Ирина Олеговна
					</div>
					<div class="people-item-body-job">
						Библиотекарь
					</div>
				</div>
			</li>
			<li class="people-item">
				<a class="people-item-img-container" href="">
					<img src="~/images/people/Карнаухова Алена Викторовна.jpg" alt="">
				</a>
				<div class="people-item-body">
					<div class="people-item-body-fio">
						Карнаухова Алена Викторовна
					</div>
					<div class="people-item-body-job">
						Библиотекарь
					</div>
				</div>
			</li>
			<li class="people-item">
				<a class="people-item-img-container" href="">
					<img src="~/images/people/Головачева Любовь Николаевна.jpg" alt="">
				</a>
				<div class="people-item-body">
					<div class="people-item-body-fio">
						Головачева Любовь Николаевна
					</div>
					<div class="people-item-body-job">
						Библиотекарь 1 категории
					</div>
				</div>
			</li>
			<li class="people-item">
				<a class="people-item-img-container" href="">
					<img src="~/images/people/Горюнова Вера Феликсовна.jpg" alt="">
				</a>
				<div class="people-item-body">
					<div class="people-item-body-fio">
						Горюнова Вера Феликсовна
					</div>
					<div class="people-item-body-job">
						Заведующий библиотекой
					</div>
				</div>
			</li>
			<li class="people-item">
				<a class="people-item-img-container" href="">
					<img src="~/images/people/Вихрова Лидия Юрьевна.jpg" alt="">
				</a>
				<div class="people-item-body">
					<div class="people-item-body-fio">
						Вихрова Лидия Юрьевна
					</div>
					<div class="people-item-body-job">
						Библиотекарь
					</div>
				</div>
			</li>
		</ul>


		<h3 id="ebs" class="section-subtitle">
			Электронно-библиотечные системы
		</h3>
		<h4 class="section-subtitle-small">
			Юрайт
		</h4>
		<p>
			Образовательная платформа «Юрайт» — это онлайн-ресурс и электронная библиотека для студентов и
			преподавателей. На платформе представлены учебные курсы и учебники от ведущих университетов по всем
			специальностям и направлениям подготовки, а также медиаматериалы, интерактивный фонд оценочных средств и
			различные сервисы для преподавателей.
		</p>
		<ul class="customized">
			<li>
				<a href="https://urait.ru/">Курсы, учебники, видео</a> онлайн практически по любому предмету;
			</li>
			<li>
				Дополнительная литература для рефератов и курсовых;
			</li>
			<li>
				<a href="https://urait.ru/info/tests">Тесты:</a> успешная самоподготовка к экзаменам;
			</li>
			<li>
				Онлайн-курс <a href="https://urait.ru/online-course/view/7">Современный студент</a>: Soft Skills +
				сертификат.
			</li>
		</ul>
		<p>
			Мы ждем вас и ваших сокурсников!
		</p>
		<p>
			За доступом в электронно-библиотечную систему обратитесь в библиотеку. или <a
				href="https://urait.ru/register?utm_source=news&utm_medium=webpage&utm_campaign=register_2023&utm_content=link&utm_term=registrationnews">регистрируйтесь
				прямо сейчас!</a>
		</p>
		<img src="/images/organizationInformation/library/urite.jpg" class="customized" alt=""/>


		<div class="section-subtitle">
			Документы
		</div>

		<ul class="documents-list little">
			<li class="document-item">
				<div class="document-item-head">
					<a target="_blank" href="~/documents/organizationInformation/library/pologenieOBiblioteke.pdf">
					</a>
				</div>
				<div class="document-item-body">
					Положение о библиотеке
				</div>
			</li>
			<li class="document-item">
				<div class="document-item-head">
					<a target="_blank" href="~/documents/organizationInformation/library/pravilaPolzivania.doc">
					</a>
				</div>
				<div class="document-item-body">
					Правила пользования библиотекой колледжа
				</div>
			</li>
			<li class="document-item">
				<div class="document-item-head">
					<a target="_blank" href="~/documents/organizationInformation/library/electroniKatalog.pdf">
					</a>
				</div>
				<div class="document-item-body">
					Электронный каталог (инструкция пользователя)
				</div>
			</li>
		</ul>
	</section>
	<aside id="sidebar" class="sidebar long">
		<h3 class="sidebar-title">
			Сведения об образовательной организации
		</h3>
		<nav class="sidebar-body">
			<ul class="sidebar-links">
				<li class="sidebar-link">
					<a asp-page="CommonIntelligence">
						Основные сведения
					</a>
				</li>
				<li class="sidebar-link">
					<a asp-page="Structure">
						Структура и органы управления образовательной организацией
					</a>
				</li>
				<li class="sidebar-link">
					<a asp-page="Documents">
						Документы
					</a>
				</li>
				<li class="sidebar-link">
					<a asp-page="Education">
						Образование
					</a>
				</li>
				<li class="sidebar-link">
					<a asp-page="EducationalStandards">
						Образовательные стандарты и требования
					</a>
				</li>
				<li class="sidebar-link">
					<a asp-page="EducationalProcess">
						Организация воспитательного процесса
					</a>
				</li>
				<li class="sidebar-link">
					<a asp-page="Management">
						Руководство
					</a>
				</li>
				<li class="sidebar-link">
					<a asp-page="ManagementPedagogicalStaff">
						Педагогический (научно-педагогический) состав
					</a>
				</li>
				<li class="sidebar-link">
					<a asp-page="LogisticsAndAccessibleEnvironment">
						Материально-техническое обеспечение и оснащенность образовательного процесса. Доступная среда
					</a>
				</li>
				<li class="sidebar-link">
					<a asp-page="PaidEducationalServices">
						Платные образовательные услуги
					</a>
				</li>
				<li class="sidebar-link">
					<a asp-page="FinancialEconomicActivity">
						Финансово-хозяйственная деятельность
					</a>
				</li>
				<li class="sidebar-link">
					<a asp-page="VacanciesForAdmission">
						Вакантные места для приема (перевода) обучающихся
					</a>
				</li>
				<li class="sidebar-link">
					<a asp-page="Vacancies">
						Вакансии
					</a>
				</li>
				<li class="sidebar-link">
					<a asp-page="InternationalCooperation">
						Международное сотрудничество
					</a>
				</li>
				<li class="sidebar-link">
					<a asp-page="StudentSupport">
						Стипендии и меры поддержки обучающихся
					</a>
				</li>
				<li class="sidebar-link">
					<a asp-page="Terrorism">
						Противодействие экстремизму и терроризму
					</a>
				</li>
				<li class="sidebar-link">
					<a asp-page="Corruption">
						Противодействие коррупции
					</a>
				</li>
				<li class="sidebar-link sidebar-link-selected">
					<a asp-page="Library">
						Библиотека
					</a>
				</li>
				<li class="sidebar-link">
					<a asp-page="Food">
						Организация питания в образовательной организации
					</a>
				</li>
				<li class="sidebar-link">
					<a href="https://www.oat.ru/students/TargetedTraining">
						Целевое обучение
					</a>
				</li>
			</ul>
		</nav>
	</aside>
</div>