@page
@model LogisticsAndAccessibleEnvironmentModel
@{
	ViewData["Title"] = "Материально-техническое обеспечение и оснащенность образовательного процесса. Доступная среда";
}

<div class="container content-page">
	<section class="content">
		<a id="plane" class="plane" href="#sidebar"></a>
		<h2 class="section-title">
			Материально-техническое обеспечение и оснащенность образовательного процесса. Доступная среда
		</h2>

		<ul class="page-navigation">
			<li>
				<a href="#equipped-classrooms">
					Кабинеты
				</a>
			</li>
			<li>
				<a href="#practical-exercises">
					Проведение практических занятий
				</a>
			</li>
			<li>
				<a href="#library">
					Библиотеки
				</a>
			</li>
			<li>
				<a href="#sport">
					Спорт
				</a>
			</li>
			<li>
				<a href="#knowledge">
                    Средства обучения и воспитания
				</a>
			</li>
			<li>
				<a href="#information-security">
					Информационная обеспеченность
				</a>
			</li>
			<li>
				<a href="#educational-resources">
					Образовательные ресурсы
				</a>
			</li>
            <li>
                <a href="#program">
                    Доступная среда в Омавиат
                </a>
            </li>
            <li>
                <a href="#inclusive-education">
                    Инклюзивное образование
                </a>
            </li>
            <li>
                <a href="#disabled-people">
                    Обучения инвалидов и лиц с ОВЗ
                </a>
            </li>
            <li>
                <a href="#hotline">
                    Горячая линия
                </a>
            </li>
            <li>
                <a href="#have-question">
                    Обратиться за помощью
                </a>
            </li>
		</ul>


		<h3 id="equipped-classrooms" class="section-subtitle">
			Учебные кабинеты
		</h3>
		<p>
			Сведения о наличии оборудованных учебных кабинетов, объектов для проведения практических занятий, в том числе приспособленных для использования инвалидами и лицами с ограниченными возможностями здоровья.
		</p>
		<p>
			Обеспечение доступа лиц с ограниченными возможностями здоровья и инвалидов в здания, аудитории, туалетные и другие помещения, а так же их пребывание в указанных помещениях.
			<br>
			Наличие доступа: да
			<br>
			В том числе наличие Пандусов: да
			<br>
			Подъемников: да
			<br>
			Поручней: да
			<br>
			Расширенных дверных проемов: да
			<br>
			Лифтов: да
		</p>


		<h3 id="practical-exercises" class="section-subtitle">
			Объекты для проведения практических занятий
		</h3>
        <ul class="documents-list little">
            <li class="document-item">
                <div class="document-item-head">
                    <a target="_blank" href="~/documents/organizationInformation/logisticsAndAccessibleEnvironment/Места проведения практической подготовки обучающихся.pdf">
                    </a>
                </div>
                <div class="document-item-body">
                    Места проведения практической подготовки обучающихся
                </div>
            </li>
            <li class="document-item">
                <div class="document-item-head">
                    <a target="_blank" href="~/documents/organizationInformation/logisticsAndAccessibleEnvironment/Места проведения практики.pdf">
                    </a>
                </div>
                <div class="document-item-body">
                    Места проведения практики.pdf
                </div>
            </li>
        </ul>
        

		
		<h3 id="library" class="section-subtitle">
			Библиотеки
		</h3>
		<table class="customized">
			<thead>
				<tr>
					<th rowspan="2">
						Адрес
					</th>
					<th colspan="2">
						Посадочных мест
					</th>
					<th colspan="2">
						Площадь
					</th>
					<th rowspan="2">
						График работы
					</th>
					<th rowspan="2">
						Приспособленность для использования инвалидами и лицами с ОВЗ
					</th>
				</tr>
				<tr>
					<th>
						всего
					</th>
					<th>
						приспособленных для использования инвалидами и лицами с ОВЗ
					</th>
					<th>
						всего
					</th>
					<th>
						приспособленная для использования инвалидами и лицами с ОВЗ
					</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>
						Ленина, 24
					</td>
					<td>
						42
					</td>
					<td>
						180 (114 – читальный зал)
					</td>
					<td>
						1
					</td>
					<td>
						114
					</td>
					<td>
						ПН-ПТ 8:00-19:00
						<br>
						<br>
						СБ 8:00-15:00
					</td>
					<td>
						да
					</td>
				</tr>
				<tr>
					<td>
						Волховстроя, 5
					</td>
					<td>
						12
					</td>
					<td>
						160 (53 – читальный зал)
					</td>
					<td>
						0
					</td>
					<td>
						53
					</td>
					<td>
						ПН-ПТ 8:00-17:00
					</td>
					<td>
						нет
					</td>
				</tr>
				<tr>
					<td>
						Б. Хмельницкого, 281а
					</td>
					<td>
						30
					</td>
					<td>
						131 (65 – читальный зал)
					</td>
					<td>
						0
					</td>
					<td>
						65
					</td>
					<td>
						ПН-ПТ 8:00-17:00
					</td>
					<td>
						нет
					</td>
				</tr>
				<tr>
					<td>
						Космический проспект, 14а
					</td>
					<td>
						33
					</td>
					<td>
						172 (110 – читальный зал)
					</td>
					<td>
						1
					</td>
					<td>
						110
					</td>
					<td>
						ПН-ПТ 8:00-17:00
					</td>
					<td>
						да
					</td>
				</tr>
			</tbody>
		</table>
		<p>
			<a asp-page="Library">
				Более подробная информация о библиотеках нашего учебного заведения
			</a>
		</p>


		<h3 id="sport" class="section-subtitle">
			Объекты спорта
		</h3>
		<p>
			Данные об объектах спорта, в том числе приспособленных для использования инвалидами и лицами с ограниченными возможностями здоровья.
		</p>


        <h3 id="knowledge" class="section-subtitle">
			Средства обучения и воспитания
		</h3>
		<p>
			Наличие возможности развития творческих способностей и интересов обучающихся, включая их участие в конкурсах и олимпиадах (в том числе во всероссийских и международных), выставках, смотрах, физкультурных мероприятиях, спортивных мероприятиях, в том числе в официальных спортивных соревнованиях, и других массовых мероприятиях.
		</p>
		<p>
			Сведения о наличии средств обучения и воспитания, в том числе приспособленных для использования инвалидами и лицами с ограниченными возможностями здоровья
			<br>
			нет
		</p>
		<p>
			Условия для индивидуальной работы с обучающимися:
		</p>
		<ul class="customized">
			<li>
				Имеются спортивные секции
			</li>
			<li>
				Проводятся психологические и социологические исследования, опросы
			</li>
		</ul>


		<h3 id="information-security" class="section-subtitle">
			Информационная обеспеченность
		</h3>
		<p>
			Сведения о доступе к информационным системам и информационно-телекоммуникационным сетям, к которым обеспечивается доступ обучающихся, в том числе приспособленных для использования инвалидами и лицами с ограниченными возможностями здоровья. Сведения о доступе к электронной информационно-образовательной среде и электронным ресурсам, к которым обеспечивается доступ обучающихся.
		</p>
		<p>
			Наличие в образовательной организации электронной информационно-образовательной среды
			<br>
			Общее количество компьютеров с выходом в информационно-телекоммуникационную сеть «Интернет», к которым имеют доступ обучающиеся
			<br>
			Общее количество ЭБС, к которым имеют доступ обучающиеся (собственных или на договорной основе)
			<br>
			Наличие собственных электронных образовательных и информационных ресурсов
			<br>
			Наличие сторонних электронных образовательных и информационных ресурсов
			<br>
			Наличие базы данных электронного каталога(количество)
		</p>
		<p>
			В колледже построена сетевая инфраструктура, которая обеспечивает подключение всех пользователей на скорости 100Мбит/с. Локальная сеть обеспечивает подключение компьютеров для обучающихся и преподавателей и предоставляет доступ к электронным образовательным ресурсам, сервисам и сети Интернет. Доступ к сетевой инфраструктуре для инвалидов и лиц с ограниченными возможностями здоровья: частично избирательно Основной интернет сайт колледжа имеет специальную версию для слабовидящих.
		</p>
		<table class="customized">
			<thead>
				<tr>
					<th rowspan="2">
						Наименование показателей
					</th>
					<th colspan="3">
						Количество
					</th>
				</tr>
				<tr>
					<th>
						всего
					</th>
					<th>
						для учебных целяй
					</th>
					<th>
						для обучающихся в свободное от основных занятий время
					</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>
						Персональные компьютеры – всего
					</td>
					<td>
						165
					</td>
					<td>
						85
					</td>
					<td>
						4
					</td>
				</tr>
				<tr>
					<td>
						Ноутбуки и другие портативные персональные компьютеры (кроме планшетных)
					</td>
					<td>
						31
					</td>
					<td>
						12
					</td>
					<td>
						0
					</td>
				</tr>
				<tr>
					<td>
						Планшетные компьютеры, находящиеся в составе локальных вычислительных сетей
					</td>
					<td>
						85
					</td>
					<td>
					   73
					</td>
					<td>
						4
					</td>
				</tr>
				<tr>
					<td>
						Планшетные компьютеры, имеющие доступ к Интернету
					</td>
					<td>
						85
					</td>
					<td>
						73
					</td>
					<td>
						4
					</td>
				</tr>
				<tr>
					<td>
						Планшетные компьютеры, поступившие в отчетном году
					</td>
					<td>
						6
					</td>
					<td>
						6
					</td>
					<td>
						0
					</td>
				</tr>
				<tr>
					<td>
						Электронные терминалы (инфоматы)
					</td>
					<td>
						0
					</td>
					<td>
						0
					</td>
					<td>
						0
					</td>
				</tr>
				<tr>
					<td>
						Электронные терминалы с доступом к ресурсам Интернета
					</td>
					<td>
						0
					</td>
					<td>
						0
					</td>
					<td>
						0
					</td>
				</tr>
				<tr>
					<td>
						Мультимедийные проекторы
					</td>
					<td>
						10
					</td>
					<td>
						0
					</td>
					<td>
						0
					</td>
				</tr>
				<tr>
					<td>
						Интерактивные доски
					</td>
					<td>
						2
					</td>
					<td>
						0
					</td>
					<td>
						0
					</td>
				</tr>
				<tr>
					<td>
						Принтеры
					</td>
					<td>
						21
					</td>
					<td>
						0
					</td>
					<td>
						0
					</td>
				</tr>
				<tr>
					<td>
						Сканеры
					</td>
					<td>
						3
					</td>
					<td>
						0
					</td>
					<td>
						0
					</td>
				</tr>
				<tr>
					<td>
						Многофункциональные устройства (МФУ, выполняющие операции печати, сканирования, копирования)
					</td>
					<td>
						19
					</td>
					<td>
						0
					</td>
					<td>
						0
					</td>
				</tr>
			</tbody>
		</table>

        <div class="document-item">
            <div class="document-item-head">
                <a target="_blank" href="~/documents/organizationInformation/logisticsAndAccessibleEnvironment/МТО для сайта.pdf">
                </a>
            </div>
            <div class="document-item-body">
                Полный перечень оборудования
            </div>
        </div>



		<h3 id="educational-resources" class="section-subtitle">
			Электронные образовательные ресурсы
		</h3>
		<h4 class="section-subtitle-small">
			Собственные (при наличии)
		</h4>
		<h4 class="section-subtitle-small">
			Сторонние
		</h4>
		<ul class="customized">
			<li>
				<a href="http://xn--80abucjiibhv9a.xn--p1ai/">Министерство образования и науки Российской Федерации</a>
			</li>
			<li>
				<a href="http://www.edu.ru/">Федеральный портал «Российское образование»</a>
			</li>
			<li>
				<a href="http://school-collection.edu.ru/">Единая коллекция цифровых образовательных ресурсов</a>
			</li>
			<li>
				<a href="http://window.edu.ru/">Информационная система «Единое окно доступа к образовательным ресурсам</a>
			</li>
			<li>
				<a href="http://fcior.edu.ru/">Федеральный центр информационно-образовательных ресурсов</a>
			</li>
			<li>
				<a href="https://olden.rsl.ru/">Российская государственная библиотека (РГБ)</a>
			</li>
			<li>
				<a href="http://www.nlr.ru/">Российская национальная библиотека (РНБ)</a>
			</li>
			<li>
				<a href="http://www.gpntb.ru/">Государственная публичная научно-техническая библиотека России</a>
			</li>
		</ul>
		<b>Библиотеки Омска:</b>
		<ul class="customized">
			<li>
				<a href="http://old.omsklib.ru/info/index.htm">Информационно-библиотечные ресурсы Омской области</a>
			</li>
			<li>
				<a href="http://omcls.omskreg.ru/">Корпоративная библиотечная система Омского региона</a>
			</li>
		</ul>
		<b>Периодические издания:</b>
		<ul class="customized">
			<li>
				<a href="http://list.mail.ru/10966/1/0_1_0_1.html">Список газет на List.ru</a>
			</li>
			<li>
				<a href="http://list.mail.ru/10967/1/0_1_0_1.html">Список журналов на List.ru</a>
			</li>
			<li>
				<a href="http://magazines.russ.ru/">Журнальный зал</a>
			</li>
			<li>
				<a href="https://www.public.ru/">Публичная интернет библиотека</a>
			</li>
			<li>
				<a href="http://tih.kubsu.ru/informatsionnie-resursi/elektronnie-resursi-nb.html">Электронные библиотечные системы и ресурсы</a>
			</li>
			<li>
				<a href="https://www.book.ru/">Электронно-библиотечная система BOOK.ru</a>
			</li>
			<li>
				<a href="http://www.academia-moscow.ru/elibrary/">Электронная библиотека издательского центра «Академия»</a>
			</li>
		</ul>


        <h3 id="educational-resources" class="section-subtitle">
            Общежитие
        </h3>
        <p>
            Количество жилых помещений в общежитии, интернате, формировании платы за проживание в общежитии
        </p>


        <h3 class="section-subtitle" id="program">
            Обеспечение доступа в здания образовательной организации
        </h3>
        <p>
            В настоящее  бюджетное профессиональное образовательное учреждение "Омский авиационный колледж имени Н.Е. Жуковского" готов предоставить пакет условий технической и социально-педагогической поддержки лиц с ОВЗ:
        </p>
        <ul class="customized">
            <li>
                созданы необходимые условия для их обучения, устранены физические, организационные и информационные барьеры
            </li>
            <li>
                установлен пандус и оборудована входная группа в корпусе №1 (г. Омск, ул. Ленина, д. 24)
            </li>
            <li>
                установлен пандус, оборудована входная группа, установлена внутренняя дверь столовой в корпусе №1 (г. Омск, ул. Ленина, д. 24)
            </li>
            <li>
                установлена внутренняя дверь учебной аудитории, произведен ремонт санитарно-гигиенических помещений (установлен специализированный санузел)
            </li>
            <li>
                оборудован учебный кабинет
            </li>
            <li>
                установлен  специальный лифт
            </li>
            <li>
                решается вопрос об обеспечении транспортной доставки обучающихся с ОВЗ в ОУ
            </li>
            <li>
                разработана специальная документация по организации образовательного процесса для обучения лиц с ОВЗ, в том числе оснащенности образовательного процесса
            </li>
        </ul>
        <div class="images-list-slider-container">
            <div class="images-list-slider">
                <!-- elevator -->
                <img src="~/images/organizationInformation/logisticsAndAccessibleEnvironment/podemnaiaPlatfotma1etag.jpg" alt="">
                <img src="~/images/organizationInformation/logisticsAndAccessibleEnvironment/podemnaiaPlatfotma2etag.jpg" alt="">
                <img src="~/images/organizationInformation/logisticsAndAccessibleEnvironment/upravleniePodemnoiPlatformoi.jfif" alt="">
                <!-- doors -->
                <img src="~/images/organizationInformation/logisticsAndAccessibleEnvironment/vxodVStolovuiu.jfif" alt="">
                <img src="~/images/organizationInformation/logisticsAndAccessibleEnvironment/dvernieProemi1.jfif" alt="">
                <img src="~/images/organizationInformation/logisticsAndAccessibleEnvironment/dvernieProemi2.jfif" alt="">
                <!-- porucni -->
                <img src="~/images/organizationInformation/logisticsAndAccessibleEnvironment/panduciPorucniDveri.jpg" alt="">
                <img src="~/images/organizationInformation/logisticsAndAccessibleEnvironment/pandusPorucniActoviZal1.jfif" alt="">
                <img src="~/images/organizationInformation/logisticsAndAccessibleEnvironment/pandusPorucniActoviZal2.jfif" alt="">
                <img src="~/images/organizationInformation/logisticsAndAccessibleEnvironment/porucniUnitaza.jfif">

                <img src="~/images/organizationInformation/logisticsAndAccessibleEnvironment/raspashnaiaKalitka.jpg" alt="">
            </div>
        </div>
        <p>
            Коллектив колледжа готов работать в формате инклюзии: осваивать новые технологии обучения, социального и психолого-педагогического сопровождения обучающихся  с ОВЗ, создать среду максимального комфорта и мотивации к получению профессионального образования, отвечающего всем требованиям современного общества.
        </p>

        <h3 id="inclusive-education" class="section-subtitle">
            Нормативное обеспечение инклюзивного образования
        </h3>
        <ul class="documents-list">
            <li class="document-item">
                <div class="document-item-head">
                    <a target="_blank" href="~/documents/organizationInformation/logisticsAndAccessibleEnvironment/sodeistvieTrudoustroistvu.pdf">
                    </a>
                </div>
                <div class="document-item-body">
                    Программа содействия трудоустройству выпускников БПОУ «Омавиат» из числа инвалидов и лиц с ОВЗ
                </div>
            </li>
            <li class="document-item">
                <div class="document-item-head">
                    <a target="_blank" href="~/documents/organizationInformation/logisticsAndAccessibleEnvironment/obucenieInvalidov.pdf">
                    </a>
                </div>
                <div class="document-item-body">
                    Положение об организации обучения студентов-инвалидов и студентов с ОВЗ в БПОУ «Омавиат»
                </div>
            </li>
            <li class="document-item">
                <div class="document-item-head">
                    <a target="_blank" href="~/documents/organizationInformation/logisticsAndAccessibleEnvironment/naRavnix.pdf">
                    </a>
                </div>
                <div class="document-item-body">
                    Комплексная целевая программа «На равных», адаптационная образовательная среда в БПОУ «Омавиат»
                </div>
            </li>
            <li class="document-item">
                <div class="document-item-head">
                    <a target="_blank" href="~/documents/organizationInformation/logisticsAndAccessibleEnvironment/pasportDostupnosti.pdf">
                    </a>
                </div>
                <div class="document-item-body">
                    Паспорт доступности
                </div>
            </li>
        </ul>


        <h3 id="disabled-people" class="section-subtitle">
            Приспособленность материально-технической базы для обучения инвалидов и лиц с ОВЗ
        </h3>
        <p>
            Материально-техническое обеспечение образовательной деятельности, в том числе наличие оборудованных учебных кабинетов, объектов для проведения практических занятий, объектов спорта, в том числе приспособленных для использования инвалидами и лицами с ограниченными возможностями здоровья
        </p>
        <ol class="customized">
            <li>
                В учебных кабинетах имеются
                мультимедийные средства, оргтехника,
                компьютерная техника, аудиотехника,
                видеотехника (мультимедийный проектор), электронная доска
            </li>
            <li>
                Учебные кабинеты оборудованы специализированной мебелью и выделенным рабочим местом в максимальной доступности для лиц с ОВЗ
            </li>
        </ol>
        <p>
            Обеспечение доступа в здания образовательной организации инвалидов и лиц с ограниченными возможностями здоровья
        </p>
        <ol class="customized">
            <li>
                Оборудован специализированный пандус
            </li>
            <li>
                У входной группы располагаются специализированные напольные тактильные и указатели
            </li>
            <li>
                Лестница входной группы оборудована специализированными поручнями
            </li>
            <li>
                Для обеспечения доступности лиц с нарушением зрения на всей территории колледжа выполнена сигнальная контрастная разметка
            </li>
        </ol>
        <p>
            Создание условий и охраны здоровья обучающихся, в том числе инвалидов и лиц с ограниченными возможностями здоровья
        </p>
        <ol class="customized">
            <li>
                Обеспечена доступность путей движения с наличием средств информационно-навигационной поддержки, контрастная окраска дверей и лестниц
            </li>
            <li>
                Санитарные узлы оборудованы всем необходимым для лиц с ОВЗ (поручни, кнопки вызова персонала и т.д.)
            </li>
            <li>
                Для перемещения по этажам лиц с нарушением опорно-двигательного аппарата передвигающихся на коляске имеется лифт
            </li>
            <li>
                Помещение столовой оборудовано специализированным местом для лиц с ОВЗ с максимальной доступностью
            </li>
            <li>
                В здании колледжа оборудована система настенной тактильной информации
            </li>
        </ol>
        <h4 class="section-subtitle-small">
            Наличие специальных технических средств обучения коллективного и индивидуального пользования
        </h4>
        <p>
            Обеспечение обучающихся с ограниченными возможностями здоровья, инвалидностью печатными и электронными образовательными ресурсами осуществляется на общих основаниях, при необходимости подбор и разработка учебных материалов производится с учетом специфических особенностей их восприятия, предоставляется в различных формах
        </p>
        <p>
            Омавиат предоставляет пакет условий технической и социально-педагогической поддержки лиц с ОВЗ. Созданы необходимые условия для их обучения. Установлен специальный лифт.
        </p>
        <img class="customized" src="~/images/organizationInformation/logisticsAndAccessibleEnvironment/specialniLift.png" alt="">
        <p>
            Коллектив колледжа готов работать в формате инклюзии: осваивать новые технологии обучения, социального и психолого-педагогического сопровождения обучающихся с ОВЗ, создать среду максимального комфорта и мотивации к получению профессионального образования, отвечающего всем требованиям современного общества.
        </p>



        <h3 id="hotline" class="section-subtitle">
            Организация работы «горячей линии» по вопросам приема инвалидов и лиц с ОВЗ
        </h3>
        <p>
            В соответствии с пунктом 13 Межведомственного комплексного плана мероприятий по обеспечению доступности профессионального образования для инвалидов и лиц с ограниченными возможностями здоровья на 2016 - 2018 годы, утвержденного Заместителем Председателя Правительства Российской Федерации О.Ю. Голодец от 23 мая 2016 года № З467п-П8, в 2019 году в Министерстве образования Омской области продолжает работать «горячая линия».
        </p>
        <p>
            В рамках работы «горячей линии» осуществляется консультационное сопровождение по вопросам приема инвалидов и лиц с ограниченными возможностями здоровья в образовательные организации высшего образования, профессиональные образовательные организации Омской области.
        </p>
        <p>
            <b>Телефон:</b> (3812) 24-75-39, (3812) 24-65-24
        </p>
        <p>
            <b>Режим работы:</b> ПН-ЧТ 9:00-17:00, ПТ 9:00-16:30
        </p>
        <p>
            <b>Контактное лицо</b> - Лунёва Татьяна Владимировна, советник управления профессионального образования и опережающей подготовки кадров Министерства образования Омской области.
        </p>


        <h3 id="have-question" class="section-subtitle">
            По вопросам обращаться
        </h3>
        <div class="question-contact">
            <div class="question-contact-head">
                <a class="question-contact-head-img-container" href="">
                    <img src="~/images/people/Каменева Анна Григорьевна.jpg">
                </a>
                <p class="question-contact-head-fio">Каменева<br>Анна Григорьевна</p>
                <p class="question-contact-head-post">
                    Заместитель директора
                </p>
            </div>
            <div class="question-contact-body">
                <p class="question-contact-body-phone">(3812) 31-44-65</p>
                <p class="question-contact-body-phone">(3812) 30-52-93</p>
                <p class="question-contact-body-email">kameneva@oat.ru</p>
                <p class="question-contact-body-address">Каб. 224</p>
                <p class="question-contact-body-time">ПН-ПТ 10:00-17:00</p>
            </div>
        </div>



	</section>
	<aside id="sidebar" class="sidebar long">
		<h3 class="sidebar-title">
			Сведения об образовательной организации
		</h3>
		<nav class="sidebar-body">
			<ul class="sidebar-links">
				<li class="sidebar-link">
					<a asp-page="CommonIntelligence">
						Основные сведения
					</a>
				</li>
				<li class="sidebar-link">
					<a asp-page="Structure">
						Структура и органы управления образовательной организацией
					</a>
				</li>
				<li class="sidebar-link">
					<a asp-page="Documents">
						Документы
					</a>
				</li>
				<li class="sidebar-link">
					<a asp-page="Education">
						Образование
					</a>
				</li>
				<li class="sidebar-link">
					<a asp-page="EducationalStandards">
						Образовательные стандарты и требования
					</a>
				</li>
				<li class="sidebar-link">
					<a asp-page="EducationalProcess">
						Организация воспитательного процесса
					</a>
				</li>
				<li class="sidebar-link">
					<a asp-page="ManagementPedagogicalStaff">
						Руководство. Педагогический (научно-педагогический) состав
					</a>
				</li>
				<li class="sidebar-link sidebar-link-selected">
					<a asp-page="LogisticsAndAccessibleEnvironment">
						Материально-техническое обеспечение и оснащенность образовательного процесса. Доступная среда
					</a>
				</li>
				<li class="sidebar-link">
					<a asp-page="PaidEducationalServices">
						Платные образовательные услуги
					</a>
				</li>
				<li class="sidebar-link">
					<a asp-page="FinancialEconomicActivity">
						Финансово-хозяйственная деятельность
					</a>
				</li>
				<li class="sidebar-link">
					<a asp-page="Jobs">
						Вакантные места для приема (перевода) обучающихся
					</a>
				</li>
				<li class="sidebar-link">
					<a asp-page="Vacancies">
						Вакансии
					</a>
				</li>
				<li class="sidebar-link">
					<a asp-page="InternationalCooperation">
						Международное сотрудничество
					</a>
				</li>
				<li class="sidebar-link">
					<a asp-page="StudentSupport">
						Стипендии и меры поддержки обучающихся
					</a>
				</li>
				<li class="sidebar-link">
					<a asp-page="Terrorism">
						Противодействие экстремизму и терроризму
					</a>
				</li>
				<li class="sidebar-link">
					<a asp-page="Corruption">
						Противодействие коррупции
					</a>
				</li>
				<li class="sidebar-link">
					<a asp-page="Library">
						Библиотека
					</a>
				</li>
				<li class="sidebar-link">
					<a asp-page="UPK">
						Учебно-производственный комплекс
					</a>
				</li>
                <li class="sidebar-link">
                    <a asp-page="Food">
                        Организация питания в образовательной организации
                    </a>
                </li>
			</ul>
		</nav>
	</aside>
</div>