@page
@model StructureModel
@{
	ViewData["Title"] = "Структура и органы управления образовательной организацией";
}

<div class="container content-page">
	<section class="content">
		<a id="plane" class="plane" href="#sidebar"></a>
		<h2 class="section-title">
			Структура и органы управления образовательной организацией
		</h2>

		<ul class="page-navigation">
			<li>
				<a href="#structure-subdivision">
					Структурные подразделения
				</a>
			</li>
			<li>
				<a href="#documents">
					Документы
				</a>
			</li>
		</ul>

		<h3 id="structure-subdivision" class="section-subtitle">
			Структурные подразделения
		</h3>
		<div class="accordions-list">
			<div class="accordion">
				<div class="accordion-head">
					Отдел бухгалтерского учёта и анализа хозяйственно-финансовой деятельности
				</div>
				<div class="accordion-body">
					<p>
						<i>Заведующий (заместитель гл. бухгалтера):</i> Долгушева Наталия Юрьевна
					</p>
					<p>
						<i>Адрес:</i> г. Омск, ул. Ленина, д. 24, каб. 134
					</p>
					<p>
						<i>Телефон:</i> (3812) 30-52-97
					</p>
					<p>
						<i>Режим работы:</i> ПН-ПТ 8:00-17:00. Обед: 12:00-13:00
					</p>
				</div>
			</div>

			<div class="accordion">
				<div class="accordion-head">
					Отдел организационно-кадровой работы
				</div>
				<div class="accordion-body">
					<p>
						<i>Начальник организационно-кадрового отдела:</i> Москаленко Сергей Игоревич
					</p>
					<p>
						<i>Адрес:</i> 644024, город Омск, улица Ленина, дом 24
					</p>
					<p>
						<i>Телефон:</i> (3812) 31-73-27
					</p>
					<p>
						<i>Режим работы:</i> ПН-ПТ 8:00-17:00. Обед: 12:00-13:00
					</p>
					<div class="document-item">
						<div class="document-item-head">
							<a target="_blank"
							   href="~/documents/organizationInformation/structure/Regulations on the Department of Organizational and Personnel Work 2015.pdf">
							</a>
						</div>
						<div class="document-item-body">
							Положение об отделе организационно-кадровой работы
						</div>
					</div>
				</div>
			</div>
			<div class="accordion">
				<div class="accordion-head">
					Отдел кадров и режима
				</div>
				<div class="accordion-body">
					<p>
						<i>Начальник отдела кадров:</i> Егорова Валентина Борисовна
					</p>
					<p>
						<i>Адрес:</i> 644024, город Омск, улица Ленина, дом 24
					</p>
					<p>
						<i>Телефон:</i> (3812) 31-73-27
					</p>
					<p>
						<i>Режим работы:</i> ПН-ПТ 8:00-17:00. Обед: 12:00-13:00
					</p>
				</div>
			</div>
			<div class="accordion">
				<div class="accordion-head">
					Хозяйственный отдел
				</div>
				<div class="accordion-body">
					<p>
						<i>Заведующий хозяйством:</i> Кондратенко Наталья Николаевна
					</p>
					<p>
						<i>Адрес:</i> г. Омск, ул. Ленина, д. 24, каб. 122
					</p>
					<p>
						<i>Телефон:</i> (3812) 31-73-36
					</p>
					<p>
						<i>Режим работы:</i> ПН-ПТ 8:00-17:00. Обед: 12:00-13:00
					</p>
				</div>
			</div>
			<div class="accordion">
				<div class="accordion-head">
					Администрация
				</div>
				<div class="accordion-body">
					<p>
						<i>Директор:</i> Кольцов Александр Германович
					</p>
					<p>
						<i>Адрес:</i> 644024, город Омск, улица Ленина, дом 24
					</p>
					<p>
						<i>Телефон:</i> (3812) 31-44-65
					</p>
					<p>
						<i>Режим работы:</i> ПН-ПТ 8:00-17:00. Обед: 12:00-13:00
					</p>
				</div>
			</div>
			<div class="accordion">
				<div class="accordion-head">
					Архив
				</div>
				<div class="accordion-body">
					<p>
						<i>Архивариус:</i> Ержегитова Ирина Ибрагимовна
					</p>
					<p>
						<i>Адрес:</i> г. Омск, ул. Ленина, д. 24, каб. 139
					</p>
					<p>
						<i>Телефон:</i> (3812) 31-16-39
					</p>
					<p>
						<i>Режим работы:</i> ПН-ПТ 8:00-17:00. Обед: 12:00-13:00
					</p>
				</div>
			</div>
			<div class="accordion">
				<div class="accordion-head">
					Библиотека
				</div>
				<div class="accordion-body">
					<p>
						<i>Заведующий библиотекой:</i> Горюнова Вера Феликсовна
					</p>
					<p>
						<i>Адрес:</i> 644024, город Омск, улица Ленина, дом 24
					</p>
					<p>
						<i>Телефон:</i> отсутствует
					</p>
					<p>
						<i>Электронная почта:</i> <a href="mailto:gorunova@oat.ru">gorunova@oat.ru</a>
					</p>
					<p>
						<i>Режим работы:</i> ПН-ПТ 08.00-17.00. Обед: 12:00-13:00. Последняя пятница месяца – санитарный
						день
					</p>
					<div class="document-item">
						<div class="document-item-head">
							<a target="_blank"
							   href="~/documents/organizationInformation/library/pologenieOBiblioteke.pdf">
							</a>
						</div>
						<div class="document-item-body">
							Положение о библиотеке
						</div>
					</div>
				</div>
			</div>
			<div class="accordion">
				<div class="accordion-head">
					Отдел бухгалтерского учёта и анализа хозяйственно-финансовой деятельности
				</div>
				<div class="accordion-body">
					<p>
						<i>Заведующий отделом - заместитель главного бухгалтера:</i> Балакина Наталья Анатольевна
					</p>
					<p>
						<i>Адрес:</i>644024, город Омск, улица Ленина, дом 24
					</p>
					<p>
						<i>Телефон:</i> (3812) 30-52-97
					</p>
					<p>
						<i>Режим работы:</i> ПН-ПТ 8:00-17:00. Обед: 12:00-13:00
					</p>
				</div>
			</div>
			<div class="accordion">
				<div class="accordion-head">
					Хозяйство №1
				</div>
				<div class="accordion-body">
					<p>
						<i>Заведующий хозяйством:</i> Кондратенко Наталия Николаевна
					</p>
					<p>
						<i>Адрес:</i>644024, город Омск, улица Ленина, дом 24
					</p>
				</div>
			</div>
			<div class="accordion">
				<div class="accordion-head">
					Хозяйство №2
				</div>
				<div class="accordion-body">
					<p>
						<i>Заведующий хозяйством:</i>
					</p>
					<p>
						<i>Адрес:</i>644027, Омск, Космический проспект, 14а​
					</p>
				</div>
			</div>
			<div class="accordion">
				<div class="accordion-head">
					Хозяйство №3
				</div>
				<div class="accordion-body">
					<p>
						<i>Заведующий хозяйством:</i> Пецын Александр Степанович
					</p>
					<p>
						<i>Адрес:</i>​644021, город Омск, улица Богдана Хмельницкого, 281а​

					</p>
				</div>
			</div>
			<div class="accordion">
				<div class="accordion-head">
					Хозяйство №3
				</div>
				<div class="accordion-body">
					<p>
						<i>Заведующий хозяйством:</i> Пецын Александр Степанович
					</p>
					<p>
						<i>Адрес:</i>​644021, город Омск, улица Богдана Хмельницкого, 281а​

					</p>
				</div>
			</div>
			<div class="accordion">
				<div class="accordion-head">
					Инженерный лицей
				</div>
				<div class="accordion-body">
					<p>
						<i>Заместитель директора - директор инженерного лицея:</i> Субботин Сергей Александрович
					</p>
					<p>
						<i>Адрес:</i> 644027, Омск, Космический проспект, 14в к1
					</p>
					<p>
						<i>Телефон:</i> (3812) 53-64-53
					</p>
					<p>
						<i>Режим работы:</i> ПН-ПТ 8:00-17:00. Обед: 12:00-13:00
					</p>
					<div class="document-item">
						<div class="document-item-head">
							<a target="_blank" href="~/documents/organizationInformation/structure/pologenieLyceum.pdf">
							</a>
						</div>
						<div class="document-item-body">
							Положение об инженерном лицее
						</div>
					</div>
				</div>
			</div>
			<div class="accordion">
				<div class="accordion-head">
					Канцелярия
				</div>
				<div class="accordion-body">
					<p>
						<i>Заведующая:</i> Телепова Мария Викторовна
					</p>
					<p>
						<i>Адрес:</i> г. Омск, ул. Ленина, д. 24., каб. 230
					</p>
					<p>
						<i>Телефон:</i> (3812) 31-44-65
					</p>
					<p>
						<i>Режим работы:</i> ПН-ПТ 8:00-17:00. Обед: 12:00-13:00
					</p>
				</div>
			</div>
			<div class="accordion">
				<div class="accordion-head">
					Медпункт
				</div>
				<div class="accordion-body">
					<p>
						<i>Заведующий медпунктом:</i>
					</p>
					<p>
						<i>Адрес:</i> 644024, город Омск, улица Ленина, дом 24
					</p>
					<p>
						<i>Телефон:</i> (3812) 31-44-65
					</p>
					<p>
						<i>Режим работы:</i> ПН-ПТ 8:00-18:00, СБ 8:00-15:00. Обед: 12:00-13:00
					</p>
				</div>
			</div>
			<div class="accordion">
				<div class="accordion-head">
					Отдел образовательных программ и цифровой среды
				</div>
				<div class="accordion-body">
					<p>
						<i>Начальник отдела:</i>
					</p>
					<p>
						<i>Адрес:</i> 644122, г. Омск, ул. Волховстроя, д. 5
					</p>
				</div>
			</div>
			<div class="accordion">
				<div class="accordion-head">
					Отдел профориентационной работы
				</div>
				<div class="accordion-body">
					<p>
						<i>Начальник отдела:</i>
					</p>
					<p>
						<i>Адрес:</i> 644122, г. Омск, ул. Волховстроя, д. 5
					</p>
				</div>
			</div>
			<div class="accordion">
				<div class="accordion-head">
					Отдел внешних связей
				</div>
				<div class="accordion-body">
					<p>
						<i>Специалист по связям с общественностью:</i>
					</p>
					<p>
						<i>Адрес:</i> 644122, г. Омск, ул. Волховстроя, д. 5
					</p>
				</div>
			</div>
			<div class="accordion">
				<div class="accordion-head">
					Отдел по содействию в трудоустройстве выпускников
				</div>
				<div class="accordion-body">
					<p>
						<i>Руководитель:</i>
					</p>
					<p>
						<i>Адрес:</i> 644122, г. Омск, ул. Волховстроя, д. 5
					</p>
				</div>
			</div>
			<div class="accordion">
				<div class="accordion-head">
					Центр содействия трудоустройству (ЦСТ)
				</div>
				<div class="accordion-body">
					<p>
						<i>Руководитель:</i> Митрохина Анна Валерьевна
					</p>
					<p>
						<i>Адрес:</i> 644024, город Омск, улица Ленина, дом 24
					</p>
				</div>
			</div>
			<div class="accordion">
				<div class="accordion-head">
					Отдел теплоэнергетического обеспечения
				</div>
				<div class="accordion-body">
					<p>
						<i>Руководитель отдела теплоэнергетического обеспечения:</i> Порохин Роман Вольтович
					</p>
					<p>
						<i>Адрес:</i> 644024, город Омск, улица Ленина, дом 24
					</p>
				</div>
			</div>
			<div class="accordion">
				<div class="accordion-head">
					Служба гражданской обороны и чрезвычайных ситуаций
				</div>
				<div class="accordion-body">
					<p>
						<i>Начальник штаба гражданской обороны:</i>
					</p>
					<p>
						<i>Адрес:</i> 644024, город Омск, улица Ленина, дом 24
					</p>
				</div>
			</div>
			<div class="accordion">
				<div class="accordion-head">
					Хозяйственный отдел №4
				</div>
				<div class="accordion-body">
					<p>
						<i>Начальник отдела:</i> Очеретова Татьяна Борисовна
					</p>
					<p>
						<i>Адрес:</i> 644122, г. Омск, ул. Волховстроя, д. 5
					</p>
				</div>
			</div>
			<div class="accordion">
				<div class="accordion-head">
					Жилищно-коммунальный отдел
				</div>
				<div class="accordion-body">
					<p>
						<i>Начальник отдела:</i> Домчук Ольга Арсеновна
					</p>
					<p>
						<i>Адрес:</i> ​​644015, город Омск, улица Суровцева, дом 7а
					</p>
				</div>
			</div>
			<div class="accordion">
				<div class="accordion-head">
					Жилищно-коммунальный отдел
				</div>
				<div class="accordion-body">
					<p>
						<i>Начальник отдела:</i> Домчук Ольга Арсеновна
					</p>
					<p>
						<i>Адрес:</i> ​​644015, город Омск, улица Суровцева, дом 7а
					</p>
				</div>
			</div>
			<div class="accordion">
				<div class="accordion-head">
					МЦПК (производство и СТО)
				</div>
				<div class="accordion-body">
					<p>
						<i>Руководитель:</i> Ширяев Андрей Дмитриевич
					</p>
					<p>
						<i>Адрес:</i> г. Омск, пр. Космический, д. 14а, каб. 112
					</p>
					<p>
						<i>Телефон:</i> +7 905 942-23-09
					</p>
					<p>
						<i>Режим работы:</i> ПН-ПТ 8:00-17:00. Обед: 12:00-13:00
					</p>
				</div>
			</div>
			<div class="accordion">
				<div class="accordion-head">
					Учебно-производственный комплекс
				</div>
				<div class="accordion-body">
					<p>
						<i>Руководитель:</i> Гордиенко Егор Олегович
					</p>
					<p>
						<i>Адрес:</i> г. Омск, пр. Космический, д. 14а, каб. 112
					</p>
					<p>
						<i>Телефон:</i> +7 908 798-61-75
					</p>
					<p>
						<i>Режим работы:</i> ПН-ПТ 8:00-17:00. Обед: 12:00-13:00
					</p>
					<p>
						<a asp-page="/projectsAndEvents/professionalitet/UPK">Страница</a>
					</p>
				</div>
			</div>
			<div class="accordion">
				<div class="accordion-head">
					Научно-методический центр
				</div>
				<div class="accordion-body">
					<p>
						<i>Старший методист:</i> Павлова Елена Владимировна
					</p>
					<p>
						<i>Адрес:</i> г. Омск, ул. Ленина, д. 24, каб. 512
					</p>
					<p>
						<i>Телефон:</i> (3812) 31-44-81
					</p>
					<p>
						<i>Режим работы:</i> ПН-ПТ 8:00-17:00. Обед: 12:00-13:00
					</p>
				</div>
			</div>
			<div class="accordion">
				<div class="accordion-head">
					Производственное обучение
				</div>
				<div class="accordion-body">
					<p>
						<i>Заведующий:</i> Маслаков Александр Сергеевич
					</p>
					<p>
						<i>Адрес:</i> г. Омск, ул. Ленина, д. 24, каб. 105а
					</p>
					<p>
						<i>Телефон:</i> (3812) 31-44-81
					</p>
				</div>
			</div>

			<div class="accordion">
				<div class="accordion-head">
					Склад
				</div>
				<div class="accordion-body">
					<p>
						<i>Заведующий складом:</i> Котельникова Наталья Владимировна
					</p>
					<p>
						<i>Адрес:</i> 644024, город Омск, улица Ленина, дом 24
					</p>
					<p>
						<i>Телефон:</i> отсутствует
					</p>
					<p>
						<i>Режим работы:</i> ПН-ПТ 8:00-17:00. Обед: 12:00-13:00
					</p>
				</div>
			</div>
			<div class="accordion">
				<div class="accordion-head">
					Цикловые методические комиссии (ЦМК)
				</div>
				<div class="accordion-body">
					<ul class="customized">
						<li>
							<a href="/CMK/GraphicDesign">
								ГД
							</a>
						</li>
						<li>
							<a href="/CMK/NaturalSciences">
								ЕНД
							</a>
						</li>
						<li>
							<a href="/CMK/EnglishLanguage">
								Ин.яз
							</a>
						</li>
						<li>
							<a href="/CMK/ComputerScience">
								Информатики
							</a>
						</li>
						<li>
							<a href="/CMK/ComputerProtectionTechnologiesAndNetworks">
								КТЗС
							</a>
						</li>
						<li>
							<a href="/CMK/Math">
								Математики
							</a>
						</li>
						<li>
							<a href="/CMK/InformationTechnologySoftware">
								ПОИТ
							</a>
						</li>
						<li>
							<a href="/CMK/RussianLanguage">
								РусЯз
							</a>
						</li>
						<li>
							<a href="/CMK/SocialAndHumanitarianDisciplines">
								СГД
							</a>
						</li>
						<li>
							<a href="/CMK/AircraftRocketTechnology">
								ТехАРС
							</a>
						</li>
						<li>
							<a href="/CMK/MechanicalEngineeringTechnology">
								ТехМаш
							</a>
						</li>
						<li>
							<a href="/CMK/FoodServiceTechnology">
								ТехОПИТ
							</a>
						<li>
							<a href="/CMK/TechnologiesOfRadioEngineeringAndElectronicsAndMechatronics">
								ТехРЭМ
							</a>
						</li>
						<li>
							<a href="/CMK/ElectronicEquipmentTechnology">
								ТехРЭО
							</a>
						</li>
						<li>
							<a href="/CMK/WeldingTechnology">
								ТехСвар
							</a>
						</li>
						<li>
							<a href="/CMK/PhysicalСultureAndLifeSafety">
								ФКД
							</a>
						</li>
						<li>
							<a href="/CMK/EconomicsAndManagement">
								ЭКУП
							</a>
						</li>
					</ul>
					<div class="document-item">
						<div class="document-item-head">
							<a target="_blank"
							   href="~/documents/organizationInformation/structure/Regulations on the CMC 2024.pdf">
							</a>
						</div>
						<div class="document-item-body">
							Положение о ЦМК
						</div>
					</div>
				</div>
			</div>
		</div>


		<div class="accordion">
			<div class="accordion-head">
				Отделение экономики и социальной работы (ЭиСР)
			</div>
			<div class="accordion-body">
				<p>
					<i>Заведующий отделением:</i> Малюта Татьяна Геннадьевна
				</p>
				<p>
					<i>Должность:</i> заведующий отделением
				</p>
				<p>
					<i>Адрес:</i> 644122, г. Омск, ул. Волховстроя, д. 5
				</p>
				<p>
					<i><a asp-page="/departments/EiSR">Страница</a></i>
				</p>
				<p>
					<i>Телефон:</i> (3812) 23-63-56
				</p>
				<p>
					<i>Режим работы:</i> ПН-ПТ 08:00-17:00. Обед: 12:00-13:00
				</p>
			</div>
		</div>
		<div class="accordion">
			<div class="accordion-head">
				Отделение инновационных образовательных программ, содействия трудоустройству и профессиональной
				ориентации (ИТПР)
			</div>
			<div class="accordion-body">
				<p>
					<i>Заведующий отделением:</i> Хохлова Тамара Петровна
				</p>
				<p>
					<i>Должность:</i> заведующий отделением
				</p>
				<p>
					<i>Адрес:</i> 644024, город Омск, улица Ленина, дом 24
				</p>
				<p>
					<i>Телефон:</i> (3812) 31-74-66
				</p>
				<p>
					<i>Режим работы:</i> ПН-ПТ 8:00-18:00. Обед: 12:00-13:00
				</p>
			</div>
		</div>
		<div class="accordion">
			<div class="accordion-head">
				Отделение программ подготовки квалифицированных рабочих и служащих (ППКРС)
			</div>
			<div class="accordion-body">
				<p>
					<i>Руководитель структурного подразделения:</i> Троцкий Дмитрий Леонидович
				</p>
				<p>
					<i>Должность:</i> заведующий отделением
				</p>
				<p>
					<i>Адрес:</i> г. Омск, пр. Космический, д. 14а
				</p>
				<p>
					<i><a asp-page="/departments/PPKRS">Страница</a></i>
				</p>
				<p>
					<i>Телефон:</i> (3812) 53-64-53, (3812) 53-64-57
				</p>
				<p>
					<i>Режим работы:</i> ПН-ПТ 8:00-17:00. Обед: 12:00-13:00
				</p>
				<div class="document-item">
					<div class="document-item-head">
						<a target="_blank"
						   href="~/documents/organizationInformation/structure/Regulations on the educational department 2024.pdf">
						</a>
					</div>
					<div class="document-item-body">
						Положение об учебном отделении
					</div>
				</div>
			</div>
		</div>
		<div class="accordion">
			<div class="accordion-head">
				Отделение электромеханики, радиотехники и технологии сварки (РТС)
			</div>
			<div class="accordion-body">
				<p>
					<i>Руководитель структурного подразделения:</i> Домнич Александр Юрьевич
				</p>
				<p>
					<i>Должность:</i> заведующий отделением
				</p>
				<p>
					<i>Адрес:</i> 644024, город Омск, улица Ленина, дом 24
				</p>
				<p>
					<i><a asp-page="/departments/RTS">Страница</a></i>
				</p>
				<p>
					<i>Телефон:</i> (3812) 36-18-66
				</p>
				<p>
					<i>Режим работы:</i> ПН-ПТ 8:00-17:00. Обед: 12:00-13:00
				</p>
			</div>
		</div>
		<div class="accordion">
			<div class="accordion-head">
				Отделение технологии машиностроения (ТМ)
			</div>
			<div class="accordion-body">
				<p>
					<i>Заведующий отделением:</i> Сковородина Наталья Александровна
				</p>
				<p>
					<i>Должность:</i> заведующий отделением
				</p>
				<p>
					<i>Адрес:</i> 644122, г. Омск, ул. Волховстроя, д. 5
				</p>
				<p>
					<i><a asp-page="/departments/TM">Страница</a></i>
				</p>
				<p>
					<i>Телефон:</i> (3812) 21-10-17
				</p>
				<p>
					<i>Режим работы:</i> ПН-ПТ 08:00-17:00. Обед: 12:00-13:00
				</p>
			</div>
		</div>
		<div class="accordion">
			<div class="accordion-head">
				Отделение очно-заочного обучения
			</div>
			<div class="accordion-body">
				<p>
					<i>Заведующий отделением:</i> Колпащикова Ирина Юрьевна
				</p>
				<p>
					<i>Адрес:</i> 646532, Омская область,Тарский районн, город Тара, улица Радищева, дом 17
				</p>
			</div>
		</div>
		<div class="accordion">
			<div class="accordion-head">
				Отделение технологии аэрокосмического производства (ТАКПиЭ)
			</div>
			<div class="accordion-body">
				<p>
					<i>Заведующий отделением:</i> Пономарев Сергей Викторович
				</p>
				<p>
					<i>Должность:</i> заведующий отделением
				</p>
				<p>
					<i>Адрес:</i> ​ 644021, город Омск, улица Богдана Хмельницкого, 281а​

				</p>
				<p>
					<i><a asp-page="/departments/TAKPiE">Страница</a></i>
				</p>
				<p>
					<i>Телефон:</i> (3812) 36-04-64
				</p>
				<p>
					<i>Режим работы:</i> ПН-ПТ 8:00-17:00. Обед: 12:00-13:00
				</p>
			</div>
		</div>
		<div class="accordion">
			<div class="accordion-head">
				Отделение информационных технологий (ИТ)
			</div>
			<div class="accordion-body">
				<p>
					<i>Заведующий отделением:</i> Каштанов Николай Николаевич
				</p>
				<p>
					<i>Должность:</i> заведующий отделением
				</p>
				<p>
					<i>Адрес:</i> 644024, город Омск, улица Ленина, дом 24
				</p>
				<p>
					<i><a asp-page="/departments/IT">Страница</a></i>
				</p>
				<p>
					<i>Телефон:</i> (3812) 36-18-66 доб. 340
				</p>
				<p>
					<i>Режим работы:</i> ПН-ПТ 8:00-17:00. Обед: 12:00-13:00
				</p>
			</div>
		</div>
		<div class="accordion">
			<div class="accordion-head">
				Отделение заочного обучения с применением дистанционных технологий (ЗОсДТ)
			</div>
			<div class="accordion-body">
				<p>
					<i>Руководитель структурного подразделения:</i> Хохлова Тамара Петровна
				</p>
				<p>
					<i>Должность:</i> заведующий отделением
				</p>
				<p>
					<i>Адрес:</i> г. Омск, ул. Ленина, д. 24, каб. 202а
				</p>
				<p>
					<i><a asp-page="/departments/ZOsDT">Страница</a></i>
				</p>
				<p>
					<i>Телефон:</i> (3812) 31-74-66
				</p>
				<p>
					<i>Режим работы:</i> ПН-ПТ 8:00-17:00. Обед: 12:00-13:00
				</p>
			</div>
		</div>


		<div class="accordion">
			<div class="accordion-head">
				Корпус №1
			</div>
			<div class="accordion-body">
				<p>
					<i>Наименование структурного подразделения:</i> Учебная часть №1
				</p>
				<p>
					<i>Заведующий учебной частью:</i> Ленковская Лариса Викторовна
				</p>
				<p>
					<i>Должность:</i> Заведующий учебной частью
				</p>
				<p>
					<i>Адрес:</i> 644024, город Омск, улица Ленина, дом 24
				</p>
				<p>
					<i>Телефон:</i> (3812) 31-30-42
				</p>
				<p>
					<i>Электронная почта:</i> <a href="mailto:lenkovskaya@oat.local">lenkovskaya@oat.local</a>
				</p>
				<p>
					<i>Режим работы:</i> ПН-СБ 7:30-19:30. Обед: 12:00-13:00
				</p>
			</div>
		</div>
		<div class="accordion">
			<div class="accordion-head">
				Корпус №2
			</div>
			<div class="accordion-body">
				<p>
					<i>Наименование структурного подразделения:</i> Учебная часть ППКРС21
				</p>
				<p>
					<i>Заведующий учебной частью :</i> Богун Елена Геннадьевна
				</p>
				<p>
					<i>Должность:</i> Заведующий учебной частью
				</p>
				<p>
					<i>Адрес:</i> 644027, Омск, Космический проспект, 14а​
				</p>
				<p>
					<i>Телефон:</i> (3812) 53-64-57
				</p>
				<p>
					<i>Электронная почта:</i> <a href="mailto:bogun.eg@oat.local">bogun.eg@oat.local</a>
				</p>
				<p>
					<i>Режим работы:</i> ПН-СБ 7:30-19:30. Обед: 12:00-13:00
				</p>
			</div>
		</div>
		<div class="accordion">
			<div class="accordion-head">
				Корпус №3
			</div>
			<div class="accordion-body">
				<p>
					<i>Наименование структурного подразделения:</i> Учебная часть ППКРС №22
				</p>
				<p>
					<i>Заведующий учебной частью :</i> Барабаш Ирина Сергеевна
				</p>
				<p>
					<i>Должность:</i> Заведующий учебной частью
				</p>
				<p>
					<i>Адрес:</i> ​ 644021, город Омск, улица Богдана Хмельницкого, 281а​

				</p>
				<p>
					<i>Телефон:</i> (3812) 36-04-64
				</p>
				<p>
					<i>Электронная почта:</i> <a href="mailto:plenkova.ev@oat.local">plenkova.ev@oat.local</a>
				</p>
				<p>
					<i>Режим работы:</i> ПН-СБ 7:30-19:30. Обед: 12:00-13:00
				</p>
			</div>
		</div>
		<div class="accordion">
			<div class="accordion-head">
				Корпус №4
			</div>
			<div class="accordion-body">
				<p>
					<i>Наименование структурного подразделения:</i> Учебная часть №3
				</p>
				<p>
					<i>Руководитель структурного подразделения:</i> Шарипова Надежда Александровна
				</p>
				<p>
					<i>Должность:</i> Заведующий учебной частью
				</p>
				<p>
					<i>Адрес:</i> 644122, г. Омск, ул. Волховстроя, д. 5
				</p>
				<p>
					<i>Телефон:</i> отсутствует
				</p>
				<p>
					<i>Электронная почта:</i> <a href="mailto:klepikova.tv@oat.local">klepikova.tv@oat.local</a>
				</p>
				<p>
					<i>Режим работы:</i> ПН-СБ 7:30-19:30. Обед: 12:00-13:00
				</p>
			</div>
		</div>


		<div class="accordion">
			<div class="accordion-head">
				Студенческий спортивный клуб
			</div>
			<div class="accordion-body">
				<p>
					<i>Адрес:</i> 644024, город Омск, улица Ленина, дом 24
				</p>

			</div>
		</div>
		<div class="accordion">
			<div class="accordion-head">
				Лаборатория технологии машиностроения, процессов формообразования и инструмента
			</div>
			<div class="accordion-body">
				<p>
					<i>Заведующий лабораторией:</i>
				</p>
				<p>
					<i>Адрес:</i> 644122, г. Омск, ул. Волховстроя, д. 5
				</p>
			</div>
		</div>
		<div class="accordion">
			<div class="accordion-head">
				Лаборатория сварки
			</div>
			<div class="accordion-body">
				<p>
					<i>Заведующий лабораторией:</i> Козлов Андрей Николаевич
				</p>
				<p>
					<i>Адрес:</i> 644024, город Омск, улица Ленина, дом 24
				</p>
			</div>
		</div>
		<div class="accordion">
			<div class="accordion-head">
				Лаборатория информационных технологий
			</div>
			<div class="accordion-body">
				<p>
					<i>Заведующий лабораторией:</i> Елкин Иван Андреевич
				</p>
				<p>
					<i>Адрес:</i> 644024, город Омск, улица Ленина, дом 24
				</p>
			</div>
		</div>
		<div class="accordion">
			<div class="accordion-head">
				Лаборатория электротехники и электроники
			</div>
			<div class="accordion-body">
				<p>
					<i>Заведующий лабораторией:</i> Симонов Александр Юрьевич
				</p>
				<p>
					<i>Адрес:</i> 644024, город Омск, улица Ленина, дом 24
				</p>
			</div>
		</div>
		<div class="accordion">
			<div class="accordion-head">
				Лаборатория летательных аппаратов
			</div>
			<div class="accordion-body">
				<p>
					<i>Заведующий лабораторией:</i> Попов Александр Иванович
				</p>
				<p>
					<i>Адрес:</i> ​644021, город Омск, улица Богдана Хмельницкого, 281а​

				</p>
			</div>
		</div>
		<div class="accordion">
			<div class="accordion-head">
				Лаборатория авиационных двигателей
			</div>
			<div class="accordion-body">
				<p>
					<i>Заведующий лабораторией:</i> Тоненький Алексей Викторович
				</p>
				<p>
					<i>Адрес:</i> ​ 644021, город Омск, улица Богдана Хмельницкого, 281а​


				</p>
			</div>
		</div>
		<div class="accordion">
			<div class="accordion-head">
				Лаборатория электрических машин, аппаратов и электрического привода
			</div>
			<div class="accordion-body">
				<p>
					<i>Заведующий лабораторией:</i> Григорьев Юрий Петрович
				</p>
				<p>
					<i>Адрес:</i> 644024, город Омск, улица Ленина, дом 24


				</p>
			</div>
		</div>
		<div class="accordion">
			<div class="accordion-head">
				Лаборатория автоматических систем управления и вычислительной техники
			</div>
			<div class="accordion-body">
				<p>
					<i>Заведующий лабораторией:</i> Березовский Денис Викторович
				</p>
				<p>
					<i>Адрес:</i> 644024, город Омск, улица Ленина, дом 24


				</p>
			</div>
		</div>
		<div class="accordion">
			<div class="accordion-head">
				Лаборатория измерительной техники и сборки изделий и систем
			</div>
			<div class="accordion-body">
				<p>
					<i>Заведующий лабораторией:</i>
				</p>
				<p>
					<i>Адрес:</i> 644024, город Омск, улица Ленина, дом 24


				</p>
			</div>
		</div>
		<div class="accordion">
			<div class="accordion-head">
				Лаборатория систем автоматизированного проектирования
			</div>
			<div class="accordion-body">
				<p>
					<i>Заведующий лабораторией:</i> Прокин Никита Григорьевич
				</p>
				<p>
					<i>Адрес:</i> 644024, город Омск, улица Ленина, дом 24


				</p>
			</div>
		</div>
		<div class="accordion">
			<div class="accordion-head">
				Лаборатория вычислительной техники
			</div>
			<div class="accordion-body">
				<p>
					<i>Заведующий лабораторией:</i>Мальцев Юрий Валентинович
				</p>
				<p>
					<i>Адрес:</i> 644024, город Омск, улица Ленина, дом 24


				</p>
			</div>
		</div>
		<div class="accordion">
			<div class="accordion-head">
				Лаборотория процесса сварки, лазерной резки и неразрушающего контроля изделий машиностроения
			</div>
			<div class="accordion-body">
				<p>
					<i>Заведующий лабораторией:</i>
				</p>
				<p>
					<i>Адрес:</i> 644027, Омск, Космический проспект, 14а​


				</p>
			</div>
		</div>
		<div class="accordion">
			<div class="accordion-head">
				Лаборотория цифровой метрологии
			</div>
			<div class="accordion-body">
				<p>
					<i>Заведующий лабораторией:</i>
				</p>
				<p>
					<i>Адрес:</i> 644027, Омск, Космический проспект, 14а​


				</p>
			</div>
		</div>
		<div class="accordion">
			<div class="accordion-head">
				Лаборотория перспективных систем связи
			</div>
			<div class="accordion-body">
				<p>
					<i>Заведующий лабораторией:</i>
				</p>
				<p>
					<i>Адрес:</i> 644027, Омск, Космический проспект, 14а​


				</p>
			</div>
		</div>
		<div class="accordion">
			<div class="accordion-head">
				Лаборотория многоосевой обработки на станках с ЧПУ
			</div>
			<div class="accordion-body">
				<p>
					<i>Заведующий лабораторией:</i>
				</p>
				<p>
					<i>Адрес:</i> 644027, Омск, Космический проспект, 14а​


				</p>
			</div>
		</div>
		<div class="accordion">
			<div class="accordion-head">
				Лаборотория поверхностного микромонтажа и процесса пайки радиоэлектронной аппаратуры и проборов
			</div>
			<div class="accordion-body">
				<p>
					<i>Заведующий лабораторией:</i>
				</p>
				<p>
					<i>Адрес:</i> 644027, Омск, Космический проспект, 14а​
				</p>

			</div>
		</div>
		<div class="accordion">
			<div class="accordion-head">

				Отдел производственной практики №1
			</div>
			<div class="accordion-body">
				<p>
					<i>Заведующий отделом :</i> Маслаков Александр Сергеевич
				</p>
				<p>
					<i>Адрес:</i> 644024, город Омск, улица Ленина, дом 24


				</p>
			</div>
		</div>
		<div class="accordion">
			<div class="accordion-head">

				Отдел производственной практики №2
			</div>
			<div class="accordion-body">
				<p>
					<i>Заведующий отделом :</i> Гребенникова Ольга Владимировна
				</p>
				<p>
					<i>Адрес:</i> 644122, г. Омск, ул. Волховстроя, д. 5


				</p>
			</div>
		</div>
		<div class="accordion">
			<div class="accordion-head">
				Учебно-производственные мастерские
			</div>
			<div class="accordion-body">
				<p>
					<i>Начальник учебно-производственных мастерских :</i> Гордиенко Егор Олегович
				</p>
				<p>
					<i>Адрес:</i> 644027, Омск, Космический проспект, 14а​
				</p>
			</div>


			<div class="accordion">
				<div class="accordion-head">
					Отдел воспитательной работы, организации социально-психологической среды и личностного развития
					обучающихся
				</div>
				<div class="accordion-body">
					<p>
						<i>Заведующий отделом:</i> Жеганина Светлана Александровна
					</p>
					<p>
						<i>Адрес:</i> 644027, Омск, Космический проспект, 14а​
					</p>
					<p>
						<i>Телефон:</i> (3812) 53-64-57
					</p>
					<p>
						<i>Режим работы:</i> ПН-ПТ 8:00-17:00
					</p>
					<p>
						<i>Руководитель физического воспитания:</i> Урванцев Андрей Евгеньевич
					</p>
					<p>
						<i>Адрес:</i> г. Омск, ул. Ленина, д. 24, каб. 401
					</p>
					<p>
						<i>Телефон:</i> (3812) 30-52-94
					</p>
				</div>
			</div>
			<div class="accordion">
				<div class="accordion-head">
					Отдел материально-технического обеспечения
				</div>
				<div class="accordion-body">
					<p>
						<i>Руководитель отдела материально-технического обеспечения:</i> Платонова Надежда Пантелеевна
					</p>
					<p>
						<i>Адрес:</i> 644024, город Омск, улица Ленина, дом 24
					</p>
					<p>
						<i>Телефон:</i> (3812) 53-64-57
					</p>
					<p>
						<i>Режим работы:</i> ПН-ПТ, 8:00-17:00
					</p>
				</div>
			</div>
			<div class="accordion">
				<div class="accordion-head">
					Учебный центр металлообработки
				</div>
				<div class="accordion-body">
					<p>
						<i>Руководитель центра:</i> Ширяев Андрей Дмитриевич
					</p>
					<p>
						<i>Адрес:</i> 644027, Омск, Космический проспект, 14а​
					</p>
				</div>
			</div>
			<div class="accordion">
				<div class="accordion-head">
					Лаборатория станков с ПУ и программированием
				</div>
				<div class="accordion-body">
					<p>
						<i>Заведующий лабораторией:</i> Маркин Сергей Максимович
					</p>
					<p>
						<i>Адрес:</i> 644027, Омск, Космический проспект, 14а​
					</p>
				</div>
			</div>
			<div class="accordion">
				<div class="accordion-head">
					Лаборатория сварочных технологий
				</div>
				<div class="accordion-body">
					<p>
						<i>Заведующий лабораторией:</i>
					</p>
					<p>
						<i>Адрес:</i> 644027, Омск, Космический проспект, 14а​
					</p>
				</div>
			</div>
			<div class="accordion">
				<div class="accordion-head">
					Лаборатория метрологии и дефектоскопии
				</div>
				<div class="accordion-body">
					<p>
						<i>Заведующий лабораторией:</i> Адринский Илья Геннадьевич
					</p>
					<p>
						<i>Адрес:</i> 644024, город Омск, улица Ленина, дом 24
					</p>
				</div>
			</div>
		</div>


		<h3 id="documents" class="section-subtitle">
			Документы
		</h3>
		<ul class="documents-list">
			<li class="document-item">
				<div class="document-item-head">
					<a target="_blank"
					   href="~/documents/organizationInformation/structure/Regulations on the pedagogical council 2024.pdf">
					</a>
				</div>
				<div class="document-item-body">
					Положение о Педагогическом совете
				</div>
			</li>
			<li class="document-item">
				<div class="document-item-head">
					<a target="_blank" href="~/documents/organizationInformation/structure/pologenieSoveta.pdf">
					</a>
				</div>
				<div class="document-item-body">
					Положение о Совете
				</div>
			</li>
			<li class="document-item">
				<div class="document-item-head">
					<a target="_blank" href="~/documents/organizationInformation/structure/pologenieSobrania.pdf">
					</a>
				</div>
				<div class="document-item-body">
					Положение об общем собрании работников и обучающихся
				</div>
			</li>
			<li class="document-item">
				<div class="document-item-head">
					<a target="_blank" href="~/documents/organizationInformation/structure/orgStructura.pdf">
					</a>
				</div>
				<div class="document-item-body">
					Организационная структура
				</div>
			</li>
		</ul>
	</section>
	<aside id="sidebar" class="sidebar long">
		<h3 class="sidebar-title">
			Сведения об образовательной организации
		</h3>
		<nav class="sidebar-body">
			<ul class="sidebar-links">
				<li class="sidebar-link">
					<a asp-page="CommonIntelligence">
						Основные сведения
					</a>
				</li>
				<li class="sidebar-link sidebar-link-selected">
					<a asp-page="Structure">
						Структура и органы управления образовательной организацией
					</a>
				</li>
				<li class="sidebar-link">
					<a asp-page="Documents">
						Документы
					</a>
				</li>
				<li class="sidebar-link">
					<a asp-page="Education">
						Образование
					</a>
				</li>
				<li class="sidebar-link">
					<a asp-page="EducationalStandards">
						Образовательные стандарты и требования
					</a>
				</li>
				<li class="sidebar-link">
					<a asp-page="EducationalProcess">
						Организация воспитательного процесса
					</a>
				</li>
				<li class="sidebar-link">
					<a asp-page="Management">
						Руководство
					</a>
				</li>
				<li class="sidebar-link">
					<a asp-page="ManagementPedagogicalStaff">
						Педагогический (научно-педагогический) состав
					</a>
				</li>
				<li class="sidebar-link">
					<a asp-page="LogisticsAndAccessibleEnvironment">
						Материально-техническое обеспечение и оснащенность образовательного процесса. Доступная среда
					</a>
				</li>
				<li class="sidebar-link">
					<a asp-page="PaidEducationalServices">
						Платные образовательные услуги
					</a>
				</li>
				<li class="sidebar-link">
					<a asp-page="FinancialEconomicActivity">
						Финансово-хозяйственная деятельность
					</a>
				</li>
				<li class="sidebar-link">
					<a asp-page="VacanciesForAdmission">
						Вакантные места для приема (перевода) обучающихся
					</a>
				</li>
				<li class="sidebar-link">
					<a asp-page="Vacancies">
						Вакансии
					</a>
				</li>
				<li class="sidebar-link">
					<a asp-page="InternationalCooperation">
						Международное сотрудничество
					</a>
				</li>
				<li class="sidebar-link">
					<a asp-page="StudentSupport">
						Стипендии и меры поддержки обучающихся
					</a>
				</li>
				<li class="sidebar-link">
					<a asp-page="Terrorism">
						Противодействие экстремизму и терроризму
					</a>
				</li>
				<li class="sidebar-link">
					<a asp-page="Corruption">
						Противодействие коррупции
					</a>
				</li>
				<li class="sidebar-link">
					<a asp-page="Library">
						Библиотека
					</a>
				</li>
				<li class="sidebar-link">
					<a asp-page="Food">
						Организация питания в образовательной организации
					</a>
				</li>
				<li class="sidebar-link">
					<a href="https://www.oat.ru/students/TargetedTraining">
						Целевое обучение
					</a>
				</li>
			</ul>
		</nav>
	</aside>
</div>