@page
@model AlumniEmploymentCenterOmskModel
@{
	ViewData["Title"] = "Базовый центр содействия трудоустройству выпускников СПО Омской области";
}


<div class="container content-page">
	<section class="content">
		<h2 class="section-title">
			Базовый центр содействия трудоустройству выпускников СПО Омской области
		</h2>
		<ul class="page-navigation">
			<li>
				<a href="#documents">
					Документы
				</a>
			</li>
			<li>
				<a href="#contract">
					Служба по контракту
				</a>
			</li>
			<li>
				<a href="#feedback">
					Связаться с нами
				</a>
			</li>
		</ul>

		<h3 id="documents" class="section-subtitle">
			Документы
		</h3>
		<div class="accordions-list">
			<div class="accordion">
				<div class="accordion-head">
					Методические разработки
				</div>
				<div class="accordion-body">
					<ul class="documents-list">
						<li class="document-item">
							<div class="document-item-head">
								<a target="_blank"
								   href="~/documents/students/alumniEmploymentCenterOmsk/3_tema_O_marshrutizacii_vypusknikov.pdf">
								</a>
							</div>
							<div class="document-item-body">
								О маршрутизации выпускников профессиональных образовательных организаций
							</div>
						</li>
						<li class="document-item">
							<div class="document-item-head">
								<a target="_blank"
								   href="~/documents/students/alumniEmploymentCenterOmsk/recomendaciiPredprenimatel.docx">
								</a>
							</div>
							<div class="document-item-body">
								Методические рекомендации Индивидуальный предприниматель
							</div>
						</li>
						<li class="document-item">
							<div class="document-item-head">
								<a target="_blank"
								   href="~/documents/students/alumniEmploymentCenterOmsk/prezentaciaIndividualniPredprenimatel.pptx">
								</a>
							</div>
							<div class="document-item-body">
								Презентация на тему Индивидуальный предприниматель
							</div>
						</li>
						<li class="document-item">
							<div class="document-item-head">
								<a target="_blank"
								   href="~/documents/students/alumniEmploymentCenterOmsk/recomendaciiSamozaniatost.docx">
								</a>
							</div>
							<div class="document-item-body">
								Самозанятость Методические рекомендации
							</div>
						</li>
						<li class="document-item">
							<div class="document-item-head">
								<a target="_blank"
								   href="~/documents/students/alumniEmploymentCenterOmsk/samozaniatostSvobodaVibora.pptx">
								</a>
							</div>
							<div class="document-item-body">
								Самозанятость - свобода выбора
							</div>
						</li>
					</ul>
				</div>
			</div>

			<div class="accordion">
				<div class="accordion-head">
					Аналитика
				</div>
				<div class="accordion-body">
					<!--Актуальные данные - август 2024-->

					<ul class="documents-list">
						<li class="document-item">
							<div class="document-item-head">
								<a target="_blank"
								   href="https://www.omskzan.ru/content/%D0%B2%D0%B0%D0%BA%D0%B0%D0%BD%D1%81%D0%B8%D0%B8_%D0%BE%D0%B1%D0%BE%D1%80%D0%BE%D0%BD%D0%BD%D0%BE_%D0%BF%D1%80%D0%BE%D0%BC%D1%8B%D1%88%D0%BB%D0%B5%D0%BD%D0%BD%D0%BE%D0%B3%D0%BE_%D0%BA%D0%BE%D0%BC%D0%BF%D0%BB%D0%B5%D0%BA%D1%81%D0%B0">
								</a>
							</div>
							<div class="document-item-body">
								Вакансии оборонно-промышленного комплекса Омской области
							</div>
						</li>
						<!--
						<li class="document-item">
							<div class="document-item-head">
								<a target="_blank" href="~/documents/students/alumniEmploymentCenterOmsk/vacanciiOmsk2022.docx">
								</a>
							</div>
							<div class="document-item-body">
								Вакансии Центра занятости населения г. Омск 15.06.2022
							</div>
						</li>
						<li class="document-item">
							<div class="document-item-head">
								<a target="_blank" href="~/documents/students/alumniEmploymentCenterOmsk/situaciaNaRinkeTruda2022.pptx">
								</a>
							</div>
							<div class="document-item-body">
								Экспресс-информация ситуации на рынке труда 2022 год
							</div>
						</li>
						<li class="document-item">
							<div class="document-item-head">
								<a target="_blank" href="~/documents/students/alumniEmploymentCenterOmsk/zaniatostVipusknikov2022.xlsx">
								</a>
							</div>
							<div class="document-item-body">
								Занятость выпускников 2022 года
							</div>
						</li>
						-->
					</ul>
				</div>
			</div>
			<div class="accordion">
				<div class="accordion-head">
					О Центре
				</div>
				<div class="accordion-body">
					<ul class="documents-list">
						<li class="document-item">
							<div class="document-item-head">
								<a target="_blank"
								   href="~/documents/students/alumniEmploymentCenterOmsk/pologenieCentr.pdf">
								</a>
							</div>
							<div class="document-item-body">
								Положение о базовом центре содействия трудоустройству
							</div>
						</li>
						<li class="document-item">
							<div class="document-item-head">
								<a target="_blank"
								   href="~/documents/students/alumniEmploymentCenterOmsk/planMeropriati.pdf">
								</a>
							</div>
							<div class="document-item-body">
								План мероприятий по содействию трудоустройству
							</div>
						<li class="document-item">
							<div class="document-item-head">
								<a target="_blank"
								   href="https://drive.google.com/drive/folders/1vaQvSWFoEd9x8siFCDdtic7kd8RDLfEt">
								</a>
							</div>
							<div class="document-item-body">
								Документы ЦСТВ
							</div>
						</li>
					</ul>
				</div>
			</div>
			<div class="accordion">
				<div class="accordion-head">
					Соглашения о сотрудничестве
				</div>
				<div class="accordion-body">
					<ul class="documents-list little">
						<li class="document-item">
							<div class="document-item-head">
								<a target="_blank"
								   href="~/documents/students/alumniEmploymentCenterOmsk/sotrudnicestvoStudentOtriad.pdf">
								</a>
							</div>
							<div class="document-item-body">
								Соглашение с РМОО "Омский областной студенческий отряд
							</div>
						</li>
						<li class="document-item">
							<div class="document-item-head">
								<a target="_blank"
								   href="~/documents/students/alumniEmploymentCenterOmsk/sotrudnicestvoSoiuzMashinostroitelei.pdf">
								</a>
							</div>
							<div class="document-item-body">
								Соглашение с ОРО Союза машиностроителей России
							</div>
						</li>
					</ul>
				</div>
			</div>
			<div class="accordion">
				<div class="accordion-head">
					В помощь специалистам ЦСТВ
				</div>
				<div class="accordion-body">
					<div class="accordion-title">Семинар для сотрудников Центров карьеры по вопросам содействия
						занятости студентов и выпускников среднего профессионального образования в 2024 году
					</div>
					<ul class="documents-list little">
						<li class="document-item">
							<div class="document-item-head">
								<a target="_blank"
								   href="~/documents/students/alumniEmploymentCenterOmsk/Programma seminara 24.docx">
								</a>
							</div>
							<div class="document-item-body">
								Programma seminara 24
							</div>
						</li>
						<li class="document-item">
							<div class="document-item-head">
								<a target="_blank"
								   href="~/documents/students/alumniEmploymentCenterOmsk/O-deyatel'nosti-Centrov-kar'ery-i-Bazovyh-centrov-kar'ery.pdf">
								</a>
							</div>
							<div class="document-item-body">
								О деятельности Центров карьеры и Базовых центров карьеры
							</div>
						</li>
					</ul>


					<div class="accordion-title">Семинар «Социальные сети как инструмент коммуникации с выпускниками.
						Интеграция социальной сети ПОО с региональной. Практикум. Начальный уровень»
					</div>
					<ul class="documents-list little">
						<li class="document-item">
							<div class="document-item-head">
								<a target="_blank"
								   href="~/documents/students/alumniEmploymentCenterOmsk/Programma seminara 7.06.2022.docx">
								</a>
							</div>
							<div class="document-item-body">
								Программа семинара 7.06.2022
							</div>
						</li>
					</ul>


					<div class="accordion-title">Целевое обучение: нормативные документы, преимущества для работодателя,
						преимущества для студента
					</div>
					<ul class="documents-list">
						<li class="document-item">
							<div class="document-item-head">
								<a target="_blank"
								   href="~/documents/students/alumniEmploymentCenterOmsk/Programma seminara.docx">
								</a>
							</div>
							<div class="document-item-body">
								Программа семинара
							</div>
						</li>
						<li class="document-item">
							<div class="document-item-head">
								<a target="_blank"
								   href="~/documents/students/alumniEmploymentCenterOmsk/Seminar Celevoe obuchenie normativnye dokumenty, preimushchestva dlya rabotodatelya, preimushchestva dlya studenta.pptx">
								</a>
							</div>
							<div class="document-item-body">
								Семинар Целевое обучение нормативные документы, преимущества для работодателя,
								преимущества для студента
							</div>
						</li>
						<li class="document-item">
							<div class="document-item-head">
								<a target="_blank"
								   href="~/documents/students/alumniEmploymentCenterOmsk/Seminar «Instrumenty sodejstviya zanyatosti vypusknikov obrazovatel'nyh organizacij, realizuyushchih programmy SPO» 10.06.2022.pptx">
								</a>
							</div>
							<div class="document-item-body">
								Семинар «Инструменты содействия занятости выпускников образовательных организаций,
								реализующих программы СПО» 10.06.2022
							</div>
						</li>
						<li class="document-item">
							<div class="document-item-head">
								<a target="_blank"
								   href="~/documents/students/alumniEmploymentCenterOmsk/Programma seminara 10.06.2022.docx">
								</a>
							</div>
							<div class="document-item-body">
								Программа семинара 10.06.2022
							</div>
						</li>
						<li class="document-item">
							<div class="document-item-head">
								<a target="_blank"
								   href="~/documents/students/alumniEmploymentCenterOmsk/Prezentaciya «Celevoe obuchenie normativnye dokumenty, preimushchestva dlya rabotodatelya, preimushchestva dlya studenta» Ulenkova E.V..pptx">
								</a>
							</div>
							<div class="document-item-body">
								Презентация «Целевое обучение нормативные документы, преимущества для работодателя,
								преимущества для студента» Уленкова Е.В.
							</div>
						</li>
					</ul>


					<div class="accordion-title">Семинар «Инструменты содействия занятости выпускников образовательных
						организаций, реализующих программы среднего профессионального образования»
					</div>
					<ul class="documents-list">
						<li class="document-item">
							<div class="document-item-head">
								<a target="_blank"
								   href="~/documents/students/alumniEmploymentCenterOmsk/Programma seminara_12 maya 2022.docx">
								</a>
							</div>
							<div class="document-item-body">
								Программа семинара_12 мая 2022
							</div>
						</li>
						<li class="document-item">
							<div class="document-item-head">
								<a target="_blank"
								   href="~/documents/students/alumniEmploymentCenterOmsk/Prezentaciya «Uspeshnye praktiki sodejstviya trudoustrojstvu vypusknikov Omaviat» Savin A.V..pptx">
								</a>
							</div>
							<div class="document-item-body">
								Презентация «Успешные практики содействия трудоустройству выпускников Омавиат» Савин
								А.В.
							</div>
						</li>
						<li class="document-item">
							<div class="document-item-head">
								<a target="_blank"
								   href="~/documents/students/alumniEmploymentCenterOmsk/Prezentaciya «Samozanyatost' kak sposob vedeniya predprinimatel'skoj deyatel'nosti» Sobolev V.YU..pdf">
								</a>
							</div>
							<div class="document-item-body">
								Презентация «Самозанятость как способ ведения предпринимательской деятельности» Соболев
								В.Ю.
							</div>
						</li>
						<li class="document-item">
							<div class="document-item-head">
								<a target="_blank"
								   href="~/documents/students/alumniEmploymentCenterOmsk/Prezentaciya «Ot proizvodstvennoj praktiki k trudoustrojstvu. Omskoe mashinostroenie...» Dorohin V.N..pptx">
								</a>
							</div>
							<div class="document-item-body">
								Презентация «От производственной практики к трудоустройству. Омское машиностроение...»
								Дорохин В.Н.
							</div>
						</li>
						<li class="document-item">
							<div class="document-item-head">
								<a target="_blank"
								   href="~/documents/students/alumniEmploymentCenterOmsk/Prezentaciya «Monitoring zanyatosti vypusknikov. Instrumenty povysheniya doli trudoustrojstva» Ulenkova E.V..pptx">
								</a>
							</div>
							<div class="document-item-body">
								Презентация «Мониторинг занятости выпускников. Инструменты повышения доли
								трудоустройства» Уленкова Е.В.
							</div>
						</li>
						<li class="document-item">
							<div class="document-item-head">
								<a target="_blank"
								   href="~/documents/students/alumniEmploymentCenterOmsk/Prezentaciya «Analiz rynka truda. Vozmozhnosti i perspektivy dlya vypusknika SPO» Varnavskaya I.P..pptx">
								</a>
							</div>
							<div class="document-item-body">
								Презентация «Анализ рынка труда. Возможности и перспективы для выпускника СПО»
								Варнавская И.П.
							</div>
						</li>
						<li class="document-item">
							<div class="document-item-head">
								<a target="_blank"
								   href="~/documents/students/alumniEmploymentCenterOmsk/Seminar «Instrumenty sodejstviya zanyatosti vypusknikov obrazovatel'nyh organizacij, realizuyushchih programmy SPO» 10.06.2022.pptx">
								</a>
							</div>
							<div class="document-item-body">
								Презентация «Инструменты содействия занятости выпускников образовательных организаций,
								реализующих программы среднего профессионального образования» 12 мая 2022 года
							</div>
						</li>
					</ul>


					<div class="accordion-title">Семинар-конференция «Содействие занятости выпускников системы СПО:
						опыт, инструменты, решения»
					</div>
					<ul class="documents-list">
						<li class="document-item">
							<div class="document-item-head">
								<a target="_blank"
								   href="~/documents/students/alumniEmploymentCenterOmsk/Programma seminara 21.04.2023.pdf">
								</a>
							</div>
							<div class="document-item-body">
								Программа семинара 21.04.2023
							</div>
						</li>
						<li class="document-item">
							<div class="document-item-head">
								<a target="_blank"
								   href="~/documents/students/alumniEmploymentCenterOmsk/Prezentaciya Polozhitel'nyj opyt CSTV, BPOU Kolledzh innovacionnyh tekhnologij, ekonomiki i kommercii Savel'eva YU.S..pdf">
								</a>
							</div>
							<div class="document-item-body">
								Презентация "Положительный опыт ЦСТВ", БПОУ "Колледж инновационных технологий, экономики
								и коммерции" Савельева Ю.С.
							</div>
						</li>
						<li class="document-item">
							<div class="document-item-head">
								<a target="_blank"
								   href="~/documents/students/alumniEmploymentCenterOmsk/Prezentaciya Obshchie voprosy po rabote v statuse samozanyatogo MOJ BIZNES Sergeeva A.A..pdf"></a>
							</div>
							<div class="document-item-body">
								Презентация "Общие вопросы по работе в статусе самозанятого" МОЙ БИЗНЕС Сергеева А.А.
							</div>
						</li>
						<li class="document-item">
							<div class="document-item-head">
								<a target="_blank"
								   href="~/documents/students/alumniEmploymentCenterOmsk/Prezentaciya Centra podderzhki predprinimatel'stva g. Omska Timoshchenko G.A..pptx">
								</a>
							</div>
							<div class="document-item-body">
								Презентация "Центра поддержки предпринимательства" г. Омска Тимощенко Г.А.
							</div>
						</li>
						<li class="document-item">
							<div class="document-item-head">
								<a target="_blank"
								   href="~/documents/students/alumniEmploymentCenterOmsk/Prezentaciya Rossijskie studencheskie otryady.pptx">
								</a>
							</div>
							<div class="document-item-body">
								Презентация "Российские студенческие отряды"
							</div>
						</li>
						<li class="document-item">
							<div class="document-item-head">
								<a target="_blank"
								   href="~/documents/students/alumniEmploymentCenterOmsk/Prezentaciya Integraciya social'noj seti POO v regional'nuyu Konyuhova I.E..pdf">
								</a>
							</div>
							<div class="document-item-body">
								Презентация "Интеграция социальной сети ПОО в региональную" Конюхова И.Е.
							</div>
						</li>
						<li class="document-item">
							<div class="document-item-head">
								<a target="_blank"
								   href="~/documents/students/alumniEmploymentCenterOmsk/Prezentaciya Trudoustrojstvo invalidov BPOU OO Omskij kolledzh professional'nyh tekhnologij Bendua V.V..pptx">
								</a>
							</div>
							<div class="document-item-body">
								Презентация "Трудоустройство инвалидов" БПОУ ОО "Омский колледж профессиональных
								технологий" Бендуа В.В.
							</div>
						</li>
						<li class="document-item">
							<div class="document-item-head">
								<a target="_blank"
								   href="~/documents/students/alumniEmploymentCenterOmsk/Prezentaciya Tekhnologii i praktiki provedeniya meropriyatij dlya studentov OmGUPS, napravlennyh na sodejstvie trudoustrojstvu.pdf">
								</a>
							</div>
							<div class="document-item-body">
								Презентация "Технологии и практики проведения мероприятий для студентов ОмГУПС,
								направленных на содействие трудоустройству", ФГБОУ ВО "Омский государственный
								университет путей и сообщения" Гарафутдинова Н.Я.
							</div>
						</li>
					</ul>
				</div>
			</div>
		</div>

		<h3 id="contract" class="section-subtitle">
			Военная служба по контракту
		</h3>
		<p>
			Заключи контракт и получи от 3,3 млн рублей за первый год военной службы!
		</p>
		<p>
			Для подписавших контракт в Омске до 805 тысяч рублей единовременно и каждый месяц зарплата от 210 тысяч
			рублей. Плюс - премии!
		</p>
		<p>
			Обращайтесь в пункт отбора на военную службу «СИРИУС55»: г. Омск, ул. 8-я Марьяновская, д. 1А. Подробности
			по телефону 122 или 37-67-11
		</p>
		<img class="customized" src="/images/students/alumniEmploymentCenterOmsk/contract.jpg" alt="">


		<h3 id="feedback" class="section-subtitle">
			По вопросам обращаться
		</h3>
		<ul class="people-list">
			<li class="people-item">
				<a class="people-item-img-container" href=''>
					<img src="~/images/people/Митрохина Анна Валерьевна.jpg" alt="">
				</a>
				<div class="people-item-body more-info">
					<div class="people-item-body-fio">
						Митрохина Анна Валерьевна
					</div>
					<div class="people-item-body-job">
						Руководитель базового центра содействия трудоустройству выпускников
					</div>
					<div class="people-item-body-phone">
						(3812) 31-75-17
					</div>
				</div>
			</li>
		</ul>


	</section>
	<aside id="sidebar" class="sidebar">
		<h3 class="sidebar-title">
			Студентам
		</h3>
		<nav class="sidebar-body">
			<ul class="sidebar-links">
				<li class="sidebar-link">
					<a asp-page="AlumniEmploymentCenterOmaviat">
						Центр содействия трудоустройству выпускников Омавиат
					</a>
				</li>
				<li class="sidebar-link sidebar-link-selected">
					<a asp-page="AlumniEmploymentCenterOmsk">
						Базовый центр содействия трудоустройству выпускников СПО Омской области
					</a>
				</li>
				<li class="sidebar-link">
					<a asp-page="DistanceFullTimeLearning">
						Дистанционное обучение - очная форма обучения
					</a>
				</li>
				<li class="sidebar-link">
					<a asp-page="SportClub">
						Спортивный клуб
					</a>
				</li>
				<li class="sidebar-link">
					<a asp-page="DailyRoutineRules">
						Правила внутреннего распорядка
					</a>
				</li>
				<li class="sidebar-link">
					<a asp-page="ResearchWork">
						Научно-исследовательская работа
					</a>
				</li>
				<li class="sidebar-link">
					<a asp-page="StudentLife">
						Студенческая жизнь
					</a>
				</li>
				<li class="sidebar-link">
					<a asp-page="StudentSafety">
						Безопасность студентов
					</a>
				</li>
				<li class="sidebar-link">
					<a asp-page="TargetedTraining">
						Целевое обучение
					</a>
				</li>
			</ul>
		</nav>
	</aside>
</div>