@page
@model SportClubModel
@{
	ViewData["Title"] = "Спортивный клуб";
}


<div class="container content-page">
	<section class="content">
		<h2 class="section-title">
			Спортивный клуб
		</h2>

		<ul class="page-navigation">
			<li>
				<a href="#about">
					О спортивном клубе
				</a>
			</li>
			<li>
				<a href="#documents">
					Документы
				</a>
			</li>
		</ul>

		<h3 id="about" class="section-subtitle">
			О спортивном клубе
		</h3>
		<p>
			На базе Омского авиационного колледжа им. Н.Е. Жуковского уже долгие годы существует секция гиревого спорта, её история богата выдающимися людьми и спортсменами.
		</p>
		<p>
			Ведущий и тренер Сагандыков Кайрат Каиржанович, является мастером спорта России, победителем первенства мира и судьей Всероссийской категории по гиревому спорту. Под его руководством выросла целая плеяда гиревиков в стенах колледжа, которые прославились и за его стенами. Ярким примером служит выпускник Владислав Морозович, мастер спорта России международного класса, неоднократный призер и победитель первенства мира, а так же выпускница Вяткина Вера, мастер спорта России, победительница первенства Европы и призер первенства мира.
		</p>
		<p>
			Среди студентов ещё проходящий обучение, можно выделить новое поколение подрастающих чемпионов: Болотов Даниил многократный призер и победитель первенства России и всероссийских соревнований и кандидат в мастера спорта Герасимов Кирилл. Они показывают, что идет время, меняются фамилии, но гиревой спорт останется в авиационном колледже на слуху, с гордым званием лучших из лучших. Это доказывает большое количество призовых мест на соревнованиях начиная от областного уровня и заканчивая золотыми медалями на первенствах России и Мира! Гиревой спорт-это большая часть истории нашего колледжа, которая с годами становиться только насыщеннее.
		</p>


		<h3 id="documents" class="section-subtitle">
			Документы
		</h3>
		<div class="accordions-list">
			<div class="accordion">
				<div class="accordion-head">
					Грамоты и дипломы
				</div>
				<div class="accordion-body">
					<ul class="documents-list">
						<li class="document-item">
							<div class="document-item-head">
								<a target="_blank" href="~/documents/students/sportClub/diplomiSpartakiadi.pdf">
								</a>
							</div>
							<div class="document-item-body">
								Дипломы областной Спартакиады
							</div>
						</li>
						<li class="document-item">
							<div class="document-item-head">
								<a target="_blank" href="~/documents/students/sportClub/gramotaKarmanov.jpeg">
								</a>
							</div>
							<div class="document-item-body">
								Грамота Карманов
							</div>
						</li>
						<li class="document-item">
							<div class="document-item-head">
								<a target="_blank" href="~/documents/students/sportClub/gramotaKarmanov2.jpeg">
								</a>
							</div>
							<div class="document-item-body">
								Грамота Карманов 2
							</div>
						</li>
						<li class="document-item">
							<div class="document-item-head">
								<a target="_blank" href="~/documents/students/sportClub/gramotaEgimbaev.jpeg">
								</a>
							</div>
							<div class="document-item-body">
								Грамота Егимбаев
							</div>
						</li>
					</ul>
				</div>
			</div>
			<div class="accordion">
				<div class="accordion-head">
					Распоряжения
				</div>
				<div class="accordion-body">
					<ul class="documents-list">
						<li class="document-item">
							<div class="document-item-head">
								<a target="_blank" href="~/documents/students/sportClub/rasporiageniePawerlifting.pdf">
								</a>
							</div>
							<div class="document-item-body">
								Распоряжение пауэрлифтинг
							</div>
						</li>
						<li class="document-item">
							<div class="document-item-head">
								<a target="_blank" href="~/documents/students/sportClub/rasporiagenieNastolniTenis.pdf">
								</a>
							</div>
							<div class="document-item-body">
								Распоряжение настольный теннис
							</div>
						</li>
						<li class="document-item">
							<div class="document-item-head">
								<a target="_blank" href="~/documents/students/sportClub/rasporiagenieLegkaiaAtletika.pdf">
								</a>
							</div>
							<div class="document-item-body">
								Распоряжение легкая атлетика областная Спартакиада
							</div>
						</li>
						<li class="document-item">
							<div class="document-item-head">
								<a target="_blank" href="~/documents/students/sportClub/rasporiagenieDenZachitiDetei.pdf">
								</a>
							</div>
							<div class="document-item-body">
								Распоряжение День защиты детей
							</div>
						</li>
						<li class="document-item">
							<div class="document-item-head">
								<a target="_blank" href="~/documents/students/sportClub/rasporiagenieGirevoePervenstvo.pdf">
								</a>
							</div>
							<div class="document-item-body">
								Распоряжение гиревой первенство Омской области
							</div>
						</li>
						<li class="document-item">
							<div class="document-item-head">
								<a target="_blank" href="~/documents/students/sportClub/rasporiagenieVoleyball.pdf">
								</a>
							</div>
							<div class="document-item-body">
								Распоряжение волейбол ОНИИП
							</div>
						</li>
						<li class="document-item">
							<div class="document-item-head">
								<a target="_blank" href="~/documents/students/sportClub/rasporiagenieBasketballDevushki.pdf">
								</a>
							</div>
							<div class="document-item-body">
								Распоряжение Баскетбол девушки ССУЗы
							</div>
						</li>
					</ul>
				</div>
			</div>
			<div class="accordion">
				<div class="accordion-head">
					Отчеты
				</div>
				<div class="accordion-body">
					<ul class="documents-list">
						<li class="document-item">
							<div class="document-item-head">
								<a target="_blank" href="~/documents/students/sportClub/otchetFizVospitanie2022-2023.pdf">
								</a>
							</div>
							<div class="document-item-body">
								Отчет по физическому воспитанию за 2022-23 учебный год
							</div>
						</li>
						<li class="document-item">
							<div class="document-item-head">
								<a target="_blank" href="~/documents/students/sportClub/otchetFizVospitanie2022-2023TitulniList.pdf">
								</a>
							</div>
							<div class="document-item-body">
								Отчет по физическому воспитанию (титульный лист) за 2022-23 уч.год
							</div>
						</li>
						<li class="document-item">
							<div class="document-item-head">
								<a target="_blank" href="~/documents/students/sportClub/otchetSportMeroproatia.pdf">
								</a>
							</div>
							<div class="document-item-body">
								Отчет по спортивным мероприятиям 2022-23 уч.года
							</div>
						</li>
					</ul>
				</div>
			</div>
			<div class="accordion">
				<div class="accordion-head">
					Другое
				</div>
				<div class="accordion-body">
					<ul class="documents-list">
						<li class="document-item">
							<div class="document-item-head">
								<a target="_blank" href="~/documents/students/sportClub/estafetaNaPriziPravitelstva.pdf">
								</a>
							</div>
							<div class="document-item-body">
								Эстафета на призы Правительства
							</div>
						</li>
						<li class="document-item">
							<div class="document-item-head">
								<a target="_blank" href="~/documents/students/sportClub/svidetelstvo.jpg">
								</a>
							</div>
							<div class="document-item-body">
								Свидетельство
							</div>
						</li>
						<li class="document-item">
							<div class="document-item-head">
								<a target="_blank" href="~/documents/students/sportClub/itogovaiaTablicaSpartakiadi.pdf">
								</a>
							</div>
							<div class="document-item-body">
								Итоговая таблица областной Спартакиады
							</div>
						</li>
						<li class="document-item">
							<div class="document-item-head">
								<a target="_blank" href="~/documents/students/sportClub/zaiavkaNaUchastie.pdf">
								</a>
							</div>
							<div class="document-item-body">
								Заявка на участие в смотре-конкурсе
							</div>
						</li>
					</ul>
				</div>
			</div>
		</div>
		
		
	</section>
	<aside id="sidebar" class="sidebar">
		<h3 class="sidebar-title">
			Студентам
		</h3>
		<nav class="sidebar-body">
			<ul class="sidebar-links">
				<li class="sidebar-link">
					<a asp-page="AlumniEmploymentCenterOmaviat">
						Центр содействия трудоустройству выпускников Омавиат
					</a>
				</li>
				<li class="sidebar-link">
					<a asp-page="AlumniEmploymentCenterOmsk">
						Базовый центр содействия трудоустройству выпускников СПО Омской области
					</a>
				</li>
				<li class="sidebar-link">
					<a asp-page="DistanceFullTimeLearning">
						Дистанционное обучение - очная форма обучения
					</a>
				</li>
				<li class="sidebar-link sidebar-link-selected">
					<a asp-page="SportClub">
						Спортивный клуб
					</a>
				</li>
				<li class="sidebar-link">
					<a asp-page="DailyRoutineRules">
						Правила внутреннего распорядка
					</a>
				</li>
				<li class="sidebar-link">
					<a asp-page="ResearchWork">
						Научно-исследовательская работа
					</a>
				</li>
				<li class="sidebar-link">
					<a asp-page="StudentLife">
						Студенческая жизнь
					</a>
				</li>
                <li class="sidebar-link">
                    <a asp-page="StudentSafety">
                        Безопасность студентов
                    </a>
                </li>
			</ul>
		</nav>
	</aside>
</div>