@page
@model StudentLifeModel
@{
	ViewData["Title"] = "Студенческая жизнь";
}

<div class="container content-page">
	<section class="content">
		<a id="plane" class="plane" href="#sidebar"></a>
		<h2 class="section-title">
			Студенческая жизнь
		</h2>

		<ul class="page-navigation">
			<li>
				<a href="#sport">
					Спортивное направление
				</a>
			</li>
			<li>
				<a href="#creation">
					Творческое направление
				</a>
			</li>
			<li>
				<a href="#tech">
					Техническое направление
				</a>
			</li>
            <li>
                <a href="#russian-projects">
                    Всероссийский конкурс проектов
                </a>
            </li>
		</ul>

		<h3 id="sport" class="section-subtitle">
			Спортивное направление
		</h3>
		<ol class="customized">
			<li>
				Гиревой спорт
			</li>
			<li>
				Шахматы
			</li>
			<li>
				Легкая атлетика
			</li>
			<li>
				Футбол юноши
			</li>
			<li>
				Баскетбол
			</li>
			<li>
				Тир (Спортивная стрельба)
			</li>
			<li>
				Настольный теннис Лыжная гонка
			</li>
			<li>
				ОФП (Общая физическая подготовка: штанга, спортивные игры)
			</li>
		</ol>
		<p>
			БПОУ «Омавиат» располагает  оборудованными тренажерными залами для ОФП и гиревого спорта (по адресу: ул.Ленина, 24), лыжной базой (по адресу: ул. Б. Хмельницкого, 281А), в каждом из корпусов имеются спортивные залы, отвечающие требованиям проведения занятий по физической культуре, организации студенческих спортивных состязаний, работы спортклубов и секций.
		</p>
   

		<h3 id="creation" class="section-subtitle">
			Творческое направление
		</h3>
		<p>
			Творческое направление Омавиат представлено организацией работы Студенческого творческого центра, который включает:
		</p>
		<ol class="customized">
			<li>
				Вокальный коллектив
			</li>
			<li>
				Хореографический коллектив «Ривьера»
			</li>
			<li>
				Школа ведущих
			</li>
			<li>
				Команда КВН
			</li>
			<li>
				Школа экскурсовода при музее истории колледжа
			</li>
		</ol>


		<h3 id="tech" class="section-subtitle">
			Техническое направление
		</h3>
		<ol class="customized">
			<li>
				Студенческое конструкторское бюро «Альтаир» (на базе лаборатории «Двигатели летательных аппаратов»)
			</li>
			<li>
				Технический кружок авиационного творчества (на базе лаборатории «Двигатели летательных аппаратов»)
			</li>
		</ol>


        <h3 id="russian-projects" class="section-subtitle">
            Всероссийский конкурс проектов «История профессии в моей семье: суперпрофессиональная семья»
        </h3>
        <p>
            В целях популяризация профессиональных династий, развития преемственности семейных трудовых традиций, укрепления значимости  семьи и семейных ценностей, повышение престижа рабочих профессий, содействие укреплению авторитета человека труда проводится Всероссийский конкурс проектов «История профессии в моей семье: суперпрофессиональная семья».
        </p>
        <h4 class="section-subtitle-small">
            Участники
        </h4>
        <ul class="customized">
            <li>
                студенты
            </li>
            <li>
                педагоги
            </li>
            <li>
                мастера производственного обучения
            </li>
        </ul>
        <h4 class="section-subtitle-small">
            Номинации
        </h4>
        <ul class="customized">
            <li>
                лучшее литературное произведение (в конкурсном проекте необходимо отразить историю и значимость профессии семьи, ценности профессии как компонента формирования семейных ценностей, преемственность в профессии, наличие профессиональных достижений в семейной династии);
            </li>
            <li>
                лучший видеоролик (конкурсный проект должен быть представлен в виде видеоролика, социально ценного, отражающего ценность семьи и семейных традиций, объединенных одной профессией).
            </li>
        </ul>
        <p>
            <b>
                <i>
                    с 22 апреля до 21 октября 2024 года прием заявок по <a href="https://spo-lab.ru/form-comp">ссылке</a>
                </i>
            </b>
        </p>
        <div class="document-item">
            <div class="document-item-head">
                <a target="_blank" href="~/documents/students/studentLife/07_Bubnova_A_N_O_provedenii_Vserossijskogo_konkursa_proektov_Istoriya.pdf">
                </a>
            </div>
            <div class="document-item-body">
                Презентация
            </div>
        </div>
	</section>
	<aside id="sidebar" class="sidebar">
		<h3 class="sidebar-title">
			Студентам
		</h3>
		<nav class="sidebar-body">
			<ul class="sidebar-links">
				<li class="sidebar-link">
					<a asp-page="AlumniEmploymentCenterOmaviat">
						Центр содействия трудоустройству выпускников Омавиат
					</a>
				</li>
				<li class="sidebar-link">
					<a asp-page="AlumniEmploymentCenterOmsk">
						Базовый центр содействия трудоустройству выпускников СПО Омской области
					</a>
				</li>
				<li class="sidebar-link">
					<a asp-page="DistanceFullTimeLearning">
						Дистанционное обучение - очная форма обучения
					</a>
				</li>
				<li class="sidebar-link">
					<a asp-page="SportClub">
						Спортивный клуб
					</a>
				</li>
				<li class="sidebar-link">
					<a asp-page="DailyRoutineRules">
						Правила внутреннего распорядка
					</a>
				</li>
				<li class="sidebar-link">
					<a asp-page="ResearchWork">
						Научно-исследовательская работа
					</a>
				</li>
				<li class="sidebar-link sidebar-link-selected">
					<a asp-page="StudentLife">
						Студенческая жизнь
					</a>
				</li>
                <li class="sidebar-link">
                    <a asp-page="StudentSafety">
                        Безопасность студентов
                    </a>
                </li>
			</ul>
		</nav>
	</aside>
</div>