@page
@model TargetedTrainingModel
@{
	ViewData["Title"] = "Целевое обучение";
}

<div class="container content-page">
	<section class="content">
		<a id="plane" class="plane" href="#sidebar"></a>
		<h2 class="section-title">
			Целевое обучение
		</h2>

		<ul class="page-navigation">
			<li>
				<a href="#about">
					Общая информация
				</a>
			</li>
			<li>
				<a href="#how-to-apply">
					Как подать заявку
				</a>
			</li>
			<li>
				<a href="#documents">
					Документы и шаблоны
				</a>
			</li>
		</ul>

		<h3 id="about" class="section-subtitle">
			Общая информация
		</h3>
		<p>
			С 1 мая 2024 года вступили в силу положения Федерального закона от 14 апреля 2023 г. № 124-ФЗ «О внесении
			изменения в Федеральный закон «Об образовании в Российской Федерации», которые определяют:
		</p>
		<ul class="customized">
			<li>
				ресурс для размещения предложений заказчиков о целевом обучении – <a href="https://trudvsem.ru/"
				                                                                     target="_blank">единая цифровая
					платформа «Работа в России»</a>
			</li>
			<li>
				правила подачи заявок на заключение договоров о целевом обучении
			</li>
			<li>
				условия заключения договора – после зачисления и до начала учебного года (для абитуриентов)
			</li>
			<li>
				обязательства по осуществлению трудовой деятельности – от 3 до 5 лет
			</li>
		</ul>
		<p>
			Положение о целевом обучении по образовательным программам среднего профессионального и высшего образования
			(утверждено постановлением Правительства Российской Федерации) от 27 апреля 2024 г. № 555 устанавливает
			новые формы для заключения договора о целевом обучении:
		</p>
		<p>
			Законом закреплено условие о размещении на Единой цифровой платформе в сфере занятости и трудовых отношений
			«Работа в России» предложений заказчиков о заключении договоров о целевом обучении, определены общие правила
			подачи поступающими на обучение или обучающимися заявок на заключение договоров о целевом обучении,
			установлено, что договор о целевом обучении заключается с гражданином, поступающим на обучение, после
			издания распорядительного акта о приёме на обучение, но не позднее начала учебного года.
		</p>
		<img class="customized" src="/images/students/targetedTraining/main.png" alt=""/>


		<h3 id="how-to-apply" class="section-subtitle">
			Как подать заявку
		</h3>
		<img src="/images/students/targetedTraining/instruction.png" alt=""
		     style="max-width: min(100%, 1000px);
			 border-radius: 20px;"/>
		<p>
			<a href="/images/students/targetedTraining/instruction.png" target="_blank">Посмотреть в увеличенном
				масштабе</a>
		</p>


		<h3 id="documents" class="section-subtitle">
			Документы и шаблоны
		</h3>
		<ul class="documents-list">
			<li class="document-item">
				<div class="document-item-head">
					<a target="_blank"
					   href="~/documents/students/targetedTraining/Instructions_for_working_in_the_employer's_personal_account.pdf">
					</a>
				</div>
				<div class="document-item-body">
					Инструкция для работодателей
				</div>
			</li>
			<li class="document-item">
				<div class="document-item-head">
					<a target="_blank"
					   href="~/documents/students/targetedTraining/Federal'nyj zakon ot 14 aprelya 2023 goda № 124-FZ.pdf">
					</a>
				</div>
				<div class="document-item-body">
					Федеральный закон от 14 апреля 2023 года № 124-ФЗ «О внесении изменений в Федеральный закон «Об
					образовании в Российской Федерации» и выдержка из актуальной редакции по статье 56 Федерального
					закона от 29 декабря 2012 года № 273-ФЗ «Об образовании в Российской Федерации»
				</div>
			</li>
			<li class="document-item">
				<div class="document-item-head">
					<a target="_blank"
					   href="~/documents/students/targetedTraining/Postanovlenie Pravitel'stva Rossijskoj Federacii ot 27.04.2024 № 555.pdf">
					</a>
				</div>
				<div class="document-item-body">
					Постановление Правительства Российской Федерации от 27.04.2024 № 555 «О целевом обучении по
					образовательным программам среднего профессионального и высшего образования»
				</div>
			</li>
			<li class="document-item">
				<div class="document-item-head">
					<a target="_blank" href="~/documents/students/targetedTraining/Polozhenie o celevom obuchenii.PDF">
					</a>
				</div>
				<div class="document-item-body">
					Положение о целевом обучении по образовательным программам среднего профессионального и высшего
					образования
				</div>
			</li>
			<li class="document-item">
				<div class="document-item-head">
					<a target="_blank" href="~/documents/students/targetedTraining/Tipovaya forma dogovora.PDF">
					</a>
				</div>
				<div class="document-item-body">
					Типовая форма договора о целевом обучении по образовательной программе среднего профессионального
					или высшего образования
				</div>
			</li>
			<li class="document-item">
				<div class="document-item-head">
					<a target="_blank"
					   href="~/documents/students/targetedTraining/Forma predlozhenij o zaklyuchenii dogovora ili dogovorov o celevom obuchenii.pdf">
					</a>
				</div>
				<div class="document-item-body">
					Форма предложений о заключении договора или договоров о целевом обучении по образовательной
					программе среднего профессионального образования
				</div>
			</li>
			<li class="document-item">
				<div class="document-item-head">
					<a target="_blank" href="~/documents/students/targetedTraining/">
					</a>
				</div>
				<div class="document-item-body">
					Форма заявки на заключение договора о целевом обучении по образовательной программе среднего
					профессионального образования
				</div>
			</li>
			<li class="document-item">
				<div class="document-item-head">
					<a target="_blank"
					   href="~/documents/students/targetedTraining/Pamyatka ob organizacii celevogo obucheniya dlya abiturientov.pdf">
					</a>
				</div>
				<div class="document-item-body">
					Памятка об организации целевого обучения для абитуриентов, поступающих на обучение по
					образовательным программам среднего профессионального образования (активная ссылка на файл для
					скачивания).
				</div>
			</li>
			<li class="document-item">
				<div class="document-item-head">
					<a target="_blank"
					   href="~/documents/students/targetedTraining/Pamyatka ob organizacii celevogo obucheniya dlya obuchayushchihsya.pdf">
					</a>
				</div>
				<div class="document-item-body">
					Памятка об организации целевого обучения для обучающихся по образовательным программам среднего
					профессионального образования (активная ссылка на файл для скачивания).
				</div>
			</li>
		</ul>
		<p>
			* - материалы предоставлены Министерством Просвещения Российской Федерации
		</p>
	</section>
	<aside id="sidebar" class="sidebar">
		<h3 class="sidebar-title">
			Студентам
		</h3>
		<nav class="sidebar-body">
			<ul class="sidebar-links">
				<li class="sidebar-link">
					<a asp-page="AlumniEmploymentCenterOmaviat">
						Центр содействия трудоустройству выпускников Омавиат
					</a>
				</li>
				<li class="sidebar-link">
					<a asp-page="AlumniEmploymentCenterOmsk">
						Базовый центр содействия трудоустройству выпускников СПО Омской области
					</a>
				</li>
				<li class="sidebar-link">
					<a asp-page="DistanceFullTimeLearning">
						Дистанционное обучение - очная форма обучения
					</a>
				</li>
				<li class="sidebar-link">
					<a asp-page="SportClub">
						Спортивный клуб
					</a>
				</li>
				<li class="sidebar-link">
					<a asp-page="DailyRoutineRules">
						Правила внутреннего распорядка
					</a>
				</li>
				<li class="sidebar-link">
					<a asp-page="ResearchWork">
						Научно-исследовательская работа
					</a>
				</li>
				<li class="sidebar-link">
					<a asp-page="StudentLife">
						Студенческая жизнь
					</a>
				</li>
				<li class="sidebar-link">
					<a asp-page="StudentSafety">
						Безопасность студентов
					</a>
				</li>
				<li class="sidebar-link sidebar-link-selected">
					<a asp-page="TargetedTraining">
						Целевое обучение
					</a>
				</li>
			</ul>
		</nav>
	</aside>
</div>