<div>
	<WindowComponent>
		<WindowTitleComponent Text="Еще не с нами?"/>
		<p>
			Войдите в свою учетную запись, чтобы получить доступ ко всему функционалу сайта.
		</p>
		<ActionButtonComponent>Авторизация</ActionButtonComponent>
		<p>
			Позже
		</p>
	</WindowComponent>	
</div>

@code {
	
}