@using MyOAT.Utilities.Cookies
@inject ICookie Cookie;
<div>
	<WindowComponent ClassList="@State">
		<img src="images/windows/notWithUs.png" alt=""/>
		<div class="window-body">
			<header>
				<WindowTitleComponent Text="Еще не с нами?"/>
				<p class="rule">
					Войдите в свою учетную запись, чтобы получить доступ ко всему функционалу сайта.
				</p>
			</header>
			<footer>
				<ActionButtonComponent OnClick='() => NavigationManager.NavigateTo("https://my.oat.ru/")'
				                       ClassList="rounded">Авторизация
				</ActionButtonComponent>
				<ActionButtonComponent OnClick="OnClick" ClassList="cleared later">
					позже
				</ActionButtonComponent>
			</footer>
		</div>
	</WindowComponent>
</div>

@code {

	private string State { get; set; } = "disactive";

	protected override async Task OnAfterRenderAsync(bool firstRender)
	{
		if (!firstRender) return;
		var value = await Cookie.GetValue("my_oat");
		if (string.IsNullOrWhiteSpace(value))
			State = "active";
		StateHasChanged();
	}

	private async Task OnClick()
	{
		await Cookie.SetValue("my_oat", "true", 50);
		State = "disactive";
		StateHasChanged();
	}
}